{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs h5 text-muted text-normal mb-20">
            <a href="#" class="text-normal">Личный кабинет</a> / Мои объявления
        </div>

        <h1 class="mb-20">Мои объявления</h1>

        <div class="row-flex">
            <div class="col-12 col-lg-3">
                <ul class="nav-list hidden-sm hidden-xs">
                    <li class="nav-item">
                        <a href="" class="nav-link d-flex py-10">
                            <span>Все объявления<small>261</small></span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="" class="nav-link d-flex py-10">
                            <i class="icon-cat-24-clothes mr-10"></i>
                            <span>Одежда и обувь<small>245</small></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link d-flex py-10">
                            <i class="icon-cat-24-dom_i_bit mr-10"></i>
                            <span>Дом и быт<small>4</small></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link d-flex py-10">
                            <i class="icon-cat-24-technika mr-10"></i>
                            <span>Электроника и бытовая техника<small>4</small></span>
                        </a>
                    </li>
                    {% for i in 0..5 %}
                        <li class="nav-item">
                            <a href="" class="nav-link d-flex py-10">
                                <i class="icon-cat-24-animals mr-10"></i>
                                <span>Животные<small>12</small></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-12 col-lg-9">
                <ul class="nav nav-tabs mb-0">
                    <li class="nav-item active">
                        <a href="#" class="nav-link" role="tab">Активные<span class="quantity">6</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" role="tab">Черновики<span class="quantity">2</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" role="tab">Снятые с публикации<span class="quantity">1</span></a>
                    </li>
                </ul>

                {% set items = [
                    { image: '../../sample/auto1.png',title: 'Кроссовки Pepe jeans London', price: '2 500 ₽' },
                    { image: '../../sample/auto2.png',title: 'Джинсы Wrangler 36MWZ PD (35/32( Размер 51, рост 176 до182 см))', price: '56 100 ₽' },
                    { image: '../../sample/auto3.png',title: 'Джинсы Wrangler 36MWZ PD (35/32( Размер 51, рост 176 до182 см))', price: '56 100 ₽' },
                    { title: 'Джинсы Wrangler 36MWZ PD (35/32( Размер 51, рост 176 до182 см))', price: '56 100 ₽' },
                ] %}
                <div class="row-flex row-gutter-10 align-items-center py-15">
                    <div class="col-12 col-lg-5 mb-20">
                        <label for="productSearch" class="sr-only">Поиск</label>
                        <input id="productSearch" type="text" name="term" class="form-control" placeholder="Поиск">
                    </div>
                    <div class="col-12"></div>
                    <div class="col-auto">
                        <div class="custom-checkbox">
                            <input type="checkbox" id="c_all">
                            <label for="c_all" class="custom-control-label"><span class="sr-only">Выбрать</span></label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-default btn-sm">Поднять по дате</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-default btn-sm">Снять с публикации</button>
                    </div>
                    <div class="col-auto"><a href="#" class="text-muted mr-10"></a></div>
                </div>
                <ul class="custom-table">
                    {% for item in items %}
                        <li class="table-row">
                            <div class="row-flex row-gutter-10 align-items-center">
                                <div class="col-auto">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="c_{{ loop.index * 2 }}">
                                        <label for="c_{{ loop.index * 2 }}" class="custom-control-label">
                                            <span class="sr-only">Выбрать</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <a href="#">
                                        <div class="thumbnail">
                                            <img src="{{ item.image }}" alt="image">
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <div class="px-10">
                                        <a href="#">{{ item.title }}</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-auto text-nowrap font-weight-medium">{{ item.price }}</div>
                                {# Эти колонки упадут вниз в мобиле #}
                                <div class="col-md-auto col-12 d-flex align-items-center justify-content-end">
                                    <i class="icon-18-shape d-block mr-15"></i>
                                    <i class="icon-18-up d-block mr-15"></i>
                                    <div class="text-nowrap text-muted">20.05.15</div>
                                </div>
                            </div>
                        </li>
                        <li class="table-row">
                            <div class="row-flex row-gutter-10 align-items-center">
                                <div class="col-auto">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="c_{{ loop.index * 2 + 1 }}">
                                        <label for="c_{{ loop.index * 2 + 1 }}" class="custom-control-label">
                                            <span class="sr-only">Выбрать</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <a href="#">
                                        <div class="thumbnail" style="background-image: url({{ item.image }})">

                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <div class="px-10">
                                        <a href="#">{{ item.title }}</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-auto text-nowrap font-weight-medium">{{ item.price }}</div>
                                {# Эти колонки упадут вниз в мобиле #}
                                <div class="col-md-auto col-12 d-flex align-items-center justify-content-end">
                                    <i class="icon-18-shape d-block mr-15"></i>
                                    <i class="icon-18-up d-block mr-15"></i>
                                    <div class="text-nowrap text-muted">20.05.15</div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        document.getElementById('c_all').indeterminate = true;

        document.querySelector('title').innerText = "Мои объявления";

        (function makeDropdown() {
            let dropdownTemplate = `
                <div class="dropdown hidden-md hidden-lg mb-10">
                    <button data-toggle="dropdown" class="btn btn-default btn-block d-flex align-items-center dropdown-toggle">
                    </button>
                    <ul class="dropdown-menu w-100"></ul>
                </div>`;

            let navList = document.querySelector('.nav-list');
            const getNavItems = () => navList.querySelectorAll('.nav-item', 'li');

            if (navList && getNavItems().length > 2) {
                navList.insertAdjacentHTML('afterend', dropdownTemplate);
                fillContent(getNavItems());
            } else
                console.log('.nav-list is too short or empty');

            function fillContent(navItems) {
                let dropdownButton = document.querySelector('.nav-list + .dropdown > button');
                let dropdownMenu = document.querySelector('.nav-list + .dropdown .dropdown-menu');

                let hasActive = false;
                for (let i = navItems.length - 1; i >= 0; i--) {
                    if (navItems[i].classList.contains('active')) {
                        hasActive = true;
                        dropdownButton.innerHTML = navItems[i].querySelector('.nav-link').innerHTML;
                    } else {
                        if (i == 0 && hasActive == false) {
                            dropdownButton.innerHTML = navItems[i].querySelector('.nav-link').innerHTML;
                        } else {
                            dropdownMenu.prepend(navItems[i].cloneNode(true));
                        }
                    }
                }
            }
        })();
    </script>
{% endblock %}