{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-lg-offset-3">
                <h1 class="mt-10 mb-30">Добавление в справочник компаний-продавцов</h1>
                <p class="leads">
                    Размещение компании в&nbsp;справочнике wiweb.ru&nbsp;&mdash; это быстрый старт бизнеса в&nbsp;интернете.
                    Это
                    профессиональная поддержка по&nbsp;работе с&nbsp;сайтом персональным менеджером.
                </p>
                <form class="company-add">

                    <div class="form-group mt-30">
                        <label for="companyName">Название компании:</label>
                        <input type="text" class="form-control" id="companyName" placeholder="">
                    </div>

                    <div class="form-group mt-30">
                        <label for="companyLead">Подпись:</label>
                        <textarea id="companyLead" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="help-block">
                        <small>Кратко опишите деятельность Вашей компании. Не более 200 символов. Эта
                            информация отображается в
                            общем списке компаний.
                        </small>
                    </div>


                    <div class="form-group mt-30">
                        <div class="col-12">
                            <label for="selectLogo">Логотип компании:</label>
                        </div>
                        {% set files = [ {"src": ""}, {"src": "logo_3.jpg"}] %}

                        {% for file in files %}
                            <div class="row-flex">
                                <div class="col">
                                    <div class="help-block mt-0">
                                        <small>Логотип сделает страницу вашей компании более
                                            заметной и&nbsp;привлекательной.
                                        </small>
                                    </div>
                                    <button class="btn btn-default">Выбрать файл</button>
                                </div>
                                <div class="col-auto">
                                    <div
                                        class="company-logo {% if not file.src %}d-flex align-items-center justify-content-center{% endif %}">
                                        {% if file.src %}
                                            <div class="embed-responsive embed-responsive-16by6">
                                                <img class="embed-responsive-item" src="../../sample/logo_3.jpg"></img>
                                            </div>
                                        {% else %}
                                            <i class="icon-18-image"></i>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row-flex mt-30">
                        <div class="col-12 col-md-5">
                            <div class="form-group mb-0 mt-md-0">
                                <label for="city">Город:</label>
                                <input type="text" class="form-control" id="city" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="form-group mb-0 mt-xs-10 mt-md-0">
                                <label for="street">Улица:</label>
                                <input type="text" class="form-control" id="street" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="form-group mb-0 mt-xs-10 mt-md-0">
                                <label for="house">Дом:</label>
                                <input type="text" class="form-control" id="house" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="help-block">
                        <small><a href class="text-danger">Указать адрес на карте</a>
                        </small>
                    </div>

                    <div class="form-group mt-30">
                        <label for="eMail">E-mail:</label>
                        <input type="email" class="form-control" id="eMail" placeholder="">
                    </div>

                    <div class="form-group mt-30">
                        <label for="siteUrl">Адрес сайта компании:</label>
                        <input type="url" class="form-control" id="siteUrl" placeholder="">
                        <div class="help-block mb-30">
                            <small>Например, http://example.com/
                            </small>
                        </div>
                    </div>


                    <section class="company-add-benefit">
                        <div class="h1 mb-30">Включите размещение
                            с продвижением компании
                        </div>
                        <div class="lead text-muted mb-20">Преимущества:</div>
                        {% set benefits = [
                            {
                                icon: 'icon-24-company',
                                text: 'Компания будет отмечена специальным значком'
                            },
                            {
                                icon: 'icon-24-check',
                                text: 'Бесплатная обработка, выгрузка и обновление прайс-листа до 100 000 товаров на протяжении всего срока размещения'
                            },
                            {
                                icon: 'icon-24-check',
                                text: 'Приоритет ваших товаров в поисковой выдаче'
                            },
                            {
                                icon: 'icon-24-check',
                                text: 'Активная ссылка на ваш сайт с возможностью перехода на товар для совершения покупки'
                            },
                            {
                                icon: 'icon-24-check',
                                text: 'Доменное имя company.wiweb.ru'
                            },
                            {
                                icon: 'icon-24-check',
                                text: 'Автоматическая индексация сайта поисковыми системами Google, Yandex, др.'
                            },
                            {
                                icon: 'icon-24-check',
                                text: 'Ваши товары автоматически попадут в выдачу низкочастотных запросов в Яндекс Директ '
                            },
                        ] %}
                        <ul class="benefit-list mb-30">
                            {% for benefit in benefits %}
                                <li class="mb-20"><i class="{{ benefit.icon }} mr-15"></i>{{ benefit.text }}</li>
                            {% endfor %}
                        </ul>
                        <div class="lead text-muted">Выберите вариант подключения:</div>

                        {% set cards = [
                            {lead: 'Бесплатно', text: 'Размещение на один месяц без автоматического продления.', button_text : 'Добавить компанию бесплатно'},
                            {lead: '2 000 ₽ в месяц', text: 'Размещение на один месяц без автоматического продления.', button_text : 'Оплатить и добавить компанию'},
                            {lead: '10 000 ₽ в год', text: 'Подарок 🎉 При размещении на год, вы получите плюс 2 месяца бесплатно!', button_text : 'Оплатить и добавить компанию'},
                        ] %}
                        {% set cardId = 0 %}
                        <ul class="nav card-group  row-flex" id="pills-tab" role="tablist">
                            {% for card in cards %}
                                <li class="col-12 col-md-6 mt-20 {% if cardId == 0 %}d-none{% endif %}">
                                    <a class="nav-link {% if cardId == 0 %}active{% endif %}"
                                       id="card-{{ cardId }}"
                                       data-toggle="pill"
                                       href="#button-{{ cardId }}"
                                       role="tab"
                                       aria-controls="button-{{ cardId }}"
                                       aria-selected="{% if cardId == 0 %}true{% else %}false{% endif %}"
                                    >
                                        <div class="card card-compact">
                                            <div class="card-body">
                                                <div class="card-header">
                                                    <div class="font-weight-medium">
                                                        {{ card.lead }}
                                                    </div>
                                                </div>
                                                <div class="card-footer mt-10">
                                                    <div class="small">{{ card.text }}</div>
                                                </div>
                                            </div>
                                        </div>

                                    </a>
                                </li>
                                {% set cardId = cardId + 1 %}
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="company-add-price my-30">
                        <div class="lead mb-10"><i class="icon-24-blacknote"></i>Загрузить прайс-лист</div>
                        <div class="text-muted">Мы принимаем любые форматы прайс-листов, а срок обработки и выгрузки
                            составляет
                            до двух рабочих дней.
                        </div>
                    </section>
                    <div class="tab-content" id="pills-tabContent">
                        {% set cardId = 0 %}
                        {% for card in cards %}
                            <div class="tab-pane {% if cardId == 0 %}active{% endif %}" id="button-{{ cardId }}"
                                 role="tabpanel"
                                 aria-labelledby="card-{{ cardId }}">
                                <a class="btn btn-primary btn-lg btn-block my-10">{{ card.button_text }}</a>
                            </div>
                            {% set cardId = cardId + 1 %}
                        {% endfor %}
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
