{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <h1>Личный кабинет</h1>
        <div class="space-md"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-nav">
                        <ul class="nav-list">
                            <li class="title">Личный профиль</li>
                            <li><a href="#">Информация</a></li>
                            <li><a href="#">Мои объявления</a></li>
                            <li><a href="#">Избранное</a></li>
                            <li><a href="#"><span class="badge pull-right">1</span>Сообщения</a></li>
                            <li class="title">Профиль компании</li>
                            <li class="active"><a href="#">Информация о компании</a></li>
                            <li><a href="#">Контакты компании</a></li>
                            <li><a href="#">Оформление</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel">
                    <div class="panel-body text-center">
                        <div class="h2">У вас пока нет компании на Вайвеб</div>
                        <div class="margin-md">Если у Вас есть компания, зарегистрируйте её и пользуйтесь нашими дополнительными сервисами!</div>
                        <a href="" class="btn btn-lg btn-default"><i class="icon-18-plus"></i> Добавить компанию</a>
                    </div>
                </div>
                <div class="list-group list-group-params">
                    <div class="list-group-item-collapse">
                        <div data-target="settings_c_name" class="list-group-item-toggler collapse in" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="settings_c_name">
                            <div class="list-group-item">
                                <a href="#" class="pull-right text-red">изменить</a>
                                <div class="list-group-item-label">Название компании</div>
                                <div class="list-group-item-control">
                                    <strong>Vladuino</strong>
                                </div>
                            </div>
                        </div>
                        <div id="settings_c_name" class="list-group-item-target collapse">
                            <div class="list-group-item">
                                <div class="list-group-item-label">Название компании</div>
                                <div class="list-group-item-control">
                                    <form action="">
                                        <div class="row form-group">
                                            <div class="col-md-6">
                                                <input type="text" name="" id="" class="form-control" value="Vladuino"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Сохранить</button>
                                            <span class="btn btn-default" role="button" data-action="close">Отмена</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item-collapse">
                        <div data-target="settings_c_logo" class="list-group-item-toggler collapse in" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="settings_c_logo">
                            <div class="list-group-item">
                                <a href="#" class="pull-right text-red">изменить</a>
                                <div class="list-group-item-label">Логотип</div>
                                <div class="list-group-item-control">
                                    <img src="../../sample/vladuino.png" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div id="settings_c_logo" class="list-group-item-target collapse">
                            <div class="list-group-item">
                                <div class="list-group-item-label">Логотип</div>
                                <div class="list-group-item-control">
                                    <form action="">
                                        <div class="form-group">
                                            <span class="btn btn-default btn-fileinput">
                                                <span>Загрузить логотип</span>
                                                <input type="file" name="" id=""/>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Сохранить</button>
                                            <span class="btn btn-default" role="button" data-action="close">Отмена</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item-collapse">
                        <div data-target="settings_c_about" class="list-group-item-toggler collapse in" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="settings_c_about">
                            <div class="list-group-item">
                                <div class="pull-right text-red">изменить</div>
                                <div class="list-group-item-label">Полное описание</div>
                                <div class="list-group-item-control">
                                    Raspberry Pi, Arduino и arduino-совместимая электроника в наличии и под заказ.
                                    <br/>
                                    Также принимаются заказы на мелкую электронику и товары с ebay, dealextreme и т.д. За подробностями обращайтесь к нам. Вся контактная информация имеется на странице "Контакты"
                                </div>
                            </div>
                        </div>
                        <div id="settings_c_about" class="list-group-item-target collapse">
                            <div class="list-group-item">
                                <div class="list-group-item-label">Полное описание</div>
                                <div class="list-group-item-control">
                                    <form action="">
                                        <div class="form-group">
                                            <textarea name="" id="" class="form-control" rows="8">Raspberry Pi, Arduino и arduino-совместимая электроника в наличии и под заказ. Также принимаются заказы на мелкую электронику и товары с ebay, dealextreme и т.д. За подробностями обращайтесь к нам. Вся контактная информация имеется на странице "Контакты"
                                            </textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Сохранить</button>
                                            <span class="btn btn-default" role="button" data-action="close">Отмена</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-params">
                    <div class="list-group-item-collapse">
                        <div data-target="settings_login" class="list-group-item-toggler collapse in" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="settings_login">
                            <div class="list-group-item">
                                <div class="pull-right text-red">изменить</div>
                                <div class="list-group-item-label">Категория</div>
                                <div class="list-group-item-control">
                                    <strong>Автомобили</strong> → Покупка/продажа, Запчсти
                                </div>
                            </div>
                        </div>
                        <div id="settings_login" class="list-group-item-target collapse">
                            <div class="list-group-item">
                                <div class="list-group-item-label">Категория</div>
                                <div class="list-group-item-content">
                                    <form action="">
                                        <div class="form-group">
                                            <label class="control-label h3 strong">Автомобили</label>
                                            <span class="checkbox"><label><input type="checkbox" name="" id="" checked/> Покупка/продажа</label></span>
                                            <span class="checkbox"><label><input type="checkbox" name="" id=""/> Аренда</label></span>
                                            <span class="checkbox"><label><input type="checkbox" name="" id=""/> Аукционы</label></span>
                                            <span class="checkbox"><label><input type="checkbox" name="" id=""/> Автотовары</label></span>
                                            <span class="checkbox"><label><input type="checkbox" name="" id="" checked/> Запчасти</label></span>
                                            <span class="checkbox"><label><input type="checkbox" name="" id=""/> Тюнинг</label></span>
                                            <span class="checkbox"><label><input type="checkbox" name="" id=""/> Сервисы, ремонт</label></span>
                                            <span class="checkbox"><label><input type="checkbox" name="" id=""/> Авторизованные центры</label></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label h3 strong">Запчасти</label>
                                            <span class="checkbox"><label><input type="checkbox" name="" id=""/> Автозапчасти</label></span>
                                            <span class="checkbox"><label><input type="checkbox" name="" id=""/> Мотозапчасти</label></span>
                                            <span class="checkbox"><label><input type="checkbox" name="" id=""/> Для водной техники</label></span>
                                            <span class="checkbox"><label><input type="checkbox" name="" id=""/> Для спецтехники</label></span>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Сохранить</button>
                                            <span class="btn btn-default" role="button" data-action="close">Отмена</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
