{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <h1>Личный кабинет</h1>
        <div class="space-md"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-nav">
                        <ul class="nav-list">
                            <li><a href="#">Информация</a></li>
                            <li><a href="#">Мои объявления</a></li>
                            <li class="active"><a href="#">Избранное</a></li>
                            <li><a href="#"><span class="badge pull-right">1</span>Сообщения</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel">
                    <div class="panel-header">
                        <h2>Избранное</h2>
                    </div>
                    <div class="panel-body">
                        <select name="" id="" class="form-control">
                            <option value="">Все категории</option>
                            <option value="">Автомобили</option>
                        </select>
                        <div class="space-md"></div>
                        <ul class="products-list products-list-compact products-list-admin">
                            <li class="product-item">
                                <div class="product-item-content">
                                    <a href="#" class="thumbnail-wrap">
                                        <span class="thumbnail"><img src="../../sample/auto1.png" alt=""></span>
                                    </a>
                                    <a href="#" class="pull-right"><i class="icon-18-trash"></i></a>
                                    <h3 class="title"><a href="#1">Nissan Patrol 2015</a></h3>
                                    <div class="price"><b>2 500 000 руб.</b></div>
                                    <div class="geolocation">Владивосток</div>
                                    <div class="meta">
                                        <div class="text-icon-date">20.05.15</div>
                                        <div class="text-icon-view">35/453</div>
                                    </div>
                                    <div class="ribbon green">-20%</div>
                                </div>
                            </li>
                            <li class="product-item">
                                <div class="product-item-content">
                                    <a href="#" class="thumbnail-wrap">
                                        <span class="thumbnail"><img src="../../sample/auto2.png" alt=""></span>
                                    </a>
                                    <a href="#" class="pull-right"><i class="icon-18-trash"></i></a>
                                    <h3 class="title"><a href="#2">Hyundai Accent 2015</a></h3>
                                    <div class="price"><b>799 000 руб.</b></div>
                                    <div class="geolocation">Владивосток</div>
                                    <div class="meta">
                                        <div class="text-icon-date">20.05.15</div>
                                        <div class="text-icon-view">7/98</div>
                                    </div>
                                </div>
                            </li>
                            <li class="product-item">
                                <div class="product-item-content">
                                    <a href="#" class="thumbnail-wrap">
                                        <span class="thumbnail"><img src="../../sample/auto3.png" alt=""></span>
                                    </a>
                                    <a href="#" class="pull-right"><i class="icon-18-trash"></i></a>
                                    <h3 class="title"><a href="#3">Honda Insight 2010</a></h3>
                                    <div class="price"><b>100 000 руб.</b></div>
                                    <div class="geolocation">Владивосток</div>
                                    <div class="meta">
                                        <div class="text-icon-date">20.05.15</div>
                                        <div class="text-icon-view">25/187</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
