{% extends './_layout.twig' %}

{% block javascripts %}
    <script>
        autosize(document.getElementById('textarea'));
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-10 mb-30">Личный кабинет</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-nav">
                        <ul class="nav-list">
                            <li><a href="#">Информация</a></li>
                            <li><a href="#">Мои объявления</a></li>
                            <li><a href="#">Избранное</a></li>
                            <li class="active"><a href="#">Сообщения</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel">
                    <div class="breadcrumbs divider">
                        <ul>
                            <li>
                                <a href="/profile/messages"><span>Сообщения</span></a>
                            </li>
                            <li class="active">
                                <span>Вопрос по объявлению №34234</span>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="../../sample/message-img.png" alt="Мини-компьютер Raspberry Pi Mode B 512mb V2">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Мини-компьютер Raspberry Pi Mode B 512mb V2</a></h4>
                                <strong>7500 руб.</strong>
                            </div>
                        </div>
                    </div>
                    <div class="message-block">
                        <div class="message-date">22 ноября 2014</div>
                        <div class="message-right">
                            <div class="message">
                                <div class="message-content">
                                    <div class="text">
                                        Здравствуйте! Есть на Камри Грация седан кузов sxv 25 стойки и пружины в круг?
                                        <br>
                                        И есть возможность подобрать что нибудь чтоб было повыше?
                                        <br>
                                        Также нужны тяги рулевые наконечникинаконечникинаконечникинаконечникинаконечникинаконечникинаконечникинаконечникинаконечникинаконечникинаконечникинаконечникинаконечникинаконечникинаконечникинаконечники и шаровые на это же авто.
                                        <br>
                                        Что по цене?
                                    </div>
                                    <div class="time">10:32</div>
                                </div>
                                <div class="message-content">
                                    <div class="text">Еще чашки на задние стойки</div>
                                    <div class="time">10:33</div>
                                </div>
                            </div>
                        </div>
                        <div class="message-left">
                            <div class="message">
                                <div class="message-content">
                                    <div class="title">Продавец <a href="#">www3smotors</a></div>
                                    <div class="text">Добрый день! стойки каяба перед 4800 за шт задние 4700 за шт пружины усиленные только задние будут 1500р за шт передних нет пружин, Шаровые стр корея 700р шт тяги по 700р шт концы 450 за шт Есть Шаровые в Оригинале 2900 за шт</div>
                                    <div class="time">11:20</div>
                                </div>
                            </div>
                        </div>

                        <div class="message-date">23 января 2015</div>
                        <div class="message-right">
                            <div class="message">
                                <div class="message-content">
                                    <div class="text">Здравствуйте!!! Хочу уточнить, есть в наличии задние усиленные пружины на данное автор? Цена 1500?</div>
                                    <div class="time">10:32</div>
                                </div>
                                <div class="message-content">
                                    <div class="text">И шаровые</div>
                                    <div class="time">10:33</div>
                                </div>
                            </div>
                        </div>
                        <div class="message-left">
                            <div class="message">
                                <div class="message-content">
                                    <div class="title">Продавец <a href="#">www3smotors</a></div>
                                    <div class="text">
                                        Добрый день! пружины усиленные по 2800 за шт
                                        <br>
                                        Шаровые 950р за шт корея
                                    </div>
                                    <div class="time">11:20</div>
                                </div>
                            </div>
                        </div>
                        <div class="message-right">
                            <div class="message">
                                <div class="message-content">
                                    <div class="text">Значит распродажа закончилась?</div>
                                    <div class="time">10:32</div>
                                </div>
                            </div>
                        </div>
                        <div class="message-left">
                            <div class="message">
                                <div class="message-content">
                                    <div class="title">Продавец <a href="#">www3smotors</a></div>
                                    <div class="text">НЕТ, данные Запчасти не попадают под неё</div>
                                    <div class="object">
                                        <a href="https://placehold.it/1920x1080">
                                            <img src="https://placehold.it/120x90" width="120" height="90" alt="photo">
                                        </a>
                                        <a href="https://placehold.it/1920x1080">
                                            <img src="https://placehold.it/120x90" width="120" height="90" alt="photo">
                                        </a>
                                        <a href="https://placehold.it/1920x1080">
                                            <img src="https://placehold.it/120x90" width="120" height="90" alt="photo">
                                        </a>
                                        <a href="https://placehold.it/1920x1080">
                                            <img src="https://placehold.it/120x90" width="120" height="90" alt="photo">
                                        </a>
                                        <a href="https://placehold.it/1920x1080">
                                            <img src="https://placehold.it/120x90" width="120" height="90" alt="photo">
                                        </a>
                                        <a href="https://placehold.it/1920x1080">
                                            <img src="https://placehold.it/120x90" width="120" height="90" alt="photo">
                                        </a>
                                    </div>
                                    <div class="time">11:20</div>
                                </div>
                            </div>
                        </div>

                        <div class="message-in-progress">Собеседник печатает</div>

                        <div class="message-create open">
                            <div class="message-create-form">
                                <form action="">
                                    <label for="msg_textarea" class="sr-only">Ваше сообщение</label>
                                    <textarea name="msg_textarea" id="msg_textarea" rows="1" class="form-control" placeholder="Введите сообщение"></textarea>
                                    <ul class="form-img-list row mt-0 mb-20">
                                        <li class="col-sm-2 col-xs-4">
                                            <div class="thumbnail mt-10">
                                                <img src="../../sample/auto4.png" alt="">
                                                <div class="action-bar">
                                                    <div class="btn btn-default btn-sm"><i class="icon-18-trash"></i></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-2 col-xs-4">
                                            <div class="thumbnail mt-10" data-text="72%">
                                                <div class="source-data">
                                                    <b>72%</b>
                                                    <br>
                                                    filename.jpg
                                                </div>
                                                <div class="action-bar">
                                                    <div class="btn btn-default btn-sm"><i class="icon-18-trash"></i></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-2 col-xs-4">
                                            <div class="thumbnail mt-10">
                                                <div class="source-data">
                                                    <b>в очереди</b>
                                                    <br>
                                                    filename.jpg
                                                </div>
                                                <div class="action-bar">
                                                    <div class="btn btn-default btn-sm"><i class="icon-18-trash"></i></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clearfix">
                                        <button class="btn btn-lg btn-primary pull-right">Отправить</button>
                                        <label class="btn btn-lg btn-default btn-fileinput">
                                            <i class="icon-18-image"></i> Прикрепить фото
                                            <input type="file" name="" multiple>
                                        </label>
                                        <a href="/profile/new-review" class="btn btn-lg btn-default">Оставить отзыв о продавце</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
