{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <h1 class="mt-10 mb-30">Личный кабинет</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-nav">
                        <ul class="nav-list">
                            <li><a href="#">Информация</a></li>
                            <li><a href="#">Мои объявления</a></li>
                            <li><a href="#">Избранное</a></li>
                            <li class="active"><a href="#"><span class="badge badge-notify pull-right">999</span>Сообщения</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel">
                    <div class="panel-header">
                        <h2>Сообщения</h2>
                    </div>
                    <div class="messages-list">
                        <div class="tr heading">
                            <div class="th title">Тема</div>
                            <div class="td notify"></div>
                            <div class="th author">Автор</div>
                            <div class="th date">Дата</div>
                        </div>
                        <a href="/profile/message-page" class="tr new">
                            <div class="td title">Мини-компьютер Raspberry Pi Mode B 512mb V2 <span>– Здравствуйте, турбина на Ford transit 2006- двигатель puma td4 есть?</span></div>
                            <div class="td notify"><span class="badge badge-notify">999</span></div>
                            <div class="td author">wiistriker</div>
                            <div class="td date">08.08.2014, 05:47</div>
                        </a>
                        <a href="#" class="tr">
                            <div class="td title">Стойки и аммортизаторы Lasp <span>– ДД! А подскажите, какая страна производства?</span></div>
                            <div class="td notify"></div>
                            <div class="td author">worka</div>
                            <div class="td date">06.08.2014, 05:47</div>
                        </a>
                        <a href="#" class="tr">
                            <div class="td title">В НАЛИЧИИ ТУРБИНЫ. АССОРТИМЕНТ. КАЧЕСТВО. ГАРАНТИЯ. <span>– И сколько стоит?</span></div>
                            <div class="td notify"></div>
                            <div class="td author">johndoe</div>
                            <div class="td date">06.08.2014, 05:47</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
