{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <h1 class="mt-10 mb-30">Отзыв о продавце <span class="font-weight-normal">ivanivaniv1985</span></h1>
        <form action="">
            <div class="panel">
                <div class="panel-body">
                    <div class="mb-30">
                        <h4 class="mb-20">Отзыв о результате сделки по товару:</h4>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="../../sample/message-img.png" alt="Мини-компьютер Raspberry Pi Mode B 512mb V2">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Мини-компьютер Raspberry Pi Mode B 512mb V2</a></h4>
                                <strong>7500 руб.</strong>
                            </div>
                        </div>
                    </div>
                    <div class="mb-30">
                        <h4>Вы довольны работой продавца?</h4>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-lg btn-default">
                                <input type="radio" name="review">
                                <svg class="icon-size-24 text-green" style="margin: -2px 4px 0 0"><use xlink:href="{{ base_path }}/images/icons.svg#icon-rating-plus"></use></svg>
                                Да
                            </label>
                            <label class="btn btn-lg btn-default">
                                <input type="radio" name="review">
                                <svg class="icon-size-24 text-red" style="margin: -2px 4px 0 0"><use xlink:href="{{ base_path }}/images/icons.svg#icon-rating-minus"></use></svg>
                                Нет
                            </label>
                            <label class="btn btn-lg btn-default">
                                <input type="radio" name="review">
                                <svg class="icon-size-24 text-muted" style="margin: -2px 4px 0 0"><use xlink:href="{{ base_path }}/images/icons.svg#icon-rating-neutral"></use></svg>
                                Нейтрально
                            </label>
                        </div>
                    </div>
                    <div class="mb-30">
                        <label for="review_text" class="h4">Оставьте небольшой комментарий, это поможет другим покупателям:</label>
                        <textarea name="review_text" id="review_text" class="form-control" rows="4"></textarea>
                    </div>
                    <button class="btn btn-lg btn-primary">Отправить отзыв</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}