{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <h1 class="mt-10 mb-20">Мои телефоны</h1>
        <form class="my-phones">
            {#  Profile phones start #}
            <div class="row-flex">
                <div class="col-12 col-md-8">
                    <p class="mb-20">
                        Вы&nbsp;можете привязать ваш номер телефона к&nbsp;аккаунту wiweb, с&nbsp;помощью него вы&nbsp;сможете
                        быстро входить в&nbsp;личный кабинет по&nbsp;разовому СМС-коду и&nbsp;восстанавливать доступ к&nbsp;аккаунту,
                        если забудете пароль.
                        А&nbsp;еще привязанные номера получат значок &laquo;Номер подтвержден&raquo; на&nbsp;страницах
                        ваших объявлений.
                    </p>
                </div>
            </div>

            <div class="row-flex">
                <div class="col-12 col-md-8">
                    <p class="help-block mb-20">
                        Это ваш основной номер, с&nbsp;помощью него вы&nbsp;сможете восстановить доступ к&nbsp;вашему
                        аккаунту на&nbsp;wiweb,
                        если забудете пароль.
                    </p>
                </div>
            </div>


            <div class="h2 d-flex align-items-center mb-30">+7 987 654-32-10
                <button class="btn btn-default btn-sm ml-20">
                    <i class="icon-18-trash"></i>
                </button>
            </div>


            <div class="switch pb-15">
                <input type="checkbox" id="auth-number" checked="">
                <label for="auth-number" class="custom-control-label">
                    Использовать этот номер для входа на&nbsp;сайт по&nbsp;СМС-коду
                </label>
            </div>

            <div class="switch pb-20">
                <input type="checkbox" id="contact-number" checked="">
                <label for="contact-number" class="custom-control-label">
                    Добавлять этот номер как контактный в&nbsp;моих объявлениях
                </label>
            </div>

            <hr>

            <div class="row-flex">
                <div class="col-12 col-md-8">
                    <p class="h3 text-bold pt-20">Дополнительные номера</p>

                    <p class="help-block pt-15">Дополнительные номера можно использовать, как подтвержденные контакты в&nbsp;ваших
                        объявлениях или для получения уведомлений.
                    </p>
                </div>
            </div>
            {% set phones = [
                '+7 987 654-32-10',
                '+7 910 650-21-32',
            ] %}

            <div class="card-group row-flex pt-20">
                {% for phone in phones %}
                    <div class="col-12 col-sm-6 col-md-4 mb-20">
                        <div class="card card-myphone">
                            <div class="card-body">
                                <div class="card-header">
                                    <div
                                        class="lead font-weight-medium mb-10 pb-15 flex-fill">
                                        {{ phone }}
                                        <button class="btn btn-default btn-sm btn-icon-only"><i
                                                class="icon-18-trash"></i></button>
                                    </div>
                                    <div class="switch pb-15">
                                        <input type="checkbox" id="show_{{ loop.index }}" checked="">
                                        <label for="show_{{ loop.index }}" class="custom-control-label">
                                            Показывать в&nbsp;моих объявлениях
                                        </label>
                                    </div>

                                    <div class="switch">
                                        <input type="checkbox" id="notify_{{ loop.index }}" checked="">
                                        <label for="notify_{{ loop.index }}" class="custom-control-label">
                                            Получать уведомления
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="flex-fill">
                <button class="btn btn-default text-medium"><i class="icon-18-plus mr-10"></i>Добавить номер</button>
            </div>

        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelector('title').innerText = "Мои телефоны";
    </script>
{% endblock %}
