{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <h1 class="mt-10 mb-20">Мои телефоны</h1>
        <form class="my-phones">
            {#  Profile phones start #}
            <div class="row-flex">
                <div class="col-12 col-md-8">
                    <p class="mb-20">
                        Вы&nbsp;можете привязать ваш номер телефона к&nbsp;аккаунту wiweb, с&nbsp;помощью него вы&nbsp;сможете
                        быстро входить в&nbsp;личный кабинет по&nbsp;разовому СМС-коду и&nbsp;восстанавливать доступ к&nbsp;аккаунту,
                        если забудете пароль.
                        А&nbsp;еще привязанные номера получат значок &laquo;Номер подтвержден&raquo; на&nbsp;страницах
                        ваших объявлений.
                    </p>
                    <p class="h3 text-bold pt-20">Вы начали добавление номера телефона</p>

                    <p class="py-20">На номер <span class="text-medium">+7 987 654-32-10</span> отправлено
                        сообщение с кодом подтверждения.
                        Оно придет в течение нескольких минут. Запросить код повторно можно будет через 60 сек.
                    </p>
                </div>
            </div>

            <div class="row-flex row-gutter-10">
                <div class="col col-sm-4 col-lg-2 mb-20">
                    <label for="productSearch" class="sr-only">СМС-код</label>
                    <input id="productSearch" type="text" name="term" class="form-control"
                           placeholder="Номер телефона +79876543210">
                </div>
                <div class="col-auto mb-20">
                    <button class="btn btn-primary" id="next">
                        Подтвердить
                    </button>
                </div>
                <div class="col-md-12 mt-10"><a class="text-red" href="/profile/phone-numbers-start">Отменить</a></div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelector('title').innerText = "Мои телефоны - старт";
        document.getElementById('next').addEventListener("click", (e) => {
            e.preventDefault();
            window.location.href = "/profile/phone-numbers";
        })
    </script>
{% endblock %}
