{% extends "./_layout.twig" %}

{% block content %}
    <div class="container">
        <h1>Частное лицо <span class="text-normal">ivanivaniv1985</span></h1>

        <div class="profile-rating-preview mb-30">
            <span class="profile-rating-count">
                <img src="{{ base_path }}/images/icon-rating.svg" width="24" height="24" alt="Rating"> 34 отзыва
            </span>
            <span class="profile-rating-total text-green">
                95% положительных
            </span>
            <span class="profile-age">
                1 год 4 месяца на сайте
            </span>
        </div>

        <ul class="nav nav-pills">
            <li><a href="/profile/user">Объявления (195)</a></li>
            <li class="active"><a href="/profile/rating">Отзывы (6)</a></li>
        </ul>

        <h2 class="mt-30">
            95% положительных отзывов <span class="text-normal">у продавца</span>
        </h2>

        <div class="rating-nav">
            <div class="nav-item">
                <a href="" class="nav-link">
                    <span>
                        <svg class="icon-size-24 text-green"><use xlink:href="{{ base_path }}/images/icons.svg#icon-rating-plus"></use></svg>
                        2
                    </span>
                    <small>Положительные<br>отзывы</small>
                </a>
            </div>
            <div class="nav-item">
                <a href="" class="nav-link">
                    <span>
                        <svg class="icon-size-24 text-red"><use xlink:href="{{ base_path }}/images/icons.svg#icon-rating-minus"></use></svg>
                        1
                    </span>
                    <small>Отрицательные<br>отзывы</small>
                </a>
            </div>
            <div class="nav-item">
                <a href="" class="nav-link">
                    <span>
                        <svg class="icon-size-24 text-muted"><use xlink:href="{{ base_path }}/images/icons.svg#icon-rating-neutral"></use></svg>
                        1
                    </span>
                    <small>Нейтральные<br>отзывы</small>
                </a>
            </div>
            <div class="nav-item">
                <a href="" class="nav-link">
                    <span>
                        <svg class="icon-size-24 text-orange"><use xlink:href="{{ base_path }}/images/icons.svg#icon-rating-delete"></use></svg>
                        2
                    </span>
                    <small>Удаленные<br>отзывы</small>
                </a>
            </div>
        </div>

        {% set reviews = [
            {
                rating: 'plus',
                text: 'хороший продавец, все как в объявлении',
                target: 'Аквариумный внутренний погружной фильтр 600 л/ч SunSun CHJ-602',
                author: 'TonyStark',
                date: '21:14, 25 апреля'
            },
            {
                rating: 'plus',
                text: 'Ответственный продавец! Рекомендую!',
                target: 'Термоконтейнер холодильник пищевой термосумка Esky Chilla 10 (Coleman)',
                author: 'Gamer',
                date: '27 августа 2018'
            },
            {
                rating: 'minus',
                text: 'Сказали что все в наличии, договорились, приехал оказалось ничего нет, начали впаривать какую-то фигню Китайскую',
                target: 'Радиостанция Baofeng UV-82 (8W) - реальные 8W. Оригинал. Гарантия.',
                author: 'BoxInBox',
                date: '27 августа 2018'
            },
            {
                rating: 'neutral',
                text: 'Товар купил, но обещанный подарок не дали, осадочек остался',
                target: 'Гарнитура для рации фирмы Baofeng.',
                author: 'ROGAI',
                date: '27 августа 2018'
            }
        ] %}

        <div>
            {% for item in reviews %}
                <div class="user-review">
                    {% if item.rating == 'plus' %}
                        <svg class="icon-size-24 text-green"><use xlink:href="{{ base_path }}/images/icons.svg#icon-rating-plus"></use></svg>
                    {% elseif item.rating == 'minus' %}
                        <svg class="icon-size-24 text-red"><use xlink:href="{{ base_path }}/images/icons.svg#icon-rating-minus"></use></svg>
                    {% elseif item.rating == 'neutral' %}
                        <svg class="icon-size-24 text-muted"><use xlink:href="{{ base_path }}/images/icons.svg#icon-rating-neutral"></use></svg>
                    {% endif %}
                    <div class="review-comment">
                        <h4>{{ item.text }}</h4>
                        <p>
                            <a href="">{{ item.target }}</a>
                        </p>
                    </div>
                    <div class="review-author">
                        <a href="">{{ item.author }}</a>
                    </div>
                    <div class="review-date">
                        {{ item.date }}
                    </div>
                    <div class="review-actions">
                        <a href="javascript:;" class="btn btn-block btn-default" onclick="this.closest('.user-review').querySelector('.review-reply').classList.toggle('hide')">Ответный отзыв</a>
                    </div>

                    <div class="review-reply hide">
                        <div class="user-review">
                            <svg class="icon-size-24 text-green"><use xlink:href="{{ base_path }}/images/icons.svg#icon-rating-plus"></use></svg>
                            <div class="review-comment">
                                <h4>Покупатель супер!</h4>
                            </div>
                            <div class="review-author">
                                ivanivaniv1985
                            </div>
                            <div class="review-date">
                                {{ item.date }}
                            </div>
                            <div class="review-actions"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="user-review removed">
                <svg class="icon-size-24 text-orange"><use xlink:href="/images/icons.svg#icon-rating-delete"></use></svg>
                <div class="review-comment">Отзыв удален продавцом</div>
            </div>
        </div>
    </div>
{% endblock %}