{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <h1>Личный кабинет</h1>
        <div class="space-md"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-nav">
                        <ul class="nav-list">
                            <li class="active"><a href="#">Информация</a></li>
                            <li><a href="#">Мои объявления</a></li>
                            <li><a href="#">Избранное</a></li>
                            <li><a href="#"><span class="badge pull-right">1</span>Сообщения</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Информация о компании</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="list-group list-group-params">
                    <div class="list-group-item">
                        <a href="#" class="pull-right text-red">перейти в биллинг</a>
                        <div class="list-group-item-label">Номер счета</div>
                        <div class="list-group-item-control">
                            <strong>380655</strong>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <a href="#" class="pull-right text-red">пополнить счет</a>
                        <div class="list-group-item-label">Баланс</div>
                        <div class="list-group-item-control">
                            <strong>2 руб.</strong>
                        </div>
                    </div>
                    <div class="list-group-item text-muted">
                        Пожалуйста, ознакомьтесь: <a href="#">На что можно потратить деньги?</a>
                    </div>
                </div>


                <div class="list-group list-group-params">

                    <div class="list-group-item-collapse">
                        <div data-target="settings_login" class="list-group-item-toggler collapse in" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="settings_login">
                            <div class="list-group-item">
                                <div class="pull-right text-red">изменить</div>
                                <div class="list-group-item-label">Логин</div>
                                <div class="list-group-item-control">
                                    johndoe
                                </div>
                            </div>
                        </div>
                        <div id="settings_login" class="list-group-item-target collapse">
                            <div class="list-group-item">
                                <div class="list-group-item-label">Логин</div>
                                <div class="list-group-item-content">
                                    <p>Это имя будет отображаться в ваших сообщениях и объявлениях. Можно использовать любое свободное имя.</p>
                                    <form action="">
                                        <div class="row form-group">
                                            <div class="col-md-6">
                                                <input type="text" name="" id="" class="form-control" value="johndoe"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Сохранить</button>
                                            <span class="btn btn-default" role="button" data-action="close">Отмена</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group-item-collapse">
                        <div data-target="#settings_email" class="list-group-item-toggler collapse in" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="settings_email">
                            <div class="list-group-item">
                                <div class="pull-right text-red">изменить</div>
                                <div class="list-group-item-label">E-mail</div>
                                <div class="list-group-item-control">
                                    johndoe@gmail.com
                                </div>
                            </div>
                        </div>
                        <div id="settings_email" class="list-group-item-target collapse">
                            <div class="list-group-item">
                                <div class="list-group-item-label">E-mail</div>
                                <div class="list-group-item-content">
                                    <p>Этот e-mail используется для входа на сайт. Также, на этот e-mail Вы сможете получать уведомления об изменениях статуса Ваших объявлений, и получении комментариев к ним.</p>
                                    <form action="">
                                        <div class="row form-group">
                                            <div class="col-md-6">
                                                <input type="text" name="" id="" class="form-control" value="johndoe@gmail.com"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Сохранить</button>
                                            <span class="btn btn-default" role="button" data-action="close">Отмена</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group-item-collapse">
                        <div data-target="#settings_password" class="list-group-item-toggler collapse in" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="settings_password">
                            <div class="list-group-item">
                                <div class="pull-right text-red">изменить</div>
                                <div class="list-group-item-label">Пароль</div>
                                <div class="list-group-item-control">
                                    ••••••
                                </div>
                            </div>
                        </div>
                        <div id="settings_password" class="list-group-item-target collapse">
                            <div class="list-group-item">
                                <div class="list-group-item-label">Пароль</div>
                                <div class="list-group-item-content">
                                    <form action="">
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <input type="password" name="" id="" class="form-control" value="" placeholder="Старый пароль"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <input type="password" name="" id="" class="form-control" placeholder="Новый пароль"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <input type="password" name="" id="" class="form-control" placeholder="Подтвердить пароль"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Сохранить</button>
                                            <span class="btn btn-default" role="button" data-action="close">Отмена</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group-item-collapse">
                        <div data-target="#settings_phone" class="list-group-item-toggler collapse in" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="settings_phone">
                            <div class="list-group-item">
                                <div class="pull-right text-red">изменить</div>
                                <div class="list-group-item-label">Телефоны</div>
                                <div class="list-group-item-control">
                                    <div class="phone">+7 (964) 438-06-77 <small>основной телефон</small></div>
                                    <div class="phone">+7 (964) 438-06-66</div>
                                </div>
                            </div>
                        </div>
                        <div id="settings_phone" class="list-group-item-target collapse">
                            <div class="list-group-item">
                                <div class="list-group-item-label">Телефоны</div>
                                <div class="list-group-item-content">
                                    <p>Создавая аккаунт на сайте, Вы привязываете к нему свой номер телефона. Простая процедура подтверждения Вашего номера телефона обеспечит максимальную привлекательность Вашим объявлениям. Также, привязанный к аккаунту телефон, облегчит процедуру входа на сайт, и востановление забытого пароля.</p>
                                    <h3>Ваши телефоны</h3>
                                    <div class="phone"><a href="#" class="pull-right text-red">удалить</a> +7 (964) 438-06-77 <small>основной телефон</small></div>
                                    <div class="phone"><a href="#" class="pull-right text-red">удалить</a> +7 (964) 438-06-66</div>
                                    <div class="space-md"></div>
                                    <a href="#" class="btn btn-primary">Добавить телефон</a>
                                    <span class="btn btn-default" role="button" data-action="close">Отмена</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group-item-collapse">
                        <div data-target="#settings_location" class="list-group-item-toggler collapse in" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="settings_location">
                            <div class="list-group-item">
                                <div class="pull-right text-red">изменить</div>
                                <div class="list-group-item-label">Город</div>
                                <div class="list-group-item-control">
                                    Владивосток
                                </div>
                            </div>
                        </div>
                        <div id="settings_location" class="list-group-item-target collapse">
                            <div class="list-group-item">
                                <div class="list-group-item-label">Город</div>
                                <div class="list-group-item-content">
                                    <p>Выбор города обеспечивает Вам возможность просматривать объявления других пользователей с аналогичной локацией. Если вы хотите просматривать объявления из других городов, измените настройки локации.</p>
                                    <form action="">
                                        <div class="row form-group">
                                            <div class="col-md-6">
                                                <select class="js-select-city" style="width:100%">
                                                    <option>Владивосток</option>
                                                    <option>Москва</option>
                                                    <option>Автозаводская</option>
                                                    <option>Академическая</option>
                                                    <option>Алексеевская</option>
                                                    <option>Александровский сад</option>
                                                    <option>Алтуфьево</option>
                                                    <option>Арбатская [глуб.]</option>
                                                    <option>Аннино</option>
                                                    <option>Арбатская [мелк.]</option>
                                                    <option>Аэропорт</option>
                                                    <option>Бабушкинская</option>
                                                    <option>Багратионовская</option>
                                                    <option>Баррикадная</option>
                                                    <option>Бауманская</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Сохранить</button>
                                            <span class="btn btn-default" role="button" data-action="close">Отмена</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}