{% extends "./_layout.twig" %}

{% block content %}
    <div class="container">
        <h1>Частное лицо <span class="text-normal">ivanivaniv1985</span></h1>

        <div class="profile-rating-preview mb-30">
            <span class="profile-rating-count">
                <img src="{{ base_path }}/images/icon-rating.svg" width="24" height="24" alt="Rating"> 34 отзыва
            </span>
            <span class="profile-rating-total text-green">
                95% положительных
            </span>
            <span class="profile-age">
                1 год 4 месяца на сайте
            </span>
        </div>

        <ul class="nav nav-pills">
            <li class="active"><a href="/profile/user">Объявления (195)</a></li>
            <li><a href="/profile/rating">Отзывы (6)</a></li>
        </ul>

        <div class="panel">
            <div class="panel-nav">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="nav-list"><li><a href="#">Одежда, обувь и аксессуары<small>4</small></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="nav-list">
                            <li><a href="#">Бытовая техника и электроника<small>1</small></a></li>
                        </ul>
                    </div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <div class="products-preview-type visible-md-inline visible-lg-inline">
                <span data-preview-type="products-blocks row" class="active"><i class="icon-18-blocks"></i></span>
                <span data-preview-type="products-list"><i class="icon-18-list"></i></span>
            </div>
            <div class="products-search-data">Найдено <b>15 342 объявлений</b>.</div>
            <div class="products-sorting">
                <div>Сортиртировать:</div>
                <div class="dropdown">
                            <span role="button" class="dropdown-toggle" id="sort-by-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <strong>Новые сначала</strong> <span class="caret"></span>
                            </span>
                    <ul class="dropdown-menu" aria-labelledby="sort-by-menu">
                        <li><a href=""><b>Новые сначала</b></a></li>
                        <li><a href="">Старые сначала</a></li>
                        <li><a href="">Недорогие сначала</a></li>
                        <li><a href="">Дорогие сначала</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="clearfix">
            <div class="aside-fluid">
                <div class="search-options-group">
                    <div class="search-option forever-alone">
                        <div class="search-option-body help-container">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">С проверенными фото
                                </label>
                            </div>
                            <span class="icon-18-question help-badge" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" data-container="body" data-content="wiweb помогает продавцам правдиво представить свой товар. В списке товаров вы можете видеть объявление с меткой «Фото проверено». Так wiweb гарантирует пользователям  достоверное фото представленного на сайте, товара. По желанию продавца, его товар может лично сфотографировать менеджер wiweb."></span>
                        </div>
                    </div>
                    <div class="search-option forever-alone">
                        <div class="search-option-body">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">С доставкой из других городов
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="search-option">
                        <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse1" aria-expanded="false">Марка и модель</div>
                        <div id="optionCollapse1" class="collapse">
                            <div class="search-option-body">
                                <div class="form-group">
                                    <select name="" id="" class="form-control js-select-marks" style="width:100%">
                                        <option value="-1" selected="selected">Марка авто</option>
                                        <option value="1">Toyota</option>
                                        <option value="2">Mazda</option>
                                        <option value="3">Nissan</option>
                                        <option value="4">Mitsubishi</option>
                                        <option value="5">Honda</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="" id="" class="form-control js-select-models" style="width:100%">
                                        <option value="-1" selected="selected">Модель авто</option>
                                        <option>Corolla</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option range">
                        <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse2" aria-expanded="false">Цена, руб.</div>
                        <div id="optionCollapse2" class="collapse">
                            <div class="search-option-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label class="input-addon">
                                            <span class="prepend">от</span>
                                            <input type="text" name="" id="" placeholder="1200">
                                            <div class="form-control"></div>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label class="input-addon">
                                            <span class="prepend">до</span>
                                            <input type="text" name="" id="" placeholder="43000">
                                            <div class="form-control"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option range">
                        <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse3" aria-expanded="false">Год выпуска</div>
                        <div id="optionCollapse3" class="collapse">
                            <div class="search-option-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <select name="" id="" class="form-control"><option value="">1970</option></select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <select name="" id="" class="form-control"><option value="">2015</option></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option range">
                        <div class="search-option-header collapsed" data-toggle="collapse"data-target="#optionCollapse4" aria-expanded="false">Пробег, км</div>
                        <div id="optionCollapse4" class="collapse">
                            <div class="search-option-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label class="input-addon">
                                            <span class="prepend">от</span>
                                            <input type="text" name="" id="" placeholder="0">
                                            <div class="form-control"></div>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label class="input-addon">
                                            <span class="prepend">до</span>
                                            <input type="text" name="" id="" placeholder="645000">
                                            <div class="form-control"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option">
                        <div class="search-option-header more collapsed" data-toggle="collapse" data-target="#moreOptions" aria-expanded="false"><b>Все фильтры</b></div>
                    </div>
                    <div id="moreOptions" class="collapse">
                        <div class="search-option">
                            <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse5" aria-expanded="false">Привод</div>
                            <div id="optionCollapse5" class="collapse">
                                <div class="search-option-body">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Передний
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Задний
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">4WD
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-option">
                            <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse6" aria-expanded="false">Трансмиссия</div>
                            <div id="optionCollapse6" class="collapse">
                                <div class="search-option-body">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Автомат
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Механика
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Вариатор
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-option">
                            <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse7" aria-expanded="false">Цвет</div>
                            <div id="optionCollapse7" class="collapse">
                                <div class="search-option-body">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Белый
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Серый
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Черный
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Красный
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Оранжевый
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Желтый
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Розовый
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Голубой
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Синий
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Фиолетовый
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Зеленый
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Коричневый
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-option active">
                            <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse8" aria-expanded="false">Наличие</div>
                            <div id="optionCollapse8" class="collapse">
                                <div class="search-option-body">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio2" value="">Все
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio2" checked value="">В наличии
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio2" value="">Под заказ
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio2" value="">В пути
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-option active">
                            <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse9" aria-expanded="false">Состояние</div>
                            <div id="optionCollapse9" class="collapse">
                                <div class="search-option-body">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio1" value="">Все
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio1" checked value="">Новый
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio1" value="">Подержанный (б/у)
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio1" value="">Неисправный
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-option">
                            <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse10" aria-expanded="false">Дополнительно</div>
                            <div id="optionCollapse10" class="collapse">
                                <div class="search-option-body">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">С фото
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">От частных лиц
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">От компаний
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option">
                        <div class="search-option-action">
                            <button class="btn btn-default btn-block">Найти</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-fluid">
                <ul class="products-blocks row" data-products="preview">
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/auto1.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Nissan Patrol 2015</a></h3>
                            <p class="desc">
                                2.4, бензин
                                <span></span>
                                4wd
                                <span></span>
                                автомат
                            </p>
                            <div class="price"><b>2 500 000 руб.</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/auto2.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#2">Hyundai Accent 2015</a></h3>
                            <p class="desc">
                                2.4, бензин
                                <span></span>
                                4wd
                                <span></span>
                                автомат
                            </p>
                            <div class="price"><b>799 000 руб.</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/auto3.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#3">Honda Insight 2010</a></h3>
                            <p class="desc">
                                2.4, бензин
                                <span></span>
                                4wd
                                <span></span>
                                автомат
                            </p>
                            <div class="price"><b>100 000 руб.</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/auto4.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#4">Toyota Mr-2 2000</a></h3>
                            <p class="desc">
                                2.4, бензин
                                <span></span>
                                4wd
                                <span></span>
                                автомат
                            </p>
                            <div class="price"><b>349 999 руб.</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/auto5.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#5">Toyota Prado 2012</a></h3>
                            <p class="desc">
                                2.4, бензин
                                <span></span>
                                4wd
                                <span></span>
                                автомат
                            </p>
                            <div class="price"><b>1 800 000 руб.</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
