{% extends './_layout.twig' %}

{% block content %}
    <div class="container jstree">
        <div class="row">
            <div class="col-md-3">
                Тут навигация
            </div>
            <div class="col-md-9">
                <div class="mb-20">
                    <h2>Настройка категорий</h2>
                    <p>Чтобы ваши товары стали корректно отображаться в поиске, свяжите категории вашего магазина
                        (взятые из прайс-листа), с категориями сайта wiweb.ru</p>
                </div>
                <hr class="my-30">
                <div class="row">
                    <div class="table-category-select col-xs-12 col-sm-6 col-sm-push-9 pb-xs-20">
                        <div class="form-group mb-20">
                            <div class="h3">Выбрана категория</div>
                            <span>Все категории</span> / <span>Одежда и обувь</span> / <span>Верхняя одежда</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="category">Выберите категорию wiweb.ru</label>
                            <input type="text" id="category" class="form-control"/>
                        </div>
                        <button id="save-trigger" type="button" class="btn btn-block btn-primary mt-20">Сохранить
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                        <div id="tree" class="mb-30">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ base_path }}/dist/css/jstree.css">
{% endblock %}

{% block javascripts %}

    <script src="{{ base_path }}/dist/js/vendors/jstree.min.js"></script>

    <script>
      (function ($) {
        $(function () {
          $('#tree').jstree({
            types: {
              default: {
                icon: "./../../images/jstree/icon-unlinked.png",
                a_attr: {
                  title: 'Выберите категорию для связывания с wiweb.ru',
                },
                li_attr: {
                    class: "default",
                },
              },
              root: {
                icon: "./../../images/jstree/icon-root.png",
                a_attr: {
                  title: 'Все категории',
                },
                li_attr: {
                  class: "root",
                },
              },
              connected: {
                icon: "./../../images/jstree/icon-linked.png",
                a_attr: {
                  title: 'Категория связана с wiweb.ru'
                },
                li_attr: {
                  class: "connected",
                },
              },
              banned: {
                  icon: "./../../images/jstree/icon-banned.png",
                  a_attr: {
                      title: 'Категория отклонена wiweb.ru'
                  },
                  li_attr: {
                      class: "banned",
                  },
              }
            },
            plugins: [
              "themes",
              "json_data",
              "dnd",
              "ui",
              "types"
            ],
            core: {
              multiple: false,
              data: [
                  {% include './profile/company/jstree.json' %}
              ]
            },
            themes: {
              //'name': 'proton',
              responsive: true
            }
          }).bind("loaded.jstree", function () {
            $(this).jstree(true).set_type('-1', 'root');
          });
        });
      })(jQuery);
    </script>

{% endblock %}
