//
// Rewrite button mixin

.button-variant(@color; @background; @border; @border-hover: darken(@border, 5%)) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:focus,
  &.focus {
    color: @color;
    background-color: darken(@background, 5%);
    border-color: @border-hover;
  }
  &:hover {
    color: @color;
    background-color: darken(@background, 5%);
    border-color: @border-hover;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 5%);
    border-color: @border-hover;

    &:hover,
    &:focus,
    &.focus {
      color: @color;
      background-color: darken(@background, 10%);
      border-color: @border-hover;
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: @background;
      border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}