@import 'mixins/buttons';

//
// Collapse

.collapse-indicator(@content) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 7px;
    margin: auto;
    background: @b64-arrow-filter no-repeat center;
    transform: rotate(180deg);
    transition: all .15s ease;
    @content();
  }

  &.collapsed::before {
    transform: rotate(0deg);
  }
}


//
// Links
//

.link-variant(@color: @link-color, @color-hover: @link-color-hover, @underline: true, @selector-underline: false, @selector-name: span, @pre: ~'', @visited: false) {
  color: @color;

  &:focus,
  &:hover {
    color: @color-hover;
  }

  & when (@underline = true) {
    text-decoration: underline;
    text-decoration-color: fade(@color, 38%);

    &:focus,
    &:hover {
      text-decoration-color: fade(@color-hover, 54%);
    }
  }

  & when (@underline = false) {
    text-decoration: none;
  }

  & when (@selector-underline = true) {
    text-decoration: none;

    @{pre}@{selector-name} {
      text-decoration: underline;
      text-decoration-color: fade(@color, 38%);
    }

    &:focus,
    &:hover {
      @{pre}@{selector-name} {
        text-decoration-color: fade(@color-hover, 54%);
      }
    }
  }

  & when (@visited = true) {
    &:visited {
      color: @link-color-visited!important;
      text-decoration-color: fade(@link-color-visited, 38%);
    }
  }

  & when (@visited = true) and (@selector-underline = true) {
    &:visited @{pre}@{selector-name} {
      color: @link-color-visited!important;
      text-decoration-color: fade(@link-color-visited, 38%);
    }
  }
}

.link-states(@link: {}, @hover: {}) {
  @link();
  &:focus,
  &:hover {
    @hover();
  }
}




//
// New spacers generator

.spacer-generator(@abbrev, @option, @breakpoint, @media-exp, @size, @space) when (@size >= 0) {
  @bp: if(@media-exp, ~'@{breakpoint}-');

  .@{abbrev}t-@{bp}@{size} {
      @{option}-top: @space!important;
  }

  .@{abbrev}r-@{bp}@{size} {
      @{option}-right: @space!important;
  }

  .@{abbrev}b-@{bp}@{size} {
      @{option}-bottom: @space!important;
  }

  .@{abbrev}l-@{bp}@{size} {
      @{option}-left: @space!important;
  }

  .@{abbrev}x-@{bp}@{size} {
      @{option}-right: @space!important;
      @{option}-left: @space!important;
  }

  .@{abbrev}y-@{bp}@{size} {
      @{option}-top: @space!important;
      @{option}-bottom: @space!important;
  }

  .@{abbrev}-@{bp}@{size} {
      @{option}: @space!important;
  }
}


//
// Spacer helpers

each(@spacers, {
  @media (min-width: @screen-lg-min) {
    .spacer-generator(m, margin, lg, true, @value, ~'@{value}px');
  }

  @media (min-width: @screen-md-min) {
    .spacer-generator(m, margin, md, true, @value, ~'@{value}px');
  }

  @media (min-width: @screen-sm-min) {
    .spacer-generator(m, margin, sm, true, @value, ~'@{value}px');
  }

  @media (max-width: @screen-xs-max) {
    .spacer-generator(m, margin, xs, true, @value, ~'@{value}px');
  }

  .spacer-generator(m, margin, 0, false, @value, ~'@{value}px');
});

each(@spacers, {
  @media (min-width: @screen-lg-min) {
    .spacer-generator(p, padding, lg, true, @value, ~'@{value}px');
  }

  @media (min-width: @screen-md-min) {
    .spacer-generator(p, padding, md, true, @value, ~'@{value}px');
  }

  @media (min-width: @screen-sm-min) {
    .spacer-generator(p, padding, sm, true, @value, ~'@{value}px');
  }

  @media (max-width: @screen-xs-max) {
    .spacer-generator(p, padding, xs, true, @value, ~'@{value}px');
  }

  .spacer-generator(p, padding, 0, false, @value, ~'@{value}px');
});

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}


//
// @todo remove it!

.space-generator (@factor) {
  width: 100%;
  height: 0;
  margin-top: @spacer * @factor;
  overflow: hidden;
}

.space-sm {
  .space-generator(0.5);
}

.space-md {
  .space-generator(1);
}

.space-lg {
  .space-generator(2);
}
