//
// Variables

// Base bootstrap colors
//
//@gray-base:              #000;
//@gray-darker:            #222;
//@gray-dark:              #333;
//@gray:                   #757575;
//@gray-light:             #9e9e9e;
//@gray-lighter:           #f2f2f2;
//
//@brand-primary:         #59AB00;
//@brand-success:         #59AB00;
//@brand-info:            #4A90E2;
//@brand-warning:         #f0ad4e;
//@brand-danger:          #FF3333;

@color-gray-dark: #222222;
@color-gray: #757575;
@color-gray-light: #9e9e9e;
@color-gray-lighter: #F2F2F2;

@color-red: #FF3333;
@color-yellow: #ECA606;
@color-green: #59AB00;
@color-green-lighter: #F7FBF2;
@color-blue: #4A90E2;
@color-orange: #F5A623;

@brand-primary: @color-red;
@brand-success: @color-green;
@brand-info: @color-blue;
@brand-warning: @color-yellow;
@brand-danger: @color-red;

@text-color: @color-gray-dark;
@text-muted: @color-gray;
@text-placeholder: @color-gray-light;

@link-color: @text-color;
@link-color-hover: @text-muted;
@link-color-visited: #663E9F;


//
// Base styles

@font-family-sans-serif: 'Roboto', Helvetica, Arial, sans-serif;

@font-size-base: 16px; // bootstrap3 default = 14px
@font-size-large: 18px;
@font-size-small: 14px;

@font-size-h1: 28px;
@font-size-h2: 24px;
@font-size-h3: 20px;
@font-size-h4: 16px;
@font-size-h5: 14px;
@font-size-h6: 12px;

@font-weight-boldest: 900;
@font-weight-bold: 700;
@font-weight-medium: 500;
@font-weight-regular: 400;

@spacers: 0, 5, 10, 15, 20, 30, 40;
@spacer: 20px;

@border-color: #BFBFBF;


@border-radius-base: 6px;
@border-radius-large: 8px;
@border-radius-x-large: 10px;
@border-radius-small: 4px;

@line-height-base: 1.5;
@line-height-large: 2;
@line-height-small: 1.2;

@line-height-computed: 24px; // 16px * 1.5

@padding-base-vertical: 6px;
@padding-base-horizontal: 12px;

@padding-large-vertical: 10px;
@padding-large-horizontal: 16px;

@padding-small-vertical: 2px;
@padding-small-horizontal: 8px;

@padding-xs-vertical: 1px;
@padding-xs-horizontal: 5px;

@component-active-color: #fff;
@component-active-bg: @color-red;


// Z-index master list

@zindex-autocomplete: 1000;
@zindex-g-dropdown: 1000;


// Form states and alerts

@state-success-text: @color-green;
@state-success-bg: #E5F6D3;
@state-success-border: #C2D1B3;

@state-info-text: @color-blue;
@state-info-bg: #DBE9F9;
@state-info-border: #BAC6D3;

@state-warning-text: @color-yellow;
@state-warning-bg: #FEFAD2;
@state-warning-border: #D8D4B2;

@state-danger-text: @color-red;
@state-danger-bg: #FFD6D6;
@state-danger-border: #D9B6B6;


// Forms

@input-border: @border-color;
@input-border-focus: @color-green;
@input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
@input-color-placeholder: @color-gray-light;

@input-border-radius: @border-radius-small;
@input-border-radius-small: @border-radius-small;
@input-border-radius-large: @border-radius-base;

@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large: (@line-height-computed + (@padding-large-vertical * 2) + 2);
@input-height-small: (@line-height-computed + (@padding-small-vertical * 2) + 2);

@form-group-margin-bottom: @spacer / 2;

@legend-color: @text-color;
@legend-border-color: #e5e5e5;

@input-group-addon-bg: @color-gray-lighter;


// Buttons

@btn-default-color: #222;
@btn-default-bg: #fff;
@btn-default-border: @border-color;

@btn-primary-color: #fff;
@btn-primary-bg: @color-green;
@btn-primary-border: @color-green;

@btn-success-color: #fff;
@btn-success-bg: @color-green;
@btn-success-border: @color-green;

@btn-outline-success-color: @color-green;
@btn-outline-success-bg: @color-green-lighter;
@btn-outline-success-border: @color-green;

@btn-link-disabled-color: @color-gray-lighter;

@btn-border-radius-base: 6px;
@btn-border-radius-large: 8px;
@btn-border-radius-small: 4px;


// Navbar

@navbar-link-padding: (@padding-base-vertical - 1) (@padding-base-horizontal - 1); // 1 – border-width
@navbar-link-line-height: @line-height-computed;
@navbar-link-bordered: @color-green;

@navbar-link-active-bg: url(@texture-1) center center;
@navbar-link-bordered-active-bg: #F7FBF2;


// Nav

@nav-link-padding: @padding-base-vertical @padding-base-horizontal;
@nav-line-height: @line-height-computed;

@nav-iconized-padding-left: 25px;


// Dropdown

@dropdown-link-active-color: @text-color;
@dropdown-link-active-bg: @color-gray-lighter;


// Alerts

@alert-success-bg: @state-success-bg;
@alert-success-text: @text-color;
@alert-success-border: @state-success-border;

@alert-info-bg: @state-info-bg;
@alert-info-text: @text-color;
@alert-info-border: @state-info-border;

@alert-warning-bg: @state-warning-bg;
@alert-warning-text: @text-color;
@alert-warning-border: @state-warning-border;

@alert-danger-bg: @state-danger-bg;
@alert-danger-text: @text-color;
@alert-danger-border: @state-danger-border;


// Panels

@panel-bg: #fff;
@panel-body-padding: 20px;
@panel-heading-padding: 10px 20px;
@panel-border-radius: @border-radius-large;
@panel-inner-border: @hr-border;


// Labels

@label-default-bg: @color-gray;
@label-success-bg: @color-green;
@label-info-bg: @color-blue;
@label-warning-bg: @color-yellow;
@label-danger-bg: @color-red;


// Badges

@badge-color: @text-muted;
@badge-link-hover-color: @text-muted;
@badge-bg: #ffffff;

@badge-active-color: @link-color;
@badge-active-bg: #fff;

@badge-font-weight: 400;
@badge-line-height: 1;
@badge-border-radius: 10px;


// Messages

@messages-bg: @color-gray-lighter;
@message-right-bg: @state-info-bg;
@message-right-border: @state-info-border;
@message-left-bg: #FFFFFF;
@message-left-border: #E5E5E5;
@message-system-bg: @state-danger-bg;
@message-system-border: @state-danger-border;
@message-new-bg: @state-success-bg;
@message-new-border: @state-success-border;


// Cursors

@cursor-disabled: not-allowed;


// Images

@img-path: '../../images';

@logotype-lg: '@{img-path}/logotype-lg?v1.png';
@logotype-lg-2x: '@{img-path}/logotype-lg@2x?v1.png';
@logotype-lg-w: image-width('../images/logotype-lg.png');
@logotype-lg-h: image-height('../images/logotype-lg.png');

@logotype-sm: '@{img-path}/logotype-sm?v1.png';
@logotype-sm-2x: '@{img-path}/logotype-sm@2x?v1.png';
@logotype-sm-w: image-width('../images/logotype-sm.png');
@logotype-sm-h: image-height('../images/logotype-sm.png');

@sprite: '@{img-path}/sprite-v3.png';
@sprite-2x: '@{img-path}/sprite-v3@2x.png';
@sprite-width: 432px;
@sprite-height: 170px;

@sprite-categories: '@{img-path}/sprite-categories.png';
@sprite-categories-2x: '@{img-path}/sprite-categories@2x.png';
@sprite-categories-4x: '@{img-path}/sprite-categories@4x.png';
@sprite-categories-width: 40px;
@sprite-categories-height: 1190px;
@sprite-categories-2x-width: @sprite-categories-width * 2;
@sprite-categories-2x-height: @sprite-categories-height * 2;
@sprite-categories-24: '@{img-path}/sprite-categories-24.png';
@sprite-categories-24-2x: '@{img-path}/sprite-categories-24@2x.png';
@sprite-categories-24-width: 24px;
@sprite-categories-24-height: 806px;

@sprite-social: '@{img-path}/sprite-social.png';
@sprite-social-2x: '@{img-path}/sprite-social@2x.png';
@sprite-social-width: 278px;
@sprite-social-height: 26px;

@sprite-fancybox: '@{img-path}/sprite-fancybox.png';
@sprite-fancybox-2x: '@{img-path}/sprite-fancybox@2x.png';
@sprite-fancybox-width: 17px;
@sprite-fancybox-height: 56px;

@sprite-add: '@{img-path}/sprite-add.png';
@sprite-add-2x: '@{img-path}/sprite-add@2x.png';
@sprite-add-width: 168px;
@sprite-add-height: 66px;

@texture-1: '@{img-path}/texture-1.png';
@texture-2: '@{img-path}/texture-2.png';

@preloader: '@{img-path}/preloader.gif';

@pattern: '@{img-path}/pattern.png';
@pattern-500: '@{img-path}/pattern-500.png';


// Base64

@icon-b64-view: data-uri('image/png;base64', '../images/base64/view.png');
@icon-b64-view-2x: data-uri('image/png;base64', '../images/base64/view@2x.png');

@icon-b64-date: data-uri('image/png;base64', '../images/base64/date.png');
@icon-b64-date-2x: data-uri('image/png;base64', '../images/base64/date@2x.png');

@icon-b64-ios: data-uri('image/png;base64', '../images/base64/ios.png');
@icon-b64-ios-2x: data-uri('image/png;base64', '../images/base64/ios@2x.png');

@icon-b64-android: data-uri('image/png;base64', '../images/base64/android.png');
@icon-b64-android-2x: data-uri('image/png;base64', '../images/base64/android@2x.png');

@icon-b64-outofbox: data-uri('image/png;base64', '../images/base64/outofbox.png');
@icon-b64-outofbox-2x: data-uri('image/png;base64', '../images/base64/outofbox@2x.png');

@b64-sort-up: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-sort-up.svg');
@b64-sort-down: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-sort-down.svg');

@b64-arrow-filter: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-arrow-filter.svg');
@b64-arrow-navbar: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-arrow-navbar.svg');
@b64-more-vertical: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-more-vertical.svg');
@b64-confirm: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-confirm.svg');

@b64-arrow-left-red: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-arrow-left-red.svg');
@b64-arrow-left-gray: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-arrow-l-gray.svg');
@b64-arrow-right-gray: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-arrow-r-gray.svg');

@b64-map-fullscreen-on: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-map-fullscreen-on.svg');
@b64-map-fullscreen-off: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-map-fullscreen-off.svg');

@b64-owl-next: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-owl-next.svg');
@b64-owl-prev: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-owl-prev.svg');

@b64-checkbox-indicator: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-checkbox-indicator.svg');

@b64-tree-icon-link: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-tree-icon-link.svg');
@b64-tree-icon-plus: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-tree-icon-plus.svg');
@b64-tree-icon-minus: data-uri('image/svg+xml;charset=UTF-8', '../images/base64/b64-tree-icon-minus.svg');


@fancybox-overlay: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTAvMTcvMTPy0pYMAAAADUlEQVQImWNgYGBYBgAAqwCnJicwSwAAAABJRU5ErkJggg==');


// High resolution option

@high-resolution: ~'only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)';


// HR

@hr-border: #D9D9D9;
@hr-border-rgba: rgba(0, 0, 0, .15);


// Footer

@footer-height: 140px;
@footer-bg: @color-gray-lighter;


// Search options

@search-option-bg: @color-gray-lighter;


// Grid

@grid-gutter-width: 20px;

@container-large-desktop: (1240px + @grid-gutter-width);
