{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <form action="">
            <div class="global-search">
                <div class="global-search-row">
                    <div class="column"><input type="text" id="autocomplete_control" placeholder="Я ищу продавца..."></div>
                    <div class="column"><button><i class="icon-24-search-white"></i></button></div>
                </div>
                <div id="autocomplete_wrapper" class="global-search-autocomplete"></div>
            </div>
        </form>

        <a href="" class="banner-about-maps-narrow margin-md"><span>Компании-продавцы на карте</span></a>

        <div class="panel">
            <div class="panel-nav">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="nav-list">
                            <li><a href="#">Верхняя одежда<small>1358</small></a></li>
                            <li><a href="#">Платья и юбки<small>327</small></a></li>
                            <li><a href="#">Брюки и джинсы<small>250</small></a></li>
                            <li><a href="#">Топы и блузы<small>160</small></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="nav-list">
                            <li><a href="#">Купальники и нижнее белье<small>244</small></a></li>
                            <li><a href="#">Обувь<small>4891</small></a></li>
                            <li><a href="#">Головные уборы<small>31</small></a></li>
                        </ul>
                    </div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="nav-list">
                            <li><a href="#">Для дома<small>127</small></a></li>
                            <li><a href="#">Для будущих мам<small>723</small></a></li>
                            <li><a href="#">Для спорта<small>25</small></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="nav-list">
                            <li><a href="#">Всё для свадьбы<small>308</small></a></li>
                            <li><a href="#">Аксессуары<small>5620</small></a></li>
                            <li><a href="#">Услуги<small>6</small></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <h1>Все продавцы во Владивостоке</h1>
        <div>Найдено <b>342 продавца</b></div>

        <hr>

        <div class="clearfix">
            <div class="aside-fluid">

                <div class="search-options-group">
                    <div class="search-option forever-alone">
                        <div class="search-option-body">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Платное размещение в справочнике продавцов
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="search-option forever-alone">
                        <div class="search-option-body">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">С интернет-витриной
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="search-option forever-alone">
                        <div class="search-option-body">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Недавно добавленные
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="search-option forever-alone">
                        <div class="search-option-body">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Есть в моем городе
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="search-option-action">
                        <button class="btn btn-primary btn-block">Найти</button>
                    </div>
                </div>
            </div>
            <div class="content-fluid">
                <ul class="sellers-list">
                    <li class="seller-block">
                        <div class="seller-block-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/com-1.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Pegas</a> <i class="icon-18-top-seller"></i></h3>
                            <p class="desc">Продажа контрактных запчастей, отправка в регионы наложенным платежом</p>
                            <div class="params">
                                <span><i class="icon-18-company"></i>Платное размещение</span>
                                <span><i class="icon-18-place"></i>Филиал во Владивостоке, головной офис – Москва</span>
                                <span>
                                            <i class="icon-18-phone"></i>
                                            +7 (964) 200-06-00
                                            <br>
                                            +7 (914) 200-00-06
                                        </span>
                                <span><i class="icon-18-mail"></i>seller@gmail.com</span>
                                <span><i class="icon-18-goods"></i>2 304 объявления</span>
                            </div>
                        </div>
                    </li>
                    <li class="seller-block">
                        <div class="seller-block-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/com-2.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Партнер ДВ</a> <i class="icon-18-top-seller"></i></h3>
                            <p class="desc">Наша компания занимается продажей контрактных автозапчастей из Японии.</p>
                            <div class="params">
                                <span><i class="icon-18-company"></i>Платное размещение</span>
                                <span><i class="icon-18-place"></i>Владивосток</span>
                                <span>
                                            <i class="icon-18-phone"></i>
                                            8 (423) 224-65-21
                                        </span>
                                <span><i class="icon-18-mail"></i>newvasya@mail.ru</span>
                                <span><i class="icon-18-goods"></i><a href="#">43 489 объявлений</a></span>
                            </div>
                        </div>
                    </li>
                    <li class="seller-block">
                        <div class="seller-block-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/com-3.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Нью Васюки</a></h3>
                            <p class="desc">Продажа контрактных запчастей.</p>
                            <div class="params">
                                <span><i class="icon-18-company"></i>Платное размещение</span>
                                <span><i class="icon-18-place"></i>Филиал во Владивостоке, головной офис – Новосибирск</span>
                                <span>
                                            <i class="icon-18-phone"></i>
                                            8 (423) 224-65-21
                                        </span>
                                <span><i class="icon-18-goods"></i><a href="#">294 объявления</a></span>
                            </div>
                        </div>
                    </li>
                    <li class="seller-block">
                        <div class="seller-block-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/com-4.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Студия «Эстетика тела»</a></h3>
                            <p class="desc">Коррекция фигуры, массаж, шугаринг, мануальная пластика лица, блеск-тату. Обертывание, спа-процедуры.</p>
                            <div class="params">
                                <span><i class="icon-18-company"></i>Платное размещение</span>
                                <span><i class="icon-18-place"></i>Владивосток</span>
                                <span>
                                            <i class="icon-18-phone"></i>
                                            8 (4232) 12-32-13
                                        </span>
                                <span><i class="icon-18-mail"></i>steloest@mail.ru</span>
                                <span><i class="icon-18-goods"></i><a href="#">6 453 объявления</a></span>
                            </div>
                        </div>
                    </li>
                    <li class="seller-block">
                        <div class="seller-block-content">
                            <h3 class="title"><a href="#1">Иван Васильевич</a></h3>
                            <p class="desc">Продажа контрактных запчастей.</p>
                            <div class="params">
                                <span><i class="icon-18-user"></i>Бесплатное размещение</span>
                                <span><i class="icon-18-place"></i>Владивосток</span>
                                <span>
                                            <i class="icon-18-phone"></i>
                                            +7 (914) 188-78-68
                                        </span>
                                <span><i class="icon-18-mail"></i>vanya@mail.ru</span>
                                <span><i class="icon-18-goods"></i><a href="#">3 901 объявление</a></span>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="pagination">
                    <li class="disabled"><a href="#"><i class="icon-18-arrow-l"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#"><i class="icon-18-arrow-r"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}