{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <div class="panel">
            <nav class="breadcrumbs">
                <ul>
                    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="#" itemprop="url">
                            <span itemprop="title">Справочник продавцов</span>
                        </a>
                    </li>
                    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="#" itemprop="url">
                            <span itemprop="title">Электроника</span>
                        </a>
                    </li>
                    <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <meta itemprop="url" content="#url">
                        <span itemprop="title">Компания #c-90342</span>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="panel">
            <header class="profile-masthead-header">
                <img src="/sample/vladuino.png" alt="" class="pull-right">
                <h2 class="h1">Магазин Vladuino <i class="icon-24-company"></i></h2>
                <a href="#" class="inline-block-link"><i class="icon-24-mail"></i> Написать продавцу</a>
                <a href="#" class="inline-block-link"><i class="icon-24-goods"></i> 243 предложения в базе</a>
                <a href="#" class="inline-block-link"><i class="icon-24-site"></i> vladuino.wiweb.ru</a>
            </header>
        </div>

        <ul class="nav nav-pills">
            <li><a href="/companies/view">Объявления</a></li>
            <li class="active"><a href="/companies/view-contacts">Контакты</a></li>
            <li><a href="/companies/view-about">О компании</a></li>
        </ul>

        <div class="clearfix">
            <div class="aside-fluid">
                <div class="panel">
                    <div class="panel-nav">
                        <ul class="nav-list">
                            <li><a href="#city_1">Владивосток</a></li>
                            <li><a href="#city_2">Москва</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-fluid">
                <div id="city_1" class="margin-md">
                    <div class="h1 margin-md text-center">Владивосток</div>
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Головной офис – Владивосток</h3>
                            <hr/>
                            <ul class="list-params">
                                <li class="phones-wrap">
                                    <span class="title">Телефон</span>
                                    <span class="confirm-phone">+7 906 757-33-43 <span class="confirm-phone-badge">Подтвержден</span></span>
                                </li>
                                <li>
                                    <span class="title">Город</span>
                                    Владивосток, Приморский край
                                </li>
                                <li>
                                    <span class="title">Адрес</span>
                                    ул. Проспект 100-лет Владивостоку 76а
                                </li>
                                <li>
                                    <span class="title">Сайт</span>
                                    http://vladuino.ru
                                </li>
                            </ul>
                        </div>
                        <div class="profile-masthead-map" style="background-image:url('/sample/map.png')">
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Склад – Владивосток</h3>
                            <hr/>
                            <ul class="list-params">
                                <li class="phones-wrap">
                                    <span class="title">Телефон</span>
                                    <span class="confirm-phone">+7 906 757-33-43 <span class="confirm-phone-badge">Подтвержден</span></span>
                                </li>
                                <li>
                                    <span class="title">Город</span>
                                    Владивосток, Приморский край
                                </li>
                                <li>
                                    <span class="title">Адрес</span>
                                    ул. Проспект 100-лет Владивостоку 76а
                                </li>
                                <li>
                                    <span class="title">Сайт</span>
                                    http://vladuino.ru
                                </li>
                            </ul>
                        </div>
                        <div class="profile-masthead-map" style="background-image:url('/sample/map.png')">
                        </div>
                    </div>
                </div>
                <div id="city_2" class="margin-md">
                    <div class="h1 margin-md text-center">Москва</div>
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Головной офис – Москва</h3>
                            <hr/>
                            <ul class="list-params">
                                <li class="phones-wrap">
                                    <span class="title">Телефон</span>
                                    <span class="confirm-phone">+7 906 757-33-43 <span class="confirm-phone-badge">Подтвержден</span></span>
                                </li>
                                <li>
                                    <span class="title">Город</span>
                                    Владивосток, Приморский край
                                </li>
                                <li>
                                    <span class="title">Адрес</span>
                                    ул. Проспект 100-лет Владивостоку 76а
                                </li>
                                <li>
                                    <span class="title">Сайт</span>
                                    http://vladuino.ru
                                </li>
                            </ul>
                        </div>
                        <div class="profile-masthead-map" style="background-image:url('/sample/map.png')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
