{% extends './_layout.twig' %}

{% block content %}
    <div class="panel">
        <nav class="breadcrumbs">
            <ul>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Справочник продавцов</span>
                    </a>
                </li>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Электроника</span>
                    </a>
                </li>
                <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <meta itemprop="url" content="#url">
                    <span itemprop="title">Компания #c-90342</span>
                </li>
            </ul>
        </nav>
    </div>

    <div class="panel">
        <header class="profile-masthead-header">
            <img src="sample/vladuino.png" alt="" class="pull-right">
            <h2 class="h1">Магазин Vladuino <i class="icon-24-company"></i></h2>
            <a href="#" class="inline-block-link"><i class="icon-24-mail"></i> Написать продавцу</a>
            <a href="#" class="inline-block-link"><i class="icon-24-goods"></i> 243 предложения в базе</a>
            <a href="#" class="inline-block-link"><i class="icon-24-site"></i> vladuino.wiweb.ru</a>
        </header>
    </div>

    <ul class="nav nav-pills">
        <li><a href="/companies/view">Объявления</a></li>
        <li><a href="/companies/view-contacts">Контакты</a></li>
        <li class="active"><a href="/companies/view-about">О компании</a></li>
    </ul>

    <p>
        Чистота, комфорт, современное оборудование и качественное обслуживание – непременные атрибуты классного отеля. Все это Вы найдете в гостинице Трак Хаус. Здесь каждый гость является желанным, и, соответственно, любое Ваше пожелание не останется без внимания. Уютный номер турецкой бани выполнен в современном восточном стиле по индивидуальному проекту. Если вы от души хотите попариться в хорошей финской парилке с веничком, то вы по достоинству оцените финскую сауну с бассейном гостиничного комплекса «TRUCK HOUSE hotel».
    </p>
{% endblock %}
