{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs mb-20">
            <ul>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Справочник продавцов</span>
                    </a>
                </li>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Электроника</span>
                    </a>
                </li>
                <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <meta itemprop="url" content="#url">
                    <span itemprop="title">Компания #c-90342</span>
                </li>
            </ul>
        </div>

        <div class="profile-goods-locked my-20">
            <div class="row-flex">
                <div class="col-auto">
                    <i class="icon-24-warning"></i>
                </div>
                <div class="col">
                    <p class="lead text-danger mb-10">Компания заблокирована и не отображается в справочнике</p>
                    <p>
                        Причина блокировки: не выполнены <a href>правила публикации</a> объявлений, пункт 4.1 — цена
                        в описании не соответствует значению поля «Цена».
                    </p>
                    <a href="" class="btn btn-default btn-sm">Написать в техподдержку</a>
                </div>
            </div>
        </div>

        <h1>Магазин Amperkot <i class="icon-24-company"></i></h1>

        <div class="profile-goods-locked">
            <div><i class="icon-24-company"></i>Объявление заблокировано и не отображается в каталоге</div>
            <div>Причина блокировки: не выполнены требования к публикации объявлений,
                пункт 4.1 — цена в описании не соответствует значению поля «Цена».
            </div>
            <div>Если Вы — владелец объявления, отредактируйте описание и повторно нажмите кнопку «Опубликовать». После
                проверки модератором объявление появится на сайте.
            </div>
            <div>
                Перейти к объявлению
            </div>
        </div>

        <div class="profile-rating-preview mb-20">
            <span class="profile-rating-count">
                <img src="{{ base_path }}/images/icon-rating.svg" width="24" height="24" alt="Rating"> 34
            </span>
            <span class="profile-rating-total text-green">
                95%
            </span>
            <span class="profile-age">
                1 год 4 месяца на сайте
            </span>
        </div>

        {#<div class="panel">#}
        {#<header class="profile-masthead-header">#}
        {#<img src="/sample/vladuino.png" alt="" class="pull-right">#}
        {#<h2 class="h1">Магазин Vladuino </h2>#}
        {#<a href="#" class="inline-block-link"><i class="icon-24-mail"></i> Написать продавцу</a>#}
        {#<a href="#" class="inline-block-link"><i class="icon-24-goods"></i> 243 предложения в базе</a>#}
        {#<a href="#" class="inline-block-link"><i class="icon-24-site"></i> vladuino.wiweb.ru</a>#}
        {#</header>#}
        {#</div>#}

        <ul class="nav nav-pills">
            <li class="active"><a href="/companies/view">Объявления</a></li>
            <li><a href="/companies/view-contacts">Контакты</a></li>
            <li><a href="/companies/view-about">О компании</a></li>
        </ul>

        <div class="panel">
            <div class="panel-nav">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="nav-list">
                            <li><a href="#">Услуги<small>42</small></a></li>
                            <li><a href="#">Авто<small>42</small></a></li>
                            <li><a href="#">Одежда, обувь и аксессуары<small>42</small></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="nav-list">
                            <li><a href="#">Бытовая техника и электроника<small>42</small></a></li>
                            <li><a href="#">Недвижимость<small>42</small></a></li>
                            <li><a href="#">Строительство<small>42</small></a></li>
                        </ul>
                    </div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="nav-list">
                            <li><a href="#">Хобби и отдых<small>42</small></a></li>
                            <li><a href="#">Спорт<small>42</small></a></li>
                            <li><a href="#">Охота и рыбалка<small>42</small></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="nav-list">
                            <li><a href="#">Спецтехника<small>42</small></a></li>
                            <li><a href="#">Водная техника<small>42</small></a></li>
                            <li><a href="#">Бизнес<small>42</small></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <div class="products-preview-type visible-md-inline visible-lg-inline">
                <span data-preview-type="products-blocks row" class="active"><i class="icon-18-blocks"></i></span>
                <span data-preview-type="products-list"><i class="icon-18-list"></i></span>
            </div>
            <div class="products-search-data">Найдено <b>15 342 объявлений</b>.</div>
            <div class="products-sorting">
                <div>Сортиртировать:</div>
                <div class="dropdown">
                    <span role="button" class="dropdown-toggle" id="sort-by-menu" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true">
                        <strong>Новые сначала</strong> <span class="caret"></span>
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="sort-by-menu">
                        <li><a href=""><b>Новые сначала</b></a></li>
                        <li><a href="">Старые сначала</a></li>
                        <li><a href="">Недорогие сначала</a></li>
                        <li><a href="">Дорогие сначала</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="clearfix">
            <div class="aside-fluid">
                {% include './goods/_filters.twig' %}
            </div>
            <div class="content-fluid">
                <ul class="products-blocks row" data-products="preview">
                    {% set goods = [
                        {
                            thumb: '/sample/auto1.png',
                            title: 'Nissan Patrol 2015',
                            hot: true
                        },
                        {
                            thumb: '/sample/auto2.png',
                            title: 'Hyundai Accent 2015',
                            hot: true
                        },
                        {
                            thumb: '/sample/auto3.png',
                            title: 'Honda Insight 2010',
                            hot: false
                        },
                        {
                            thumb: '/sample/auto4.png',
                            title: 'Toyota Mr-2 2000',
                            hot: false
                        },
                        {
                            thumb: '/sample/auto5.png',
                            title: 'Toyota Prado 2012',
                            hot: false
                        },
                        {
                            thumb: '/sample/auto2.png',
                            title: 'Hyundai Accent 2015',
                            hot: false
                        },
                        {
                            thumb: '/sample/auto3.png',
                            title: 'Honda Insight 2010',
                            hot: false
                        },
                        {
                            thumb: '/sample/auto4.png',
                            title: 'Toyota Mr-2 2000',
                            hot: false
                        }
                    ] %}

                    {% for item in goods %}
                        <li class="product-item col-lg-3 col-md-4 col-sm-6{% if item.hot %} hot{% endif %}">
                            <div class="product-item-content">
                                <a href="#" class="thumbnail-wrap">
                                    <span class="thumbnail">
                                        <img src="{{ item.thumb }}" alt="">
                                    </span>
                                </a>
                                <h3 class="title">
                                    <a href="{{ loop.index }}">{{ item.title }}</a>
                                </h3>
                                <p class="desc">
                                    2.4, бензин
                                    <span></span>
                                    4wd
                                    <span></span>
                                    автомат
                                </p>
                                <div class="price"><b>2 500 000 руб.</b></div>
                                <div class="geolocation">Владивосток</div>
                                <div class="meta">
                                    <div class="text-icon-date">20.05.15</div>
                                    <div class="text-icon-view">453</div>
                                </div>
                                <div class="ribbon green">-20%</div>
                            </div>
                        </li>
                    {% endfor %}
                    <li class="col-xs-12">
                        {% include './includes/_pager.twig' %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
