@import (inline) "../../node_modules/owl.carousel/dist/assets/owl.carousel.css";

.owl-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;

  .owl-dot {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0 2px;
    border-radius: 100%;
    background-color: rgba(0,0,0,.25) !important;

    &.active {
      background-color: rgba(0,0,0,.5) !important;
    }
  }
}

.owl-nav .owl-prev,
.owl-nav .owl-next,
.owl-dot {
  cursor: pointer;
  user-select: none;
}

.owl-nav {
  & > * {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 32px;
    margin: auto 0;
    background-color: white !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);

    span {
      display: none;
    }
  }

  & > .owl-prev {
    left: -10px;
    background-image: @b64-owl-prev !important;

    @media (max-width: @screen-xs-max) {
      left: -6px;
    }
  }

  & > .owl-next {
    right: -10px;
    background-image: @b64-owl-next !important;

    @media (max-width: @screen-xs-max) {
      right: -6px;
    }
  }

  .promo-blocks & > * {
    top: -46px;
  }
}
