@import "../../node_modules/selectize.js/dist/less/selectize.bootstrap3";

@selectize-shadow-input: @input-box-shadow;

.selectize-control.single .selectize-input:after {
  right: 10px;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
  line-height: @line-height-base;
}