<div id="searchForm" class="search-panel">
    <form action="">
        <div class="search-panel-header">
            <a href="javascript:;" onclick="document.body.classList.remove('show-filters')" class="search-panel-close"><i class="icon-24-close"></i></a>
            Фильтры
        </div>
        <div class="search-options-group">
{#            {% include './goods/_manufacturers.twig' %}#}
            {% set manufacturers = [
                { name: 'Abarth', checked: false },
                { name: 'AC', checked: true },
                { name: 'Acura', checked: true },
                { name: 'Aixam', checked: false },
                { name: 'Alfa Romeo', checked: false },
                { name: 'Alpina', checked: false },
                { name: 'Alpine', checked: false },
                { name: 'AM General', checked: false },
                { name: 'Ariel', checked: false },
                { name: 'ARO', checked: false },
                { name: 'Baojun', checked: false },
                { name: 'Bentley', checked: false },
                { name: 'Bertone', checked: false },
                { name: 'Bisu', checked: false },
                { name: 'BMW', checked: true },
                { name: 'Borgward', checked: false },
                { name: 'Cadillac', checked: false },
                { name: 'Callaway', checked: false },
                { name: 'Carbodies', checked:  false },
                { name: 'Dacia', checked:  false },
                { name: 'Daewoo', checked: false },
                { name: 'Daihatsu', checked: false }
            ] %}

            <div class="search-option">
                <div class="search-option-header" data-toggle="collapse" data-target="#manufacturers" aria-expanded="false">Производитель
                </div>
                <div id="manufacturers" class="tree-select collapse in">
                    <div class="search-option-body">
                        <div class="switch switch-sm switch-exclude pb-10">
                            <input type="checkbox" id="switch-manufacturers-{{ filters_id }}">
                            <label for="switch-manufacturers-{{ filters_id }}" class="custom-control-label">
                                <span class="d-none shown-if-checked">Исключить выбранные</span>
                                <span class="d-inline hidden-if-checked">Включить выбранные</span>
                            </label>
                        </div>
                        <div class="tree-select-wrapper">
                            <div class="d-flex">
                                <div class="tree-select-combo">
                                    <ul class="chips-list">
                                        {% for item in manufacturers %}
                                            <li {% if not item.checked %} class="d-none"{% endif %}><span>{{ item.name }}</span><i></i></li>
                                        {% endfor %}
                                        {#                            <li class="more"><span>Еще 12...</span></li>#}
                                    </ul>
                                    <input type="text" placeholder="Найти..." class="tree-select-filter">
                                </div>
                                <div class="tree-select-collapse"></div>
                            </div>
                            <div class="checkboxes-list">
                                {% for item in manufacturers %}
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="manufacturer-{{ filters_id }}-{{ loop.index }}"{% if item.checked %} checked="checked"{% endif %}>
                                        <label for="manufacturer-{{ filters_id }}-{{ loop.index }}" class="custom-control-label">
                                            {{ item.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search-option">
                <div class="search-option-body help-container">
                    <div class="custom-checkbox">
                        <input type="checkbox" id="checkedPhotos">
                        <label for="checkedPhotos" class="custom-control-label">С проверенными фото</label>
                    </div>
                    <span class="icon-18-question help-badge" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" data-container="body" data-content="wiweb помогает продавцам правдиво представить свой товар. В списке товаров вы можете видеть объявление с меткой «Фото проверено». Так wiweb гарантирует пользователям  достоверное фото представленного на сайте, товара. По желанию продавца, его товар может лично сфотографировать менеджер wiweb."></span>
                </div>
            </div>
            <div class="search-option">
                <div class="search-option-body">
                    <div class="custom-checkbox">
                        <input type="checkbox" id="deliveryOn">
                        <label for="deliveryOn" class="custom-control-label">С доставкой из других городов</label>
                    </div>
                </div>
            </div>
            <div class="search-option">
                <div class="search-option-body">
                    <label for="testField" class="sr-only">Test field</label>
                    <input type="text" id="testField" class="form-control" placeholder="Test field">
                </div>
            </div>
            <div class="search-option">
                <div class="search-option-header" role="button" data-toggle="collapse" data-target="#optionCollapse1" aria-expanded="false">Цена в руб.</div>
                <div id="optionCollapse1" class="collapse in">
                    <div class="search-option-body">
                        <div class="row row-gutter-10">
                            <div class="col-xs-6">
                                <input type="text" name="" class="form-control" aria-label="Цена от" placeholder="От">
                            </div>
                            <div class="col-xs-6">
                                <input type="text" name="" class="form-control" aria-label="Цена до" placeholder="до">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search-option">
                <div class="search-option-header" data-toggle="collapse" data-target="#optionCollapse2" aria-expanded="false">Бренд</div>
                <div id="optionCollapse2" class="collapse in">
                    <div class="search-option-body overflowing">
                        {% set brands = [
                            'TOM TAILOR',
                            'Wrangler',
                            'Lee',
                            'PlayToday',
                            'SELA',
                            'Boboli',
                            'Lucky Child',
                            'Трон-плюс',
                            'Sugarelle',
                            'Puma',
                            'Chicco',
                            'Bell Bimbo',
                            'Olsen',
                            'Sweet Berry',
                            'Broadway',
                            'Button Blue',
                            'S`cool',
                            'Грация',
                            'NOVA TOUR',
                            'Silver Spoon',
                            'Keddo',
                            'Baci Lingerie',
                        ] %}
                        {% for item in brands %}
                            <div class="custom-checkbox mb-5">
                                <input type="checkbox" id="brand_{{ loop.index }}">
                                <label for="brand_{{ loop.index }}" class="custom-control-label">
                                    {{ item }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="search-option active">
                <div class="search-option-header" data-toggle="collapse" data-target="#optionCollapse3" aria-expanded="false">Наличие</div>
                <div id="optionCollapse3" class="collapse in">
                    <div class="search-option-body">
                        {% set available = [
                            'Все', 'В наличии', 'Под заказ', 'В пути'
                        ] %}
                        {% for item in available %}
                            <div class="custom-radio mb-5">
                                <input type="radio" id="available_{{ loop.index }}" name="available">
                                <label for="available_{{ loop.index }}" class="custom-control-label">{{item}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="search-option active">
                <div class="search-option-header" data-toggle="collapse" data-target="#optionCollapse4" aria-expanded="false">Состояние</div>
                <div id="optionCollapse4" class="collapse in">
                    <div class="search-option-body">
                        {% set condition = [
                            'Все', 'Новый', 'Подержанный (б/у)', 'Неисправный'
                        ] %}
                        {% for item in condition %}
                            <div class="custom-radio mb-5">
                                <input type="radio" id="condition_{{ loop.index }}" name="condition">
                                <label for="condition_{{ loop.index }}" class="custom-control-label">{{item}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="search-option">
                <div class="search-option-header" data-toggle="collapse" data-target="#optionCollapse5" aria-expanded="false">Дополнительно</div>
                <div id="optionCollapse5" class="collapse in">
                    <div class="search-option-body">
                        <div class="custom-checkbox mb-5">
                            <input type="checkbox" id="param_1">
                            <label for="param_1" class="custom-control-label">С фото</label>
                        </div>
                        <div class="custom-checkbox mb-5">
                            <input type="checkbox" id="param_2">
                            <label for="param_2" class="custom-control-label">От частных лиц</label>
                        </div>
                        <div class="custom-checkbox mb-5">
                            <input type="checkbox" id="param_3">
                            <label for="param_3" class="custom-control-label">От компаний</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-option-action">
                <button class="btn btn-primary btn-block">Найти</button>
            </div>
        </div>
    </form>
</div>