{% set manufacturers = [
    { name: 'Abarth', checked: false },
    { name: 'AC', checked: true },
    { name: 'Acura', checked: true },
    { name: 'Aixam', checked: false },
    { name: 'Alfa Romeo', checked: false },
    { name: 'Alpina', checked: false },
    { name: 'Alpine', checked: false },
    { name: 'AM General', checked: false },
    { name: 'Ariel', checked: false },
    { name: 'ARO', checked: false },
    { name: 'Baojun', checked: false },
    { name: 'Bentley', checked: false },
    { name: 'Bertone', checked: false },
    { name: 'Bisu', checked: false },
    { name: 'BMW', checked: true },
    { name: 'Borgward', checked: false },
    { name: 'Cadillac', checked: false },
    { name: 'Callaway', checked: false },
    { name: 'Carbodies', checked:  false },
    { name: 'Dacia', checked:  false },
    { name: 'Daewoo', checked: false },
    { name: 'Daihatsu', checked: false }
] %}

<div class="search-option">
    <div class="search-option-header" data-toggle="collapse" data-target="#manufacturers" aria-expanded="false">Производитель
    </div>
    <div id="manufacturers" class="tree-select collapse in">
        <div class="search-option-body">
            <div class="switch switch-sm switch-exclude pb-10">
                <input type="checkbox" id="switch-manufacturers">
                <label for="switch-manufacturers" class="custom-control-label">
                    <span class="d-none shown-if-checked">Исключить выбранные</span>
                    <span class="d-inline hidden-if-checked">Включить выбранные</span>
                </label>
            </div>
            <div class="tree-select-wrapper">
                <div class="d-flex">
                    <div class="tree-select-combo">
                        <ul class="chips-list">
                            {% for item in manufacturers %}
                                <li {% if not item.checked %} class="d-none"{% endif %}><span>{{ item.name }}</span><i></i></li>
                            {% endfor %}
{#                            <li class="more"><span>Еще 12...</span></li>#}
                        </ul>
                        <input type="text" placeholder="Найти..." class="tree-select-filter">
                    </div>
                    <div class="tree-select-collapse"></div>
                </div>
                <div class="checkboxes-list">
                    {% for item in manufacturers %}
                    <div class="custom-checkbox">
                        <input type="checkbox" id="manufacturer_{{ loop.index }}"{% if item.checked %} checked="checked"{% endif %}>
                        <label for="manufacturer_{{ loop.index }}" class="custom-control-label">
                            {{ item.name }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-option">
    <div class="search-option-header" data-toggle="collapse" data-target="#manufacturers2" aria-expanded="false">Производитель
    </div>
    <div id="manufacturers2" class="tree-select collapse in">
        <div class="search-option-body">
            <div class="switch switch-sm switch-exclude pb-10">
                <input type="checkbox" id="switch-manufacturers2">
                <label for="switch-manufacturers2" class="custom-control-label">
                    <span class="d-none shown-if-checked">Исключить выбранные</span>
                    <span class="d-inline hidden-if-checked">Включить выбранные</span>
                </label>
            </div>
            <div class="tree-select-wrapper">
                <div class="d-flex">
                    <div class="tree-select-combo">
                        <ul class="chips-list">
                            {% for item in manufacturers %}
                                <li {% if not item.checked %} class="d-none"{% endif %}><span>{{ item.name }}</span><i></i></li>
                            {% endfor %}
                            {#                            <li class="more"><span>Еще 12...</span></li>#}
                        </ul>
                        <input type="text" placeholder="Найти..." class="tree-select-filter">
                    </div>
                    <div class="tree-select-collapse"></div>
                </div>
                <div class="checkboxes-list">
                    {% for item in manufacturers %}
                        <div class="custom-checkbox">
                            <input type="checkbox" id="manufacturer2_{{ loop.index }}"{% if item.checked %} checked="checked"{% endif %}>
                            <label for="manufacturer2_{{ loop.index }}" class="custom-control-label">
                                {{ item.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>