<div class="search-options-group">
                    <div class="search-option forever-alone">
                        <div class="search-option-body help-container">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">С проверенными фото
                                </label>
                            </div>
                            <span class="icon-18-question help-badge" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" data-container="body" data-content="wiweb помогает продавцам правдиво представить свой товар. В списке товаров вы можете видеть объявление с меткой «Фото проверено». Так wiweb гарантирует пользователям  достоверное фото представленного на сайте, товара. По желанию продавца, его товар может лично сфотографировать менеджер wiweb."></span>
                        </div>
                    </div>
                    <div class="search-option forever-alone">
                        <div class="search-option-body">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">С доставкой из других городов
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="search-option range">
                        <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse1" aria-expanded="false">Цена, руб.</div>
                        <div id="optionCollapse1" class="collapse">
                            <div class="search-option-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label class="input-addon">
                                            <span class="prepend">от</span>
                                            <input type="text" name="" id="" placeholder="1200">
                                            <div class="form-control"></div>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label class="input-addon">
                                            <span class="prepend">до</span>
                                            <input type="text" name="" id="" placeholder="43000">
                                            <div class="form-control"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option">
                        <div class="search-option-header" data-toggle="collapse" data-target="#optionCollapse2" aria-expanded="false">Бренд</div>
                        <div id="optionCollapse2" class="collapse in">
                            <div class="search-option-body overflowing">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">TOM TAILOR
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Wrangler
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Lee
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">PlayToday
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">SELA
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Boboli
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Lucky Child
                                    </label>
                                </div>
                                <div class="checkbox shade">
                                    <label>
                                        <input type="checkbox" value="">Трон-плюс
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Sugarelle
                                    </label>
                                </div>
                                <div class="checkbox shade">
                                    <label>
                                        <input type="checkbox" value="">Puma
                                    </label>
                                </div>
                                <div class="checkbox shade">
                                    <label>
                                        <input type="checkbox" value="">Chicco
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Bell Bimbo
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Olsen
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Sweet Berry
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Broadway
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Button Blue
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">S'cool
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Грация
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">NOVA TOUR
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Silver Spoon
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Keddo
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Baci Lingerie
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Hatley
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Columbia
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Pepe Jeans
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Фреш Стайл
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Roxy
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Skechers
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Reima
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Freddy
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Comma
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Фэст
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Ням-Ням
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Rocawear
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">The North Face
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option active">
                        <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse3" aria-expanded="false">Наличие</div>
                        <div id="optionCollapse3" class="collapse">
                            <div class="search-option-body">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio2" value="">Все
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio2" checked value="">В наличии
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio2" value="">Под заказ
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio2" value="">В пути
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option active">
                        <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse4" aria-expanded="false">Состояние</div>
                        <div id="optionCollapse4" class="collapse">
                            <div class="search-option-body">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio1" value="">Все
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio1" checked value="">Новый
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio1" value="">Подержанный (б/у)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio1" value="">Неисправный
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option">
                        <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse5" aria-expanded="false">Дополнительно</div>
                        <div id="optionCollapse5" class="collapse">
                            <div class="search-option-body">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">С фото
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">От частных лиц
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">От компаний
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>