{% extends './_layout.twig' %}
{% block pagetitle %}<title>WIWEB - недвижимость, фильтры</title>{% endblock %}
{% block content %}
    <style>
        .realty-list-item {
            background: rgba(255, 198, 1, 0.1);
        }

        @media (min-width: 1200px) {
            .realty-list-item {
            }
        }

        .images-wrapper {
            background: rgba(59, 185, 193, 0.5);
        }

        .offer-wrapper {
            background: rgba(193, 172, 59, 0.1);
        }

        .pricing-wrapper {
            background: rgba(158, 53, 53, 0.5)
        }

        .details-wrapper {
            background: rgba(134, 193, 59, 0.5);
        }

        @media (min-width: 1200px) {
            .details-wrapper {
            }
        }
    </style>

    {% set offers = [
        {
            title: "1-комн. апартаменты, 100,21 м²",
            image: "",
            link: "/goods/appartment",
            district: "ЖК «The Book»",
            stage: "дом сдан",
            location: "Москва, ЦАО, р-н Арбат, м. Арбатская, улица Новый Арбат, 15",
            metro: "Арбатская",
            metro_line: "#FF3333",
            reachable: "(13 минут пешком)",
            seller: "ООО Интересненько",
            person: "#1912",
            price: "45 000 000 ₽",
            permeter: "449 057 ₽/м²",
            date: "15 июня",
            viewed: "453 просмотра",
            pin: "true",
            mark: "true",
            up: "false"
        },
        {
            title: "2-комн. квартира, 49,8 м²",
            image: "",
            link: "/goods/appartment",
            district: "ЖК «The Forest»",
            stage: "дом сдан",
            location: "Москва, ЦАО, р-н Арбат, м. Арбатская, улица Новый Арбат, 15",
            metro: "Арбатская",
            metro_line: "#FF3333",
            reachable: "(13 минут пешком)",
            seller: "ООО Интересненько",
            person: "",
            price: "29 254 400 ₽",
            permeter: "640 000 ₽/м²",
            date: "15 июня",
            viewed: "453 просмотра",
            pin: "true",
            mark: "true",
            up: "false"
        },
        {
            title: "1-комн. апартаменты, 66,8 м²",
            image: "",
            link: "/goods/appartment",
            district: "ЖК «River»",
            stage: "дом сдан",
            location: "Москва, ЦАО, р-н Арбат, м. Арбатская, улица Новый Арбат, 15",
            metro: "Ул. 1905 года",
            metro_line: "#930F7B",
            reachable: "(13 минут пешком)",
            seller: "person",
            person: "#1912",
            price: "49 000 000 ₽",
            permeter: "983 936 ₽/м²",
            date: "15 июня",
            viewed: "453 просмотра",
            pin: "true",
            mark: "false",
            up: "false"
        },
        {
            title: "1-комн. квартира, 45,71 м²",
            image: "",
            link: "/goods/appartment",
            district: "ЖК «Ура»",
            stage: "дом сдан",
            location: "Москва, ЦАО, р-н Арбат, м. Арбатская, улица Новый Арбат, 15",
            metro: "Арбатская",
            metro_line: "#930F7B",
            reachable: "(13 минут пешком)",
            seller: "person",
            person: "#1912",
            price: "41 148 800 ₽",
            permeter: "616 000 ₽/м²",
            date: "15 июня",
            viewed: "143 просмотра",
            pin: "true",
            mark: "false",
            up: "false"
        },
    ] %}

    {% set categories = [
        {
            title: "Квартиры",
            quantity : " 28 377",
            link: "/",
        },
        {
            title: "Коммерческая недвижимость",
            quantity : "2 469",
            link: "/",
        },
        {
            title: "Дома и дачи",
            quantity : "4 823",
            link: "/",
        },
        {
            title: "Земельные участки",
            quantity : "5 481",
            link: "/",
        },
        {
            title: "Гаражи и машиноместа",
            quantity : "115",
            link: "/",
        },
    ] %}

    {% set rooms = [
        {
            title: "1-комнатная",
            quantity : " 28 377",
            link: "/",
        },
        {
            title: "2-комнатная",
            quantity : "2 469",
            link: "/",
        },
        {
            title: "3-комнатная",
            quantity : "4 823",
            link: "/",
        },
        {
            title: "4-комнатная",
            quantity : "5 481",
            link: "/",
        },
        {
            title: "5 и более комнат",
            quantity : "115",
            link: "/",
        },
        {
            title: "Студия",
            quantity : "4 823",
            link: "/",
        },
        {
            title: "Гостинка",
            quantity : "5 481",
            link: "/",
        },
        {
            title: "Комната",
            quantity : "115",
            link: "/",
        },
    ] %}

    {% set prices = [
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        5, 15, 43, 52, 56, 59, 64, 45, 34, 23, 17, 14, 8,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0
    ] %}

    {% set mp = max(prices) %}
    {% set steps =  prices|length %}

    {% set range_startprice = 0 %}
    {% set range_endprice = 500000 %}
    {% set range_stepsize = ((range_startprice - range_endprice) / steps)|abs |round (1, 'floor') %}
    {#<div class="branding-100x320" style="background-image: url({{ base_path }}/sample/branding-tdp.jpg);">
        <div class="container">
            {% include './includes/_global-search.twig' %}

            <div class="branding-message">
                   <img src="{{ base_path }}/sample/logo_1454073884-80463.jpg" alt="ТД «Атвозапчасти»">
                <div class="my-10">
                    ТД «Атвозапчасти»<br>
                    У нас более 300 000 запчастей в наличии
                </div>
                <a href="" class="btn btn-outline-white btn-lg">Посмотреть</a>
            </div>
        </div>
    </div>#}


    <div class="container">
        {% include './includes/_global-search.twig' %}
        <ol class="breadcrumb">
            <li><a href="#">Все категории</a></li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="#">Недвижимость</a></li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="#">Продажа</a></li>
            <li class="active">Квартиры</li>
        </ol>


        <div class="realty-categories mb-20">
            {% for category in categories %}
                <div class="realty-category">
                    <div class="realty-category--title mr-5">
                        <a href="{{ category.link }}">
                            {{ category.title }}
                        </a>
                    </div>
                    <div class="realty-category--quantity">{{ category.quantity }}</div>
                </div>
            {% endfor %}
        </div>

        <h1>Купить недвижимость в Москве</h1>

        <div class="filters-wrapper">
            <ol class="filters-list">
                <li class="filter-list-button filter-list-button--mobile" data-filter="filters-all">Фильтры</li>
                <li class="filter-list-button" data-filter="filter-by-rooms">Кол-во комнат</li>
                <li class="filter-list-button">Тип жилья</li>
                <li class="filter-list-button">Метро</li>
                <li class="filter-list-button" data-filter="filter-by-price">Цена</li>
                <li class="filter-list-button">Дополнительно</li>
            </ol>

            <div class="filter-content-window">
                <div class="filters-content-list">
                    <div class="filter-by-rooms">
                        <div class="checkboxes-list mb-20">
                            {% for room in rooms %}
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="room-{{ loop.index }}">
                                    <label for="room-{{ loop.index }}" class="custom-control-label">
                                        {{ room.title }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <script>
                      console.log(documentquery.SelectorAll('[class=*"value"]'));
                    </script>
                    <div class="filter-by-price">
                        <div class="price-chart mt-30">
                            {% for price in prices %}
                                <div class="price-chart-bar" style="height: {{ 100 * price / mp }}%">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="price-handle">
                            {#                    <input type="range" min="{{ range_startprice }}" max="{{ range_endprice }}"#}
                            {#                           step="{{ range_stepsize }}" class="realty-range left-range">#}
                            {#                    <input type="range" min="{{ range_startprice }}" max="{{ range_endprice }}"#}
                            {#                           step="{{ range_stepsize }}" class="realty-range right-range">#}
                            <div class="price-handle--slider" style="left: 0"></div>
                            <div class="price-handle--slider" style="left: 100%"></div>

                        </div>
                        <div class="price-data mt-30">
                            <input type="text" id="price_min" class="form-control" name="minprice" value=""
                                   aria-label="От"
                                   placeholder="От {{ range_startprice }} ₽">
                            <input type="text" id="price_max" class="form-control" name="maxprice" value=""
                                   aria-label="До"
                                   placeholder="до {{ range_endprice }} ₽">
                        </div>
                    </div>
                </div>
            </div>

            <div class="map-switch-wrapper">
                <div class="switch switch-inverse">
                    <label class="label-prefix" for="map-switch">
                        Список
                    </label>
                    <input type="checkbox" id="map-switch" checked="">
                    <label for="map-switch" class="custom-control-label">
                        Карта
                    </label>
                </div>
            </div>
        </div>


        {#        <section class="my-20">#}
        {#            {% include './includes/_promo-blocks.twig' %}#}
        {#        </section>#}
        <div class="product-search-results mb-10">
            <div class="product-search-results--found">Найдено 1 200 объявлений</div>
            <div class="product-search-results--sortby">
                <svg class="icon-svg-24 fill-current-color mr-5 realty-list-item__metro-icon"
                     style="color: {{ offer.metro_line }}">
                    <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-sort"></use>
                </svg>
                По умолчанию
            </div>
            <div class="product-search-results--subscribe">
                <svg class="icon-svg-24 fill-current-color mr-5 realty-list-item__metro-icon"
                     style="color: {{ offer.metro_line }}">
                    <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-save-search"></use>
                </svg>
                Подписаться на поиск
            </div>
        </div>

        <ul class="realty-list">
            {% for offer in offers %}
                {% set offer_index = loop.index %}
                <li class="realty-list-item {% if offer.mark == 'true' %}marked{% endif %}">
                    {# 1 #}
                    <div class="images-wrapper">
                        <div class="realty-list-item__image"
                             style="background-image: url('{{ base_path }}/sample/realty/reatlty-1.png')"></div>
                    </div>
                    {# 2 #}
                    <div class="offer-wrapper">
                        <div class="realty-list-item__title"><a href="{{ offer.link }}">{{ offer.title }}</a></div>
                        <div>
                            <div class="realty-list-item__district">{{ offer.district }}</div>
                            <div class="realty-list-item__stage">{{ offer.stage }}</div>
                        </div>
                        <div class="realty-list-item__location">Москва, ЦАО, р-н Арбат, м. Арбатская, улица Новый Арбат,
                            15
                        </div>
                        <div>
                            <svg class="icon-svg-18 fill-current-color d-inline realty-list-item__metro-icon"
                                 style="color: {{ offer.metro_line }}">
                                <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-metro"></use>
                            </svg>
                            <div class="realty-list-item__metro">
                                {{ offer.metro }}
                            </div>
                            <div class="realty-list-item__reachable">{{ offer.reachable }}</div>
                        </div>
                    </div>
                    {# 3 #}
                    <div class="pricing-wrapper">
                        <div class="realty-list-item__price">{{ offer.price }}</div>
                        <div class="realty-list-item__permeter">{{ offer.permeter }}</div>
                    </div>
                    {# 4 #}
                    <div class="details-wrapper">
                        <div>ООО Интересненько</div>
                        <div>453 просмотра</div>
                        <svg class="icon-svg-24 fill-current-color d-inline"
                        ">
                        <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-mark"></use>
                        </svg>
                        <svg class="icon-svg-24 fill-current-color d-inline"
                        ">
                        <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-pin"></use>
                        </svg>
                    </div>
                </li>
            {% endfor %}
        </ul>


        {#            <div class="aside-fluid">#}
        {#                {% include './goods/_filters.twig' with {'filters_id': '1'} %}#}
        {#                {% include './includes/_aside-dadu.twig' %}#}
        {#            </div>#}

        <div class="container">
            <div class="row-flex row-gutter-10 align-items-center my-10">
                <div class="col-12 col-lg-auto small my-10">
                    Найдено <strong>39 166 автомобилей</strong>
                </div>

                <div class="col-6 col-lg-auto">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-default btn-block" data-toggle="dropdown">
                            <i class="icon-18-sorting"></i> Новые сначала
                        </button>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="">Новые сначала</a></li>
                            <li><a href="">Старые сначала</a></li>
                            <li><a href="">Недорогие сначала</a></li>
                            <li><a href="">Дорогие сначала</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-auto">
                    <button class="btn btn-sm btn-default btn-block"><i class="icon-18-subscribe"></i> Сохранить
                        поиск
                    </button>
                </div>
                <div class="col-12 mt-10 visible-sm visible-xs">
                    <button class="btn btn-sm btn-default btn-block"
                            onclick="document.body.classList.add('show-filters')">
                        Фильтры
                    </button>
                </div>
                <div class="col-auto ml-auto visible-md visible-lg">
                    <div class="btn-group">
                        <a href="" class="btn btn-sm btn-default">
                            <i class="icon-18-place"></i> На карте
                        </a>
                        <a href="" class="btn btn-sm btn-default btn-icon-only"><i class="icon-18-blocks"></i></a>
                        <a href="" class="btn btn-sm btn-default btn-icon-only active"><i class="icon-18-list"></i></a>
                    </div>
                </div>
            </div>


            <div class="pager-ajax hide">
                <div class="pager-ajax-title margin-xs">Страница №3</div>
                <a href="" class="btn btn-default">← Назад</a>
                <a href="" class="btn btn-default">На первую страницу</a>
            </div>


        </div>


        <section class="my-20">
            <h4 class="h3">Люди часто ищут во Владивостоке</h4>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <ul class="nav-list-simple">
                        <li>
                            <a href="">
                                Продажа однокомнатных квартир во Владивостоке
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Двушка во Владивостоке на Чуркине
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12">
                    <ul class="nav-list-simple">
                        <li>
                            <a href="">
                                Продажа однокомнатных квартир во Владивостоке
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Петруша во Владивостоке на БАМе
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12">
                    <ul class="nav-list-simple">
                        <li>
                            <a href="">
                                Продажа однокомнатных квартир во Владивостоке
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Любое жилье где угодно
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ base_path }}/src/es6/filters.js"></script>
{% endblock %}
