{% extends './_layout.twig' %}

{% block content %}
    {% include './includes/_global-search.twig' %}

    <h1><i class="icon-18-search-black"></i> «asdfasdf» во Владивостоке</h1>

    <hr>

    <div class="h2">По вашему запросу ничего не найдено.</div>
    <p>
        Попробуйте сократить запрос или задать его по-другому.<br>
        Проверьте строку поиска: <b>asdfasdf</b>.<br>
        Укажите другой город в <a href="#" class="text-red">настройках</a>.
    </p>
    <p>Возможно, вы имели ввиду: <a href="#" class="text-red">вапрвапр</a></p>
{% endblock %}
