{% extends './_layout.twig' %}

{% block content %}
    {% include './includes/_global-search.twig' %}

    <h1></h1>
    <div class="space-md"></div>
    <div class="panel">
        <div class="panel-header">
            <h1 class="h3 panel-title">«iphone» во Владивостоке, найдено в категориях:</h1>
        </div>
        <div class="panel-nav">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <ul class="nav-list">
                        <li><a href="#">Бытовая техника и электроника<small>231</small></a></li>
                        <li><a href="#">Всё для детей<small>327</small></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <ul class="nav-list">
                        <li><a href="#">Одежда, обувь и аксессуары<small>244</small></a></li>
                        <li><a href="#">Авто<small>4891</small></a></li>
                    </ul>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <ul class="nav-list">
                        <li><a href="#">Дом и быт<small>127</small></a></li>
                        <li><a href="#">Услуги<small>723</small></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <ul class="nav-list">
                        <li><a href="#">Спорт<small>308</small></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="products-preview-type visible-md-inline visible-lg-inline">
            <span data-preview-type="products-blocks row" class="active"><i class="icon-18-blocks"></i></span>
            <span data-preview-type="products-list"><i class="icon-18-list"></i></span>
        </div>
        <div class="products-search-data">Найдено <b>15 342 объявлений</b>.</div>
        <div class="products-sorting visible-md-inline visible-lg-inline">
            <div>Сортиртировать:</div>
            <div><a href="#">лучшее совпадение</a></div>
            <div class="active sort-up"><a href="#">по цене</a></div>
            <div><a href="#">по дате</a></div>
        </div>
        <select name="" id="" class="form-control visible-sm-block visible-xs-block">
            <option>лучшее совпадение</option>
            <option>по цене</option>
            <option>по дате</option>
        </select>
    </div>

    <hr>

    <div class="clearfix">
        <div class="aside-fluid">
            <div class="search-options-group">
                <div class="search-option forever-alone">
                    <div class="search-option-body help-container">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">С проверенными фото
                            </label>
                        </div>
                        <span class="icon-18-question help-badge" title="Проверенные фото" data-container="body" data-toggle="popover" data-placement="left" data-content="Объявления, которые были лично проверены агентами wiweb.ru"></span>
                    </div>
                </div>
                <div class="search-option forever-alone">
                    <div class="search-option-body help-container">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">С доставкой из других городов
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-option range">
                    <div class="search-option-header">Цена, руб.</div>
                    <div class="search-option-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label class="input-addon">
                                    <span class="prepend">от</span>
                                    <input type="text" name="" id="" placeholder="1200">
                                    <div class="form-control"></div>
                                </label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label class="input-addon">
                                    <span class="prepend">до</span>
                                    <input type="text" name="" id="" placeholder="43000">
                                    <div class="form-control"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-option active">
                    <div class="search-option-header help-container">
                        Наличие
                    </div>
                    <div class="search-option-body">
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio2" value="">Все
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio2" checked value="">В наличии
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio2" value="">Под заказ
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio2" value="">В пути
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-option active">
                    <div class="search-option-header">Состояние</div>
                    <div class="search-option-body">
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio1" value="">Все
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio1" checked value="">Новый
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio1" value="">Подержанный (б/у)
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio1" value="">Неисправный
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-option">
                    <div class="search-option-header">Дополнительно</div>
                    <div class="search-option-body">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">С фото
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">От частных лиц
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">От компаний
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-option">
                    <div class="search-option-action">
                        <button class="btn btn-default btn-block">Найти</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-fluid">
            <ul class="products-blocks row" data-products="preview">
                <li class="product-item hot col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto1.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#1">Nissan Patrol 2015</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>2 500 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                        <div class="ribbon green">-20%</div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto2.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#2">Hyundai Accent 2015</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>799 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto3.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#3">Honda Insight 2010</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>100 000 руб.</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto4.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#4">Toyota Mr-2 2000</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>349 999 руб.</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto5.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#5">Toyota Prado 2012</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>1 800 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto1.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#6">Nissan Patrol 2015</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>2 500 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto2.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#7">Hyundai Accent 2015</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>799 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto3.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#8">Honda Insight 2010</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>100 000 руб.</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto4.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#9">Toyota Mr-2 2000</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>349 999 руб.</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto5.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#10">Toyota Prado 2012</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>1 800 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto1.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#11">Nissan Patrol 2015</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>2 500 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto2.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#12">Hyundai Accent 2015</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>799 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto3.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#13">Honda Insight 2010</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>100 000 руб.</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto4.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#14">Toyota Mr-2 2000</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>349 999 руб.</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto5.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#15">Toyota Prado 2012</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>1 800 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto1.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#1">Nissan Patrol 2015</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>2 500 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto2.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#2">Hyundai Accent 2015</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>799 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto3.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#3">Honda Insight 2010</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>100 000 руб.</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto4.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#4">Toyota Mr-2 2000</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>349 999 руб.</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
                <li class="product-item col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto5.png" alt=""></span>
                        </a>
                        <h3 class="title"><a href="#5">Toyota Prado 2012</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>1 800 000 руб.</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="pagination">
                <li><a href="#"><i class="icon-18-arrow-l"></i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#"><i class="icon-18-arrow-r"></i></a></li>
            </ul>
        </div>
    </div>
{% endblock %}
