{% extends './_layout.twig' %}

{% block content %}
    {#<div class="branding-100x320" style="background-image: url({{ base_path }}/sample/branding-tdp.jpg);">
        <div class="container">
            {% include './includes/_global-search.twig' %}

            <div class="branding-message">
                <img src="{{ base_path }}/sample/logo_1454073884-80463.jpg" alt="ТД «Атвозапчасти»">
                <div class="my-10">
                    ТД «Атвозапчасти»<br>
                    У нас более 300 000 запчастей в наличии
                </div>
                <a href="" class="btn btn-outline-white btn-lg">Посмотреть</a>
            </div>
        </div>
    </div>#}

    <div class="container">
        {% include './includes/_global-search.twig' %}

        <a href="#" class="banner-about-maps-narrow my-20"><span>Товары на карте</span></a>

        <div class="panel">
            <nav class="breadcrumbs divider">
                <div class="home">
                    <button class="btn-hamburger collapsed" data-toggle="collapse" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul>
                    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="#" itemprop="url">
                            <span itemprop="title">Одежда и обувь</span>
                        </a>
                    </li>
                    <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <meta itemprop="url" content="#url">
                        <span itemprop="title">Для женщин</span>
                    </li>
                </ul>
            </nav>
            <div id="categories_current" class="collapse in">
                <div class="panel-nav">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="#">Верхняя одежда<small>1358</small></a></li>
                                <li><a href="#">Платья и юбки<small>327</small></a></li>
                                <li><a href="#">Брюки и джинсы<small>250</small></a></li>
                                <li><a href="#">Топы и блузы<small>160</small></a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="#">Купальники и нижнее белье<small>244</small></a></li>
                                <li><a href="#">Обувь<small>4891</small></a></li>
                                <li><a href="#">Головные уборы<small>31</small></a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                            </ul>
                        </div>

                        <div class="clearfix visible-sm-block"></div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="#">Для дома<small>127</small></a></li>
                                <li><a href="#">Для будущих мам<small>723</small></a></li>
                                <li><a href="#">Для спорта<small>25</small></a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="#">Всё для свадьбы<small>308</small></a></li>
                                <li><a href="#">Аксессуары<small>5620</small></a></li>
                                <li><a href="#">Услуги<small>6</small></a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-12">
                            <script>
                                function showAll() {
                                    var elems = this.closest('.panel-nav').querySelectorAll('.nav-list > li');

                                    elems.forEach(function(currentElem) {
                                        currentElem.style.display = '';
                                    });

                                    this.closest('.col-xs-12').remove();
                                }
                            </script>
                            <a href="javascript:;" onclick="showAll.apply(this);" class="btn btn-default mt-10">Показать все</a>
                        </div>
                    </div>
                </div>
            </div>
            {% include "./includes/_breadcrumbs-categories.twig" %}
        </div>

        <section class="my-20">
            {% include './includes/_promo-blocks.twig' %}
        </section>

        <h1>Женская одежда во Владивостоке</h1>

        <hr class="my-10">

        <div class="clearfix">
            <div class="aside-fluid">
                {% include './goods/_filters.twig' with {'filters_id': '1'} %}
                {% include './includes/_aside-dadu.twig' %}
            </div>

            <div class="content-fluid">
                <div class="row-flex row-gutter-10 align-items-center my-10">
                    <div class="col-12 col-lg-auto small my-10">
                        Найдено <strong>39 166 автомобилей</strong>
                    </div>

                    <div class="col-6 col-lg-auto">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-default btn-block" data-toggle="dropdown">
                                <i class="icon-18-sorting"></i> Новые сначала
                            </button>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="">Новые сначала</a></li>
                                <li><a href="">Старые сначала</a></li>
                                <li><a href="">Недорогие сначала</a></li>
                                <li><a href="">Дорогие сначала</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-lg-auto">
                        <button class="btn btn-sm btn-default btn-block"><i class="icon-18-subscribe"></i> Сохранить поиск</button>
                    </div>
                    <div class="col-12 mt-10 visible-sm visible-xs">
                        <button class="btn btn-sm btn-default btn-block" onclick="document.body.classList.add('show-filters')">
                            Фильтры
                        </button>
                    </div>
                    <div class="col-auto ml-auto visible-md visible-lg">
                        <div class="btn-group">
                            <a href="" class="btn btn-sm btn-default">
                                <i class="icon-18-place"></i> На карте
                            </a>
                            <a href="" class="btn btn-sm btn-default btn-icon-only"><i class="icon-18-blocks"></i></a>
                            <a href="" class="btn btn-sm btn-default btn-icon-only active"><i class="icon-18-list"></i></a>
                        </div>
                    </div>
                </div>
                {% set chips = {
                    id : 'tires',
                    default : [
                        { name: 'Nokian', link: '/goods/list#nokian' },
                        { name: 'Летние', link: '/goods/list#nokian' },
                        { name: 'Всесезонные', link: '/goods/list#nokian' },
                        { name: 'Легковые', link: '/goods/list#nokian' },
                        { name: 'Недорогие', link: '/goods/list#nokian' },
                    ],
                    tabs : [
                        {   name : 'Производители',
                            list : [
                            { name: 'Toyo', link: '/goods/list#nokian' },
                            { name: 'Bridgestone', link: '/goods/list#nokian' },
                            { name: 'Michelin', link: '/goods/list#nokian' },
                            { name: 'Hankook', link: '/goods/list#nokian' },
                            { name: 'Nokian', link: '/goods/list#nokian' },
                        ],
                        },
                        {   name : 'Сезоннность',
                            list : [
                            { name: 'Летние', link: '/goods/list#nokian' },
                            { name: 'Зимние', link: '/goods/list#nokian' },
                            { name: 'Зимние шипованные', link: '/goods/list#nokian' },
                            { name: 'Всесезонные', link: '/goods/list#nokian' },
                        ],
                        },
                        {   name : 'Диаметр',
                            list : [
                            { name: 'R22', link: '/goods/list#nokian' },
                            { name: 'R14', link: '/goods/list#nokian' },
                            { name: 'R15', link: '/goods/list#nokian' },
                        ],
                        },
                    ]
                } %}
                <nav class="chips mt-20">
                    <input type="checkbox" id="{{ chips.id }}-switcher" class="compact-tabs-switcher">
                    <div class="compact-tabs mx-10 mx-md-0">
                        <div class="compact-tabs-legend">Часто ищут:</div>
                        <ul role="tablist">
                        {% for tab in chips.tabs  %}
                            <li role="presentation"{% if loop.first %} class="active"{% endif %}>
                                <a href="#{{ chips.id }}-{{ loop.index }}" role="tab" data-toggle="tab">{{ tab.name }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>

                    {# Дефолтные чипсы #}

                    <div class="panel default flex-column flex-md-row align-items-start align-items-md-center">
                        <div class="compact-tabs-legend">Часто ищут:</div>
                        <ul class="chips-list">
                            {% for li in chips.default  %}
                                <li class="my-5"><a href="{{ li.link }}">{{ li.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <label for="{{ chips.id }}-switcher" class="pull-right">
                            Все запросы <span class="caret"></span>
                        </label>
                    </div>

                    {# Панели с чипсами по табам #}

                    {% for tab in chips.tabs  %}
                        <div class="panel tabbed {% if loop.first %} active{% endif %} flex-column flex-md-row align-items-start align-items-md-center"
                             id="{{ chips.id }}-{{ loop.index }}"
                             role="tabpanel">
                            <ul class="chips-list">
                                {% for li in tab.list  %}
                                    <li class="my-5"><a href="{{ li.link }}">{{ li.name }}</a></li>
                                {% endfor %}
                            </ul>
                            <label for="{{ chips.id }}-switcher" class="pull-right">
                                Все запросы <span class="caret"></span>
                            </label>
                        </div>
                    {% endfor %}
                </nav>
                <div class="pager-ajax hide">
                    <div class="pager-ajax-title margin-xs">Страница №3</div>
                    <a href="" class="btn btn-default">← Назад</a>
                    <a href="" class="btn btn-default">На первую страницу</a>
                </div>

                <ul class="products-list" data-products="preview">
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail">
                                    <img src="../../sample/img2.png" alt="">
                                    <span class="thumbnail-badges">
                                        <i class="icon-24-video"></i>
                                    </span>
                                </span>
                            </a>
                            <h3 class="title">
                                <span class="label label-info mr-10">Новое</span>
                                <a href="#2">Галстук-бабочки. Недорого. 790р. Доставка бесплатно</a>
                            </h3>
                            <p class="desc">Большой выбор моделей галстуков- бабочек ручной работы. Купите мужские, женские, детские галстуки бабочки на каждый день, и торжества! Подберите стильный аксессуар для любимых, в подарок...</p>
                            <div class="price"><b>799 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail">
                                    <img src="../../sample/img3.png" alt="">
                                    <span class="thumbnail-badges">
                                        <span class="label">Онлайн-показ</span>
                                    </span>
                                </span>
                            </a>
                            <h3 class="title"><a href="#3">Вечернее платье "Лори" размер 44 (цвет бирюза) Силуэт/Россия.</a></h3>
                            <p class="desc">По всем возникшим вопросам звонить по телефону в любое время.</p>
                            <div class="price"><b>10 000 ₽</b></div>
                            <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail">
                                    <img src="../../sample/img4.png" alt="">
                                    <span class="thumbnail-badges">
                                        <span class="label mr-5">Онлайн-показ</span>
                                        <i class="icon-24-video"></i>
                                    </span>
                                </span>
                            </a>
                            <h3 class="title"><a href="#4">Осенние ботильоны Monis 41 размера.</a></h3>
                            <p class="desc">Ботильоны коричневого цвета из натуральной кожи. Размер 41. Внутренний материал- байка. Состояние б/у http://www.kupivip.ru/spl/W12060672984 Могу выслать почтой.</p>
                            <div class="price"><b>3 499 ₽</b></div>
                            <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img5.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#5">Куртка-парка. Новая. </a></h3>
                            <p class="desc">Хорошего качества. Размер 42-44</p>
                            <div class="price"><b>1 800 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img1.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Куртки горнолыжные</a></h3>
                            <p class="desc">Горнолыжные куртки размеры с 38 по 64, мужские, женские по бросовой цене 2500 рублей, есть дополнительная микрофибра -отталкивает холодный воздух. Очень хорошего качества. Куртки горнолыжные размеры с 38 по 64 по цене 1300 ₽..</p>
                            <div class="price"><b>2 500 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img2.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#2">Галстук-бабочки. Недорого. 790р. Доставка бесплатно</a></h3>
                            <p class="desc">Большой выбор моделей галстуков- бабочек ручной работы. Купите мужские, женские, детские галстуки бабочки на каждый день, и торжества! Подберите стильный аксессуар для любимых, в подарок...</p>
                            <div class="price"><b>799 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img4.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#4">Осенние ботильоны Monis 41 размера.</a></h3>
                            <p class="desc">Ботильоны коричневого цвета из натуральной кожи. Размер 41. Внутренний материал- байка. Состояние б/у http://www.kupivip.ru/spl/W12060672984 Могу выслать почтой.</p>
                            <div class="price"><b>3 499 ₽</b></div>
                            <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img5.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#5">Куртка-парка. Новая. </a></h3>
                            <p class="desc">Хорошего качества. Размер 42-44</p>
                            <div class="price"><b>1 800 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img1.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Куртки горнолыжные</a></h3>
                            <p class="desc">Горнолыжные куртки размеры с 38 по 64, мужские, женские по бросовой цене 2500 рублей, есть дополнительная микрофибра -отталкивает холодный воздух. Очень хорошего качества. Куртки горнолыжные размеры с 38 по 64 по цене 1300 ₽..</p>
                            <div class="price"><b>2 500 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img2.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#2">Галстук-бабочки. Недорого. 790р. Доставка бесплатно</a></h3>
                            <p class="desc">Большой выбор моделей галстуков- бабочек ручной работы. Купите мужские, женские, детские галстуки бабочки на каждый день, и торжества! Подберите стильный аксессуар для любимых, в подарок...</p>
                            <div class="price"><b>799 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img4.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#4">Осенние ботильоны Monis 41 размера.</a></h3>
                            <p class="desc">Ботильоны коричневого цвета из натуральной кожи. Размер 41. Внутренний материал- байка. Состояние б/у http://www.kupivip.ru/spl/W12060672984 Могу выслать почтой.</p>
                            <div class="price"><b>3 499 ₽</b></div>
                            <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img5.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#5">Куртка-парка. Новая. </a></h3>
                            <p class="desc">Хорошего качества. Размер 42-44</p>
                            <div class="price"><b>1 800 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img1.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Куртки горнолыжные</a></h3>
                            <p class="desc">Горнолыжные куртки размеры с 38 по 64, мужские, женские по бросовой цене 2500 рублей, есть дополнительная микрофибра -отталкивает холодный воздух. Очень хорошего качества. Куртки горнолыжные размеры с 38 по 64 по цене 1300 ₽..</p>
                            <div class="price"><b>2 500 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img2.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#2">Галстук-бабочки. Недорого. 790р. Доставка бесплатно</a></h3>
                            <p class="desc">Большой выбор моделей галстуков- бабочек ручной работы. Купите мужские, женские, детские галстуки бабочки на каждый день, и торжества! Подберите стильный аксессуар для любимых, в подарок...</p>
                            <div class="price"><b>799 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img4.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#4">Осенние ботильоны Monis 41 размера.</a></h3>
                            <p class="desc">Ботильоны коричневого цвета из натуральной кожи. Размер 41. Внутренний материал- байка. Состояние б/у http://www.kupivip.ru/spl/W12060672984 Могу выслать почтой.</p>
                            <div class="price"><b>3 499 ₽</b></div>
                            <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img5.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#5">Куртка-парка. Новая. </a></h3>
                            <p class="desc">Хорошего качества. Размер 42-44</p>
                            <div class="price"><b>1 800 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img1.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Куртки горнолыжные</a></h3>
                            <p class="desc">Горнолыжные куртки размеры с 38 по 64, мужские, женские по бросовой цене 2500 рублей, есть дополнительная микрофибра -отталкивает холодный воздух. Очень хорошего качества. Куртки горнолыжные размеры с 38 по 64 по цене 1300 ₽..</p>
                            <div class="price"><b>2 500 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img2.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#2">Галстук-бабочки. Недорого. 790р. Доставка бесплатно</a></h3>
                            <p class="desc">Большой выбор моделей галстуков- бабочек ручной работы. Купите мужские, женские, детские галстуки бабочки на каждый день, и торжества! Подберите стильный аксессуар для любимых, в подарок...</p>
                            <div class="price"><b>799 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="pager-ajax">
                    <div class="pager-ajax-title">Страница №2</div>
                </div>

                <ul class="products-list" data-products="preview">
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../images/noimages.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Куртки горнолыжные</a></h3>
                            <p class="desc">Горнолыжные куртки размеры с 38 по 64, мужские, женские по бросовой цене 2500 рублей, есть дополнительная микрофибра -отталкивает холодный воздух. Очень хорошего качества. Куртки горнолыжные размеры с 38 по 64 по цене 1300 ₽..</p>
                            <div class="price"><b>2 500 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img2.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#2">Галстук-бабочки. Недорого. 790р. Доставка бесплатно</a></h3>
                            <p class="desc">Большой выбор моделей галстуков- бабочек ручной работы. Купите мужские, женские, детские галстуки бабочки на каждый день, и торжества! Подберите стильный аксессуар для любимых, в подарок...</p>
                            <div class="price"><b>799 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img3.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#3">Вечернее платье "Лори" размер 44 (цвет бирюза) Силуэт/Россия.</a></h3>
                            <p class="desc">По всем возникшим вопросам звонить по телефону в любое время.</p>
                            <div class="price"><b>10 000 ₽</b></div>
                            <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img4.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#4">Осенние ботильоны Monis 41 размера.</a></h3>
                            <p class="desc">Ботильоны коричневого цвета из натуральной кожи. Размер 41. Внутренний материал- байка. Состояние б/у http://www.kupivip.ru/spl/W12060672984 Могу выслать почтой.</p>
                            <div class="price"><b>3 499 ₽</b></div>
                            <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img5.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#5">Куртка-парка. Новая. </a></h3>
                            <p class="desc">Хорошего качества. Размер 42-44</p>
                            <div class="price"><b>1 800 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img1.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Куртки горнолыжные</a></h3>
                            <p class="desc">Горнолыжные куртки размеры с 38 по 64, мужские, женские по бросовой цене 2500 рублей, есть дополнительная микрофибра -отталкивает холодный воздух. Очень хорошего качества. Куртки горнолыжные размеры с 38 по 64 по цене 1300 ₽..</p>
                            <div class="price"><b>2 500 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img2.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#2">Галстук-бабочки. Недорого. 790р. Доставка бесплатно</a></h3>
                            <p class="desc">Большой выбор моделей галстуков- бабочек ручной работы. Купите мужские, женские, детские галстуки бабочки на каждый день, и торжества! Подберите стильный аксессуар для любимых, в подарок...</p>
                            <div class="price"><b>799 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img4.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#4">Осенние ботильоны Monis 41 размера.</a></h3>
                            <p class="desc">Ботильоны коричневого цвета из натуральной кожи. Размер 41. Внутренний материал- байка. Состояние б/у http://www.kupivip.ru/spl/W12060672984 Могу выслать почтой.</p>
                            <div class="price"><b>3 499 ₽</b></div>
                            <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img5.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#5">Куртка-парка. Новая. </a></h3>
                            <p class="desc">Хорошего качества. Размер 42-44</p>
                            <div class="price"><b>1 800 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img1.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Куртки горнолыжные</a></h3>
                            <p class="desc">Горнолыжные куртки размеры с 38 по 64, мужские, женские по бросовой цене 2500 рублей, есть дополнительная микрофибра -отталкивает холодный воздух. Очень хорошего качества. Куртки горнолыжные размеры с 38 по 64 по цене 1300 ₽..</p>
                            <div class="price"><b>2 500 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img2.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#2">Галстук-бабочки. Недорого. 790р. Доставка бесплатно</a></h3>
                            <p class="desc">Большой выбор моделей галстуков- бабочек ручной работы. Купите мужские, женские, детские галстуки бабочки на каждый день, и торжества! Подберите стильный аксессуар для любимых, в подарок...</p>
                            <div class="price"><b>799 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img4.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#4">Осенние ботильоны Monis 41 размера.</a></h3>
                            <p class="desc">Ботильоны коричневого цвета из натуральной кожи. Размер 41. Внутренний материал- байка. Состояние б/у http://www.kupivip.ru/spl/W12060672984 Могу выслать почтой.</p>
                            <div class="price"><b>3 499 ₽</b></div>
                            <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img5.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#5">Куртка-парка. Новая. </a></h3>
                            <p class="desc">Хорошего качества. Размер 42-44</p>
                            <div class="price"><b>1 800 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img1.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Куртки горнолыжные</a></h3>
                            <p class="desc">Горнолыжные куртки размеры с 38 по 64, мужские, женские по бросовой цене 2500 рублей, есть дополнительная микрофибра -отталкивает холодный воздух. Очень хорошего качества. Куртки горнолыжные размеры с 38 по 64 по цене 1300 ₽..</p>
                            <div class="price"><b>2 500 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img2.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#2">Галстук-бабочки. Недорого. 790р. Доставка бесплатно</a></h3>
                            <p class="desc">Большой выбор моделей галстуков- бабочек ручной работы. Купите мужские, женские, детские галстуки бабочки на каждый день, и торжества! Подберите стильный аксессуар для любимых, в подарок...</p>
                            <div class="price"><b>799 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img4.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#4">Осенние ботильоны Monis 41 размера.</a></h3>
                            <p class="desc">Ботильоны коричневого цвета из натуральной кожи. Размер 41. Внутренний материал- байка. Состояние б/у http://www.kupivip.ru/spl/W12060672984 Могу выслать почтой.</p>
                            <div class="price"><b>3 499 ₽</b></div>
                            <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img5.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#5">Куртка-парка. Новая. </a></h3>
                            <p class="desc">Хорошего качества. Размер 42-44</p>
                            <div class="price"><b>1 800 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img1.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#1">Куртки горнолыжные</a></h3>
                            <p class="desc">Горнолыжные куртки размеры с 38 по 64, мужские, женские по бросовой цене 2500 рублей, есть дополнительная микрофибра -отталкивает холодный воздух. Очень хорошего качества. Куртки горнолыжные размеры с 38 по 64 по цене 1300 ₽..</p>
                            <div class="price"><b>2 500 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item col-lg-3 col-md-4 col-sm-6">
                        <div class="product-item-content">
                            <a href="#" class="thumbnail-wrap">
                                <span class="thumbnail"><img src="../../sample/img2.png" alt=""></span>
                            </a>
                            <h3 class="title"><a href="#2">Галстук-бабочки. Недорого. 790р. Доставка бесплатно</a></h3>
                            <p class="desc">Большой выбор моделей галстуков- бабочек ручной работы. Купите мужские, женские, детские галстуки бабочки на каждый день, и торжества! Подберите стильный аксессуар для любимых, в подарок...</p>
                            <div class="price"><b>799 ₽</b></div>
                            <div class="geolocation">Владивосток</div>
                            <div class="meta">
                                <div class="text-icon-date">20.05.15</div>
                                <div class="text-icon-view">453</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        {% include './includes/_pager.twig' %}
                    </li>
                </ul>
            </div>
        </div>

        <section class="my-20">
            <h4 class="h3">Люди часто ищут во Владивостоке</h4>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <ul class="nav-list-simple">
                        <li>
                            <a href="">
                                Продажа однокомнатных квартир во Владивостоке
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Двушка во Владивостоке на Чуркине
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12">
                    <ul class="nav-list-simple">
                        <li>
                            <a href="">
                                Продажа однокомнатных квартир во Владивостоке
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Петруша во Владивостоке на БАМе
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12">
                    <ul class="nav-list-simple">
                        <li>
                            <a href="">
                                Продажа однокомнатных квартир во Владивостоке
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Любое жилье где угодно
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{#<script src="{{ base_path }}/src/es6/tree-select.js"></script>#}
{% block javascripts %}<script src="{{ base_path }}/dist/js/vendors/tree-select.js"></script>{% endblock %}
