{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        {% include './includes/_global-search.twig' %}

        <div class="panel">
            <nav class="breadcrumbs divider">
                <div class="home">
                    <button class="btn-hamburger collapsed" data-toggle="collapse" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul>
                    <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <meta itemprop="url" content="#url">
                        <span itemprop="title">Одежда и обувь</span>
                    </li>
                </ul>
            </nav>
            <div id="categories_current" class="collapse in">
                <div class="panel-nav">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="#">Верхняя одежда<small>1358</small></a></li>
                                <li><a href="#">Платья и юбки<small>327</small></a></li>
                                <li><a href="#">Брюки и джинсы<small>250</small></a></li>
                                <li><a href="#">Топы и блузы<small>160</small></a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="#">Купальники и нижнее белье<small>244</small></a></li>
                                <li><a href="#">Обувь<small>4891</small></a></li>
                                <li><a href="#">Головные уборы<small>31</small></a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                            </ul>
                        </div>

                        <div class="clearfix visible-sm-block"></div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="#">Для дома<small>127</small></a></li>
                                <li><a href="#">Для будущих мам<small>723</small></a></li>
                                <li><a href="#">Для спорта<small>25</small></a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="#">Всё для свадьбы<small>308</small></a></li>
                                <li><a href="#">Аксессуары<small>5620</small></a></li>
                                <li><a href="#">Услуги<small>6</small></a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                                <li style="display:none"><a href="">Item</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-12">
                            <script>
                                function showAll() {
                                    var elems = this.closest('.panel-nav').querySelectorAll('.nav-list > li');

                                    elems.forEach(function(currentElem) {
                                       currentElem.style.display = '';
                                    });

                                    this.closest('.col-xs-12').remove();
                                }
                            </script>
                            <a href="javascript:;" onclick="showAll.apply(this);" class="btn btn-default mt-10">Показать все</a>
                        </div>
                    </div>
                </div>
            </div>
            {% include './includes/_breadcrumbs-categories.twig' %}
        </div>

        <h1>Одежда и обувь</h1>

        <section class="my-20">
            {% include './includes/_promo-blocks.twig' %}
        </section>
    </div>
{% endblock %}
