{% extends './_layout.twig' %}

{% block map %}
    {% set offers = [
        {
            name: 'ContiWinterContact TS 790 215/55 R16 в Москве',
            price: '122 000 ₽',
            location: 'Москва',
            date: '12 авг 2020',
            images: ['auto1.png'],
            favorite: true
        },
        {
            name: 'Шины 235/45 R17 Dunlop SP Sport Maxx 97Y',
            price: '122 000 ₽',
            location: 'Москва',
            date: '12 авг 2020',
            images: ['auto1.png', 'auto2.png', 'auto3.png', 'auto4.png', 'auto5.png', 'auto2.png', 'auto3.png', 'auto4.png',],
            favorite: false
        },
        {
            name: 'Шины 195/70 R15 Gislaved Nord Frost Van 2 SD 104/102R 8PR',
            price: '122 000 ₽',
            location: 'Москва',
            date: '12 авг 2020',
            images: ['auto1.png', 'auto2.png', 'auto3.png', 'auto4.png', 'auto5.png'],
            favorite: true
        },
        {
            name: 'Шины 185/75 R16 Ovation Ecovision WV-06 104/102R ',
            price: '122 000 ₽',
            location: 'Москва',
            date: '12 авг 2020',
            images: ['auto1.png', 'auto2.png', 'auto3.png', ],
            favorite: false
        },
        {
            name: 'Шины 245/35 R20 Michelin Pilot Sport 4S 95Y XL MO',
            price: '122 000 ₽',
            location: 'Москва',
            date: '12 авг 2020',
            images: ['auto1.png', 'auto2.png'],
            favorite: false
        },
        {
            name: 'Шины 215/60 R17 Continental EcoContact 6 96H',
            price: '122 000 ₽',
            location: 'Москва',
            date: '12 авг 2020',
            images: ['auto1.png', 'auto2.png', 'auto3.png', 'auto4.png', 'auto5.png'],
            favorite: false
        },
        {
            name: 'Диски R16 4x100 6J ET37 D67,1 Tech-Line 1606 BD (Venti)',
            price: '122 000 ₽',
            location: 'Москва',
            date: '12 авг 2020',
            images: ['auto1.png', 'auto2.png', 'auto3.png', 'auto4.png', 'auto5.png'],
            favorite: false
        },
        {
            name: 'Диски R15 5x100 6J ET38 D57,1 iFree SU Блэк-Джек',
            price: '122 000 ₽',
            location: 'Москва',
            date: '12 авг 2020',
            images: ['auto1.png', 'auto2.png', 'auto3.png', 'auto4.png', 'auto5.png'],
            favorite: false
        },
        {
            name: 'Шины 225/55 R16 Sailun Atrezzo ZSR 99W XL',
            price: '122 000 ₽',
            location: 'Москва',
            date: '12 авг 2020',
            images: ['auto1.png', 'auto2.png', 'auto3.png', 'auto4.png', 'auto5.png'],
            favorite: false
        },
    ] %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5c97f320-f2e6-44a5-bcf1-2cdb774f01c8&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                controls: [],
                zoom: 12
            });
            myMap.controls.add('geolocationControl', {
                float: 'none',
                position: {
                    top: '16px',
                    right: '16px'
                }
            });
            myMap.controls.add('zoomControl', {
                float: 'none',
                position: {
                    top: '58px',
                    right: '16px'
                }
            });
        }
    </script>

    {# Map / Top Menu #}
    <div class="map-nav-category">
        <a class="category-back" href="#">
            <svg class="icon-svg-24">
                <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-arrow-back"></use>
            </svg>
        </a>
        <div class="category-name map-nav-title">
            Автозапчасти
        </div>
        <a class="category-dropdown" href="#modal">
            <svg class="icon-svg-24">
                <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-kebab"></use>
            </svg>
        </a>
    </div>

    {# Map / Bottom menu #}
    <div class="map-nav-offer">
        <a class="category-back" href="#">
            <svg class="icon-svg-24">
                <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-burger"></use>
            </svg>
        </a>
        <div class="offers-count map-nav-title">
            Всего 24 предложения
        </div>
    </div>



    <div class="map-wrapper active">
        <div id="map" class="map-view" style="width: 100%; height: 100%">
        </div>

        {# Map / Close button #}
        <a href="{{ base_path }}/goods/list" class="map-nav-close btn btn-danger btn-sm">Закрыть карту</a>

        {# Map / Popup #}
        <div class="map-drawer expanded">
            <div class="map-drawer-toggle">
                <svg class="icon-svg-24">
                    <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-expand-vertical"></use>
                </svg>
            </div>
            <div class="map-drawer-shadow"></div>
            <div class="offers-wrap">
                <div class="offers-list">
                    {% for offer in offers %}
                        {% set offer_index = loop.index %}
                        <div class="offer">
                            <div class="offer-header media">
                                <div class="offer-header-name media-body media-middle">{{ offer.name }}</div>
                                <div class="offer-header-price media-right media-middle">{{ offer.price }}</div>
                            </div>
                            <div class="offer-body d-flex">
                                <div class="offer-body-images">
                                    <div class="tiny-slider">
                                        <div class="tiny-slider-wrapper" >
                                            <div class="tiny-slider-scrollable-layer">
                                                {% for image in offer.images %}
                                                    <div class="tiny-slider-image" data-fancybox="{{ offer_index }}">
                                                        <img src="{{ base_path }}/sample/{{ image }}" alt=" ">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="tiny-slider-left">
                                            <svg class="icon-svg-24">
                                                <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-expand-vertical"></use>
                                            </svg>
                                        </div>
                                        <div class="tiny-slider-right">
                                            <svg class="icon-svg-24">
                                                <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-expand-vertical"></use>
                                            </svg>
                                        </div>
                                    </div>

                                </div>
                                <div class="offer-body-favorites">
                                    <svg class="icon-svg-24">
                                        <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-favorites{% if offer.favorite %}-in{% endif %}"></use>
                                    </svg>
                                </div>
                            </div>


                            <div class="offer-footer media">
                                <div class="offer-footer-location media-body">{{ offer.location }}</div>
                                <div class="offer-footer-date media-right media-middle">{{ offer.date }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="map-popup hidden">
            <div class="map-popup-fog masked"></div>
            <div class="map-popup-balloon masked">
                <div class="balloon-header">
                    <div class="compact-tabs mx-10 mx-md-0">
                        <ul role="tablist">
                            <li role="presentation" class="active">
                                <a href="#_filters" role="tab" data-toggle="tab">Фильтры</a>
                            </li>
                            <li role="presentation">
                                <a href="#_categories" role="tab" data-toggle="tab">Категории</a>
                            </li>
                        </ul>
                    </div>
                    <div class="map-popup-balloon-close">
                        <svg class="icon-svg-24">
                            <use xlink:href="{{ base_path }}/images/sprite/svg/sprite.svg#icon-close"></use>
                        </svg>
                    </div>
                </div>
                <div class="balloon-body tabbed contain-filters active" id="_filters" role="tabpanel">
                    <div  class="filters">
                        {% include './goods/_filters.twig' with {'filters_id': '1'} %}
                    </div>
                </div>
                <div class="balloon-body tabbed" id="_categories" role="tabpanel">
                    <div class="categories">
                        <nav class="map-nav">
                            <a href="#">Квартиры</a>
                            <a href="#">Коммерческая недвижимость</a>
                            <a href="#">Дома и дачи</a>
                            <a href="#">Земельные участки</a>
                            <a href="#">Гаражи и машиноместа</a>
                            <a href="#">Квартиры</a>
                            <a href="#">Коммерческая недвижимость</a>
                            <a href="#">Дома и дачи</a>
                            <a href="#">Земельные участки</a>
                            <a href="#">Гаражи и машиноместа</a>
                            <a href="#">Квартиры</a>
                            <a href="#">Коммерческая недвижимость</a>
                            <a href="#">Дома и дачи</a>
                            <a href="#">Земельные участки</a>
                            <a href="#">Гаражи и машиноместа</a>
                        </nav>
                    </div>
                </div>
                <div class="balloon-footer">
                    <button class="btn btn-primary btn-sm btn-block">Найти</button>
                </div>
            </div>

        </div>

        <div class="map-fullscreen-toggle" role="button" onclick="document.body.classList.toggle('map-fullscreen')"></div>
{#        <div class="map-results-data error">#}
{#            Ошибка загрузки, обновите страницу#}
{#        </div>#}
{#        <div class="map-results-data">#}
{#            Найдено 1290 объявлений#}
{#            <span class="preloader-24 hide"></span>#}
{#        </div>#}
{#        <a href="" class="map-subscribe">#}
{#            <i class="icon-18-mail"></i> Подписаться#}
{#        </a>#}
        <div class="map-selected-items">
            <h2 class="address">
                Москва, Верхняя Первомайская улица, 24/17
                <span class="icon-24-close"></span>
            </h2>
            <ul class="products-blocks">
                <li class="product-item hot">
                    <div class="product-item-content">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <a href="#" class="thumbnail-wrap">
                                        <span class="thumbnail"><img src="../../sample/auto1.png" alt=""></span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#" class="thumbnail-wrap">
                                        <span class="thumbnail"><img src="../../sample/auto2.png" alt=""></span>
                                    </a>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span>
                                        <span class="sr-only">Previous</span>
                                    </span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span>
                                        <span class="sr-only">Next</span>
                                    </span>
                            </a>
                        </div>
                        <a href="#" class="to-favorites active">
                            <i class="icon-24-favorite"></i>
                        </a>
                        <h3 class="title">
                            <a href="#1">Nissan Patrol 2015</a>
                        </h3>
                        <ul class="desc">
                            <li>2.4, бензин</li>
                            <li>4wd</li>
                            <li>автомат</li>
                        </ul>
                        <div class="price"><s>3 000 000 ₽</s> <b>2 500 000 ₽</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                        <div class="ribbon green">-20%</div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto2.png" alt=""></span>
                        </a>
                        <a href="#" class="to-favorites">
                            <i class="icon-24-favorite"></i>
                        </a>
                        <h3 class="title"><a href="#2">Hyundai Accent 2015</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>799 000 ₽</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                            <div class="text-icon-android"></div>
                        </div>
                        <div class="ribbon yellow">Фото проверено</div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto3.png" alt=""></span>
                        </a>
                        <a href="#" class="to-favorites">
                            <i class="icon-24-favorite"></i>
                        </a>
                        <h3 class="title"><a href="#3">Honda Insight 2010</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>100 000 ₽</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                            <span class="text-icon-ios"></span>
                        </div>
                        <div class="ribbon green">-20%</div>
                        <div class="ribbon yellow">Фото проверено</div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto4.png" alt=""></span>
                        </a>
                        <a href="#" class="to-favorites">
                            <i class="icon-24-favorite"></i>
                        </a>
                        <h3 class="title"><a href="#4">Toyota Mr-2 2000</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>349 999 ₽</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="pager-ajax">
                <div class="preloader-24"></div>
            </div>
            <div class="pager-ajax">
                <div class="pager-ajax-error">Что-то пошло не так,<br>попробуйте еще раз</div>
                <a href="" class="btn btn-default">Показать еще</a>
                <div class="preloader-24 hide"></div>
            </div>
            <div class="pager-ajax">
                <div class="pager-ajax-error">Что-то пошло не так,<br>попробуйте еще раз</div>
                <a href="" class="btn btn-default">Обновить</a>
                <div class="preloader-24 hide"></div>
            </div>
        </div>
        <div class="map-components">
            <div class="map-component map-search">
                <form action="" class="">
                    <label for="search" class="sr-only">Поиск по названию</label>
                    <input type="text" id="search" class="form-control" placeholder="Поиск...">
                    <button><i class="icon-24-search-white"></i></button>
                </form>
            </div>
            <div class="map-component">
                <div class="map-header">
                    <div>
                        <a href="" class="back">Все категории</a>
                    </div>
                    <h1>Недвижимость</h1>
                    <!--<div class="count">найдено 1290 объявлений</div>-->
                </div>
                <nav class="map-nav">
                    <a href="">Квартиры</a>
                    <a href="">Коммерческая недвижимость</a>
                    <a href="">Дома и дачи</a>
                    <a href="">Земельные участки</a>
                    <a href="">Гаражи и машиноместа</a>
                </nav>
            </div>
            <div class="map-component map-search-options">
                {% include './goods/_filters.twig' with {'filters_id': '2'} %}
                <div class="search-action">
                    <button class="btn btn-lg btn-primary btn-block">Найти</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{#<script src="{{ base_path }}/src/es6/tree-select.js"></script>#}
{% block javascripts %}
    <script src="{{ base_path }}/dist/js/vendors/tree-select.js"></script>
    <script src="{{ base_path }}/src/es6/mobile-map.js"></script>
{% endblock %}
