{% extends './_layout.twig' %}

{% block map %}
    <div class="map-wrapper active">
        <div class="map-view" style="background-image:url(sample/map.png);"></div>
        <div class="map-fullscreen-toggle" role="button" onclick="document.body.classList.toggle('map-fullscreen')"></div>
        <div class="map-results-data error">
            Ошибка загрузки, обновите страницу
        </div>
        <div class="map-results-data">
            Найдено 1290 объявлений
            <span class="preloader-24 hide"></span>
        </div>
        <a href="" class="map-subscribe">
            <i class="icon-18-mail"></i> Подписаться
        </a>
        <div class="map-selected-items">
            <h2 class="address">
                Москва, Верхняя Первомайская улица, 24/17
                <span class="icon-24-close"></span>
            </h2>
            <ul class="products-blocks">
                <li class="product-item hot">
                    <div class="product-item-content">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <a href="#" class="thumbnail-wrap">
                                        <span class="thumbnail"><img src="../../sample/auto1.png" alt=""></span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#" class="thumbnail-wrap">
                                        <span class="thumbnail"><img src="../../sample/auto2.png" alt=""></span>
                                    </a>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span>
                                        <span class="sr-only">Previous</span>
                                    </span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span>
                                        <span class="sr-only">Next</span>
                                    </span>
                            </a>
                        </div>
                        <a href="#" class="to-favorites active">
                            <i class="icon-24-favorite"></i>
                        </a>
                        <h3 class="title">
                            <a href="#1">Nissan Patrol 2015</a>
                        </h3>
                        <ul class="desc">
                            <li>2.4, бензин</li>
                            <li>4wd</li>
                            <li>автомат</li>
                        </ul>
                        <div class="price"><s>3 000 000 ₽</s> <b>2 500 000 ₽</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                        <div class="ribbon green">-20%</div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto2.png" alt=""></span>
                        </a>
                        <a href="#" class="to-favorites">
                            <i class="icon-24-favorite"></i>
                        </a>
                        <h3 class="title"><a href="#2">Hyundai Accent 2015</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>799 000 ₽</b></div>
                        <div class="geolocation">Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                            <div class="text-icon-android"></div>
                        </div>
                        <div class="ribbon yellow">Фото проверено</div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto3.png" alt=""></span>
                        </a>
                        <a href="#" class="to-favorites">
                            <i class="icon-24-favorite"></i>
                        </a>
                        <h3 class="title"><a href="#3">Honda Insight 2010</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>100 000 ₽</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                            <span class="text-icon-ios"></span>
                        </div>
                        <div class="ribbon green">-20%</div>
                        <div class="ribbon yellow">Фото проверено</div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-item-content">
                        <a href="#" class="thumbnail-wrap">
                            <span class="thumbnail"><img src="../../sample/auto4.png" alt=""></span>
                        </a>
                        <a href="#" class="to-favorites">
                            <i class="icon-24-favorite"></i>
                        </a>
                        <h3 class="title"><a href="#4">Toyota Mr-2 2000</a></h3>
                        <p class="desc">
                            2.4, бензин
                            <span></span>
                            4wd
                            <span></span>
                            автомат
                        </p>
                        <div class="price"><b>349 999 ₽</b></div>
                        <div class="geolocation"><i class="icon-18-company"></i> ТД Интерес – Владивосток</div>
                        <div class="meta">
                            <div class="text-icon-date">20.05.15</div>
                            <div class="text-icon-view">453</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="pager-ajax">
                <div class="preloader-24"></div>
            </div>
            <div class="pager-ajax">
                <div class="pager-ajax-error">Что-то пошло не так,<br>попробуйте еще раз</div>
                <a href="" class="btn btn-default">Показать еще</a>
                <div class="preloader-24 hide"></div>
            </div>
            <div class="pager-ajax">
                <div class="pager-ajax-error">Что-то пошло не так,<br>попробуйте еще раз</div>
                <a href="" class="btn btn-default">Обновить</a>
                <div class="preloader-24 hide"></div>
            </div>
        </div>
        <div class="map-components">
            <div class="map-component map-search">
                <form action="" class="">
                    <label for="search" class="sr-only">Поиск по названию</label>
                    <input type="text" id="search" class="form-control" placeholder="Поиск...">
                    <button><i class="icon-24-search-white"></i></button>
                </form>
            </div>
            <div class="map-component">
                <div class="map-header">
                    <div>
                        <a href="" class="back">Все категории</a>
                    </div>
                    <h1>Недвижимость</h1>
                    <!--<div class="count">найдено 1290 объявлений</div>-->
                </div>
                <nav class="map-nav">
                    <a href="">Квартиры</a>
                    <a href="">Коммерческая недвижимость</a>
                    <a href="">Дома и дачи</a>
                    <a href="">Земельные участки</a>
                    <a href="">Гаражи и машиноместа</a>
                </nav>
            </div>
            <div class="map-component map-search-options">
                <div class="search-options-group">
                    <div class="search-option forever-alone">
                        <div class="search-option-body help-container">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">С проверенными фото
                                </label>
                            </div>
                            <span class="icon-18-question help-badge" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" data-container="body" data-content="wiweb помогает продавцам правдиво представить свой товар. В списке товаров вы можете видеть объявление с меткой «Фото проверено». Так wiweb гарантирует пользователям  достоверное фото представленного на сайте, товара. По желанию продавца, его товар может лично сфотографировать менеджер wiweb."></span>
                        </div>
                    </div>
                    <div class="search-option forever-alone">
                        <div class="search-option-body">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">С доставкой из других городов
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="search-option range">
                        <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse1" aria-expanded="false">Цена, руб.</div>
                        <div id="optionCollapse1" class="collapse">
                            <div class="search-option-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label class="input-addon">
                                            <span class="prepend">от</span>
                                            <input type="text" name="" id="" placeholder="1200">
                                            <div class="form-control"></div>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label class="input-addon">
                                            <span class="prepend">до</span>
                                            <input type="text" name="" id="" placeholder="43000">
                                            <div class="form-control"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option">
                        <div class="search-option-header" data-toggle="collapse" data-target="#optionCollapse2" aria-expanded="false">Бренд</div>
                        <div id="optionCollapse2" class="collapse in">
                            <div class="search-option-body overflowing">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">TOM TAILOR
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Wrangler
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Lee
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">PlayToday
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">SELA
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Boboli
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Lucky Child
                                    </label>
                                </div>
                                <div class="checkbox shade">
                                    <label>
                                        <input type="checkbox" value="">Трон-плюс
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Sugarelle
                                    </label>
                                </div>
                                <div class="checkbox shade">
                                    <label>
                                        <input type="checkbox" value="">Puma
                                    </label>
                                </div>
                                <div class="checkbox shade">
                                    <label>
                                        <input type="checkbox" value="">Chicco
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Bell Bimbo
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Olsen
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Sweet Berry
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Broadway
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Button Blue
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">S'cool
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Грация
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">NOVA TOUR
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Silver Spoon
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Keddo
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Baci Lingerie
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Hatley
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Columbia
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Pepe Jeans
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Фреш Стайл
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Roxy
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Skechers
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Reima
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Freddy
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Comma
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Фэст
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Ням-Ням
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Rocawear
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">The North Face
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option active">
                        <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse3" aria-expanded="false">Наличие</div>
                        <div id="optionCollapse3" class="collapse">
                            <div class="search-option-body">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio2" value="">Все
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio2" checked value="">В наличии
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio2" value="">Под заказ
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio2" value="">В пути
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option active">
                        <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse4" aria-expanded="false">Состояние</div>
                        <div id="optionCollapse4" class="collapse">
                            <div class="search-option-body">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio1" value="">Все
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio1" checked value="">Новый
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio1" value="">Подержанный (б/у)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="radio1" value="">Неисправный
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-option">
                        <div class="search-option-header collapsed" data-toggle="collapse" data-target="#optionCollapse5" aria-expanded="false">Дополнительно</div>
                        <div id="optionCollapse5" class="collapse">
                            <div class="search-option-body">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">С фото
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">От частных лиц
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">От компаний
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-action">
                    <button class="btn btn-lg btn-primary btn-block">Найти</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
