{% extends './_layout.twig' %}

{% block content %}
    {% include './includes/_global-search.twig' %}

    <div class="panel">
        <nav class="breadcrumbs">
            <div class="home">
                <button class="btn-hamburger collapsed" data-toggle="categories">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Электроника</span>
                    </a>
                </li>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Телевизоры</span>
                    </a>
                </li>
                <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <meta itemprop="url" content="#url">
                    <span itemprop="title">Объявление #e-90342</span>
                </li>
            </ul>
        </nav>
        <div id="categories" class="collapse">
            <div class="panel-nav">
                <div class="row">
                    <ul class="nav-categories col-md-6 col-sm-6">
                        <li>
                            <a href="#" class="item"><i class="icon-cat-uslugi"></i>Услуги</a>
                            <div class="nav-subcategory">
                                <a href="#">образование</a>
                                <a href="#">фото и видео</a>
                                <a href="#">организация праздников</a>
                                <a href="#">выкуп авто</a>
                                <a href="#">юридические услуги</a>
                                <a href="#">еще...</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-auto"></i>Авто</a>
                            <div class="nav-subcategory">
                                <a href="#">автомобили</a>
                                <a href="#">автозапчасти</a>
                                <a href="#">шины и диски</a>
                                <a href="#">аксессуары</a>
                                <a href="#">тюнинг и  GT</a>
                                <a href="#">автозвук</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-parts"></i>Запчасти</a>
                            <div class="nav-subcategory">
                                <a href="#">автозапчасти</a>
                                <a href="#">мотозапчасти</a>
                                <a href="#">для водной техники</a>
                                <a href="#">для спецтехники</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-clothes"></i>Одежда, обувь, аксессуары</a>
                            <div class="nav-subcategory">
                                <a href="#">для женщин</a>
                                <a href="#">для мужчин</a>
                                <a href="#">для детей</a>
                                <a href="#">очки и аксессуары</a>
                                <a href="#">спортивная одежда</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-children"></i>Всё для детей</a>
                            <div class="nav-subcategory">
                                <a href="#">коляски</a>
                                <a href="#">качели, ходунки</a>
                                <a href="#">подгузники</a>
                                <a href="#">питание</a>
                                <a href="#">мебель</a>
                                <a href="#">детские автокресла</a>
                                <a href="#">игрушки</a>
                                <a href="#">еще…</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-nedvizhimost"></i>Недвижимость</a>
                            <div class="nav-subcategory">
                                <a href="#">аренда</a>
                                <a href="#">продажа</a>
                                <a href="#">обмен</a>
                                <a href="#">ипотека</a>
                                <a href="#">услуги</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-dom_i_bit"></i>Дом и дача</a>
                            <div class="nav-subcategory">
                                <a href="#">мебель</a>
                                <a href="#">текстиль</a>
                                <a href="#">интерьер</a>
                                <a href="#">освещение</a>
                                <a href="#">растения</a>
                                <a href="#">все для сада</a>
                                <a href="#">все для бани</a>
                                <a href="#">услуги</a>
                                <a href="#">еще…</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-stroitelstvo_i_remont"></i>Строительство</a>
                            <div class="nav-subcategory">
                                <a href="#">окна и балконы</a>
                                <a href="#">двери и перегородки</a>
                                <a href="#">потолки</a>
                                <a href="#">сантехника</a>
                                <a href="#">электрика</a>
                                <a href="#">отопление</a>
                                <a href="#">услуги</a>
                                <a href="#">еще...</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-rabota"></i>Работа</a>
                            <div class="nav-subcategory">
                                <a href="#">для женщин</a>
                                <a href="#">для мужчин</a>
                                <a href="#">для детей</a>
                                <a href="#">для стариков</a>
                                <a href="#">для животных</a>
                                <a href="#">услуги</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-spec-tehnika"></i>Спецтехника</a>
                            <div class="nav-subcategory">
                                <a href="#">автобусы</a>
                                <a href="#">краны</a>
                                <a href="#">экскаваторы</a>
                                <a href="#">грузовики</a>
                                <a href="#">прицепы</a>
                                <a href="#">садово-парковая техника</a>
                                <a href="#">услуги</a>
                                <a href="#">еще...</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-vodnaya_technika"></i>Водная техника</a>
                            <div class="nav-subcategory">
                                <a href="#">автобусы</a>
                                <a href="#">краны</a>
                                <a href="#">экскаваторы</a>
                                <a href="#">грузовики</a>
                                <a href="#">прицепы</a>
                                <a href="#">садово-парковая техника</a>
                                <a href="#">услуги</a>
                                <a href="#">еще...</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-moto"></i>Мототехника</a>
                            <div class="nav-subcategory">
                                <a href="#">автобусы</a>
                                <a href="#">краны</a>
                                <a href="#">экскаваторы</a>
                                <a href="#">грузовики</a>
                                <a href="#">прицепы</a>
                                <a href="#">садово-парковая техника</a>
                                <a href="#">услуги</a>
                                <a href="#">еще...</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav-categories col-md-6 col-sm-6">
                        <li>
                            <a href="#" class="item"><i class="icon-cat-technika"></i>Электроника и бытовая техника</a>
                            <div class="nav-subcategory">
                                <a href="#">теле, аудио, видео</a>
                                <a href="#">компьютеры и комплектующие</a>
                                <a href="#">смартфоны</a>
                                <a href="#">планшеты</a>
                                <a href="#">холодильники</a>
                                <a href="#">еще...</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-gastronom"></i>Гастроном</a>
                            <div class="nav-subcategory">
                                <a href="#">рыба, морепродукты</a>
                                <a href="#">мясо, мясные изделия</a>
                                <a href="#">фермерские, экопродукты</a>
                                <a href="#">безалкогольные напитки</a>
                                <a href="#">еще…</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-gifts"></i>Подарки, праздники</a>
                            <div class="nav-subcategory">
                                <a href="#">подарки и сувениры</a>
                                <a href="#">пиротехника</a>
                                <a href="#">цветы</a>
                                <a href="#">упаковка</a>
                                <a href="#">воздушные шары</a>
                                <a href="#">организаторы</a>
                                <a href="#">еще...</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-ornamentation"></i>Часы и украшения</a>
                            <div class="nav-subcategory">
                                <a href="#">кольца</a>
                                <a href="#">серьги</a>
                                <a href="#">подвески</a>
                                <a href="#">браслеты</a>
                                <a href="#">цепочки</a>
                                <a href="#">комплекты</a>
                                <a href="#">наручные часы</a>
                                <a href="#">еще…</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-medicina_i_krasota"></i>Красота и здоровье</a>
                            <div class="nav-subcategory">
                                <a href="#">косметика</a>
                                <a href="#">парфюмерия</a>
                                <a href="#">маникюр, педикюр</a>
                                <a href="#">массажные масла</a>
                                <a href="#">услуги</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-hobby"></i>Хобби и отдых</a>
                            <div class="nav-subcategory">
                                <a href="#">путешествия</a>
                                <a href="#">товары для туризма</a>
                                <a href="#">творчество и рукоделие</a>
                                <a href="#">товары для пляжного отдыха</a>
                                <a href="#">визы и турфирмы</a>
                                <a href="#">еще...</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-sport"></i>Спорт</a>
                            <div class="nav-subcategory">
                                <a href="#">тренировки, секции, школы</a>
                                <a href="#">велосипеды</a>
                                <a href="#">футбол</a>
                                <a href="#">баскетбол</a>
                                <a href="#">боевые искусства</a>
                                <a href="#">спортивное питание</a>
                                <a href="#">еще...</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-fishing"></i>Охота, рыбалка</a>
                            <div class="nav-subcategory">
                                <a href="#">рыболовные пренадлежности</a>
                                <a href="#">амуниция</a>
                                <a href="#">аксессуары</a>
                                <a href="#">товары для подводной охоты</a>
                                <a href="#">еще…</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-animals"></i>Животные</a>
                            <div class="nav-subcategory">
                                <a href="#">кошки</a>
                                <a href="#">собаки</a>
                                <a href="#">грызуны</a>
                                <a href="#">черепахи</a>
                                <a href="#">рыбы</a>
                                <a href="#">птицы</a>
                                <a href="#">экзотика</a>
                                <a href="#">товары для животных</a>
                                <a href="#">приюты</a>
                                <a href="#">услуги</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-biznes"></i>Бизнес</a>
                            <div class="nav-subcategory">
                                <a href="#">продажа бизнес</a>
                                <a href="#">оборудование, сырье</a>
                                <a href="#">сельское хозхяйство</a>
                                <a href="#">партнерства</a>
                                <a href="#">закупаем / покупаем</a>
                                <a href="#">услуги</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item"><i class="icon-cat-prochee"></i>Другое</a>
                            <div class="nav-subcategory">
                                <a href="#">куплю интересуюсь</a>
                                <a href="#">обмен</a>
                                <a href="#">потеряли</a>
                                <a href="#">возьму бесплатно</a>
                                <a href="#">отдам бесплатно</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h1><b>Продано!</b> Телевизор Samsung GSD Galaxy S8000 50060 48" во Владивостоке</h1>
    <span class="text-icon-date">14 ноября 2013</span>
    <span class="text-icon-view">2 345</span>
    <span class="text-icon-ios">Добавлено через приложение</span>

    <hr>

    <div class="clearfix">
        <div class="aside-fluid">
            <div class="panel">
                <div class="panel-nav">
                    <ul class="nav-list nav-iconized">
                        <li><a href="#"><i class="icon-18-shape"></i> Выделить объявление</a></li>
                        <li><a href="#"><i class="icon-18-up"></i> Поднять объявление</a></li>
                        <li><a href="#"><i class="icon-18-clock"></i> Продлить размещение</a></li>
                        <li><a href="#"><i class="icon-18-edit"></i> Редактировать</a></li>
                        <li><a href="#"><i class="icon-18-stat"></i> Статистика просмотров</a></li>
                        <li><a href="#"><i class="icon-18-remove"></i> Снять с публикации</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-18-trash"></i> Удалить из базы данных</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-fluid">
            <div class="product-thumbnails">
                <div id="product_thumbnails_lg" class="thumbnails-lg">
                    <div class="thumbnail">
                        <a href="#img-large-1">
                            <img src="../../sample/img-large-1.png" alt="">
                        </a>
                    </div>
                    <div class="thumbnail">
                        <a href="#img-large-2">
                            <img src="../../sample/img-large-2.png" alt="">
                        </a>
                    </div>
                    <div class="thumbnail">
                        <a href="#img-large-3">
                            <img src="../../sample/img-large-3.png" alt="">
                        </a>
                    </div>
                    <div class="thumbnail">
                        <a href="#img-large-4">
                            <img src="../../sample/img-large-4.png" alt="">
                        </a>
                    </div>
                </div>
                <div id="product_thumbnails_sm" class="thumbnails-sm">
                    <div class="thumbnail active"><img src="../../sample/img-sm-1.png" alt=""></div>
                    <div class="thumbnail"><img src="../../sample/img-sm-2.png" alt=""></div>
                    <div class="thumbnail"><img src="../../sample/img-sm-3.png" alt=""></div>
                    <div class="thumbnail"><img src="../../sample/img-sm-4.png" alt=""></div>
                </div>
            </div>

            <div class="product-price">
                <div class="price-wrap">
                    <span class="price">42 000 ₽</span>
                </div>
            </div>

            <ul class="list-params">
                <li>
                    <span class="title">Актуальность</span>
                    Товар продан
                </li>
                <li class="divider"></li>
                <li>
                    <span class="title">Состояние</span>
                    Новый товар
                </li>
                <li>
                    <span class="title">Наличие</span>
                    В наличии
                </li>
                <li class="divider"></li>
                <li>
                    <span class="title">Диагональ экрана</span>
                    48 дюймов
                </li>
                <li>
                    <span class="title">Разрешение</span>
                    1920x1080 [Full HD]
                </li>
                <li>
                    <span class="title">Процессор</span>
                    1.7 GHz Exynos 5250
                </li>
                <li>
                    <span class="title">Оперативная память</span>
                    2 GB DDR3 1600
                </li>
                <li>
                    <span class="title">Графический процессор</span>
                    ARM Mali-T604 4-core at 533 MHz
                </li>
            </ul>
            <hr>
            <h3><b>Описание товара</b></h3>
            <p>3D LED-телевизор Samsung UE40H6410 с диагональю экрана 48», разрешением 1920х1080, процессором изображения 3D Hyper Real Engine, технологией Clear Motion Rate 400 Hz, интерактивной платформой Smart TV на базе четырехъядерного процессора Dual Core с поддержкой голосового управления, цифровым и спутниковым тюнерами, а также встроенным портом WiFi обладает современным дизайном, который позволяет данному аппарату элегантно смотреться в любом интерьере квартиры или загородного дома.</p>

            <div class="space-md"></div>
            <div class="panel">
                <header class="profile-masthead-header">
                    <h3 class="margin-reset">Товар продан, поэтому контактные данные продавца скрыты.</h3>
                </header>
            </div>
            <h3><b>Фотографии</b></h3>
            <img src="../../sample/img-large-1.png" id="img-large-1" class="img-responsive" alt="">
            <img src="../../sample/img-large-2.png" id="img-large-2" class="img-responsive" alt="">
            <img src="../../sample/img-large-3.png" id="img-large-3" class="img-responsive" alt="">
            <img src="../../sample/img-large-4.png" id="img-large-4" class="img-responsive" alt="">
        </div>
    </div>
{% endblock %}
