{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        {% include './includes/_global-search.twig' %}

        <div class="panel">
            <nav class="breadcrumbs">
                <div class="home">
                    <button class="btn-hamburger collapsed" data-toggle="categories">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul>
                    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="#" itemprop="url">
                            <span itemprop="title">Электроника</span>
                        </a>
                    </li>
                    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="#" itemprop="url">
                            <span itemprop="title">Телевизоры</span>
                        </a>
                    </li>
                    <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <meta itemprop="url" content="#url">
                        <span itemprop="title">Объявление #e-90342</span>
                    </li>
                </ul>
            </nav>
            {% include './includes/_breadcrumbs-categories.twig' %}
        </div>

        <article>
            <header class="product-header">
                <h1>Телевизор Samsung GSD Galaxy S8000 50060 48" во Владивостоке</h1>

                <span class="text-icon-date">14 ноября 2013</span>
                <span class="text-icon-view">2 345</span>
                <span class="text-icon-outofbox">Добавлено через <a href="">OUTOFBOX.RU Склад-1</a></span>
            </header>

            <a href="#modal_note" class="alert alert-note" data-fancybox-modal>
                <p>Продавец готов уступить 1000р</p>
                <small class="text-muted">15 мая 2019</small>
                <svg class="icon-size-18"><use xlink:href="{{ base_path }}/images/icons.svg#icon-sm-edit"></use></svg>
            </a>

            <div class="clearfix">
                <div class="aside-fluid">
                    <div class="panel">
                        <div class="panel-nav">
                            <ul class="nav-list nav-iconized">
                                <li class="nav-item mb-10">Какая-то информация о пользователе, тут может быть все что угодно не только лишь все могут знать что тут может быть.</li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="icon-18-shape"></i> Выделить объявление</a></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="icon-18-up"></i> Поднять объявление</a></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="icon-18-clock"></i> Продлить размещение</a></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="icon-18-edit"></i> Редактировать</a></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="icon-18-stat"></i> Статистика просмотров</a></li>
                                <li class="nav-divider"></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="icon-18-remove"></i> Снять с публикации</a></li>
                                <li class="nav-item"><a href="#" class="nav-link"><i class="icon-18-trash"></i> Удалить из базы данных</a></li>
                            </ul>
                        </div>
                    </div>

                    {% include './includes/_aside-dadu.twig' %}
                </div>
                <div class="content-fluid">
                    <div class="product-thumbnails">
                        <div id="product_thumbnails_lg" class="thumbnails-lg owl-carousel">
                            <div class="thumbnail thumbnail-4x3">
                                <iframe class="thumbnail-item" width="560" height="315" src="https://www.youtube.com/embed/JZmUvbcVe30" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="thumbnail">
                                <a href="#img-large-1">
                                    <img src="{{ base_path }}/sample/img-large-1.png" alt="">
                                </a>
                            </div>
                            <div class="thumbnail">
                                <a href="#img-large-2">
                                    <img src="{{ base_path }}/sample/img-large-2.png" alt="">
                                </a>
                            </div>
                            <div class="thumbnail">
                                <a href="#img-large-3">
                                    <img src="{{ base_path }}/sample/img-large-3.png" alt="">
                                </a>
                            </div>
                            <div class="thumbnail">
                                <a href="#img-large-4">
                                    <img src="{{ base_path }}/sample/img-large-4.png" alt="">
                                </a>
                            </div>
                            <div class="thumbnail">
                                <a href="#img-large-2">
                                    <img src="{{ base_path }}/sample/img-large-2.png" alt="">
                                </a>
                            </div>
                            <div class="thumbnail">
                                <a href="#img-large-3">
                                    <img src="{{ base_path }}/sample/img-large-3.png" alt="">
                                </a>
                            </div>
                            <div class="thumbnail">
                                <a href="#img-large-4">
                                    <img src="{{ base_path }}/sample/img-large-4.png" alt="">
                                </a>
                            </div>
                            <div class="thumbnail">
                                <a href="#img-large-2">
                                    <img src="{{ base_path }}/sample/img-large-2.png" alt="">
                                </a>
                            </div>
                            <div class="thumbnail">
                                <a href="#img-large-3">
                                    <img src="{{ base_path }}/sample/img-large-3.png" alt="">
                                </a>
                            </div>
                            <div class="thumbnail">
                                <a href="#img-large-4">
                                    <img src="{{ base_path }}/sample/img-large-4.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div id="product_thumbnails_sm" class="thumbnails-sm owl-carousel">
                            <div class="thumbnail thumbnail-4x3 active">
                                <div class="thumbnail-item d-flex align-items-center justify-content-center">
                                    <i class="icon-24-video"></i>
                                </div>
                            </div>
                            <div class="thumbnail"><img src="{{ base_path }}/sample/img-sm-1.png" alt=""></div>
                            <div class="thumbnail"><img src="{{ base_path }}/sample/img-sm-2.png" alt=""></div>
                            <div class="thumbnail"><img src="{{ base_path }}/sample/img-sm-3.png" alt=""></div>
                            <div class="thumbnail"><img src="{{ base_path }}/sample/img-sm-4.png" alt=""></div>
                            <div class="thumbnail"><img src="{{ base_path }}/sample/img-sm-2.png" alt=""></div>
                            <div class="thumbnail"><img src="{{ base_path }}/sample/img-sm-3.png" alt=""></div>
                            <div class="thumbnail"><img src="{{ base_path }}/sample/img-sm-4.png" alt=""></div>
                            <div class="thumbnail"><img src="{{ base_path }}/sample/img-sm-2.png" alt=""></div>
                            <div class="thumbnail"><img src="{{ base_path }}/sample/img-sm-3.png" alt=""></div>
                            <div class="thumbnail"><img src="{{ base_path }}/sample/img-sm-4.png" alt=""></div>
                        </div>
                    </div>

                    <section class="product-intro">
                        <div class="price">
                            42 000 ₽
                        </div>

                        <hr>

                        <div class="product-seller">
                            <div class="seller-name">
{#                                <a href="">Рога и Копыта</a> из Москвы#}
                                Частное лицо <a href="">abirgal89</a> из Москвы
                            </div>

                            <a href="/profile/rating" class="profile-rating-preview mt-5">
                                <span class="profile-rating-count">
                                    <img src="{{ base_path }}/images/icon-rating.svg" width="24" height="24" alt="Rating"> 34
                                </span>
                                <span class="profile-rating-total text-green">
                                    95%
                                </span>
                                <span class="profile-age">
                                    1 год 4 месяца на сайте
                                </span>
                            </a>
                        </div>

                        <a href="#" class="btn btn-outline-success btn-block my-10"><i class="icon-24-cart"></i> Купить на сайте продавца</a>
                        <a href="#modal_contacts" class="btn btn-primary btn-block my-10" data-fancybox-modal>Позвонить +7 ●●● ●●● ●● ●●</a>
                        <a href="#modal_message" class="btn btn-default btn-block my-10" data-fancybox-modal><i class="icon-24-chats"></i> Написать продавцу</a>
                        <a href="#modal_gp_1" class="btn btn-default btn-block my-10" data-fancybox-modal><i class="icon-24-gpay"></i> <span>Купить через «Гарантированную покупку»</span></a>
                        {#<a href="#modal_gp_2" class="btn btn-default btn-block my-10" data-fancybox-modal><i class="icon-24-gpay"></i> Купить через «Гарантированную покупку»</a>#}

                        <hr>

                        <div class="product-actions mt-20">
                            <a href="javascript:;" onclick="this.classList.add('hide');this.nextElementSibling.classList.remove('hide')">
                                <i class="icon-24-favorite mr-10"></i>В избранное
                            </a>
                            <a href="javascript:;" class="active hide" onclick="this.classList.add('hide');this.previousElementSibling.classList.remove('hide')">
                                <i class="icon-24-favorite mr-10"></i>Убрать из избранного
                            </a>
                            <a href="#modal_note" data-fancybox-modal>
                                <i class="icon-24-note mr-10"></i>Добавить заметку
                            </a>
                        </div>
                    </section>

                    <ul class="list-params my-20">
                        <li>
                            <span class="title">Актуальность</span>
                            Обновленно сегодня в 16:23
                            <div class="divider-xs"></div>
                            <small class="text-muted">Актуально ещё 47 дней</small>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <span class="title">Состояние</span>
                            Новый товар
                        </li>
                        <li>
                            <span class="title">Наличие</span>
                            В наличии
                        </li>
                        <li>
                            <span class="title">Станция</span>
                            Московская <span class="metro-marker metro-marker-2"></span>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <span class="title">Диагональ экрана</span>
                            48 дюймов
                        </li>
                        <li>
                            <span class="title">Разрешение</span>
                            1920x1080 [Full HD]
                        </li>
                        <li>
                            <span class="title">Процессор</span>
                            1.7 GHz Exynos 5250
                        </li>
                        <li>
                            <span class="title">Оперативная память</span>
                            2 GB DDR3 1600
                        </li>
                        <li>
                            <span class="title">Графический процессор</span>
                            ARM Mali-T604 4-core at 533 MHz
                        </li>
                    </ul>

                    <section class="my-20">
                        <h3>Описание товара</h3>
                        <p>
                            3D LED-телевизор Samsung UE40H6410 с диагональю экрана 48», разрешением 1920х1080, процессором изображения 3D Hyper Real Engine, технологией Clear Motion Rate 400 Hz, интерактивной платформой Smart TV на базе четырехъядерного процессора Dual Core с поддержкой голосового управления, цифровым и спутниковым тюнерами, а также встроенным портом WiFi обладает современным дизайном, который позволяет данному аппарату элегантно смотреться в любом интерьере квартиры или загородного дома.
                        </p>
                    </section>

                    <section class="my-20">
                        <h3>
                            Гарантия и условия возврата
                        </h3>
                        <p>Гарантия 1 год</p>
                    </section>

                    <section class="my-20">
                        <h3>Доставка и оплата</h3>
                        <p>
                            Бесплатная доставка по городу Владивосток<br>
                            Доставка по России – бесплатно до транспортной компании<br>
                            Оплата наличными курьеру, когда привезет товар
                        </p>
                    </section>

                    <div class="product-report-msg mb-30">
                        <p><b>Помните!</b> Интернет – большой, в нем есть место и для мошенников. Защита от обмана начинается с Вашей внимательности. <a href="#">Как не стать обманутым?</a></p>
                        <a href="#report" class="text-red fancybox-inline" title="Пожаловаться"><i class="icon-24-warning"></i> Пожаловаться на объявление</a>
                    </div>

                    <section class="panel">
                        <div class="panel-body">
                            <img src="{{ base_path }}/sample/vladuino.png" alt="Рога и Копыта" class="pull-right">

                            <div class="mb-10">
                                <h3>
                                    Магазин <a href="">Рога и Копыта</a><i class="icon-24-company ml-10"></i>
                                </h3>
                                <a href="/profile/rating" class="profile-rating-preview">
                                    <span class="profile-rating-count">
                                        <img src="{{ base_path }}/images/icon-rating.svg" width="24" height="24" alt="Rating"> 34
                                    </span>
                                    <span class="profile-rating-total text-green">
                                        95%
                                    </span>
                                    <span class="profile-age">
                                        1 год 4 месяца на сайте
                                    </span>
                                </a>
                            </div>

                            <div class="row-flex row-gutter-10">
                                <div class="col-md-auto col-12 my-5">
                                    <a href="#modal_contacts" class="btn btn-primary btn-block" data-fancybox-modal>Показать контакты</a>
                                </div>
                                <div class="col-md-auto col-12 my-5">
                                    <a href="#modal_message" class="btn btn-default btn-block" data-fancybox-modal><i class="icon-24-chats"></i> Написать продавцу</a>
                                </div>
                                <div class="col-md-auto col-12 my-5">
                                    <a href="#" class="btn btn-default btn-block"><i class="icon-24-goods"></i> Все объявления продавца (254)</a>
                                </div>
                            </div>

                            <ul class="list-params hide mb-0">
                                <li class="phones-wrap">
                                    <span class="title">Телефон</span>
                                    <span class="confirm-phone mb-10">
                                        <a href="tel:+79067573343" class="link-phone">+7 906 757-33-43</a> <span class="confirm-phone-badge">Подтвержден</span>
                                    </span>
                                    <span class="confirm-phone mb-10">
                                        <a href="tel:+79067573343" class="link-phone">+7 906 757-33-43</a> <span class="confirm-phone-badge">Подтвержден</span>
                                    </span>
                                    <p class="text-muted">Пожалуйста, скажите продавцу, что нашли это объявление на wiweb.ru</p>
                                </li>
                                <li>
                                    <span class="title">Город</span>
                                    Москва
                                </li>
                                <li>
                                    <span class="title">Адрес</span>
                                    ул. Проспект 100-лет Владивостоку 76а
                                </li>
                                <li>
                                    <span class="title">Сайт</span>
                                    <a href="">http://vladuino.ru</a>
                                </li>
                            </ul>
                        </div>
                        <div class="profile-masthead-map" style="background-image:url('{{ base_path }}/sample/map.png')"></div>
                    </section>

                    <section class="my-20">
                        {% set job = [
                            {
                                img: 'https://placehold.it/640x480',
                                title: 'Сдам квартиру Кавказский, 40к2 '
                            },
                            {
                                img: 'https://placehold.it/640x480',
                                title: 'Сдам квартиру Красный Казанец, 3к1'
                            },
                            {
                                img: 'https://placehold.it/640x480',
                                title: 'Сдам квартиру Героев Панфиловцев, 45к1'
                            },
                            {
                                img: 'https://placehold.it/640x480',
                                title: 'Продам однушку на Генерала Кузнецова, 12'
                            },
                            {
                                img: 'https://placehold.it/640x480',
                                title: 'Продам однушку на Саратовская, 22'
                            },
                            {
                                img: 'https://placehold.it/640x480',
                                title: 'Продам однушку на Череповецкая, 4к2'
                            },
                            {
                                img: 'https://placehold.it/640x480',
                                title: 'Сдам квартиру на Зелёный, 65'
                            },
                            {
                                img: 'https://placehold.it/640x480',
                                title: 'Продам однушку на Череповецкая, 4к2'
                            }
                        ] %}

                        <h3 class="mb-20">Возможно вас заинтересует</h3>

                        <div class="products-blocks" data-products="preview">
                            <div class="row">
                                {% for item in job %}
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product-item">
                                            <div class="product-item-content">
                                                <a href="#" class="thumbnail-wrap">
                                            <span class="thumbnail">
                                                <img src="{{ item.img }}" alt="">
                                            </span>
                                                </a>
                                                <h4 class="title">
                                                    <a href="#2">{{ item.title }}</a>
                                                </h4>
                                                <div class="price"><b>2 500 ₽</b></div>
                                                <div class="geolocation">Владивосток</div>
                                                <div class="meta">
                                                    <div class="text-icon-date">20.05.15</div>
                                                    <div class="text-icon-view">453</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>

                    <section class="my-20">
                        <h3>Фотографии из объявления</h3>
                        <img src="{{ base_path }}/sample/img-large-1.png" id="img-large-1" class="img-responsive" alt="">
                        <img src="{{ base_path }}/sample/img-large-2.png" id="img-large-2" class="img-responsive" alt="">
                        <img src="{{ base_path }}/sample/img-large-3.png" id="img-large-3" class="img-responsive" alt="">
                        <img src="{{ base_path }}/sample/img-large-4.png" id="img-large-4" class="img-responsive" alt="">
                    </section>
                </div>
            </div>
        </article>
    </div>
{% endblock %}

{% block modals %}
    <div id="modal_note" style="display:none;width:480px;">
        <div class="modal-body">
            <h3 class="mb-20">Заметка к объявлению</h3>
            <div class="form-group">
                <label for="textarea_note" class="sr-only">Текст заметки</label>
                <textarea id="textarea_note" name="textarea_note" rows="4" class="form-control" placeholder="Текст заметки">Продавец готов уступить 1000р</textarea>
            </div>
            <button class="btn btn-lg btn-primary">Сохранить</button>
        </div>
    </div>

    <div id="modal_contacts" style="display:none;width:480px;">
        <div class="modal-body">
            <div class="mb-20">
                <h3>
                    Магазин <a href="">Рога и Копыта</a><i class="icon-24-company ml-10"></i>
                </h3>
                <a href="/profile/rating" class="profile-rating-preview">
                    <span class="profile-rating-count">
                        <img src="{{ base_path }}/images/icon-rating.svg" width="24" height="24" alt="Rating"> 34
                    </span>
                    <span class="profile-rating-total text-green">
                        95%
                    </span>
                    <span class="profile-age">
                        1 год 4 месяца на сайте
                    </span>
                </a>
            </div>

            <ul class="list-params mb-20">
                <li class="phones-wrap">
                    <span class="title">Телефон</span>
                    <span class="confirm-phone mb-10">
                        <a href="tel:+79067573343" class="link-phone">+7 906 757-33-43</a> <span class="confirm-phone-badge">Подтвержден</span>
                    </span>
                    <span class="confirm-phone mb-10">
                        <a href="tel:+79067573343" class="link-phone">+7 906 757-33-43</a> <span class="confirm-phone-badge">Подтвержден</span>
                    </span>
                    <p class="text-muted">Пожалуйста, скажите продавцу, что нашли это объявление на wiweb.ru</p>
                </li>
                <li>
                    <span class="title">Город</span>
                    Москва
                </li>
                <li>
                    <span class="title">Адрес</span>
                    ул. Проспект 100-лет Владивостоку 76а
                </li>
                <li>
                    <span class="title">Сайт</span>
                    <a href="">http://vladuino.ru</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="modal_message" style="display:none;width:480px;">
        <div class="modal-body">
            <h3 class="mb-20">Отклик по объявлению</h3>
            <p>Отправьте сообщение по данному объявлению. Уведомление пойдет на почту и адресат сможет ответить на него в своем личном кабинете.</p>

            <div class="form-group">
                <label for="textarea_message" class="sr-only">Сообщение</label>
                <textarea id="textarea_message" name="textarea_message" rows="4" class="form-control" placeholder="Сообщение"></textarea>
            </div>
            <button class="btn btn-lg btn-primary">Отправить</button>
        </div>
    </div>

    <div id="modal_gp_1" style="display:none;width:480px;">
        <div class="modal-body">
            <h3 class="mb-20">Продавец зарегистрирован в сервисе «Гарантированная покупка»</h3>
            <p>После перехода по ссылке ниже, будет автоматически создан личный кабинет сделки, в котором вы сможете ознакомиться со всеми условиями покупки, если они вас устроят, подтвердите ваше участие в сделке. После этого продавцу будет отправлено уведомление о начале новой сделки и ссылка на подключение к ней. Он также должен будет подтвердить свое согласие на продажу.</p>
            <a href="#" target="_blank" class="btn btn-primary btn-lg btn-block my-20">Купить через ГП.РФ</a>
            <div class="text-center">
                <a href="https://гп.рф" target="_blank">Подробнее ознакомиться с услугами сервиса «Гарантированная покупка»</a>
            </div>
        </div>
    </div>

    <div id="modal_gp_2" style="display:none;width:480px;">
        <div class="modal-body">
            <h3 class="mb-20">Продавец не зарегистрирован в сервисе «Гарантированная покупка»</h3>
            <p>Перед началом сделки, свяжитесь с продавцом и попросите его зарегистрироваться в сервисе ГП.РФ. Для регистрации ему понадобятся все банковские реквизиты ИНН, ОГРН, БИК, Номер счета в банке, Кор. счет, Телефоны организации, электронная почта и остальные документы о его компании.</p>
            <p>После того как продавец зарегистрируется в сервисе «Гарантированная покупка», кнопка «Купить через ГП.РФ» станет активна.</p>
            <a href="#" target="_blank" class="btn btn-primary btn-lg btn-block my-20 disabled">Купить через ГП.РФ</a>
            <div class="text-center">
                <a href="https://гп.рф" target="_blank">Подробнее ознакомиться с услугами сервиса «Гарантированная покупка»</a>
            </div>
        </div>
    </div>
{% endblock %}
