<div class="dadu aside-dadu">
    <div class="dadu-header">Рекламная сеть <a href="#">DADU.RU</a></div>
    <div class="dadu-context">
        <a href="#">
            <span class="dadu_title">Рулевая тяга - 300р.</span>
            <span class="dadu_desc">Выбор огромный,</span>
            <span class="dadu_desc">качество высокое</span>
            <span class="dadu_caption">carbonus.ru</span>
        </a>
    </div>
    <div class="dadu-context">
        <a href="#">
            <span class="dadu_title">На Isuzu Forward</span>
            <span class="dadu_desc">Ремкомплекты, стартеры,</span>
            <span class="dadu_desc">генераторы и турбины</span>
            <span class="dadu_caption">parts.japancar.ru</span>
        </a>
    </div>
    <div class="dadu-footer"><a href="#">Разместите здесь свою рекламу »</a></div>
</div>