{#<div class="branding-100x200">
        <a href="" style="background-image:url({{ base_path }}/images/banners/vesta.png);"><span class="sr-only">Веста – ландшафтный питомник</span></a>
    </div>#}
    {#<div class="branding-100x200">
        <a href="https://www.wiweb.ru/companies/375598/goods" style="background-image:url({{ base_path }}/images/banners/bark.png);background-color:#F2BA59;"><span class="sr-only">Bark Exclusive – 3D коврики из экокожи</span></a>
    </div>#}
    {#<div class="branding-100x200">
        <a href="https://www.wiweb.ru/companies/427722/goods" style="background-image:url({{ base_path }}/images/banners/avtopriisk.png);background-color:#EEF0F1;"><span class="sr-only">Авто Прииск – разборка в Санкт-Петербурге</span></a>
    </div>#}
    {#<div class="branding-100x200">
        <a href="https://www.wiweb.ru/companies/243295/goods" style="background-image:url({{ base_path }}/images/banners/kolesa54.png);background-color:#E2F0F3;"><span class="sr-only">Колёса54 – шины и диски из Японии</span></a>
    </div>#}
    {#<div class="branding-100x200">
        <a href="" style="background-image:url({{ base_path }}/images/banners/garant-motors.png);background-color:#f0f0f0;"><span class="sr-only">Гарант Моторс</span></a>
    </div>#}
    {#<div class="branding-100x200">
        <a href="https://www.wiweb.ru/companies/93061/goods" style="background-image:url({{ base_path }}/images/banners/avtomiks54.png);background-color:#f0f0f0;"><span class="sr-only">Автомикс54</span></a>
    </div>#}
    {#<div class="branding-100x200">
        <a href="https://www.wiweb.ru/companies/251106/goods" style="background-image:url({{ base_path }}/images/banners/magistral.png);background-color:#f0f0f0;"><span class="sr-only">Магистраль</span></a>
    </div>#}
    {#<div class="branding-100x200">
        <a href="" style="background-image:url({{ base_path }}/images/banners/jp-house.png);background-color:#f8f8f8;"><span class="sr-only">JP-HOUSE</span></a>
    </div>#}