<div id="categories" class="collapse">
    <div class="panel-nav">
        <div class="row">
            <ul class="nav-categories col-md-6 col-sm-6">
                <li>
                    <a href="#" class="item"><i class="icon-cat-uslugi"></i>Услуги</a>
                    <div class="nav-subcategory">
                        <a href="#">образование</a>
                        <a href="#">фото и видео</a>
                        <a href="#">организация праздников</a>
                        <a href="#">выкуп авто</a>
                        <a href="#">юридические услуги</a>
                        <a href="#">еще...</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-auto"></i>Авто</a>
                    <div class="nav-subcategory">
                        <a href="#">автомобили</a>
                        <a href="#">автозапчасти</a>
                        <a href="#">шины и диски</a>
                        <a href="#">аксессуары</a>
                        <a href="#">тюнинг и  GT</a>
                        <a href="#">автозвук</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-parts"></i>Запчасти</a>
                    <div class="nav-subcategory">
                        <a href="#">автозапчасти</a>
                        <a href="#">мотозапчасти</a>
                        <a href="#">для водной техники</a>
                        <a href="#">для спецтехники</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-clothes"></i>Одежда, обувь, аксессуары</a>
                    <div class="nav-subcategory">
                        <a href="#">для женщин</a>
                        <a href="#">для мужчин</a>
                        <a href="#">для детей</a>
                        <a href="#">очки и аксессуары</a>
                        <a href="#">спортивная одежда</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-children"></i>Всё для детей</a>
                    <div class="nav-subcategory">
                        <a href="#">коляски</a>
                        <a href="#">качели, ходунки</a>
                        <a href="#">подгузники</a>
                        <a href="#">питание</a>
                        <a href="#">мебель</a>
                        <a href="#">детские автокресла</a>
                        <a href="#">игрушки</a>
                        <a href="#">еще…</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-nedvizhimost"></i>Недвижимость</a>
                    <div class="nav-subcategory">
                        <a href="#">аренда</a>
                        <a href="#">продажа</a>
                        <a href="#">обмен</a>
                        <a href="#">ипотека</a>
                        <a href="#">услуги</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-dom_i_bit"></i>Дом и дача</a>
                    <div class="nav-subcategory">
                        <a href="#">мебель</a>
                        <a href="#">текстиль</a>
                        <a href="#">интерьер</a>
                        <a href="#">освещение</a>
                        <a href="#">растения</a>
                        <a href="#">все для сада</a>
                        <a href="#">все для бани</a>
                        <a href="#">услуги</a>
                        <a href="#">еще…</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-stroitelstvo_i_remont"></i>Строительство</a>
                    <div class="nav-subcategory">
                        <a href="#">окна и балконы</a>
                        <a href="#">двери и перегородки</a>
                        <a href="#">потолки</a>
                        <a href="#">сантехника</a>
                        <a href="#">электрика</a>
                        <a href="#">отопление</a>
                        <a href="#">услуги</a>
                        <a href="#">еще...</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-rabota"></i>Работа</a>
                    <div class="nav-subcategory">
                        <a href="#">для женщин</a>
                        <a href="#">для мужчин</a>
                        <a href="#">для детей</a>
                        <a href="#">для стариков</a>
                        <a href="#">для животных</a>
                        <a href="#">услуги</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-spec-tehnika"></i>Спецтехника</a>
                    <div class="nav-subcategory">
                        <a href="#">автобусы</a>
                        <a href="#">краны</a>
                        <a href="#">экскаваторы</a>
                        <a href="#">грузовики</a>
                        <a href="#">прицепы</a>
                        <a href="#">садово-парковая техника</a>
                        <a href="#">услуги</a>
                        <a href="#">еще...</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-vodnaya_technika"></i>Водная техника</a>
                    <div class="nav-subcategory">
                        <a href="#">автобусы</a>
                        <a href="#">краны</a>
                        <a href="#">экскаваторы</a>
                        <a href="#">грузовики</a>
                        <a href="#">прицепы</a>
                        <a href="#">садово-парковая техника</a>
                        <a href="#">услуги</a>
                        <a href="#">еще...</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-moto"></i>Мототехника</a>
                    <div class="nav-subcategory">
                        <a href="#">автобусы</a>
                        <a href="#">краны</a>
                        <a href="#">экскаваторы</a>
                        <a href="#">грузовики</a>
                        <a href="#">прицепы</a>
                        <a href="#">садово-парковая техника</a>
                        <a href="#">услуги</a>
                        <a href="#">еще...</a>
                    </div>
                </li>
            </ul>
            <ul class="nav-categories col-md-6 col-sm-6">
                <li>
                    <a href="#" class="item"><i class="icon-cat-technika"></i>Электроника и бытовая техника</a>
                    <div class="nav-subcategory">
                        <a href="#">теле, аудио, видео</a>
                        <a href="#">компьютеры и комплектующие</a>
                        <a href="#">смартфоны</a>
                        <a href="#">планшеты</a>
                        <a href="#">холодильники</a>
                        <a href="#">еще...</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-gastronom"></i>Гастроном</a>
                    <div class="nav-subcategory">
                        <a href="#">рыба, морепродукты</a>
                        <a href="#">мясо, мясные изделия</a>
                        <a href="#">фермерские, экопродукты</a>
                        <a href="#">безалкогольные напитки</a>
                        <a href="#">еще…</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-gifts"></i>Подарки, праздники</a>
                    <div class="nav-subcategory">
                        <a href="#">подарки и сувениры</a>
                        <a href="#">пиротехника</a>
                        <a href="#">цветы</a>
                        <a href="#">упаковка</a>
                        <a href="#">воздушные шары</a>
                        <a href="#">организаторы</a>
                        <a href="#">еще...</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-ornamentation"></i>Часы и украшения</a>
                    <div class="nav-subcategory">
                        <a href="#">кольца</a>
                        <a href="#">серьги</a>
                        <a href="#">подвески</a>
                        <a href="#">браслеты</a>
                        <a href="#">цепочки</a>
                        <a href="#">комплекты</a>
                        <a href="#">наручные часы</a>
                        <a href="#">еще…</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-medicina_i_krasota"></i>Красота и здоровье</a>
                    <div class="nav-subcategory">
                        <a href="#">косметика</a>
                        <a href="#">парфюмерия</a>
                        <a href="#">маникюр, педикюр</a>
                        <a href="#">массажные масла</a>
                        <a href="#">услуги</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-hobby"></i>Хобби и отдых</a>
                    <div class="nav-subcategory">
                        <a href="#">путешествия</a>
                        <a href="#">товары для туризма</a>
                        <a href="#">творчество и рукоделие</a>
                        <a href="#">товары для пляжного отдыха</a>
                        <a href="#">визы и турфирмы</a>
                        <a href="#">еще...</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-sport"></i>Спорт</a>
                    <div class="nav-subcategory">
                        <a href="#">тренировки, секции, школы</a>
                        <a href="#">велосипеды</a>
                        <a href="#">футбол</a>
                        <a href="#">баскетбол</a>
                        <a href="#">боевые искусства</a>
                        <a href="#">спортивное питание</a>
                        <a href="#">еще...</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-fishing"></i>Охота, рыбалка</a>
                    <div class="nav-subcategory">
                        <a href="#">рыболовные пренадлежности</a>
                        <a href="#">амуниция</a>
                        <a href="#">аксессуары</a>
                        <a href="#">товары для подводной охоты</a>
                        <a href="#">еще…</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-animals"></i>Животные</a>
                    <div class="nav-subcategory">
                        <a href="#">кошки</a>
                        <a href="#">собаки</a>
                        <a href="#">грызуны</a>
                        <a href="#">черепахи</a>
                        <a href="#">рыбы</a>
                        <a href="#">птицы</a>
                        <a href="#">экзотика</a>
                        <a href="#">товары для животных</a>
                        <a href="#">приюты</a>
                        <a href="#">услуги</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-biznes"></i>Бизнес</a>
                    <div class="nav-subcategory">
                        <a href="#">продажа бизнес</a>
                        <a href="#">оборудование, сырье</a>
                        <a href="#">сельское хозхяйство</a>
                        <a href="#">партнерства</a>
                        <a href="#">закупаем / покупаем</a>
                        <a href="#">услуги</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="item"><i class="icon-cat-prochee"></i>Другое</a>
                    <div class="nav-subcategory">
                        <a href="#">куплю интересуюсь</a>
                        <a href="#">обмен</a>
                        <a href="#">потеряли</a>
                        <a href="#">возьму бесплатно</a>
                        <a href="#">отдам бесплатно</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>