<div id="geolocation_home" class="global-dropdown collapse" aria-labelledby="geolocation_home">
    <div class="container">
        <span class="global-dropdown-close icon-24-close"></span>

        <div class="geolocation-radar">
            <a href="">Все города</a>
            <span></span>
            <a href="">Москва</a>
            <a href="">+100км</a>
            <a href="">+200км</a>
            <a href="">+500км</a>
            <a href="">+1000км</a>
        </div>

        <input type="text" name="" class="form-control geolocation-search-field" value="мос" placeholder="Название города">

        <div class="geolocation-overflowing">
            <div class="geolocation-results">
                <a href="">
                    Москва и Московская область
                </a>
                <a href="">
                    Москва
                    <span>Москва и Московская область</span>
                </a>
                <a href="">
                    Московский
                    <span>Москва и Московская область</span>
                </a>
                <a href="">
                    Мостовской
                    <span>Краснодарский край, Мостовский район</span>
                </a>
            </div>
        </div>
    </div>
</div>