{% set nav = [
    {
        title: 'Услуги',
        icon: 'icon-cat-24-uslugi',
        subnav: [
            'Обучение',
            'Финансы',
            'Охрана и безопасность',
            'Нотариус, юридические',
            'Недвижимость',
            'Бизнес, консультации',
            'Строительство (инжиниринг, услуги)',
            'Прокат, аренда',
            'Выкуп, аренда авто',
            'Грузоперевозки, переезд',
            'Услуги крана',
            'Перевозка "негабарита"',
            'Эвакуатор',
            'Дом и быт',
            'Ремонт электроники, бытовой техники',
            'Подарки, праздники',
            'Прочее'
        ]
    },
    {
        title: 'Одежда, обувь, аксессуары',
        icon: 'icon-cat-24-clothes',
        subnav: [
            'Для женщин',
            'Для мужчин',
            'Для детей',
            'Для свадьбы',
            'Спецодежда',
            'Услуги',
            'Прочее'
        ]
    },
    {
        title: 'Авто',
        icon: 'icon-cat-24-auto',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Недвижимость',
        icon: 'icon-cat-24-nedvizhimost',
        subnav: [
            'Аренда',
            'Продажа',
            'Обмен',
            'Услуги',
            'Прочее'
        ]
    },
    {
        title: 'Работа',
        icon: 'icon-cat-24-rabota',
        subnav: [
            'Вакансии',
            'Резюме',
            'Прочее'
        ]
    },
    {
        title: 'Сельское хозяйство',
        icon: 'icon-cat-24-acgreculture',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Все для детей',
        icon: 'icon-cat-24-children',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Электроника и бытовая техника',
        icon: 'icon-cat-24-technika',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Подарки, праздники',
        icon: 'icon-cat-24-gifts',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Красота и здоровье',
        icon: 'icon-cat-24-medicina_i_krasota',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Строительство',
        icon: 'icon-cat-24-stroitelstvo_i_remont',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Дом и быт',
        icon: 'icon-cat-24-dom_i_bit',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Гастроном',
        icon: 'icon-cat-24-gastronom',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Часы и украшения',
        icon: 'icon-cat-24-ornamentation',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Хобби и отдых',
        icon: 'icon-cat-24-hobby',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Спорт',
        icon: 'icon-cat-24-sport',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Охота, рыбалка',
        icon: 'icon-cat-24-fishing',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Животные',
        icon: 'icon-cat-24-animals',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Запчасти',
        icon: 'icon-cat-24-parts',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Спецтехника, комерческий транспорт',
        icon: 'icon-cat-24-spec-tehnika',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Водная техника',
        icon: 'icon-cat-24-vodnaya_technika',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Мототехника',
        icon: 'icon-cat-24-moto',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Бизнес',
        icon: 'icon-cat-24-biznes',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее', 'Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее', 'Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Аренда', 'Услуги', 'Прочее']
    },
    {
        title: 'Куплю, интересуюсь',
        icon: 'icon-cat-24-interes',
        subnav: ['Автомобили', 'Автотовары', 'Запчасти', 'Шины и диски', 'Тюнинг и GT', 'Автозвук', 'Авторемонт', 'Сигнализации', 'Прочее']
    },
    {
        title: 'Прочее',
        icon: 'icon-cat-24-prochee',
        subnav: [
            'Для женщин Для женщин Для женщин Для женщин',
            'Для мужчин',
            'Для детей',
            'Для свадьбы',
            'Спецодежда',
            'Услуги',
            'Прочее'
        ]
    }
] %}
<div id="categories-aim">
    <ul class="nav-categories-list">
        {% for item in nav %}
            <li>
                <a href="/goods/list">
                    <i class="{{ item.icon }}"></i>
                    {{ item.title }}
                </a>
                <div class="nav-subcategory">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="nav-list">
                                {#<li class="lead font-weight-medium mb-10">
                                    <a href="/goods/list">Все объявления</a>
                                </li>#}
                                {% for i in item.subnav %}
                                    <li>
                                        <a href="/goods/list">{{ i }}<small>1358</small></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>