<form action="">
    <div class="global-search">
        <div class="global-search-row">
            <div class="column">
                <input type="text" id="autocomplete_control" aria-label="Поиск по всем товарам" placeholder="Поиск по всем товарам">
            </div>
            <div class="column column-checkbox">
                <span class="custom-checkbox">
                    <input type="checkbox" name="searchHere" id="searchHere">
                    <label for="searchHere" class="custom-control-label">Искать в этом разделе</label>
                </span>
            </div>
            <div class="column">
                <button><i class="icon-24-search-white"></i></button>
            </div>
        </div>
        <div id="autocomplete_wrapper" class="global-search-autocomplete"></div>
    </div>
</form>
