<div>
    <div class="text-center py-10 px-10">
        <div class="preloader-32"></div>
    </div>
    <div class="text-center mt-20">
        <a href="" class="btn btn-default btn-lg btn-block">Показать ещё</a>
        <ul class="pagination">
            <li><a href="#"><i class="icon-18-arrow-l"></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#"><i class="icon-18-arrow-r"></i></a></li>
        </ul>
    </div>
</div>