<div id="profile_home" class="global-dropdown collapse" aria-labelledby="profile_home">
    <div class="container">
        <h3 class="h2 text-center">Войти на сайт</h3>
        <span class="global-dropdown-close mt-5 icon-24-close"></span>

        <div class="row-flex justify-content-center">
            <div class="col-lg-5">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav-tabs nav-fill mb-30" role="tablist">
                        <li role="presentation" class="active"><a href="#loginByEmail" role="tab" data-toggle="tab">По email и паролю</a></li>
                        <li role="presentation"><a href="#loginByPhone" role="tab" data-toggle="tab">По СМС-коду</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="loginByEmail">
                            <form class="">
                                <div class="form-group">
                                    <label for="profile_login0" class="sr-only">E-mail или логин</label>
                                    <input type="text" name="profile_login" id="profile_login0" class="form-control" placeholder="E-mail или логин">
                                </div>
                                <div class="form-group mt-20">
                                    <label for="profile_password" class="sr-only">Пароль</label>
                                    <input type="password" name="profile_password" id="profile_password" class="form-control" placeholder="Пароль">
                                </div>
                                <div class="form-group mt-15">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="save-card" checked>
                                        <label for="save-card" class="custom-control-label">Запомнить меня</label>
                                    </div>
                                </div>
                                <div class="form-group mt-30">
                                    <button type="submit" class="btn btn-primary btn-block">Войти</button>
                                </div>
                                <div class="text-center mt-20">
                                    Забыли пароль? <a class="text-red" href="#">Восстановить</a>
                                </div>

                                <button type="submit" class="btn btn-default btn-block mt-30">
                                    Зарегистрироваться
                                </button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="loginByPhone">
                            <div class="sms-before">
                                <form class="d-flex flex-column" style="min-height:315px">
                                    <div class="form-group">
                                        <label for="profile_login1" class="sr-only">Номер телефона</label>
                                        <input type="text" name="profile_login1" id="profile_login1" class="form-control" placeholder="Номер телефона">
                                    </div>
                                    <div class="form-group mt-20">
                                        <button type="submit" class="btn btn-primary btn-block switch-on-click">Войти</button>
                                    </div>

                                    <button class="btn btn-default btn-block mt-auto">Зарегистрироваться</button>
                                </form>
                            </div>

                            <div class="sms-after d-none">
                                <form class="d-flex flex-column" style="min-height:315px">
                                    <p class="h3">+7 987 654-32-10</p>
                                    <p class="mb-20">
                                        На ваш номер отправлен СМС-код для входа,
                                        <br>
                                        отправить повторно через: 59 cек.
                                    </p>
                                    <div class="form-group">
                                        <label for="profile_login2" class="sr-only">Смс-код</label>
                                        <input type="text" name="profile_login2" id="profile_login2" class="form-control" placeholder="Смс-код">
                                    </div>
                                    <div class="form-group mt-20">
                                        <button type="submit" class="btn btn-primary btn-block">Войти</button>
                                    </div>

                                    <button class="btn btn-default btn-block mt-auto">Зарегистрироваться</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile-auth-social">
                    <span>войти через:</span>
                    <a href="#" class="icon-soc-vk"></a>
                    <a href="#" class="icon-soc-google"></a>
                    <a href="#" class="icon-soc-twitter"></a>
                    <a href="#" class="icon-soc-facebook"></a>
                    <a href="#" class="icon-soc-jr"></a>
                    <a href="#" class="icon-soc-ok"></a>
                    <a href="#" class="icon-soc-mail"></a>
                </div>
            </div>
        </div>
    </div>
</div>


{% block javascripts %}
    <script>
        // Демонстрация работы кнопки, отключить на бою
        document.querySelector('.switch-on-click').addEventListener('click', switchSms);

        function switchSms(e) {
            e.preventDefault();
            document.querySelector('.sms-after').classList.toggle('d-none');
            document.querySelector('.sms-before').classList.toggle('d-none');
        }
        // Демонстрация работы кнопки, отключить на бою
    </script>
{% endblock %}