{% set spec = [
    {
        img: 'https://placehold.it/640x480',
        title: 'Новый автомобиль уже ждет тебя в салоне'
    },
    {
        img: 'https://placehold.it/640x480',
        title: 'Каждая 5-я замена масла бесплатно!'
    },
    {
        img: 'https://placehold.it/640x480',
        title: 'Найди работу мечты!'
    },
    {
        img: 'https://placehold.it/640x480',
        title: 'Аренда спецтехники и грузовиков'
    },
    {
        img: 'https://placehold.it/640x480',
        title: 'Все СТО твоего города тут!'
    },
    {
        img: 'https://placehold.it/640x480',
        title: 'Шиномонтажки с отзывами'
    },
    {
        img: 'https://placehold.it/640x480',
        title: 'Большой выбор шин и дисков'
    },
    {
        img: 'https://placehold.it/640x480',
        title: 'Зима близко! Время переобуться'
    }
] %}

<div id="promoBlocks" class="promo-blocks owl-carousel">
    {% for item in spec %}
        <div class="item">
            <div class="promo-item">
                <a href="#" class="thumbnail-wrap">
                    <span class="thumbnail">
                        <img src="{{ item.img }}" alt="">
                    </span>
                </a>
                <h4 class="title">
                    <a href="#2">{{ item.title }}</a>
                </h4>
            </div>
        </div>
    {% endfor %}
</div>