{% extends './_layout.twig' %}

{% set cards = [
    {name: 'mastercard', img: 'icon-48-mastercard.svg', number: '5559 49•• •••• 3199'},
    {name: 'visa', img: 'icon-48-visa.svg', number: '4523 49•• •••• 2339'},
    {name: 'other', img: 'icon-48-othercard.svg', number: '8239 49•• •••• 1297'},
] %}

{% block content %}
    <div class="container">
        <h1 class="mt-10 mb-30">Мои карты</h1>
        <p class="lead mb-20">
            Привязанные карты позволяют быстро и удобно оплачивать услуги на сайте в один клик.
        </p>
        <form class="payment-refill">
            <div class="card-group row-flex">
                {% for card in cards %}
                    <div class="col-lg-4 col-md-6 col-12 mb-20">
                        <div class="card card-cardlist">
                            <div class="card-icon-wrapper {{ card.name }}">
                                <div class="card-icon">
                                    <img src="/images/payments/{{ card.img }}"/>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-header">
                                    <div class="lead font-weight-medium">
                                        {{ card.number }}
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-default btn-icon-only"><i class="icon-24-trash-full"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-12">
                    <p class="lead mb-20">Вы также можете использовать новую карту и привязать ее к сайту в
                        процессе
                        оплаты.</p>
                </div>

        </form>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
