{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <h1 class="mt-10 mb-30">Пополнение счета</h1>
        <p class="lead mb-20">
            На&nbsp;какую сумму вы&nbsp;хотите пополнить счет:
        </p>
        <form class="payment-refill">
            <div class="all-sum d-flex flex-column flex-md-row form-inline" data-toggle="buttons">
                <label class="btn btn-default mr-sm-10 mb-10 mb-md-0 px-20">
                    <input type="radio" name="refill" id="option1" value="20" autocomplete="off">20 ₽
                </label>
                <label class="btn btn-default mr-sm-10 mb-10 mb-md-0 px-20">
                    <input type="radio" name="refill" id="option2" value="50" autocomplete="off">50 ₽
                </label>
                <label class="btn btn-default mr-sm-10 mb-10 mb-md-0 px-20">
                    <input type="radio" name="refill" id="option3" value="100" autocomplete="off">100 ₽
                </label>
                <label class="btn btn-default mr-sm-10 mb-10 mb-md-0 px-20">
                    <input type="radio" name="refill" id="option3" value="300" autocomplete="off">300 ₽
                </label>
                <div>
                    <label for="option4" class="sr-only">Своя сумма</label>
                    <input type="radio" name="refill" id="option4" autocomplete="off" class="d-none">
                    <input type="number" name="sum-input" id="sum-input" aria-label="Своя сумма" class="form-control appearance-text"
                           placeholder="Своя сумма">
                </div>
            </div>

            <p class="lead mt-30 mb-20">Выберите, как вам удобно пополнить:</p>
            <div class="card-group row-flex">
                {# Оплата картой #}
                <div class="col-md-4 col-12 mb-20">
                    <div class="card card-payment">
                        <input id="card-0" type="radio" class="card-checker" name="payment-cards"/>
                        <div class="card-icon">
                            <img src="/images/sprite/swg/icon-48-cards.svg"/>
                        </div>
                        <div class="card-body">
                            <div class="card-header">
                                <div class="lead font-weight-medium mb-10">
                                    Банковской картой
                                </div>
                                <div class="small">
                                    Оплатите используя карту
                                    <span class="font-weight-medium">Visa</span>,
                                    <span class="font-weight-medium">MasterCard</span>,
                                    <span class="font-weight-medium">Maestro</span>
                                    или
                                    <span class="font-weight-medium">МИР</span>.
                                </div>
                            </div>
                            <div class="card-footer mt-10">
                                <span class="small font-weight-medium text-green">Без комиссии</span>
                            </div>
                        </div>
                        <div class="card-collapse">
                            <div class="row-flex mt-10 mb-40">
                                <div class="col-lg-6 lead mb-20">
                                    После нажатия на кнопку «Оплатить и поднять» вы будете перенаправлены
                                    на страницу оплаты:
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-6 mb-20">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="save-card" checked>
                                        <label for="save-card" class="custom-control-label">
                                            Сохранить карту для быстрых платежей в будущем
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-primary btn-lg btn-block">
                                        Оплатить и поднять
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Оплата по номеру телефона #}
                <div class="col-md-4 col-12 mb-20">
                    <div class="card card-payment">
                        <input id="card-1" type="radio" class="card-checker" name="payment-cards"/>
                        <div class="card-icon">
                            <img src="/images/payments/icon-48-providers.svg"/>
                        </div>
                        <div class="card-body">
                            <div class="card-header">
                                <div class="lead font-weight-bold mb-10">
                                    Мобильный платеж
                                </div>
                                <div class="small">
                                    Оплатите с вашего мобильного счета
                                    <span class="font-weight-medium">Билайн</span>,
                                    <span class="font-weight-medium">Теле2</span>,
                                    <span class="font-weight-medium">Мегафон</span>
                                    или
                                    <span class="font-weight-medium">МТС</span>.
                                </div>
                            </div>
                            <div class="card-footer mt-10">
                                <span class="small font-weight-medium text-green">Без комиссии</span>
                            </div>
                        </div>
                        <div class="card-collapse">
                            <div class="row-flex mt-10 mb-40">
                                <div class="col-lg-6 lead mb-20">
                                    Укажите номер телефона, с баланса которого будет списана указанная сумма:
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-4 col-md-6 mb-20">
                                    <label for="phoneAccount" class="sr-only">Введите номер телефона:</label>
                                    <input id="phoneAccount" type="tel" name="term" class="form-control input-lg"
                                           placeholder="+7 987 654-32-10" value="">
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-primary btn-lg btn-block">
                                        Оплатить и поднять
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Оплата с кошелька #}
                <div class="col-md-4 col-12 mb-20">
                    <div class="card card-payment">
                        <input id="card-2" type="radio" class="card-checker" name="payment-cards"/>
                        <div class="card-icon">
                            <img src="/images/payments/icon-48-wallet.svg"/>
                        </div>
                        <div class="card-body">
                            <div class="card-header">
                                <div class="lead font-weight-medium mb-10">
                                    150 ₽ в кошельке
                                </div>
                                <div class="small">
                                    В вашем кошельке достаточно средств для оплаты выбранной услуги.
                                </div>
                            </div>
                            <div class="card-footer mt-10">
                                <div class="small font-weight-medium text-green">Без комиссии</div>
                            </div>
                        </div>
                        <div class="card-collapse">
                            <div class="row-flex mt-10 mb-40">
                                <div class="col-lg-6 lead mb-20">
                                    В вашем кошельке достаточно денег для оплаты, после нажатия на кнопку «Оплатить
                                    и поднять», со счета будет списана стоимость услуги и она станет активна.
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-primary btn-lg btn-block">
                                        Оплатить и поднять
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Оплата сохраненной картой #}
                <div class="col-md-4 col-12 mb-20">
                    <div class="card card-payment">
                        <input id="card-3" type="radio" class="card-checker" name="payment-cards"/>
                        <div class="card-icon">
                            <img src="/images/payments/icon-48-mastercard.svg"/>
                        </div>
                        <div class="card-body">
                            <div class="card-header">
                                <div class="lead font-weight-medium mb-10">
                                    5559 49•• •••• 3199
                                </div>
                                <div class="small">
                                    Мгновенный платеж с&nbsp;вашей сохраненной карты MasterCard
                                </div>
                            </div>
                            <div class="card-footer mt-10">
                                <span class="small font-weight-medium text-green">Без комиссии</span>
                            </div>
                        </div>
                        <div class="card-collapse">
                            <div class="row-flex mt-10 mb-40">
                                <div class="col-lg-6 lead mb-10">
                                    После нажатия на&nbsp;кнопку &laquo;Оплатить и&nbsp;поднять&raquo;, с&nbsp;вашей
                                    карты
                                    будет списана стоимость услуги, после чего объявление будет поднято.
                                </div>
                                <div class="col-12 small mb-30">
                                    <a class="text-muted" href="#">Отвязать карту</a>
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-primary btn-lg btn-block">
                                        Оплатить и поднять
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Сюда вставляется дополнение по выбранному варианту оплаты #}
                <div class="col-12 payment-detail"></div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
      let cardGroup = document.querySelector(".card-group");
      let paymentCards = cardGroup.querySelectorAll(".card-payment");

      [].forEach.call(paymentCards, (currentCard, i) => {
        currentCard.addEventListener('click', switchCards)
        currentCard.parentNode.style.order = i.toString();
      });

      function switchCards(e) {
        [].forEach.call(paymentCards, currentCard => {
          if (this === currentCard) {
            currentCard.classList.add('active');
            currentCard.querySelector('input[type="radio"]').setAttribute('checked', true);
            pushContent(currentCard);
          } else {
            currentCard.classList.remove('active');
            currentCard.querySelector('input[type="radio"]').removeAttribute('checked');
          }
        });
      }

      function pushContent(sourceCard) {
        let targetLayer = document.querySelector(".card-group .payment-detail");
        targetLayer.innerHTML =
          sourceCard.querySelector(".card-collapse").innerHTML;
        targetLayer.style.order = sourceCard.parentNode.style.order;
        sourceCard.parentNode.scrollIntoView({block: 'start', behavior: 'smooth'})
      }

      document.getElementById('sum-input').addEventListener('focus', () => {
        document.getElementById('option4').setAttribute('checked', true);
        let buttons = document.querySelectorAll('.all-sum .btn');
        [].forEach.call(
          buttons, currentButton => currentButton.classList.remove('active')
        );
      });
      document.getElementById('sum-input').addEventListener('blur', () =>
        document.getElementById('option4').removeAttribute('checked'));

    </script>
{% endblock %}
