{% extends './_layout.twig' %}

{% block content %}
<form class="container">
    <h1 class="mt-10 mb-30">Поднятие объявления</h1>
    <p class="lead">
        Ваше объявление будет поднято в&nbsp;начало списка, а&nbsp;дата подачи объявления
        сегодняшней.
    </p>

    <div class="panel mt-20">
        <div class="panel-nav">
            <div class="d-flex">
                <div class="flex-grow-0">
                    <img class="media-object" src="/images/max-tmp/strobs.jpg" width="120" height="90"/>
                </div>
                <div class="d-flex flex-fill flex-column ml-20">
                    <div>
                        <div class="lead">
                            <a href="/strobbs">Кроссовки Strobbs</a>
                        </div>
                        <div class="paragraph-small text-muted mt-10">г. Москва</div>
                    </div>
                    <div class="flex-fill d-flex flex-column justify-content-end">
                        <div class="lead flex-grow-0">
                            01.04.2020 →
                            <span class="font-no-wrap">
                                    <span class="deadline">03.04.2020</span>
                                    <i class="icon-18-up"></i>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p class="lead mt-30">Стоимость услуги:</p>
        <p class="h2 mt-10">480 ₽</p>
    </div>

    <div>
        <p class="lead mt-30 mb-20">Выберите, как вам удобно пополнить:</p>
        <form class="payment-refill">
            <div class="card-group row-flex">
                {# Оплата картой #}
                <div class="col-md-4 col-12 mb-20">
                    <div class="card card-payment">
                        <input id="card-0" type="radio" class="card-checker" name="payment-cards"/>
                        <div class="card-icon">
                            <img src="/images/payments/icon-48-cards.svg"/>
                        </div>
                        <div class="card-body">
                            <div class="card-header">
                                <div class="lead font-weight-medium mb-10">
                                    Банковской картой
                                </div>
                                <div class="small">
                                    Оплатите используя карту
                                    <span class="font-weight-medium">Visa</span>,
                                    <span class="font-weight-medium">MasterCard</span>,
                                    <span class="font-weight-medium">Maestro</span>
                                    или
                                    <span class="font-weight-medium">МИР</span>.
                                </div>
                            </div>
                            <div class="card-footer mt-10">
                                <span class="small font-weight-medium text-green">Без комиссии</span>
                            </div>
                        </div>
                        <div class="card-collapse">
                            <div class="row-flex mt-10 mb-40">
                                <div class="col-lg-6 lead mb-20">
                                    После нажатия на кнопку «Оплатить и поднять» вы будете перенаправлены
                                    на страницу оплаты:
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-6 mb-20">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="save-card" checked>
                                        <label for="save-card" class="custom-control-label">
                                            Сохранить карту для быстрых платежей в будущем
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-primary btn-lg btn-block">
                                        Оплатить и поднять
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Оплата по номеру телефона #}
                <div class="col-md-4 col-12 mb-20">
                    <div class="card card-payment">
                        <input id="card-1" type="radio" class="card-checker" name="payment-cards"/>
                        <div class="card-icon">
                            <img src="/images/payments/icon-48-providers.svg"/>
                        </div>
                        <div class="card-body">
                            <div class="card-header">
                                <div class="lead font-weight-bold mb-10">
                                    Мобильный платеж
                                </div>
                                <div class="small">
                                    Оплатите с вашего мобильного счета
                                    <span class="font-weight-medium">Билайн</span>,
                                    <span class="font-weight-medium">Теле2</span>,
                                    <span class="font-weight-medium">Мегафон</span>
                                    или
                                    <span class="font-weight-medium">МТС</span>.
                                </div>
                            </div>
                            <div class="card-footer mt-10">
                                <span class="small font-weight-medium text-green">Без комиссии</span>
                            </div>
                        </div>
                        <div class="card-collapse">
                            <div class="row-flex mt-10 mb-40">
                                <div class="col-lg-6 lead mb-20">
                                    Укажите номер телефона, с баланса которого будет списана указанная сумма:
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-4 col-md-6 mb-20">
                                    <label for="phoneAccount" class="sr-only">Введите номер телефона:</label>
                                    <input id="phoneAccount" type="tel" name="term" class="form-control input-lg"
                                           placeholder="+7 987 654-32-10" value="">
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-primary btn-lg btn-block">
                                        Оплатить и поднять
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Оплата с кошелька #}
                <div class="col-md-4 col-12 mb-20">
                    <div class="card card-payment">
                        <input id="card-2" type="radio" class="card-checker" name="payment-cards"/>
                        <div class="card-icon">
                            <img src="/images/payments/icon-48-wallet.svg"/>
                        </div>
                        <div class="card-body">
                            <div class="card-header">
                                <div class="lead font-weight-medium mb-10">
                                    150 ₽ в кошельке
                                </div>
                                <div class="small">
                                    В вашем кошельке достаточно средств для оплаты выбранной услуги.
                                </div>
                            </div>
                            <div class="card-footer mt-10">
                                <div class="small font-weight-medium text-green">Без комиссии</div>
                            </div>
                        </div>
                        <div class="card-collapse">
                            <div class="row-flex mt-10 mb-40">
                                <div class="col-lg-6 lead mb-20">
                                    В вашем кошельке достаточно денег для оплаты, после нажатия на кнопку «Оплатить
                                    и поднять», со счета будет списана стоимость услуги и она станет активна.
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-primary btn-lg btn-block">
                                        Оплатить и поднять
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Оплата с кошелька - недостаточно средств #}
                <div class="col-md-4 col-12 mb-20">
                    <div class="card card-payment">
                        <input id="card-3" type="radio" class="card-checker" name="payment-cards"/>
                        <div class="card-icon">
                            <img src="/images/payments/icon-48-wallet.svg"/>
                        </div>
                        <div class="card-body">
                            <div class="card-header">
                                <div class="lead font-weight-medium mb-10">
                                    2 ₽ в кошельке
                                </div>
                                <div class="small">
                                    Внесите дополнительные средства для&nbsp;оплаты через кошелек
                                </div>
                            </div>
                            <div class="card-footer mt-10">
                                <div class="small font-weight-medium text-green">Без комиссии</div>
                            </div>
                        </div>
                        <div class="card-collapse">
                            <div class="row-flex mt-10 mb-40">
                                <div class="col-lg-6 lead mb-10">
                                    В вашем кошельке недостаточно денег для оплаты. Пополните кошелек и оплатите услугу:
                                </div>
                                <div class="col-12 mb-10">Текущий баланс: <span class="h3 text-bold">2</span> руб.</div>
                                <div class="col-12 mb-20">Рекомендованная сумма: <span class="h3 text-bold">478</span> руб.</div>
                                <div class="col-12"></div>
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-primary btn-lg btn-block">
                                        Пополнить кошелек
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Оплата сохраненной картой #}
                <div class="col-md-4 col-12 mb-20">
                    <div class="card card-payment">
                        <input id="card-4" type="radio" class="card-checker" name="payment-cards"/>
                        <div class="card-icon">
                            <img src="/images/payments/icon-48-mastercard.svg"/>
                        </div>
                        <div class="card-body">
                            <div class="card-header">
                                <div class="lead font-weight-medium mb-10">
                                    5559 49•• •••• 3199
                                </div>
                                <div class="small">
                                    Мгновенный платеж с&nbsp;вашей сохраненной карты MasterCard
                                </div>
                            </div>
                            <div class="card-footer mt-10">
                                <span class="small font-weight-medium text-green">Без комиссии</span>
                            </div>
                        </div>
                        <div class="card-collapse">
                            <div class="row-flex mt-10 mb-40">
                                <div class="col-lg-6 lead mb-10">
                                    После нажатия на&nbsp;кнопку &laquo;Оплатить и&nbsp;поднять&raquo;, с&nbsp;вашей
                                    карты
                                    будет списана стоимость услуги, после чего объявление будет поднято.
                                </div>
                                <div class="col-12 small mb-30">
                                    <a class="text-muted" href="#">Отвязать карту</a>
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-primary btn-lg btn-block">
                                        Оплатить и поднять
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 payment-detail"></div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let cardGroup = document.querySelector('.card-group');
        let paymentCards = cardGroup.querySelectorAll('.card-payment');

        [].forEach.call(paymentCards, (currentCard, i) => {
            currentCard.addEventListener('click', switchCards);
            currentCard.parentNode.style.order = i.toString();
        });

        function switchCards(e) {
            [].forEach.call(paymentCards, currentCard => {
                if (this === currentCard) {
                    currentCard.classList.add('active');
                    currentCard.querySelector('input[type="radio"]').setAttribute('checked', true);
                    pushContent(currentCard);
                } else {
                    currentCard.classList.remove('active');
                    currentCard.querySelector('input[type="radio"]').removeAttribute('checked');
                }
            });
        }

        function pushContent(sourceCard) {
            let targetLayer = document.querySelector('.card-group .payment-detail');
            targetLayer.innerHTML = sourceCard.querySelector('.card-collapse').innerHTML;
            targetLayer.style.order = sourceCard.parentNode.style.order;
            sourceCard.parentNode.scrollIntoView({block: 'start', behavior: 'smooth'})
        }
    </script>
{% endblock %}