/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-cat-24-acgreculture {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -160px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-animals {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -184px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-auto {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -208px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-biznes {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -232px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-children {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -256px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-clothes {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -280px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-dom_i_bit {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -304px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-fishing {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -328px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-gastronom {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -352px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-gifts {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -376px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-hobby {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -400px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-interes {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: 0px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-medicina_i_krasota {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -24px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-moto {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -48px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-nedvizhimost {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -72px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-ornamentation {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -96px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-parts {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -120px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-prochee {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -144px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-rabota {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -168px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-spec-tehnika {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -192px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-sport {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -216px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-stroitelstvo_i_remont {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -240px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-technika {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -264px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-uslugi {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -288px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-24-vodnaya_technika {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -312px -440px;
  width: 24px;
  height: 24px;
}
.icon-cat-agriculture-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: 0px 0px;
  width: 80px;
  height: 80px;
}
.icon-cat-agriculture {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -400px 0px;
  width: 40px;
  height: 40px;
}
.icon-cat-animals-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -80px 0px;
  width: 80px;
  height: 80px;
}
.icon-cat-animals {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -400px -40px;
  width: 40px;
  height: 40px;
}
.icon-cat-auto-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: 0px -80px;
  width: 80px;
  height: 80px;
}
.icon-cat-auto {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -400px -80px;
  width: 40px;
  height: 40px;
}
.icon-cat-biznes-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -80px -80px;
  width: 80px;
  height: 80px;
}
.icon-cat-biznes {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -400px -120px;
  width: 40px;
  height: 40px;
}
.icon-cat-children-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -160px 0px;
  width: 80px;
  height: 80px;
}
.icon-cat-children {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -400px -160px;
  width: 40px;
  height: 40px;
}
.icon-cat-clothes-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -160px -80px;
  width: 80px;
  height: 80px;
}
.icon-cat-clothes {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -400px -200px;
  width: 40px;
  height: 40px;
}
.icon-cat-dom_i_bit-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: 0px -160px;
  width: 80px;
  height: 80px;
}
.icon-cat-dom_i_bit {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -400px -240px;
  width: 40px;
  height: 40px;
}
.icon-cat-fishing-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -80px -160px;
  width: 80px;
  height: 80px;
}
.icon-cat-fishing {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -400px -280px;
  width: 40px;
  height: 40px;
}
.icon-cat-gastronom-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -160px -160px;
  width: 80px;
  height: 80px;
}
.icon-cat-gastronom {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -400px -320px;
  width: 40px;
  height: 40px;
}
.icon-cat-gifts-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -240px 0px;
  width: 80px;
  height: 80px;
}
.icon-cat-gifts {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -400px -360px;
  width: 40px;
  height: 40px;
}
.icon-cat-hobby-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -240px -80px;
  width: 80px;
  height: 80px;
}
.icon-cat-hobby {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: 0px -400px;
  width: 40px;
  height: 40px;
}
.icon-cat-interes-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -240px -160px;
  width: 80px;
  height: 80px;
}
.icon-cat-interes {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -40px -400px;
  width: 40px;
  height: 40px;
}
.icon-cat-medicina_i_krasota-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: 0px -240px;
  width: 80px;
  height: 80px;
}
.icon-cat-medicina_i_krasota {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -80px -400px;
  width: 40px;
  height: 40px;
}
.icon-cat-moto-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -80px -240px;
  width: 80px;
  height: 80px;
}
.icon-cat-moto {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -120px -400px;
  width: 40px;
  height: 40px;
}
.icon-cat-nedvizhimost-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -160px -240px;
  width: 80px;
  height: 80px;
}
.icon-cat-nedvizhimost {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -160px -400px;
  width: 40px;
  height: 40px;
}
.icon-cat-ornamentation-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -240px -240px;
  width: 80px;
  height: 80px;
}
.icon-cat-ornamentation {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -200px -400px;
  width: 40px;
  height: 40px;
}
.icon-cat-parts-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -320px 0px;
  width: 80px;
  height: 80px;
}
.icon-cat-parts {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -240px -400px;
  width: 40px;
  height: 40px;
}
.icon-cat-prochee-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -320px -80px;
  width: 80px;
  height: 80px;
}
.icon-cat-prochee {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -280px -400px;
  width: 40px;
  height: 40px;
}
.icon-cat-rabota-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -320px -160px;
  width: 80px;
  height: 80px;
}
.icon-cat-rabota {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -320px -400px;
  width: 40px;
  height: 40px;
}
.icon-cat-spec-tehnika-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -320px -240px;
  width: 80px;
  height: 80px;
}
.icon-cat-spec-tehnika {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -360px -400px;
  width: 40px;
  height: 40px;
}
.icon-cat-sport-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: 0px -320px;
  width: 80px;
  height: 80px;
}
.icon-cat-sport {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -400px -400px;
  width: 40px;
  height: 40px;
}
.icon-cat-stroitelstvo_i_remont-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -80px -320px;
  width: 80px;
  height: 80px;
}
.icon-cat-stroitelstvo_i_remont {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px 0px;
  width: 40px;
  height: 40px;
}
.icon-cat-technika-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -160px -320px;
  width: 80px;
  height: 80px;
}
.icon-cat-technika {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -40px;
  width: 40px;
  height: 40px;
}
.icon-cat-uslugi-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -240px -320px;
  width: 80px;
  height: 80px;
}
.icon-cat-uslugi {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -80px;
  width: 40px;
  height: 40px;
}
.icon-cat-vodnaya_technika-lg {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -320px -320px;
  width: 80px;
  height: 80px;
}
.icon-cat-vodnaya_technika {
  background-image: url(../../images/sprite-categories-v5.png);
  background-position: -440px -120px;
  width: 40px;
  height: 40px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-cat-24-acgreculture {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-animals {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-auto {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-biznes {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-children {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-clothes {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-dom_i_bit {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-fishing {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-gastronom {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-gifts {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-hobby {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-interes {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-medicina_i_krasota {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-moto {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-nedvizhimost {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-ornamentation {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-parts {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-prochee {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-rabota {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-spec-tehnika {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-sport {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-stroitelstvo_i_remont {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-technika {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-uslugi {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-24-vodnaya_technika {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-agriculture-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-agriculture {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-animals-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-animals {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-auto-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-auto {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-biznes-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-biznes {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-children-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-children {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-clothes-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-clothes {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-dom_i_bit-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-dom_i_bit {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-fishing-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-fishing {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-gastronom-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-gastronom {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-gifts-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-gifts {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-hobby-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-hobby {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-interes-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-interes {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-medicina_i_krasota-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-medicina_i_krasota {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-moto-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-moto {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-nedvizhimost-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-nedvizhimost {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-ornamentation-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-ornamentation {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-parts-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-parts {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-prochee-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-prochee {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-rabota-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-rabota {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-spec-tehnika-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-spec-tehnika {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-sport-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-sport {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-stroitelstvo_i_remont-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-stroitelstvo_i_remont {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-technika-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-technika {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-uslugi-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-uslugi {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-vodnaya_technika-lg {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
  .icon-cat-vodnaya_technika {
    background-image: url(../../images/sprite-categories-v5@2x.png);
    background-size: 480px 464px;
  }
}
