/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-18-ads-name: 'icon-18-ads';
@icon-18-ads-x: 152px;
@icon-18-ads-y: 120px;
@icon-18-ads-offset-x: -152px;
@icon-18-ads-offset-y: -120px;
@icon-18-ads-width: 18px;
@icon-18-ads-height: 18px;
@icon-18-ads-total-width: 212px;
@icon-18-ads-total-height: 180px;
@icon-18-ads-image: '../../images/sprite-v73.png';
@icon-18-ads: 152px 120px -152px -120px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-ads';
@icon-18-android-name: 'icon-18-android';
@icon-18-android-x: 128px;
@icon-18-android-y: 96px;
@icon-18-android-offset-x: -128px;
@icon-18-android-offset-y: -96px;
@icon-18-android-width: 18px;
@icon-18-android-height: 18px;
@icon-18-android-total-width: 212px;
@icon-18-android-total-height: 180px;
@icon-18-android-image: '../../images/sprite-v73.png';
@icon-18-android: 128px 96px -128px -96px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-android';
@icon-18-arrow-l-name: 'icon-18-arrow-l';
@icon-18-arrow-l-x: 104px;
@icon-18-arrow-l-y: 72px;
@icon-18-arrow-l-offset-x: -104px;
@icon-18-arrow-l-offset-y: -72px;
@icon-18-arrow-l-width: 18px;
@icon-18-arrow-l-height: 18px;
@icon-18-arrow-l-total-width: 212px;
@icon-18-arrow-l-total-height: 180px;
@icon-18-arrow-l-image: '../../images/sprite-v73.png';
@icon-18-arrow-l: 104px 72px -104px -72px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-arrow-l';
@icon-18-arrow-r-name: 'icon-18-arrow-r';
@icon-18-arrow-r-x: 80px;
@icon-18-arrow-r-y: 48px;
@icon-18-arrow-r-offset-x: -80px;
@icon-18-arrow-r-offset-y: -48px;
@icon-18-arrow-r-width: 18px;
@icon-18-arrow-r-height: 18px;
@icon-18-arrow-r-total-width: 212px;
@icon-18-arrow-r-total-height: 180px;
@icon-18-arrow-r-image: '../../images/sprite-v73.png';
@icon-18-arrow-r: 80px 48px -80px -48px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-arrow-r';
@icon-18-arrow-to-bottom-name: 'icon-18-arrow-to-bottom';
@icon-18-arrow-to-bottom-x: 56px;
@icon-18-arrow-to-bottom-y: 24px;
@icon-18-arrow-to-bottom-offset-x: -56px;
@icon-18-arrow-to-bottom-offset-y: -24px;
@icon-18-arrow-to-bottom-width: 18px;
@icon-18-arrow-to-bottom-height: 18px;
@icon-18-arrow-to-bottom-total-width: 212px;
@icon-18-arrow-to-bottom-total-height: 180px;
@icon-18-arrow-to-bottom-image: '../../images/sprite-v73.png';
@icon-18-arrow-to-bottom: 56px 24px -56px -24px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-arrow-to-bottom';
@icon-18-blocks-name: 'icon-18-blocks';
@icon-18-blocks-x: 32px;
@icon-18-blocks-y: 24px;
@icon-18-blocks-offset-x: -32px;
@icon-18-blocks-offset-y: -24px;
@icon-18-blocks-width: 18px;
@icon-18-blocks-height: 18px;
@icon-18-blocks-total-width: 212px;
@icon-18-blocks-total-height: 180px;
@icon-18-blocks-image: '../../images/sprite-v73.png';
@icon-18-blocks: 32px 24px -32px -24px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-blocks';
@icon-18-clock-name: 'icon-18-clock';
@icon-18-clock-x: 48px;
@icon-18-clock-y: 138px;
@icon-18-clock-offset-x: -48px;
@icon-18-clock-offset-y: -138px;
@icon-18-clock-width: 18px;
@icon-18-clock-height: 18px;
@icon-18-clock-total-width: 212px;
@icon-18-clock-total-height: 180px;
@icon-18-clock-image: '../../images/sprite-v73.png';
@icon-18-clock: 48px 138px -48px -138px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-clock';
@icon-18-company-name: 'icon-18-company';
@icon-18-company-x: 66px;
@icon-18-company-y: 138px;
@icon-18-company-offset-x: -66px;
@icon-18-company-offset-y: -138px;
@icon-18-company-width: 18px;
@icon-18-company-height: 18px;
@icon-18-company-total-width: 212px;
@icon-18-company-total-height: 180px;
@icon-18-company-image: '../../images/sprite-v73.png';
@icon-18-company: 66px 138px -66px -138px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-company';
@icon-18-edit-name: 'icon-18-edit';
@icon-18-edit-x: 84px;
@icon-18-edit-y: 138px;
@icon-18-edit-offset-x: -84px;
@icon-18-edit-offset-y: -138px;
@icon-18-edit-width: 18px;
@icon-18-edit-height: 18px;
@icon-18-edit-total-width: 212px;
@icon-18-edit-total-height: 180px;
@icon-18-edit-image: '../../images/sprite-v73.png';
@icon-18-edit: 84px 138px -84px -138px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-edit';
@icon-18-goods-name: 'icon-18-goods';
@icon-18-goods-x: 102px;
@icon-18-goods-y: 138px;
@icon-18-goods-offset-x: -102px;
@icon-18-goods-offset-y: -138px;
@icon-18-goods-width: 18px;
@icon-18-goods-height: 18px;
@icon-18-goods-total-width: 212px;
@icon-18-goods-total-height: 180px;
@icon-18-goods-image: '../../images/sprite-v73.png';
@icon-18-goods: 102px 138px -102px -138px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-goods';
@icon-18-image-name: 'icon-18-image';
@icon-18-image-x: 120px;
@icon-18-image-y: 138px;
@icon-18-image-offset-x: -120px;
@icon-18-image-offset-y: -138px;
@icon-18-image-width: 18px;
@icon-18-image-height: 18px;
@icon-18-image-total-width: 212px;
@icon-18-image-total-height: 180px;
@icon-18-image-image: '../../images/sprite-v73.png';
@icon-18-image: 120px 138px -120px -138px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-image';
@icon-18-ios-name: 'icon-18-ios';
@icon-18-ios-x: 138px;
@icon-18-ios-y: 138px;
@icon-18-ios-offset-x: -138px;
@icon-18-ios-offset-y: -138px;
@icon-18-ios-width: 18px;
@icon-18-ios-height: 18px;
@icon-18-ios-total-width: 212px;
@icon-18-ios-total-height: 180px;
@icon-18-ios-image: '../../images/sprite-v73.png';
@icon-18-ios: 138px 138px -138px -138px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-ios';
@icon-18-list-name: 'icon-18-list';
@icon-18-list-x: 156px;
@icon-18-list-y: 138px;
@icon-18-list-offset-x: -156px;
@icon-18-list-offset-y: -138px;
@icon-18-list-width: 18px;
@icon-18-list-height: 18px;
@icon-18-list-total-width: 212px;
@icon-18-list-total-height: 180px;
@icon-18-list-image: '../../images/sprite-v73.png';
@icon-18-list: 156px 138px -156px -138px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-list';
@icon-18-mail-name: 'icon-18-mail';
@icon-18-mail-x: 176px;
@icon-18-mail-y: 0px;
@icon-18-mail-offset-x: -176px;
@icon-18-mail-offset-y: 0px;
@icon-18-mail-width: 18px;
@icon-18-mail-height: 18px;
@icon-18-mail-total-width: 212px;
@icon-18-mail-total-height: 180px;
@icon-18-mail-image: '../../images/sprite-v73.png';
@icon-18-mail: 176px 0px -176px 0px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-mail';
@icon-18-minus-name: 'icon-18-minus';
@icon-18-minus-x: 176px;
@icon-18-minus-y: 18px;
@icon-18-minus-offset-x: -176px;
@icon-18-minus-offset-y: -18px;
@icon-18-minus-width: 18px;
@icon-18-minus-height: 18px;
@icon-18-minus-total-width: 212px;
@icon-18-minus-total-height: 180px;
@icon-18-minus-image: '../../images/sprite-v73.png';
@icon-18-minus: 176px 18px -176px -18px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-minus';
@icon-18-note-name: 'icon-18-note';
@icon-18-note-x: 176px;
@icon-18-note-y: 36px;
@icon-18-note-offset-x: -176px;
@icon-18-note-offset-y: -36px;
@icon-18-note-width: 18px;
@icon-18-note-height: 18px;
@icon-18-note-total-width: 212px;
@icon-18-note-total-height: 180px;
@icon-18-note-image: '../../images/sprite-v73.png';
@icon-18-note: 176px 36px -176px -36px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-note';
@icon-18-phone-name: 'icon-18-phone';
@icon-18-phone-x: 176px;
@icon-18-phone-y: 54px;
@icon-18-phone-offset-x: -176px;
@icon-18-phone-offset-y: -54px;
@icon-18-phone-width: 18px;
@icon-18-phone-height: 18px;
@icon-18-phone-total-width: 212px;
@icon-18-phone-total-height: 180px;
@icon-18-phone-image: '../../images/sprite-v73.png';
@icon-18-phone: 176px 54px -176px -54px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-phone';
@icon-18-place-name: 'icon-18-place';
@icon-18-place-x: 176px;
@icon-18-place-y: 72px;
@icon-18-place-offset-x: -176px;
@icon-18-place-offset-y: -72px;
@icon-18-place-width: 18px;
@icon-18-place-height: 18px;
@icon-18-place-total-width: 212px;
@icon-18-place-total-height: 180px;
@icon-18-place-image: '../../images/sprite-v73.png';
@icon-18-place: 176px 72px -176px -72px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-place';
@icon-18-plus-white-name: 'icon-18-plus-white';
@icon-18-plus-white-x: 176px;
@icon-18-plus-white-y: 90px;
@icon-18-plus-white-offset-x: -176px;
@icon-18-plus-white-offset-y: -90px;
@icon-18-plus-white-width: 18px;
@icon-18-plus-white-height: 18px;
@icon-18-plus-white-total-width: 212px;
@icon-18-plus-white-total-height: 180px;
@icon-18-plus-white-image: '../../images/sprite-v73.png';
@icon-18-plus-white: 176px 90px -176px -90px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-plus-white';
@icon-18-plus-name: 'icon-18-plus';
@icon-18-plus-x: 176px;
@icon-18-plus-y: 108px;
@icon-18-plus-offset-x: -176px;
@icon-18-plus-offset-y: -108px;
@icon-18-plus-width: 18px;
@icon-18-plus-height: 18px;
@icon-18-plus-total-width: 212px;
@icon-18-plus-total-height: 180px;
@icon-18-plus-image: '../../images/sprite-v73.png';
@icon-18-plus: 176px 108px -176px -108px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-plus';
@icon-18-question-name: 'icon-18-question';
@icon-18-question-x: 176px;
@icon-18-question-y: 126px;
@icon-18-question-offset-x: -176px;
@icon-18-question-offset-y: -126px;
@icon-18-question-width: 18px;
@icon-18-question-height: 18px;
@icon-18-question-total-width: 212px;
@icon-18-question-total-height: 180px;
@icon-18-question-image: '../../images/sprite-v73.png';
@icon-18-question: 176px 126px -176px -126px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-question';
@icon-18-refresh-name: 'icon-18-refresh';
@icon-18-refresh-x: 176px;
@icon-18-refresh-y: 144px;
@icon-18-refresh-offset-x: -176px;
@icon-18-refresh-offset-y: -144px;
@icon-18-refresh-width: 18px;
@icon-18-refresh-height: 18px;
@icon-18-refresh-total-width: 212px;
@icon-18-refresh-total-height: 180px;
@icon-18-refresh-image: '../../images/sprite-v73.png';
@icon-18-refresh: 176px 144px -176px -144px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-refresh';
@icon-18-remove-name: 'icon-18-remove';
@icon-18-remove-x: 0px;
@icon-18-remove-y: 162px;
@icon-18-remove-offset-x: 0px;
@icon-18-remove-offset-y: -162px;
@icon-18-remove-width: 18px;
@icon-18-remove-height: 18px;
@icon-18-remove-total-width: 212px;
@icon-18-remove-total-height: 180px;
@icon-18-remove-image: '../../images/sprite-v73.png';
@icon-18-remove: 0px 162px 0px -162px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-remove';
@icon-18-review-name: 'icon-18-review';
@icon-18-review-x: 18px;
@icon-18-review-y: 162px;
@icon-18-review-offset-x: -18px;
@icon-18-review-offset-y: -162px;
@icon-18-review-width: 18px;
@icon-18-review-height: 18px;
@icon-18-review-total-width: 212px;
@icon-18-review-total-height: 180px;
@icon-18-review-image: '../../images/sprite-v73.png';
@icon-18-review: 18px 162px -18px -162px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-review';
@icon-18-rotate-left-name: 'icon-18-rotate-left';
@icon-18-rotate-left-x: 36px;
@icon-18-rotate-left-y: 162px;
@icon-18-rotate-left-offset-x: -36px;
@icon-18-rotate-left-offset-y: -162px;
@icon-18-rotate-left-width: 18px;
@icon-18-rotate-left-height: 18px;
@icon-18-rotate-left-total-width: 212px;
@icon-18-rotate-left-total-height: 180px;
@icon-18-rotate-left-image: '../../images/sprite-v73.png';
@icon-18-rotate-left: 36px 162px -36px -162px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-rotate-left';
@icon-18-rotate-right-name: 'icon-18-rotate-right';
@icon-18-rotate-right-x: 54px;
@icon-18-rotate-right-y: 162px;
@icon-18-rotate-right-offset-x: -54px;
@icon-18-rotate-right-offset-y: -162px;
@icon-18-rotate-right-width: 18px;
@icon-18-rotate-right-height: 18px;
@icon-18-rotate-right-total-width: 212px;
@icon-18-rotate-right-total-height: 180px;
@icon-18-rotate-right-image: '../../images/sprite-v73.png';
@icon-18-rotate-right: 54px 162px -54px -162px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-rotate-right';
@icon-18-search-black-name: 'icon-18-search-black';
@icon-18-search-black-x: 72px;
@icon-18-search-black-y: 162px;
@icon-18-search-black-offset-x: -72px;
@icon-18-search-black-offset-y: -162px;
@icon-18-search-black-width: 18px;
@icon-18-search-black-height: 18px;
@icon-18-search-black-total-width: 212px;
@icon-18-search-black-total-height: 180px;
@icon-18-search-black-image: '../../images/sprite-v73.png';
@icon-18-search-black: 72px 162px -72px -162px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-search-black';
@icon-18-shape-name: 'icon-18-shape';
@icon-18-shape-x: 90px;
@icon-18-shape-y: 162px;
@icon-18-shape-offset-x: -90px;
@icon-18-shape-offset-y: -162px;
@icon-18-shape-width: 18px;
@icon-18-shape-height: 18px;
@icon-18-shape-total-width: 212px;
@icon-18-shape-total-height: 180px;
@icon-18-shape-image: '../../images/sprite-v73.png';
@icon-18-shape: 90px 162px -90px -162px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-shape';
@icon-18-sitemap-name: 'icon-18-sitemap';
@icon-18-sitemap-x: 108px;
@icon-18-sitemap-y: 162px;
@icon-18-sitemap-offset-x: -108px;
@icon-18-sitemap-offset-y: -162px;
@icon-18-sitemap-width: 18px;
@icon-18-sitemap-height: 18px;
@icon-18-sitemap-total-width: 212px;
@icon-18-sitemap-total-height: 180px;
@icon-18-sitemap-image: '../../images/sprite-v73.png';
@icon-18-sitemap: 108px 162px -108px -162px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-sitemap';
@icon-18-smartphone-name: 'icon-18-smartphone';
@icon-18-smartphone-x: 126px;
@icon-18-smartphone-y: 162px;
@icon-18-smartphone-offset-x: -126px;
@icon-18-smartphone-offset-y: -162px;
@icon-18-smartphone-width: 18px;
@icon-18-smartphone-height: 18px;
@icon-18-smartphone-total-width: 212px;
@icon-18-smartphone-total-height: 180px;
@icon-18-smartphone-image: '../../images/sprite-v73.png';
@icon-18-smartphone: 126px 162px -126px -162px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-smartphone';
@icon-18-sorting-name: 'icon-18-sorting';
@icon-18-sorting-x: 144px;
@icon-18-sorting-y: 162px;
@icon-18-sorting-offset-x: -144px;
@icon-18-sorting-offset-y: -162px;
@icon-18-sorting-width: 18px;
@icon-18-sorting-height: 18px;
@icon-18-sorting-total-width: 212px;
@icon-18-sorting-total-height: 180px;
@icon-18-sorting-image: '../../images/sprite-v73.png';
@icon-18-sorting: 144px 162px -144px -162px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-sorting';
@icon-18-stat-name: 'icon-18-stat';
@icon-18-stat-x: 162px;
@icon-18-stat-y: 162px;
@icon-18-stat-offset-x: -162px;
@icon-18-stat-offset-y: -162px;
@icon-18-stat-width: 18px;
@icon-18-stat-height: 18px;
@icon-18-stat-total-width: 212px;
@icon-18-stat-total-height: 180px;
@icon-18-stat-image: '../../images/sprite-v73.png';
@icon-18-stat: 162px 162px -162px -162px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-stat';
@icon-18-subscribe-name: 'icon-18-subscribe';
@icon-18-subscribe-x: 194px;
@icon-18-subscribe-y: 0px;
@icon-18-subscribe-offset-x: -194px;
@icon-18-subscribe-offset-y: 0px;
@icon-18-subscribe-width: 18px;
@icon-18-subscribe-height: 18px;
@icon-18-subscribe-total-width: 212px;
@icon-18-subscribe-total-height: 180px;
@icon-18-subscribe-image: '../../images/sprite-v73.png';
@icon-18-subscribe: 194px 0px -194px 0px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-subscribe';
@icon-18-support-name: 'icon-18-support';
@icon-18-support-x: 194px;
@icon-18-support-y: 18px;
@icon-18-support-offset-x: -194px;
@icon-18-support-offset-y: -18px;
@icon-18-support-width: 18px;
@icon-18-support-height: 18px;
@icon-18-support-total-width: 212px;
@icon-18-support-total-height: 180px;
@icon-18-support-image: '../../images/sprite-v73.png';
@icon-18-support: 194px 18px -194px -18px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-support';
@icon-18-top-seller-name: 'icon-18-top-seller';
@icon-18-top-seller-x: 0px;
@icon-18-top-seller-y: 0px;
@icon-18-top-seller-offset-x: 0px;
@icon-18-top-seller-offset-y: 0px;
@icon-18-top-seller-width: 32px;
@icon-18-top-seller-height: 18px;
@icon-18-top-seller-total-width: 212px;
@icon-18-top-seller-total-height: 180px;
@icon-18-top-seller-image: '../../images/sprite-v73.png';
@icon-18-top-seller: 0px 0px 0px 0px 32px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-top-seller';
@icon-18-trash-full-name: 'icon-18-trash-full';
@icon-18-trash-full-x: 194px;
@icon-18-trash-full-y: 36px;
@icon-18-trash-full-offset-x: -194px;
@icon-18-trash-full-offset-y: -36px;
@icon-18-trash-full-width: 18px;
@icon-18-trash-full-height: 18px;
@icon-18-trash-full-total-width: 212px;
@icon-18-trash-full-total-height: 180px;
@icon-18-trash-full-image: '../../images/sprite-v73.png';
@icon-18-trash-full: 194px 36px -194px -36px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-trash-full';
@icon-18-trash-name: 'icon-18-trash';
@icon-18-trash-x: 194px;
@icon-18-trash-y: 54px;
@icon-18-trash-offset-x: -194px;
@icon-18-trash-offset-y: -54px;
@icon-18-trash-width: 18px;
@icon-18-trash-height: 18px;
@icon-18-trash-total-width: 212px;
@icon-18-trash-total-height: 180px;
@icon-18-trash-image: '../../images/sprite-v73.png';
@icon-18-trash: 194px 54px -194px -54px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-trash';
@icon-18-up-name: 'icon-18-up';
@icon-18-up-x: 194px;
@icon-18-up-y: 72px;
@icon-18-up-offset-x: -194px;
@icon-18-up-offset-y: -72px;
@icon-18-up-width: 18px;
@icon-18-up-height: 18px;
@icon-18-up-total-width: 212px;
@icon-18-up-total-height: 180px;
@icon-18-up-image: '../../images/sprite-v73.png';
@icon-18-up: 194px 72px -194px -72px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-up';
@icon-18-user-name: 'icon-18-user';
@icon-18-user-x: 194px;
@icon-18-user-y: 90px;
@icon-18-user-offset-x: -194px;
@icon-18-user-offset-y: -90px;
@icon-18-user-width: 18px;
@icon-18-user-height: 18px;
@icon-18-user-total-width: 212px;
@icon-18-user-total-height: 180px;
@icon-18-user-image: '../../images/sprite-v73.png';
@icon-18-user: 194px 90px -194px -90px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-user';
@icon-18-zoom-name: 'icon-18-zoom';
@icon-18-zoom-x: 194px;
@icon-18-zoom-y: 108px;
@icon-18-zoom-offset-x: -194px;
@icon-18-zoom-offset-y: -108px;
@icon-18-zoom-width: 18px;
@icon-18-zoom-height: 18px;
@icon-18-zoom-total-width: 212px;
@icon-18-zoom-total-height: 180px;
@icon-18-zoom-image: '../../images/sprite-v73.png';
@icon-18-zoom: 194px 108px -194px -108px 18px 18px 212px 180px '../../images/sprite-v73.png' 'icon-18-zoom';
@icon-24-add-active-name: 'icon-24-add-active';
@icon-24-add-active-x: 0px;
@icon-24-add-active-y: 18px;
@icon-24-add-active-offset-x: 0px;
@icon-24-add-active-offset-y: -18px;
@icon-24-add-active-width: 24px;
@icon-24-add-active-height: 24px;
@icon-24-add-active-total-width: 212px;
@icon-24-add-active-total-height: 180px;
@icon-24-add-active-image: '../../images/sprite-v73.png';
@icon-24-add-active: 0px 18px 0px -18px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-add-active';
@icon-24-add-name: 'icon-24-add';
@icon-24-add-x: 32px;
@icon-24-add-y: 0px;
@icon-24-add-offset-x: -32px;
@icon-24-add-offset-y: 0px;
@icon-24-add-width: 24px;
@icon-24-add-height: 24px;
@icon-24-add-total-width: 212px;
@icon-24-add-total-height: 180px;
@icon-24-add-image: '../../images/sprite-v73.png';
@icon-24-add: 32px 0px -32px 0px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-add';
@icon-24-ads-name: 'icon-24-ads';
@icon-24-ads-x: 56px;
@icon-24-ads-y: 0px;
@icon-24-ads-offset-x: -56px;
@icon-24-ads-offset-y: 0px;
@icon-24-ads-width: 24px;
@icon-24-ads-height: 24px;
@icon-24-ads-total-width: 212px;
@icon-24-ads-total-height: 180px;
@icon-24-ads-image: '../../images/sprite-v73.png';
@icon-24-ads: 56px 0px -56px 0px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-ads';
@icon-24-blacknote-name: 'icon-24-blacknote';
@icon-24-blacknote-x: 0px;
@icon-24-blacknote-y: 42px;
@icon-24-blacknote-offset-x: 0px;
@icon-24-blacknote-offset-y: -42px;
@icon-24-blacknote-width: 24px;
@icon-24-blacknote-height: 24px;
@icon-24-blacknote-total-width: 212px;
@icon-24-blacknote-total-height: 180px;
@icon-24-blacknote-image: '../../images/sprite-v73.png';
@icon-24-blacknote: 0px 42px 0px -42px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-blacknote';
@icon-24-cart-name: 'icon-24-cart';
@icon-24-cart-x: 24px;
@icon-24-cart-y: 42px;
@icon-24-cart-offset-x: -24px;
@icon-24-cart-offset-y: -42px;
@icon-24-cart-width: 24px;
@icon-24-cart-height: 24px;
@icon-24-cart-total-width: 212px;
@icon-24-cart-total-height: 180px;
@icon-24-cart-image: '../../images/sprite-v73.png';
@icon-24-cart: 24px 42px -24px -42px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-cart';
@icon-24-chats-name: 'icon-24-chats';
@icon-24-chats-x: 48px;
@icon-24-chats-y: 42px;
@icon-24-chats-offset-x: -48px;
@icon-24-chats-offset-y: -42px;
@icon-24-chats-width: 24px;
@icon-24-chats-height: 24px;
@icon-24-chats-total-width: 212px;
@icon-24-chats-total-height: 180px;
@icon-24-chats-image: '../../images/sprite-v73.png';
@icon-24-chats: 48px 42px -48px -42px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-chats';
@icon-24-check-name: 'icon-24-check';
@icon-24-check-x: 80px;
@icon-24-check-y: 0px;
@icon-24-check-offset-x: -80px;
@icon-24-check-offset-y: 0px;
@icon-24-check-width: 24px;
@icon-24-check-height: 24px;
@icon-24-check-total-width: 212px;
@icon-24-check-total-height: 180px;
@icon-24-check-image: '../../images/sprite-v73.png';
@icon-24-check: 80px 0px -80px 0px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-check';
@icon-24-close-name: 'icon-24-close';
@icon-24-close-x: 80px;
@icon-24-close-y: 24px;
@icon-24-close-offset-x: -80px;
@icon-24-close-offset-y: -24px;
@icon-24-close-width: 24px;
@icon-24-close-height: 24px;
@icon-24-close-total-width: 212px;
@icon-24-close-total-height: 180px;
@icon-24-close-image: '../../images/sprite-v73.png';
@icon-24-close: 80px 24px -80px -24px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-close';
@icon-24-companies-active-name: 'icon-24-companies-active';
@icon-24-companies-active-x: 0px;
@icon-24-companies-active-y: 66px;
@icon-24-companies-active-offset-x: 0px;
@icon-24-companies-active-offset-y: -66px;
@icon-24-companies-active-width: 24px;
@icon-24-companies-active-height: 24px;
@icon-24-companies-active-total-width: 212px;
@icon-24-companies-active-total-height: 180px;
@icon-24-companies-active-image: '../../images/sprite-v73.png';
@icon-24-companies-active: 0px 66px 0px -66px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-companies-active';
@icon-24-companies-name: 'icon-24-companies';
@icon-24-companies-x: 24px;
@icon-24-companies-y: 66px;
@icon-24-companies-offset-x: -24px;
@icon-24-companies-offset-y: -66px;
@icon-24-companies-width: 24px;
@icon-24-companies-height: 24px;
@icon-24-companies-total-width: 212px;
@icon-24-companies-total-height: 180px;
@icon-24-companies-image: '../../images/sprite-v73.png';
@icon-24-companies: 24px 66px -24px -66px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-companies';
@icon-24-company-name: 'icon-24-company';
@icon-24-company-x: 48px;
@icon-24-company-y: 66px;
@icon-24-company-offset-x: -48px;
@icon-24-company-offset-y: -66px;
@icon-24-company-width: 24px;
@icon-24-company-height: 24px;
@icon-24-company-total-width: 212px;
@icon-24-company-total-height: 180px;
@icon-24-company-image: '../../images/sprite-v73.png';
@icon-24-company: 48px 66px -48px -66px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-company';
@icon-24-favorite-highlight-name: 'icon-24-favorite-highlight';
@icon-24-favorite-highlight-x: 72px;
@icon-24-favorite-highlight-y: 66px;
@icon-24-favorite-highlight-offset-x: -72px;
@icon-24-favorite-highlight-offset-y: -66px;
@icon-24-favorite-highlight-width: 24px;
@icon-24-favorite-highlight-height: 24px;
@icon-24-favorite-highlight-total-width: 212px;
@icon-24-favorite-highlight-total-height: 180px;
@icon-24-favorite-highlight-image: '../../images/sprite-v73.png';
@icon-24-favorite-highlight: 72px 66px -72px -66px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-favorite-highlight';
@icon-24-favorite-name: 'icon-24-favorite';
@icon-24-favorite-x: 104px;
@icon-24-favorite-y: 0px;
@icon-24-favorite-offset-x: -104px;
@icon-24-favorite-offset-y: 0px;
@icon-24-favorite-width: 24px;
@icon-24-favorite-height: 24px;
@icon-24-favorite-total-width: 212px;
@icon-24-favorite-total-height: 180px;
@icon-24-favorite-image: '../../images/sprite-v73.png';
@icon-24-favorite: 104px 0px -104px 0px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-favorite';
@icon-24-geolocation-highlight-name: 'icon-24-geolocation-highlight';
@icon-24-geolocation-highlight-x: 104px;
@icon-24-geolocation-highlight-y: 24px;
@icon-24-geolocation-highlight-offset-x: -104px;
@icon-24-geolocation-highlight-offset-y: -24px;
@icon-24-geolocation-highlight-width: 24px;
@icon-24-geolocation-highlight-height: 24px;
@icon-24-geolocation-highlight-total-width: 212px;
@icon-24-geolocation-highlight-total-height: 180px;
@icon-24-geolocation-highlight-image: '../../images/sprite-v73.png';
@icon-24-geolocation-highlight: 104px 24px -104px -24px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-geolocation-highlight';
@icon-24-geolocation-name: 'icon-24-geolocation';
@icon-24-geolocation-x: 104px;
@icon-24-geolocation-y: 48px;
@icon-24-geolocation-offset-x: -104px;
@icon-24-geolocation-offset-y: -48px;
@icon-24-geolocation-width: 24px;
@icon-24-geolocation-height: 24px;
@icon-24-geolocation-total-width: 212px;
@icon-24-geolocation-total-height: 180px;
@icon-24-geolocation-image: '../../images/sprite-v73.png';
@icon-24-geolocation: 104px 48px -104px -48px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-geolocation';
@icon-24-goods-name: 'icon-24-goods';
@icon-24-goods-x: 0px;
@icon-24-goods-y: 90px;
@icon-24-goods-offset-x: 0px;
@icon-24-goods-offset-y: -90px;
@icon-24-goods-width: 24px;
@icon-24-goods-height: 24px;
@icon-24-goods-total-width: 212px;
@icon-24-goods-total-height: 180px;
@icon-24-goods-image: '../../images/sprite-v73.png';
@icon-24-goods: 0px 90px 0px -90px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-goods';
@icon-24-gpay-name: 'icon-24-gpay';
@icon-24-gpay-x: 24px;
@icon-24-gpay-y: 90px;
@icon-24-gpay-offset-x: -24px;
@icon-24-gpay-offset-y: -90px;
@icon-24-gpay-width: 24px;
@icon-24-gpay-height: 24px;
@icon-24-gpay-total-width: 212px;
@icon-24-gpay-total-height: 180px;
@icon-24-gpay-image: '../../images/sprite-v73.png';
@icon-24-gpay: 24px 90px -24px -90px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-gpay';
@icon-24-mail-highlight-name: 'icon-24-mail-highlight';
@icon-24-mail-highlight-x: 48px;
@icon-24-mail-highlight-y: 90px;
@icon-24-mail-highlight-offset-x: -48px;
@icon-24-mail-highlight-offset-y: -90px;
@icon-24-mail-highlight-width: 24px;
@icon-24-mail-highlight-height: 24px;
@icon-24-mail-highlight-total-width: 212px;
@icon-24-mail-highlight-total-height: 180px;
@icon-24-mail-highlight-image: '../../images/sprite-v73.png';
@icon-24-mail-highlight: 48px 90px -48px -90px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-mail-highlight';
@icon-24-mail-name: 'icon-24-mail';
@icon-24-mail-x: 72px;
@icon-24-mail-y: 90px;
@icon-24-mail-offset-x: -72px;
@icon-24-mail-offset-y: -90px;
@icon-24-mail-width: 24px;
@icon-24-mail-height: 24px;
@icon-24-mail-total-width: 212px;
@icon-24-mail-total-height: 180px;
@icon-24-mail-image: '../../images/sprite-v73.png';
@icon-24-mail: 72px 90px -72px -90px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-mail';
@icon-24-note-name: 'icon-24-note';
@icon-24-note-x: 96px;
@icon-24-note-y: 90px;
@icon-24-note-offset-x: -96px;
@icon-24-note-offset-y: -90px;
@icon-24-note-width: 24px;
@icon-24-note-height: 24px;
@icon-24-note-total-width: 212px;
@icon-24-note-total-height: 180px;
@icon-24-note-image: '../../images/sprite-v73.png';
@icon-24-note: 96px 90px -96px -90px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-note';
@icon-24-profile-highlight-name: 'icon-24-profile-highlight';
@icon-24-profile-highlight-x: 128px;
@icon-24-profile-highlight-y: 0px;
@icon-24-profile-highlight-offset-x: -128px;
@icon-24-profile-highlight-offset-y: 0px;
@icon-24-profile-highlight-width: 24px;
@icon-24-profile-highlight-height: 24px;
@icon-24-profile-highlight-total-width: 212px;
@icon-24-profile-highlight-total-height: 180px;
@icon-24-profile-highlight-image: '../../images/sprite-v73.png';
@icon-24-profile-highlight: 128px 0px -128px 0px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-profile-highlight';
@icon-24-profile-name: 'icon-24-profile';
@icon-24-profile-x: 128px;
@icon-24-profile-y: 24px;
@icon-24-profile-offset-x: -128px;
@icon-24-profile-offset-y: -24px;
@icon-24-profile-width: 24px;
@icon-24-profile-height: 24px;
@icon-24-profile-total-width: 212px;
@icon-24-profile-total-height: 180px;
@icon-24-profile-image: '../../images/sprite-v73.png';
@icon-24-profile: 128px 24px -128px -24px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-profile';
@icon-24-question-name: 'icon-24-question';
@icon-24-question-x: 128px;
@icon-24-question-y: 48px;
@icon-24-question-offset-x: -128px;
@icon-24-question-offset-y: -48px;
@icon-24-question-width: 24px;
@icon-24-question-height: 24px;
@icon-24-question-total-width: 212px;
@icon-24-question-total-height: 180px;
@icon-24-question-image: '../../images/sprite-v73.png';
@icon-24-question: 128px 48px -128px -48px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-question';
@icon-24-rating-delete-name: 'icon-24-rating-delete';
@icon-24-rating-delete-x: 128px;
@icon-24-rating-delete-y: 72px;
@icon-24-rating-delete-offset-x: -128px;
@icon-24-rating-delete-offset-y: -72px;
@icon-24-rating-delete-width: 24px;
@icon-24-rating-delete-height: 24px;
@icon-24-rating-delete-total-width: 212px;
@icon-24-rating-delete-total-height: 180px;
@icon-24-rating-delete-image: '../../images/sprite-v73.png';
@icon-24-rating-delete: 128px 72px -128px -72px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-rating-delete';
@icon-24-rating-minus-name: 'icon-24-rating-minus';
@icon-24-rating-minus-x: 0px;
@icon-24-rating-minus-y: 114px;
@icon-24-rating-minus-offset-x: 0px;
@icon-24-rating-minus-offset-y: -114px;
@icon-24-rating-minus-width: 24px;
@icon-24-rating-minus-height: 24px;
@icon-24-rating-minus-total-width: 212px;
@icon-24-rating-minus-total-height: 180px;
@icon-24-rating-minus-image: '../../images/sprite-v73.png';
@icon-24-rating-minus: 0px 114px 0px -114px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-rating-minus';
@icon-24-rating-neutral-name: 'icon-24-rating-neutral';
@icon-24-rating-neutral-x: 24px;
@icon-24-rating-neutral-y: 114px;
@icon-24-rating-neutral-offset-x: -24px;
@icon-24-rating-neutral-offset-y: -114px;
@icon-24-rating-neutral-width: 24px;
@icon-24-rating-neutral-height: 24px;
@icon-24-rating-neutral-total-width: 212px;
@icon-24-rating-neutral-total-height: 180px;
@icon-24-rating-neutral-image: '../../images/sprite-v73.png';
@icon-24-rating-neutral: 24px 114px -24px -114px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-rating-neutral';
@icon-24-rating-plus-name: 'icon-24-rating-plus';
@icon-24-rating-plus-x: 48px;
@icon-24-rating-plus-y: 114px;
@icon-24-rating-plus-offset-x: -48px;
@icon-24-rating-plus-offset-y: -114px;
@icon-24-rating-plus-width: 24px;
@icon-24-rating-plus-height: 24px;
@icon-24-rating-plus-total-width: 212px;
@icon-24-rating-plus-total-height: 180px;
@icon-24-rating-plus-image: '../../images/sprite-v73.png';
@icon-24-rating-plus: 48px 114px -48px -114px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-rating-plus';
@icon-24-rating-name: 'icon-24-rating';
@icon-24-rating-x: 72px;
@icon-24-rating-y: 114px;
@icon-24-rating-offset-x: -72px;
@icon-24-rating-offset-y: -114px;
@icon-24-rating-width: 24px;
@icon-24-rating-height: 24px;
@icon-24-rating-total-width: 212px;
@icon-24-rating-total-height: 180px;
@icon-24-rating-image: '../../images/sprite-v73.png';
@icon-24-rating: 72px 114px -72px -114px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-rating';
@icon-24-search-goods-active-name: 'icon-24-search-goods-active';
@icon-24-search-goods-active-x: 96px;
@icon-24-search-goods-active-y: 114px;
@icon-24-search-goods-active-offset-x: -96px;
@icon-24-search-goods-active-offset-y: -114px;
@icon-24-search-goods-active-width: 24px;
@icon-24-search-goods-active-height: 24px;
@icon-24-search-goods-active-total-width: 212px;
@icon-24-search-goods-active-total-height: 180px;
@icon-24-search-goods-active-image: '../../images/sprite-v73.png';
@icon-24-search-goods-active: 96px 114px -96px -114px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-search-goods-active';
@icon-24-search-goods-name: 'icon-24-search-goods';
@icon-24-search-goods-x: 120px;
@icon-24-search-goods-y: 114px;
@icon-24-search-goods-offset-x: -120px;
@icon-24-search-goods-offset-y: -114px;
@icon-24-search-goods-width: 24px;
@icon-24-search-goods-height: 24px;
@icon-24-search-goods-total-width: 212px;
@icon-24-search-goods-total-height: 180px;
@icon-24-search-goods-image: '../../images/sprite-v73.png';
@icon-24-search-goods: 120px 114px -120px -114px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-search-goods';
@icon-24-search-white-name: 'icon-24-search-white';
@icon-24-search-white-x: 152px;
@icon-24-search-white-y: 0px;
@icon-24-search-white-offset-x: -152px;
@icon-24-search-white-offset-y: 0px;
@icon-24-search-white-width: 24px;
@icon-24-search-white-height: 24px;
@icon-24-search-white-total-width: 212px;
@icon-24-search-white-total-height: 180px;
@icon-24-search-white-image: '../../images/sprite-v73.png';
@icon-24-search-white: 152px 0px -152px 0px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-search-white';
@icon-24-settings-name: 'icon-24-settings';
@icon-24-settings-x: 152px;
@icon-24-settings-y: 24px;
@icon-24-settings-offset-x: -152px;
@icon-24-settings-offset-y: -24px;
@icon-24-settings-width: 24px;
@icon-24-settings-height: 24px;
@icon-24-settings-total-width: 212px;
@icon-24-settings-total-height: 180px;
@icon-24-settings-image: '../../images/sprite-v73.png';
@icon-24-settings: 152px 24px -152px -24px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-settings';
@icon-24-site-name: 'icon-24-site';
@icon-24-site-x: 152px;
@icon-24-site-y: 48px;
@icon-24-site-offset-x: -152px;
@icon-24-site-offset-y: -48px;
@icon-24-site-width: 24px;
@icon-24-site-height: 24px;
@icon-24-site-total-width: 212px;
@icon-24-site-total-height: 180px;
@icon-24-site-image: '../../images/sprite-v73.png';
@icon-24-site: 152px 48px -152px -48px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-site';
@icon-24-trash-full-name: 'icon-24-trash-full';
@icon-24-trash-full-x: 152px;
@icon-24-trash-full-y: 72px;
@icon-24-trash-full-offset-x: -152px;
@icon-24-trash-full-offset-y: -72px;
@icon-24-trash-full-width: 24px;
@icon-24-trash-full-height: 24px;
@icon-24-trash-full-total-width: 212px;
@icon-24-trash-full-total-height: 180px;
@icon-24-trash-full-image: '../../images/sprite-v73.png';
@icon-24-trash-full: 152px 72px -152px -72px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-trash-full';
@icon-24-user-name: 'icon-24-user';
@icon-24-user-x: 152px;
@icon-24-user-y: 96px;
@icon-24-user-offset-x: -152px;
@icon-24-user-offset-y: -96px;
@icon-24-user-width: 24px;
@icon-24-user-height: 24px;
@icon-24-user-total-width: 212px;
@icon-24-user-total-height: 180px;
@icon-24-user-image: '../../images/sprite-v73.png';
@icon-24-user: 152px 96px -152px -96px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-user';
@icon-24-video-name: 'icon-24-video';
@icon-24-video-x: 0px;
@icon-24-video-y: 138px;
@icon-24-video-offset-x: 0px;
@icon-24-video-offset-y: -138px;
@icon-24-video-width: 24px;
@icon-24-video-height: 24px;
@icon-24-video-total-width: 212px;
@icon-24-video-total-height: 180px;
@icon-24-video-image: '../../images/sprite-v73.png';
@icon-24-video: 0px 138px 0px -138px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-video';
@icon-24-warning-name: 'icon-24-warning';
@icon-24-warning-x: 24px;
@icon-24-warning-y: 138px;
@icon-24-warning-offset-x: -24px;
@icon-24-warning-offset-y: -138px;
@icon-24-warning-width: 24px;
@icon-24-warning-height: 24px;
@icon-24-warning-total-width: 212px;
@icon-24-warning-total-height: 180px;
@icon-24-warning-image: '../../images/sprite-v73.png';
@icon-24-warning: 24px 138px -24px -138px 24px 24px 212px 180px '../../images/sprite-v73.png' 'icon-24-warning';
@icon-18-ads-2x-name: 'icon-18-ads@2x';
@icon-18-ads-2x-x: 304px;
@icon-18-ads-2x-y: 240px;
@icon-18-ads-2x-offset-x: -304px;
@icon-18-ads-2x-offset-y: -240px;
@icon-18-ads-2x-width: 36px;
@icon-18-ads-2x-height: 36px;
@icon-18-ads-2x-total-width: 424px;
@icon-18-ads-2x-total-height: 360px;
@icon-18-ads-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-ads-2x: 304px 240px -304px -240px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-ads@2x';
@icon-18-android-2x-name: 'icon-18-android@2x';
@icon-18-android-2x-x: 256px;
@icon-18-android-2x-y: 192px;
@icon-18-android-2x-offset-x: -256px;
@icon-18-android-2x-offset-y: -192px;
@icon-18-android-2x-width: 36px;
@icon-18-android-2x-height: 36px;
@icon-18-android-2x-total-width: 424px;
@icon-18-android-2x-total-height: 360px;
@icon-18-android-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-android-2x: 256px 192px -256px -192px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-android@2x';
@icon-18-arrow-l-2x-name: 'icon-18-arrow-l@2x';
@icon-18-arrow-l-2x-x: 208px;
@icon-18-arrow-l-2x-y: 144px;
@icon-18-arrow-l-2x-offset-x: -208px;
@icon-18-arrow-l-2x-offset-y: -144px;
@icon-18-arrow-l-2x-width: 36px;
@icon-18-arrow-l-2x-height: 36px;
@icon-18-arrow-l-2x-total-width: 424px;
@icon-18-arrow-l-2x-total-height: 360px;
@icon-18-arrow-l-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-arrow-l-2x: 208px 144px -208px -144px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-arrow-l@2x';
@icon-18-arrow-r-2x-name: 'icon-18-arrow-r@2x';
@icon-18-arrow-r-2x-x: 160px;
@icon-18-arrow-r-2x-y: 96px;
@icon-18-arrow-r-2x-offset-x: -160px;
@icon-18-arrow-r-2x-offset-y: -96px;
@icon-18-arrow-r-2x-width: 36px;
@icon-18-arrow-r-2x-height: 36px;
@icon-18-arrow-r-2x-total-width: 424px;
@icon-18-arrow-r-2x-total-height: 360px;
@icon-18-arrow-r-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-arrow-r-2x: 160px 96px -160px -96px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-arrow-r@2x';
@icon-18-arrow-to-bottom-2x-name: 'icon-18-arrow-to-bottom@2x';
@icon-18-arrow-to-bottom-2x-x: 112px;
@icon-18-arrow-to-bottom-2x-y: 48px;
@icon-18-arrow-to-bottom-2x-offset-x: -112px;
@icon-18-arrow-to-bottom-2x-offset-y: -48px;
@icon-18-arrow-to-bottom-2x-width: 36px;
@icon-18-arrow-to-bottom-2x-height: 36px;
@icon-18-arrow-to-bottom-2x-total-width: 424px;
@icon-18-arrow-to-bottom-2x-total-height: 360px;
@icon-18-arrow-to-bottom-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-arrow-to-bottom-2x: 112px 48px -112px -48px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-arrow-to-bottom@2x';
@icon-18-blocks-2x-name: 'icon-18-blocks@2x';
@icon-18-blocks-2x-x: 64px;
@icon-18-blocks-2x-y: 48px;
@icon-18-blocks-2x-offset-x: -64px;
@icon-18-blocks-2x-offset-y: -48px;
@icon-18-blocks-2x-width: 36px;
@icon-18-blocks-2x-height: 36px;
@icon-18-blocks-2x-total-width: 424px;
@icon-18-blocks-2x-total-height: 360px;
@icon-18-blocks-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-blocks-2x: 64px 48px -64px -48px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-blocks@2x';
@icon-18-clock-2x-name: 'icon-18-clock@2x';
@icon-18-clock-2x-x: 96px;
@icon-18-clock-2x-y: 276px;
@icon-18-clock-2x-offset-x: -96px;
@icon-18-clock-2x-offset-y: -276px;
@icon-18-clock-2x-width: 36px;
@icon-18-clock-2x-height: 36px;
@icon-18-clock-2x-total-width: 424px;
@icon-18-clock-2x-total-height: 360px;
@icon-18-clock-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-clock-2x: 96px 276px -96px -276px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-clock@2x';
@icon-18-company-2x-name: 'icon-18-company@2x';
@icon-18-company-2x-x: 132px;
@icon-18-company-2x-y: 276px;
@icon-18-company-2x-offset-x: -132px;
@icon-18-company-2x-offset-y: -276px;
@icon-18-company-2x-width: 36px;
@icon-18-company-2x-height: 36px;
@icon-18-company-2x-total-width: 424px;
@icon-18-company-2x-total-height: 360px;
@icon-18-company-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-company-2x: 132px 276px -132px -276px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-company@2x';
@icon-18-edit-2x-name: 'icon-18-edit@2x';
@icon-18-edit-2x-x: 168px;
@icon-18-edit-2x-y: 276px;
@icon-18-edit-2x-offset-x: -168px;
@icon-18-edit-2x-offset-y: -276px;
@icon-18-edit-2x-width: 36px;
@icon-18-edit-2x-height: 36px;
@icon-18-edit-2x-total-width: 424px;
@icon-18-edit-2x-total-height: 360px;
@icon-18-edit-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-edit-2x: 168px 276px -168px -276px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-edit@2x';
@icon-18-goods-2x-name: 'icon-18-goods@2x';
@icon-18-goods-2x-x: 204px;
@icon-18-goods-2x-y: 276px;
@icon-18-goods-2x-offset-x: -204px;
@icon-18-goods-2x-offset-y: -276px;
@icon-18-goods-2x-width: 36px;
@icon-18-goods-2x-height: 36px;
@icon-18-goods-2x-total-width: 424px;
@icon-18-goods-2x-total-height: 360px;
@icon-18-goods-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-goods-2x: 204px 276px -204px -276px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-goods@2x';
@icon-18-image-2x-name: 'icon-18-image@2x';
@icon-18-image-2x-x: 240px;
@icon-18-image-2x-y: 276px;
@icon-18-image-2x-offset-x: -240px;
@icon-18-image-2x-offset-y: -276px;
@icon-18-image-2x-width: 36px;
@icon-18-image-2x-height: 36px;
@icon-18-image-2x-total-width: 424px;
@icon-18-image-2x-total-height: 360px;
@icon-18-image-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-image-2x: 240px 276px -240px -276px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-image@2x';
@icon-18-ios-2x-name: 'icon-18-ios@2x';
@icon-18-ios-2x-x: 276px;
@icon-18-ios-2x-y: 276px;
@icon-18-ios-2x-offset-x: -276px;
@icon-18-ios-2x-offset-y: -276px;
@icon-18-ios-2x-width: 36px;
@icon-18-ios-2x-height: 36px;
@icon-18-ios-2x-total-width: 424px;
@icon-18-ios-2x-total-height: 360px;
@icon-18-ios-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-ios-2x: 276px 276px -276px -276px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-ios@2x';
@icon-18-list-2x-name: 'icon-18-list@2x';
@icon-18-list-2x-x: 312px;
@icon-18-list-2x-y: 276px;
@icon-18-list-2x-offset-x: -312px;
@icon-18-list-2x-offset-y: -276px;
@icon-18-list-2x-width: 36px;
@icon-18-list-2x-height: 36px;
@icon-18-list-2x-total-width: 424px;
@icon-18-list-2x-total-height: 360px;
@icon-18-list-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-list-2x: 312px 276px -312px -276px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-list@2x';
@icon-18-mail-2x-name: 'icon-18-mail@2x';
@icon-18-mail-2x-x: 352px;
@icon-18-mail-2x-y: 0px;
@icon-18-mail-2x-offset-x: -352px;
@icon-18-mail-2x-offset-y: 0px;
@icon-18-mail-2x-width: 36px;
@icon-18-mail-2x-height: 36px;
@icon-18-mail-2x-total-width: 424px;
@icon-18-mail-2x-total-height: 360px;
@icon-18-mail-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-mail-2x: 352px 0px -352px 0px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-mail@2x';
@icon-18-minus-2x-name: 'icon-18-minus@2x';
@icon-18-minus-2x-x: 352px;
@icon-18-minus-2x-y: 36px;
@icon-18-minus-2x-offset-x: -352px;
@icon-18-minus-2x-offset-y: -36px;
@icon-18-minus-2x-width: 36px;
@icon-18-minus-2x-height: 36px;
@icon-18-minus-2x-total-width: 424px;
@icon-18-minus-2x-total-height: 360px;
@icon-18-minus-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-minus-2x: 352px 36px -352px -36px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-minus@2x';
@icon-18-note-2x-name: 'icon-18-note@2x';
@icon-18-note-2x-x: 352px;
@icon-18-note-2x-y: 72px;
@icon-18-note-2x-offset-x: -352px;
@icon-18-note-2x-offset-y: -72px;
@icon-18-note-2x-width: 36px;
@icon-18-note-2x-height: 36px;
@icon-18-note-2x-total-width: 424px;
@icon-18-note-2x-total-height: 360px;
@icon-18-note-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-note-2x: 352px 72px -352px -72px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-note@2x';
@icon-18-phone-2x-name: 'icon-18-phone@2x';
@icon-18-phone-2x-x: 352px;
@icon-18-phone-2x-y: 108px;
@icon-18-phone-2x-offset-x: -352px;
@icon-18-phone-2x-offset-y: -108px;
@icon-18-phone-2x-width: 36px;
@icon-18-phone-2x-height: 36px;
@icon-18-phone-2x-total-width: 424px;
@icon-18-phone-2x-total-height: 360px;
@icon-18-phone-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-phone-2x: 352px 108px -352px -108px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-phone@2x';
@icon-18-place-2x-name: 'icon-18-place@2x';
@icon-18-place-2x-x: 352px;
@icon-18-place-2x-y: 144px;
@icon-18-place-2x-offset-x: -352px;
@icon-18-place-2x-offset-y: -144px;
@icon-18-place-2x-width: 36px;
@icon-18-place-2x-height: 36px;
@icon-18-place-2x-total-width: 424px;
@icon-18-place-2x-total-height: 360px;
@icon-18-place-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-place-2x: 352px 144px -352px -144px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-place@2x';
@icon-18-plus-white-2x-name: 'icon-18-plus-white@2x';
@icon-18-plus-white-2x-x: 352px;
@icon-18-plus-white-2x-y: 180px;
@icon-18-plus-white-2x-offset-x: -352px;
@icon-18-plus-white-2x-offset-y: -180px;
@icon-18-plus-white-2x-width: 36px;
@icon-18-plus-white-2x-height: 36px;
@icon-18-plus-white-2x-total-width: 424px;
@icon-18-plus-white-2x-total-height: 360px;
@icon-18-plus-white-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-plus-white-2x: 352px 180px -352px -180px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-plus-white@2x';
@icon-18-plus-2x-name: 'icon-18-plus@2x';
@icon-18-plus-2x-x: 352px;
@icon-18-plus-2x-y: 216px;
@icon-18-plus-2x-offset-x: -352px;
@icon-18-plus-2x-offset-y: -216px;
@icon-18-plus-2x-width: 36px;
@icon-18-plus-2x-height: 36px;
@icon-18-plus-2x-total-width: 424px;
@icon-18-plus-2x-total-height: 360px;
@icon-18-plus-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-plus-2x: 352px 216px -352px -216px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-plus@2x';
@icon-18-question-2x-name: 'icon-18-question@2x';
@icon-18-question-2x-x: 352px;
@icon-18-question-2x-y: 252px;
@icon-18-question-2x-offset-x: -352px;
@icon-18-question-2x-offset-y: -252px;
@icon-18-question-2x-width: 36px;
@icon-18-question-2x-height: 36px;
@icon-18-question-2x-total-width: 424px;
@icon-18-question-2x-total-height: 360px;
@icon-18-question-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-question-2x: 352px 252px -352px -252px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-question@2x';
@icon-18-refresh-2x-name: 'icon-18-refresh@2x';
@icon-18-refresh-2x-x: 352px;
@icon-18-refresh-2x-y: 288px;
@icon-18-refresh-2x-offset-x: -352px;
@icon-18-refresh-2x-offset-y: -288px;
@icon-18-refresh-2x-width: 36px;
@icon-18-refresh-2x-height: 36px;
@icon-18-refresh-2x-total-width: 424px;
@icon-18-refresh-2x-total-height: 360px;
@icon-18-refresh-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-refresh-2x: 352px 288px -352px -288px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-refresh@2x';
@icon-18-remove-2x-name: 'icon-18-remove@2x';
@icon-18-remove-2x-x: 0px;
@icon-18-remove-2x-y: 324px;
@icon-18-remove-2x-offset-x: 0px;
@icon-18-remove-2x-offset-y: -324px;
@icon-18-remove-2x-width: 36px;
@icon-18-remove-2x-height: 36px;
@icon-18-remove-2x-total-width: 424px;
@icon-18-remove-2x-total-height: 360px;
@icon-18-remove-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-remove-2x: 0px 324px 0px -324px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-remove@2x';
@icon-18-review-2x-name: 'icon-18-review@2x';
@icon-18-review-2x-x: 36px;
@icon-18-review-2x-y: 324px;
@icon-18-review-2x-offset-x: -36px;
@icon-18-review-2x-offset-y: -324px;
@icon-18-review-2x-width: 36px;
@icon-18-review-2x-height: 36px;
@icon-18-review-2x-total-width: 424px;
@icon-18-review-2x-total-height: 360px;
@icon-18-review-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-review-2x: 36px 324px -36px -324px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-review@2x';
@icon-18-rotate-left-2x-name: 'icon-18-rotate-left@2x';
@icon-18-rotate-left-2x-x: 72px;
@icon-18-rotate-left-2x-y: 324px;
@icon-18-rotate-left-2x-offset-x: -72px;
@icon-18-rotate-left-2x-offset-y: -324px;
@icon-18-rotate-left-2x-width: 36px;
@icon-18-rotate-left-2x-height: 36px;
@icon-18-rotate-left-2x-total-width: 424px;
@icon-18-rotate-left-2x-total-height: 360px;
@icon-18-rotate-left-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-rotate-left-2x: 72px 324px -72px -324px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-rotate-left@2x';
@icon-18-rotate-right-2x-name: 'icon-18-rotate-right@2x';
@icon-18-rotate-right-2x-x: 108px;
@icon-18-rotate-right-2x-y: 324px;
@icon-18-rotate-right-2x-offset-x: -108px;
@icon-18-rotate-right-2x-offset-y: -324px;
@icon-18-rotate-right-2x-width: 36px;
@icon-18-rotate-right-2x-height: 36px;
@icon-18-rotate-right-2x-total-width: 424px;
@icon-18-rotate-right-2x-total-height: 360px;
@icon-18-rotate-right-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-rotate-right-2x: 108px 324px -108px -324px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-rotate-right@2x';
@icon-18-search-black-2x-name: 'icon-18-search-black@2x';
@icon-18-search-black-2x-x: 144px;
@icon-18-search-black-2x-y: 324px;
@icon-18-search-black-2x-offset-x: -144px;
@icon-18-search-black-2x-offset-y: -324px;
@icon-18-search-black-2x-width: 36px;
@icon-18-search-black-2x-height: 36px;
@icon-18-search-black-2x-total-width: 424px;
@icon-18-search-black-2x-total-height: 360px;
@icon-18-search-black-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-search-black-2x: 144px 324px -144px -324px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-search-black@2x';
@icon-18-shape-2x-name: 'icon-18-shape@2x';
@icon-18-shape-2x-x: 180px;
@icon-18-shape-2x-y: 324px;
@icon-18-shape-2x-offset-x: -180px;
@icon-18-shape-2x-offset-y: -324px;
@icon-18-shape-2x-width: 36px;
@icon-18-shape-2x-height: 36px;
@icon-18-shape-2x-total-width: 424px;
@icon-18-shape-2x-total-height: 360px;
@icon-18-shape-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-shape-2x: 180px 324px -180px -324px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-shape@2x';
@icon-18-sitemap-2x-name: 'icon-18-sitemap@2x';
@icon-18-sitemap-2x-x: 216px;
@icon-18-sitemap-2x-y: 324px;
@icon-18-sitemap-2x-offset-x: -216px;
@icon-18-sitemap-2x-offset-y: -324px;
@icon-18-sitemap-2x-width: 36px;
@icon-18-sitemap-2x-height: 36px;
@icon-18-sitemap-2x-total-width: 424px;
@icon-18-sitemap-2x-total-height: 360px;
@icon-18-sitemap-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-sitemap-2x: 216px 324px -216px -324px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-sitemap@2x';
@icon-18-smartphone-2x-name: 'icon-18-smartphone@2x';
@icon-18-smartphone-2x-x: 252px;
@icon-18-smartphone-2x-y: 324px;
@icon-18-smartphone-2x-offset-x: -252px;
@icon-18-smartphone-2x-offset-y: -324px;
@icon-18-smartphone-2x-width: 36px;
@icon-18-smartphone-2x-height: 36px;
@icon-18-smartphone-2x-total-width: 424px;
@icon-18-smartphone-2x-total-height: 360px;
@icon-18-smartphone-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-smartphone-2x: 252px 324px -252px -324px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-smartphone@2x';
@icon-18-sorting-2x-name: 'icon-18-sorting@2x';
@icon-18-sorting-2x-x: 288px;
@icon-18-sorting-2x-y: 324px;
@icon-18-sorting-2x-offset-x: -288px;
@icon-18-sorting-2x-offset-y: -324px;
@icon-18-sorting-2x-width: 36px;
@icon-18-sorting-2x-height: 36px;
@icon-18-sorting-2x-total-width: 424px;
@icon-18-sorting-2x-total-height: 360px;
@icon-18-sorting-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-sorting-2x: 288px 324px -288px -324px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-sorting@2x';
@icon-18-stat-2x-name: 'icon-18-stat@2x';
@icon-18-stat-2x-x: 324px;
@icon-18-stat-2x-y: 324px;
@icon-18-stat-2x-offset-x: -324px;
@icon-18-stat-2x-offset-y: -324px;
@icon-18-stat-2x-width: 36px;
@icon-18-stat-2x-height: 36px;
@icon-18-stat-2x-total-width: 424px;
@icon-18-stat-2x-total-height: 360px;
@icon-18-stat-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-stat-2x: 324px 324px -324px -324px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-stat@2x';
@icon-18-subscribe-2x-name: 'icon-18-subscribe@2x';
@icon-18-subscribe-2x-x: 388px;
@icon-18-subscribe-2x-y: 0px;
@icon-18-subscribe-2x-offset-x: -388px;
@icon-18-subscribe-2x-offset-y: 0px;
@icon-18-subscribe-2x-width: 36px;
@icon-18-subscribe-2x-height: 36px;
@icon-18-subscribe-2x-total-width: 424px;
@icon-18-subscribe-2x-total-height: 360px;
@icon-18-subscribe-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-subscribe-2x: 388px 0px -388px 0px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-subscribe@2x';
@icon-18-support-2x-name: 'icon-18-support@2x';
@icon-18-support-2x-x: 388px;
@icon-18-support-2x-y: 36px;
@icon-18-support-2x-offset-x: -388px;
@icon-18-support-2x-offset-y: -36px;
@icon-18-support-2x-width: 36px;
@icon-18-support-2x-height: 36px;
@icon-18-support-2x-total-width: 424px;
@icon-18-support-2x-total-height: 360px;
@icon-18-support-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-support-2x: 388px 36px -388px -36px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-support@2x';
@icon-18-top-seller-2x-name: 'icon-18-top-seller@2x';
@icon-18-top-seller-2x-x: 0px;
@icon-18-top-seller-2x-y: 0px;
@icon-18-top-seller-2x-offset-x: 0px;
@icon-18-top-seller-2x-offset-y: 0px;
@icon-18-top-seller-2x-width: 64px;
@icon-18-top-seller-2x-height: 36px;
@icon-18-top-seller-2x-total-width: 424px;
@icon-18-top-seller-2x-total-height: 360px;
@icon-18-top-seller-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-top-seller-2x: 0px 0px 0px 0px 64px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-top-seller@2x';
@icon-18-trash-full-2x-name: 'icon-18-trash-full@2x';
@icon-18-trash-full-2x-x: 388px;
@icon-18-trash-full-2x-y: 72px;
@icon-18-trash-full-2x-offset-x: -388px;
@icon-18-trash-full-2x-offset-y: -72px;
@icon-18-trash-full-2x-width: 36px;
@icon-18-trash-full-2x-height: 36px;
@icon-18-trash-full-2x-total-width: 424px;
@icon-18-trash-full-2x-total-height: 360px;
@icon-18-trash-full-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-trash-full-2x: 388px 72px -388px -72px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-trash-full@2x';
@icon-18-trash-2x-name: 'icon-18-trash@2x';
@icon-18-trash-2x-x: 388px;
@icon-18-trash-2x-y: 108px;
@icon-18-trash-2x-offset-x: -388px;
@icon-18-trash-2x-offset-y: -108px;
@icon-18-trash-2x-width: 36px;
@icon-18-trash-2x-height: 36px;
@icon-18-trash-2x-total-width: 424px;
@icon-18-trash-2x-total-height: 360px;
@icon-18-trash-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-trash-2x: 388px 108px -388px -108px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-trash@2x';
@icon-18-up-2x-name: 'icon-18-up@2x';
@icon-18-up-2x-x: 388px;
@icon-18-up-2x-y: 144px;
@icon-18-up-2x-offset-x: -388px;
@icon-18-up-2x-offset-y: -144px;
@icon-18-up-2x-width: 36px;
@icon-18-up-2x-height: 36px;
@icon-18-up-2x-total-width: 424px;
@icon-18-up-2x-total-height: 360px;
@icon-18-up-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-up-2x: 388px 144px -388px -144px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-up@2x';
@icon-18-user-2x-name: 'icon-18-user@2x';
@icon-18-user-2x-x: 388px;
@icon-18-user-2x-y: 180px;
@icon-18-user-2x-offset-x: -388px;
@icon-18-user-2x-offset-y: -180px;
@icon-18-user-2x-width: 36px;
@icon-18-user-2x-height: 36px;
@icon-18-user-2x-total-width: 424px;
@icon-18-user-2x-total-height: 360px;
@icon-18-user-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-user-2x: 388px 180px -388px -180px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-user@2x';
@icon-18-zoom-2x-name: 'icon-18-zoom@2x';
@icon-18-zoom-2x-x: 388px;
@icon-18-zoom-2x-y: 216px;
@icon-18-zoom-2x-offset-x: -388px;
@icon-18-zoom-2x-offset-y: -216px;
@icon-18-zoom-2x-width: 36px;
@icon-18-zoom-2x-height: 36px;
@icon-18-zoom-2x-total-width: 424px;
@icon-18-zoom-2x-total-height: 360px;
@icon-18-zoom-2x-image: '../../images/sprite-v73@2x.png';
@icon-18-zoom-2x: 388px 216px -388px -216px 36px 36px 424px 360px '../../images/sprite-v73@2x.png' 'icon-18-zoom@2x';
@icon-24-add-active-2x-name: 'icon-24-add-active@2x';
@icon-24-add-active-2x-x: 0px;
@icon-24-add-active-2x-y: 36px;
@icon-24-add-active-2x-offset-x: 0px;
@icon-24-add-active-2x-offset-y: -36px;
@icon-24-add-active-2x-width: 48px;
@icon-24-add-active-2x-height: 48px;
@icon-24-add-active-2x-total-width: 424px;
@icon-24-add-active-2x-total-height: 360px;
@icon-24-add-active-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-add-active-2x: 0px 36px 0px -36px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-add-active@2x';
@icon-24-add-2x-name: 'icon-24-add@2x';
@icon-24-add-2x-x: 64px;
@icon-24-add-2x-y: 0px;
@icon-24-add-2x-offset-x: -64px;
@icon-24-add-2x-offset-y: 0px;
@icon-24-add-2x-width: 48px;
@icon-24-add-2x-height: 48px;
@icon-24-add-2x-total-width: 424px;
@icon-24-add-2x-total-height: 360px;
@icon-24-add-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-add-2x: 64px 0px -64px 0px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-add@2x';
@icon-24-ads-2x-name: 'icon-24-ads@2x';
@icon-24-ads-2x-x: 112px;
@icon-24-ads-2x-y: 0px;
@icon-24-ads-2x-offset-x: -112px;
@icon-24-ads-2x-offset-y: 0px;
@icon-24-ads-2x-width: 48px;
@icon-24-ads-2x-height: 48px;
@icon-24-ads-2x-total-width: 424px;
@icon-24-ads-2x-total-height: 360px;
@icon-24-ads-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-ads-2x: 112px 0px -112px 0px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-ads@2x';
@icon-24-blacknote-2x-name: 'icon-24-blacknote@2x';
@icon-24-blacknote-2x-x: 0px;
@icon-24-blacknote-2x-y: 84px;
@icon-24-blacknote-2x-offset-x: 0px;
@icon-24-blacknote-2x-offset-y: -84px;
@icon-24-blacknote-2x-width: 48px;
@icon-24-blacknote-2x-height: 48px;
@icon-24-blacknote-2x-total-width: 424px;
@icon-24-blacknote-2x-total-height: 360px;
@icon-24-blacknote-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-blacknote-2x: 0px 84px 0px -84px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-blacknote@2x';
@icon-24-cart-2x-name: 'icon-24-cart@2x';
@icon-24-cart-2x-x: 48px;
@icon-24-cart-2x-y: 84px;
@icon-24-cart-2x-offset-x: -48px;
@icon-24-cart-2x-offset-y: -84px;
@icon-24-cart-2x-width: 48px;
@icon-24-cart-2x-height: 48px;
@icon-24-cart-2x-total-width: 424px;
@icon-24-cart-2x-total-height: 360px;
@icon-24-cart-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-cart-2x: 48px 84px -48px -84px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-cart@2x';
@icon-24-chats-2x-name: 'icon-24-chats@2x';
@icon-24-chats-2x-x: 96px;
@icon-24-chats-2x-y: 84px;
@icon-24-chats-2x-offset-x: -96px;
@icon-24-chats-2x-offset-y: -84px;
@icon-24-chats-2x-width: 48px;
@icon-24-chats-2x-height: 48px;
@icon-24-chats-2x-total-width: 424px;
@icon-24-chats-2x-total-height: 360px;
@icon-24-chats-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-chats-2x: 96px 84px -96px -84px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-chats@2x';
@icon-24-check-2x-name: 'icon-24-check@2x';
@icon-24-check-2x-x: 160px;
@icon-24-check-2x-y: 0px;
@icon-24-check-2x-offset-x: -160px;
@icon-24-check-2x-offset-y: 0px;
@icon-24-check-2x-width: 48px;
@icon-24-check-2x-height: 48px;
@icon-24-check-2x-total-width: 424px;
@icon-24-check-2x-total-height: 360px;
@icon-24-check-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-check-2x: 160px 0px -160px 0px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-check@2x';
@icon-24-close-2x-name: 'icon-24-close@2x';
@icon-24-close-2x-x: 160px;
@icon-24-close-2x-y: 48px;
@icon-24-close-2x-offset-x: -160px;
@icon-24-close-2x-offset-y: -48px;
@icon-24-close-2x-width: 48px;
@icon-24-close-2x-height: 48px;
@icon-24-close-2x-total-width: 424px;
@icon-24-close-2x-total-height: 360px;
@icon-24-close-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-close-2x: 160px 48px -160px -48px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-close@2x';
@icon-24-companies-active-2x-name: 'icon-24-companies-active@2x';
@icon-24-companies-active-2x-x: 0px;
@icon-24-companies-active-2x-y: 132px;
@icon-24-companies-active-2x-offset-x: 0px;
@icon-24-companies-active-2x-offset-y: -132px;
@icon-24-companies-active-2x-width: 48px;
@icon-24-companies-active-2x-height: 48px;
@icon-24-companies-active-2x-total-width: 424px;
@icon-24-companies-active-2x-total-height: 360px;
@icon-24-companies-active-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-companies-active-2x: 0px 132px 0px -132px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-companies-active@2x';
@icon-24-companies-2x-name: 'icon-24-companies@2x';
@icon-24-companies-2x-x: 48px;
@icon-24-companies-2x-y: 132px;
@icon-24-companies-2x-offset-x: -48px;
@icon-24-companies-2x-offset-y: -132px;
@icon-24-companies-2x-width: 48px;
@icon-24-companies-2x-height: 48px;
@icon-24-companies-2x-total-width: 424px;
@icon-24-companies-2x-total-height: 360px;
@icon-24-companies-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-companies-2x: 48px 132px -48px -132px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-companies@2x';
@icon-24-company-2x-name: 'icon-24-company@2x';
@icon-24-company-2x-x: 96px;
@icon-24-company-2x-y: 132px;
@icon-24-company-2x-offset-x: -96px;
@icon-24-company-2x-offset-y: -132px;
@icon-24-company-2x-width: 48px;
@icon-24-company-2x-height: 48px;
@icon-24-company-2x-total-width: 424px;
@icon-24-company-2x-total-height: 360px;
@icon-24-company-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-company-2x: 96px 132px -96px -132px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-company@2x';
@icon-24-favorite-highlight-2x-name: 'icon-24-favorite-highlight@2x';
@icon-24-favorite-highlight-2x-x: 144px;
@icon-24-favorite-highlight-2x-y: 132px;
@icon-24-favorite-highlight-2x-offset-x: -144px;
@icon-24-favorite-highlight-2x-offset-y: -132px;
@icon-24-favorite-highlight-2x-width: 48px;
@icon-24-favorite-highlight-2x-height: 48px;
@icon-24-favorite-highlight-2x-total-width: 424px;
@icon-24-favorite-highlight-2x-total-height: 360px;
@icon-24-favorite-highlight-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-favorite-highlight-2x: 144px 132px -144px -132px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-favorite-highlight@2x';
@icon-24-favorite-2x-name: 'icon-24-favorite@2x';
@icon-24-favorite-2x-x: 208px;
@icon-24-favorite-2x-y: 0px;
@icon-24-favorite-2x-offset-x: -208px;
@icon-24-favorite-2x-offset-y: 0px;
@icon-24-favorite-2x-width: 48px;
@icon-24-favorite-2x-height: 48px;
@icon-24-favorite-2x-total-width: 424px;
@icon-24-favorite-2x-total-height: 360px;
@icon-24-favorite-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-favorite-2x: 208px 0px -208px 0px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-favorite@2x';
@icon-24-geolocation-highlight-2x-name: 'icon-24-geolocation-highlight@2x';
@icon-24-geolocation-highlight-2x-x: 208px;
@icon-24-geolocation-highlight-2x-y: 48px;
@icon-24-geolocation-highlight-2x-offset-x: -208px;
@icon-24-geolocation-highlight-2x-offset-y: -48px;
@icon-24-geolocation-highlight-2x-width: 48px;
@icon-24-geolocation-highlight-2x-height: 48px;
@icon-24-geolocation-highlight-2x-total-width: 424px;
@icon-24-geolocation-highlight-2x-total-height: 360px;
@icon-24-geolocation-highlight-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-geolocation-highlight-2x: 208px 48px -208px -48px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-geolocation-highlight@2x';
@icon-24-geolocation-2x-name: 'icon-24-geolocation@2x';
@icon-24-geolocation-2x-x: 208px;
@icon-24-geolocation-2x-y: 96px;
@icon-24-geolocation-2x-offset-x: -208px;
@icon-24-geolocation-2x-offset-y: -96px;
@icon-24-geolocation-2x-width: 48px;
@icon-24-geolocation-2x-height: 48px;
@icon-24-geolocation-2x-total-width: 424px;
@icon-24-geolocation-2x-total-height: 360px;
@icon-24-geolocation-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-geolocation-2x: 208px 96px -208px -96px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-geolocation@2x';
@icon-24-goods-2x-name: 'icon-24-goods@2x';
@icon-24-goods-2x-x: 0px;
@icon-24-goods-2x-y: 180px;
@icon-24-goods-2x-offset-x: 0px;
@icon-24-goods-2x-offset-y: -180px;
@icon-24-goods-2x-width: 48px;
@icon-24-goods-2x-height: 48px;
@icon-24-goods-2x-total-width: 424px;
@icon-24-goods-2x-total-height: 360px;
@icon-24-goods-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-goods-2x: 0px 180px 0px -180px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-goods@2x';
@icon-24-gpay-2x-name: 'icon-24-gpay@2x';
@icon-24-gpay-2x-x: 48px;
@icon-24-gpay-2x-y: 180px;
@icon-24-gpay-2x-offset-x: -48px;
@icon-24-gpay-2x-offset-y: -180px;
@icon-24-gpay-2x-width: 48px;
@icon-24-gpay-2x-height: 48px;
@icon-24-gpay-2x-total-width: 424px;
@icon-24-gpay-2x-total-height: 360px;
@icon-24-gpay-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-gpay-2x: 48px 180px -48px -180px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-gpay@2x';
@icon-24-mail-highlight-2x-name: 'icon-24-mail-highlight@2x';
@icon-24-mail-highlight-2x-x: 96px;
@icon-24-mail-highlight-2x-y: 180px;
@icon-24-mail-highlight-2x-offset-x: -96px;
@icon-24-mail-highlight-2x-offset-y: -180px;
@icon-24-mail-highlight-2x-width: 48px;
@icon-24-mail-highlight-2x-height: 48px;
@icon-24-mail-highlight-2x-total-width: 424px;
@icon-24-mail-highlight-2x-total-height: 360px;
@icon-24-mail-highlight-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-mail-highlight-2x: 96px 180px -96px -180px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-mail-highlight@2x';
@icon-24-mail-2x-name: 'icon-24-mail@2x';
@icon-24-mail-2x-x: 144px;
@icon-24-mail-2x-y: 180px;
@icon-24-mail-2x-offset-x: -144px;
@icon-24-mail-2x-offset-y: -180px;
@icon-24-mail-2x-width: 48px;
@icon-24-mail-2x-height: 48px;
@icon-24-mail-2x-total-width: 424px;
@icon-24-mail-2x-total-height: 360px;
@icon-24-mail-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-mail-2x: 144px 180px -144px -180px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-mail@2x';
@icon-24-note-2x-name: 'icon-24-note@2x';
@icon-24-note-2x-x: 192px;
@icon-24-note-2x-y: 180px;
@icon-24-note-2x-offset-x: -192px;
@icon-24-note-2x-offset-y: -180px;
@icon-24-note-2x-width: 48px;
@icon-24-note-2x-height: 48px;
@icon-24-note-2x-total-width: 424px;
@icon-24-note-2x-total-height: 360px;
@icon-24-note-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-note-2x: 192px 180px -192px -180px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-note@2x';
@icon-24-profile-highlight-2x-name: 'icon-24-profile-highlight@2x';
@icon-24-profile-highlight-2x-x: 256px;
@icon-24-profile-highlight-2x-y: 0px;
@icon-24-profile-highlight-2x-offset-x: -256px;
@icon-24-profile-highlight-2x-offset-y: 0px;
@icon-24-profile-highlight-2x-width: 48px;
@icon-24-profile-highlight-2x-height: 48px;
@icon-24-profile-highlight-2x-total-width: 424px;
@icon-24-profile-highlight-2x-total-height: 360px;
@icon-24-profile-highlight-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-profile-highlight-2x: 256px 0px -256px 0px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-profile-highlight@2x';
@icon-24-profile-2x-name: 'icon-24-profile@2x';
@icon-24-profile-2x-x: 256px;
@icon-24-profile-2x-y: 48px;
@icon-24-profile-2x-offset-x: -256px;
@icon-24-profile-2x-offset-y: -48px;
@icon-24-profile-2x-width: 48px;
@icon-24-profile-2x-height: 48px;
@icon-24-profile-2x-total-width: 424px;
@icon-24-profile-2x-total-height: 360px;
@icon-24-profile-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-profile-2x: 256px 48px -256px -48px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-profile@2x';
@icon-24-question-2x-name: 'icon-24-question@2x';
@icon-24-question-2x-x: 256px;
@icon-24-question-2x-y: 96px;
@icon-24-question-2x-offset-x: -256px;
@icon-24-question-2x-offset-y: -96px;
@icon-24-question-2x-width: 48px;
@icon-24-question-2x-height: 48px;
@icon-24-question-2x-total-width: 424px;
@icon-24-question-2x-total-height: 360px;
@icon-24-question-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-question-2x: 256px 96px -256px -96px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-question@2x';
@icon-24-rating-delete-2x-name: 'icon-24-rating-delete@2x';
@icon-24-rating-delete-2x-x: 256px;
@icon-24-rating-delete-2x-y: 144px;
@icon-24-rating-delete-2x-offset-x: -256px;
@icon-24-rating-delete-2x-offset-y: -144px;
@icon-24-rating-delete-2x-width: 48px;
@icon-24-rating-delete-2x-height: 48px;
@icon-24-rating-delete-2x-total-width: 424px;
@icon-24-rating-delete-2x-total-height: 360px;
@icon-24-rating-delete-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-rating-delete-2x: 256px 144px -256px -144px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-rating-delete@2x';
@icon-24-rating-minus-2x-name: 'icon-24-rating-minus@2x';
@icon-24-rating-minus-2x-x: 0px;
@icon-24-rating-minus-2x-y: 228px;
@icon-24-rating-minus-2x-offset-x: 0px;
@icon-24-rating-minus-2x-offset-y: -228px;
@icon-24-rating-minus-2x-width: 48px;
@icon-24-rating-minus-2x-height: 48px;
@icon-24-rating-minus-2x-total-width: 424px;
@icon-24-rating-minus-2x-total-height: 360px;
@icon-24-rating-minus-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-rating-minus-2x: 0px 228px 0px -228px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-rating-minus@2x';
@icon-24-rating-neutral-2x-name: 'icon-24-rating-neutral@2x';
@icon-24-rating-neutral-2x-x: 48px;
@icon-24-rating-neutral-2x-y: 228px;
@icon-24-rating-neutral-2x-offset-x: -48px;
@icon-24-rating-neutral-2x-offset-y: -228px;
@icon-24-rating-neutral-2x-width: 48px;
@icon-24-rating-neutral-2x-height: 48px;
@icon-24-rating-neutral-2x-total-width: 424px;
@icon-24-rating-neutral-2x-total-height: 360px;
@icon-24-rating-neutral-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-rating-neutral-2x: 48px 228px -48px -228px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-rating-neutral@2x';
@icon-24-rating-plus-2x-name: 'icon-24-rating-plus@2x';
@icon-24-rating-plus-2x-x: 96px;
@icon-24-rating-plus-2x-y: 228px;
@icon-24-rating-plus-2x-offset-x: -96px;
@icon-24-rating-plus-2x-offset-y: -228px;
@icon-24-rating-plus-2x-width: 48px;
@icon-24-rating-plus-2x-height: 48px;
@icon-24-rating-plus-2x-total-width: 424px;
@icon-24-rating-plus-2x-total-height: 360px;
@icon-24-rating-plus-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-rating-plus-2x: 96px 228px -96px -228px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-rating-plus@2x';
@icon-24-rating-2x-name: 'icon-24-rating@2x';
@icon-24-rating-2x-x: 144px;
@icon-24-rating-2x-y: 228px;
@icon-24-rating-2x-offset-x: -144px;
@icon-24-rating-2x-offset-y: -228px;
@icon-24-rating-2x-width: 48px;
@icon-24-rating-2x-height: 48px;
@icon-24-rating-2x-total-width: 424px;
@icon-24-rating-2x-total-height: 360px;
@icon-24-rating-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-rating-2x: 144px 228px -144px -228px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-rating@2x';
@icon-24-search-goods-active-2x-name: 'icon-24-search-goods-active@2x';
@icon-24-search-goods-active-2x-x: 192px;
@icon-24-search-goods-active-2x-y: 228px;
@icon-24-search-goods-active-2x-offset-x: -192px;
@icon-24-search-goods-active-2x-offset-y: -228px;
@icon-24-search-goods-active-2x-width: 48px;
@icon-24-search-goods-active-2x-height: 48px;
@icon-24-search-goods-active-2x-total-width: 424px;
@icon-24-search-goods-active-2x-total-height: 360px;
@icon-24-search-goods-active-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-search-goods-active-2x: 192px 228px -192px -228px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-search-goods-active@2x';
@icon-24-search-goods-2x-name: 'icon-24-search-goods@2x';
@icon-24-search-goods-2x-x: 240px;
@icon-24-search-goods-2x-y: 228px;
@icon-24-search-goods-2x-offset-x: -240px;
@icon-24-search-goods-2x-offset-y: -228px;
@icon-24-search-goods-2x-width: 48px;
@icon-24-search-goods-2x-height: 48px;
@icon-24-search-goods-2x-total-width: 424px;
@icon-24-search-goods-2x-total-height: 360px;
@icon-24-search-goods-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-search-goods-2x: 240px 228px -240px -228px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-search-goods@2x';
@icon-24-search-white-2x-name: 'icon-24-search-white@2x';
@icon-24-search-white-2x-x: 304px;
@icon-24-search-white-2x-y: 0px;
@icon-24-search-white-2x-offset-x: -304px;
@icon-24-search-white-2x-offset-y: 0px;
@icon-24-search-white-2x-width: 48px;
@icon-24-search-white-2x-height: 48px;
@icon-24-search-white-2x-total-width: 424px;
@icon-24-search-white-2x-total-height: 360px;
@icon-24-search-white-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-search-white-2x: 304px 0px -304px 0px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-search-white@2x';
@icon-24-settings-2x-name: 'icon-24-settings@2x';
@icon-24-settings-2x-x: 304px;
@icon-24-settings-2x-y: 48px;
@icon-24-settings-2x-offset-x: -304px;
@icon-24-settings-2x-offset-y: -48px;
@icon-24-settings-2x-width: 48px;
@icon-24-settings-2x-height: 48px;
@icon-24-settings-2x-total-width: 424px;
@icon-24-settings-2x-total-height: 360px;
@icon-24-settings-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-settings-2x: 304px 48px -304px -48px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-settings@2x';
@icon-24-site-2x-name: 'icon-24-site@2x';
@icon-24-site-2x-x: 304px;
@icon-24-site-2x-y: 96px;
@icon-24-site-2x-offset-x: -304px;
@icon-24-site-2x-offset-y: -96px;
@icon-24-site-2x-width: 48px;
@icon-24-site-2x-height: 48px;
@icon-24-site-2x-total-width: 424px;
@icon-24-site-2x-total-height: 360px;
@icon-24-site-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-site-2x: 304px 96px -304px -96px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-site@2x';
@icon-24-trash-full-2x-name: 'icon-24-trash-full@2x';
@icon-24-trash-full-2x-x: 304px;
@icon-24-trash-full-2x-y: 144px;
@icon-24-trash-full-2x-offset-x: -304px;
@icon-24-trash-full-2x-offset-y: -144px;
@icon-24-trash-full-2x-width: 48px;
@icon-24-trash-full-2x-height: 48px;
@icon-24-trash-full-2x-total-width: 424px;
@icon-24-trash-full-2x-total-height: 360px;
@icon-24-trash-full-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-trash-full-2x: 304px 144px -304px -144px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-trash-full@2x';
@icon-24-user-2x-name: 'icon-24-user@2x';
@icon-24-user-2x-x: 304px;
@icon-24-user-2x-y: 192px;
@icon-24-user-2x-offset-x: -304px;
@icon-24-user-2x-offset-y: -192px;
@icon-24-user-2x-width: 48px;
@icon-24-user-2x-height: 48px;
@icon-24-user-2x-total-width: 424px;
@icon-24-user-2x-total-height: 360px;
@icon-24-user-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-user-2x: 304px 192px -304px -192px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-user@2x';
@icon-24-video-2x-name: 'icon-24-video@2x';
@icon-24-video-2x-x: 0px;
@icon-24-video-2x-y: 276px;
@icon-24-video-2x-offset-x: 0px;
@icon-24-video-2x-offset-y: -276px;
@icon-24-video-2x-width: 48px;
@icon-24-video-2x-height: 48px;
@icon-24-video-2x-total-width: 424px;
@icon-24-video-2x-total-height: 360px;
@icon-24-video-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-video-2x: 0px 276px 0px -276px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-video@2x';
@icon-24-warning-2x-name: 'icon-24-warning@2x';
@icon-24-warning-2x-x: 48px;
@icon-24-warning-2x-y: 276px;
@icon-24-warning-2x-offset-x: -48px;
@icon-24-warning-2x-offset-y: -276px;
@icon-24-warning-2x-width: 48px;
@icon-24-warning-2x-height: 48px;
@icon-24-warning-2x-total-width: 424px;
@icon-24-warning-2x-total-height: 360px;
@icon-24-warning-2x-image: '../../images/sprite-v73@2x.png';
@icon-24-warning-2x: 48px 276px -48px -276px 48px 48px 424px 360px '../../images/sprite-v73@2x.png' 'icon-24-warning@2x';
@spritesheet-width: 212px;
@spritesheet-height: 180px;
@spritesheet-image: '../../images/sprite-v73.png';
@spritesheet-sprites: @icon-18-ads @icon-18-android @icon-18-arrow-l @icon-18-arrow-r @icon-18-arrow-to-bottom @icon-18-blocks @icon-18-clock @icon-18-company @icon-18-edit @icon-18-goods @icon-18-image @icon-18-ios @icon-18-list @icon-18-mail @icon-18-minus @icon-18-note @icon-18-phone @icon-18-place @icon-18-plus-white @icon-18-plus @icon-18-question @icon-18-refresh @icon-18-remove @icon-18-review @icon-18-rotate-left @icon-18-rotate-right @icon-18-search-black @icon-18-shape @icon-18-sitemap @icon-18-smartphone @icon-18-sorting @icon-18-stat @icon-18-subscribe @icon-18-support @icon-18-top-seller @icon-18-trash-full @icon-18-trash @icon-18-up @icon-18-user @icon-18-zoom @icon-24-add-active @icon-24-add @icon-24-ads @icon-24-blacknote @icon-24-cart @icon-24-chats @icon-24-check @icon-24-close @icon-24-companies-active @icon-24-companies @icon-24-company @icon-24-favorite-highlight @icon-24-favorite @icon-24-geolocation-highlight @icon-24-geolocation @icon-24-goods @icon-24-gpay @icon-24-mail-highlight @icon-24-mail @icon-24-note @icon-24-profile-highlight @icon-24-profile @icon-24-question @icon-24-rating-delete @icon-24-rating-minus @icon-24-rating-neutral @icon-24-rating-plus @icon-24-rating @icon-24-search-goods-active @icon-24-search-goods @icon-24-search-white @icon-24-settings @icon-24-site @icon-24-trash-full @icon-24-user @icon-24-video @icon-24-warning;
@spritesheet: 212px 180px '../../images/sprite-v73.png' @spritesheet-sprites;
@retina-spritesheet-width: 424px;
@retina-spritesheet-height: 360px;
@retina-spritesheet-image: '../../images/sprite-v73@2x.png';
@retina-spritesheet-sprites: @icon-18-ads-2x @icon-18-android-2x @icon-18-arrow-l-2x @icon-18-arrow-r-2x @icon-18-arrow-to-bottom-2x @icon-18-blocks-2x @icon-18-clock-2x @icon-18-company-2x @icon-18-edit-2x @icon-18-goods-2x @icon-18-image-2x @icon-18-ios-2x @icon-18-list-2x @icon-18-mail-2x @icon-18-minus-2x @icon-18-note-2x @icon-18-phone-2x @icon-18-place-2x @icon-18-plus-white-2x @icon-18-plus-2x @icon-18-question-2x @icon-18-refresh-2x @icon-18-remove-2x @icon-18-review-2x @icon-18-rotate-left-2x @icon-18-rotate-right-2x @icon-18-search-black-2x @icon-18-shape-2x @icon-18-sitemap-2x @icon-18-smartphone-2x @icon-18-sorting-2x @icon-18-stat-2x @icon-18-subscribe-2x @icon-18-support-2x @icon-18-top-seller-2x @icon-18-trash-full-2x @icon-18-trash-2x @icon-18-up-2x @icon-18-user-2x @icon-18-zoom-2x @icon-24-add-active-2x @icon-24-add-2x @icon-24-ads-2x @icon-24-blacknote-2x @icon-24-cart-2x @icon-24-chats-2x @icon-24-check-2x @icon-24-close-2x @icon-24-companies-active-2x @icon-24-companies-2x @icon-24-company-2x @icon-24-favorite-highlight-2x @icon-24-favorite-2x @icon-24-geolocation-highlight-2x @icon-24-geolocation-2x @icon-24-goods-2x @icon-24-gpay-2x @icon-24-mail-highlight-2x @icon-24-mail-2x @icon-24-note-2x @icon-24-profile-highlight-2x @icon-24-profile-2x @icon-24-question-2x @icon-24-rating-delete-2x @icon-24-rating-minus-2x @icon-24-rating-neutral-2x @icon-24-rating-plus-2x @icon-24-rating-2x @icon-24-search-goods-active-2x @icon-24-search-goods-2x @icon-24-search-white-2x @icon-24-settings-2x @icon-24-site-2x @icon-24-trash-full-2x @icon-24-user-2x @icon-24-video-2x @icon-24-warning-2x;
@retina-spritesheet: 424px 360px '../../images/sprite-v73@2x.png' @retina-spritesheet-sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
@icon-18-ads-group-name: 'icon-18-ads';
@icon-18-ads-group: 'icon-18-ads' @icon-18-ads @icon-18-ads-2x;
@icon-18-android-group-name: 'icon-18-android';
@icon-18-android-group: 'icon-18-android' @icon-18-android @icon-18-android-2x;
@icon-18-arrow-l-group-name: 'icon-18-arrow-l';
@icon-18-arrow-l-group: 'icon-18-arrow-l' @icon-18-arrow-l @icon-18-arrow-l-2x;
@icon-18-arrow-r-group-name: 'icon-18-arrow-r';
@icon-18-arrow-r-group: 'icon-18-arrow-r' @icon-18-arrow-r @icon-18-arrow-r-2x;
@icon-18-arrow-to-bottom-group-name: 'icon-18-arrow-to-bottom';
@icon-18-arrow-to-bottom-group: 'icon-18-arrow-to-bottom' @icon-18-arrow-to-bottom @icon-18-arrow-to-bottom-2x;
@icon-18-blocks-group-name: 'icon-18-blocks';
@icon-18-blocks-group: 'icon-18-blocks' @icon-18-blocks @icon-18-blocks-2x;
@icon-18-clock-group-name: 'icon-18-clock';
@icon-18-clock-group: 'icon-18-clock' @icon-18-clock @icon-18-clock-2x;
@icon-18-company-group-name: 'icon-18-company';
@icon-18-company-group: 'icon-18-company' @icon-18-company @icon-18-company-2x;
@icon-18-edit-group-name: 'icon-18-edit';
@icon-18-edit-group: 'icon-18-edit' @icon-18-edit @icon-18-edit-2x;
@icon-18-goods-group-name: 'icon-18-goods';
@icon-18-goods-group: 'icon-18-goods' @icon-18-goods @icon-18-goods-2x;
@icon-18-image-group-name: 'icon-18-image';
@icon-18-image-group: 'icon-18-image' @icon-18-image @icon-18-image-2x;
@icon-18-ios-group-name: 'icon-18-ios';
@icon-18-ios-group: 'icon-18-ios' @icon-18-ios @icon-18-ios-2x;
@icon-18-list-group-name: 'icon-18-list';
@icon-18-list-group: 'icon-18-list' @icon-18-list @icon-18-list-2x;
@icon-18-mail-group-name: 'icon-18-mail';
@icon-18-mail-group: 'icon-18-mail' @icon-18-mail @icon-18-mail-2x;
@icon-18-minus-group-name: 'icon-18-minus';
@icon-18-minus-group: 'icon-18-minus' @icon-18-minus @icon-18-minus-2x;
@icon-18-note-group-name: 'icon-18-note';
@icon-18-note-group: 'icon-18-note' @icon-18-note @icon-18-note-2x;
@icon-18-phone-group-name: 'icon-18-phone';
@icon-18-phone-group: 'icon-18-phone' @icon-18-phone @icon-18-phone-2x;
@icon-18-place-group-name: 'icon-18-place';
@icon-18-place-group: 'icon-18-place' @icon-18-place @icon-18-place-2x;
@icon-18-plus-white-group-name: 'icon-18-plus-white';
@icon-18-plus-white-group: 'icon-18-plus-white' @icon-18-plus-white @icon-18-plus-white-2x;
@icon-18-plus-group-name: 'icon-18-plus';
@icon-18-plus-group: 'icon-18-plus' @icon-18-plus @icon-18-plus-2x;
@icon-18-question-group-name: 'icon-18-question';
@icon-18-question-group: 'icon-18-question' @icon-18-question @icon-18-question-2x;
@icon-18-refresh-group-name: 'icon-18-refresh';
@icon-18-refresh-group: 'icon-18-refresh' @icon-18-refresh @icon-18-refresh-2x;
@icon-18-remove-group-name: 'icon-18-remove';
@icon-18-remove-group: 'icon-18-remove' @icon-18-remove @icon-18-remove-2x;
@icon-18-review-group-name: 'icon-18-review';
@icon-18-review-group: 'icon-18-review' @icon-18-review @icon-18-review-2x;
@icon-18-rotate-left-group-name: 'icon-18-rotate-left';
@icon-18-rotate-left-group: 'icon-18-rotate-left' @icon-18-rotate-left @icon-18-rotate-left-2x;
@icon-18-rotate-right-group-name: 'icon-18-rotate-right';
@icon-18-rotate-right-group: 'icon-18-rotate-right' @icon-18-rotate-right @icon-18-rotate-right-2x;
@icon-18-search-black-group-name: 'icon-18-search-black';
@icon-18-search-black-group: 'icon-18-search-black' @icon-18-search-black @icon-18-search-black-2x;
@icon-18-shape-group-name: 'icon-18-shape';
@icon-18-shape-group: 'icon-18-shape' @icon-18-shape @icon-18-shape-2x;
@icon-18-sitemap-group-name: 'icon-18-sitemap';
@icon-18-sitemap-group: 'icon-18-sitemap' @icon-18-sitemap @icon-18-sitemap-2x;
@icon-18-smartphone-group-name: 'icon-18-smartphone';
@icon-18-smartphone-group: 'icon-18-smartphone' @icon-18-smartphone @icon-18-smartphone-2x;
@icon-18-sorting-group-name: 'icon-18-sorting';
@icon-18-sorting-group: 'icon-18-sorting' @icon-18-sorting @icon-18-sorting-2x;
@icon-18-stat-group-name: 'icon-18-stat';
@icon-18-stat-group: 'icon-18-stat' @icon-18-stat @icon-18-stat-2x;
@icon-18-subscribe-group-name: 'icon-18-subscribe';
@icon-18-subscribe-group: 'icon-18-subscribe' @icon-18-subscribe @icon-18-subscribe-2x;
@icon-18-support-group-name: 'icon-18-support';
@icon-18-support-group: 'icon-18-support' @icon-18-support @icon-18-support-2x;
@icon-18-top-seller-group-name: 'icon-18-top-seller';
@icon-18-top-seller-group: 'icon-18-top-seller' @icon-18-top-seller @icon-18-top-seller-2x;
@icon-18-trash-full-group-name: 'icon-18-trash-full';
@icon-18-trash-full-group: 'icon-18-trash-full' @icon-18-trash-full @icon-18-trash-full-2x;
@icon-18-trash-group-name: 'icon-18-trash';
@icon-18-trash-group: 'icon-18-trash' @icon-18-trash @icon-18-trash-2x;
@icon-18-up-group-name: 'icon-18-up';
@icon-18-up-group: 'icon-18-up' @icon-18-up @icon-18-up-2x;
@icon-18-user-group-name: 'icon-18-user';
@icon-18-user-group: 'icon-18-user' @icon-18-user @icon-18-user-2x;
@icon-18-zoom-group-name: 'icon-18-zoom';
@icon-18-zoom-group: 'icon-18-zoom' @icon-18-zoom @icon-18-zoom-2x;
@icon-24-add-active-group-name: 'icon-24-add-active';
@icon-24-add-active-group: 'icon-24-add-active' @icon-24-add-active @icon-24-add-active-2x;
@icon-24-add-group-name: 'icon-24-add';
@icon-24-add-group: 'icon-24-add' @icon-24-add @icon-24-add-2x;
@icon-24-ads-group-name: 'icon-24-ads';
@icon-24-ads-group: 'icon-24-ads' @icon-24-ads @icon-24-ads-2x;
@icon-24-blacknote-group-name: 'icon-24-blacknote';
@icon-24-blacknote-group: 'icon-24-blacknote' @icon-24-blacknote @icon-24-blacknote-2x;
@icon-24-cart-group-name: 'icon-24-cart';
@icon-24-cart-group: 'icon-24-cart' @icon-24-cart @icon-24-cart-2x;
@icon-24-chats-group-name: 'icon-24-chats';
@icon-24-chats-group: 'icon-24-chats' @icon-24-chats @icon-24-chats-2x;
@icon-24-check-group-name: 'icon-24-check';
@icon-24-check-group: 'icon-24-check' @icon-24-check @icon-24-check-2x;
@icon-24-close-group-name: 'icon-24-close';
@icon-24-close-group: 'icon-24-close' @icon-24-close @icon-24-close-2x;
@icon-24-companies-active-group-name: 'icon-24-companies-active';
@icon-24-companies-active-group: 'icon-24-companies-active' @icon-24-companies-active @icon-24-companies-active-2x;
@icon-24-companies-group-name: 'icon-24-companies';
@icon-24-companies-group: 'icon-24-companies' @icon-24-companies @icon-24-companies-2x;
@icon-24-company-group-name: 'icon-24-company';
@icon-24-company-group: 'icon-24-company' @icon-24-company @icon-24-company-2x;
@icon-24-favorite-highlight-group-name: 'icon-24-favorite-highlight';
@icon-24-favorite-highlight-group: 'icon-24-favorite-highlight' @icon-24-favorite-highlight @icon-24-favorite-highlight-2x;
@icon-24-favorite-group-name: 'icon-24-favorite';
@icon-24-favorite-group: 'icon-24-favorite' @icon-24-favorite @icon-24-favorite-2x;
@icon-24-geolocation-highlight-group-name: 'icon-24-geolocation-highlight';
@icon-24-geolocation-highlight-group: 'icon-24-geolocation-highlight' @icon-24-geolocation-highlight @icon-24-geolocation-highlight-2x;
@icon-24-geolocation-group-name: 'icon-24-geolocation';
@icon-24-geolocation-group: 'icon-24-geolocation' @icon-24-geolocation @icon-24-geolocation-2x;
@icon-24-goods-group-name: 'icon-24-goods';
@icon-24-goods-group: 'icon-24-goods' @icon-24-goods @icon-24-goods-2x;
@icon-24-gpay-group-name: 'icon-24-gpay';
@icon-24-gpay-group: 'icon-24-gpay' @icon-24-gpay @icon-24-gpay-2x;
@icon-24-mail-highlight-group-name: 'icon-24-mail-highlight';
@icon-24-mail-highlight-group: 'icon-24-mail-highlight' @icon-24-mail-highlight @icon-24-mail-highlight-2x;
@icon-24-mail-group-name: 'icon-24-mail';
@icon-24-mail-group: 'icon-24-mail' @icon-24-mail @icon-24-mail-2x;
@icon-24-note-group-name: 'icon-24-note';
@icon-24-note-group: 'icon-24-note' @icon-24-note @icon-24-note-2x;
@icon-24-profile-highlight-group-name: 'icon-24-profile-highlight';
@icon-24-profile-highlight-group: 'icon-24-profile-highlight' @icon-24-profile-highlight @icon-24-profile-highlight-2x;
@icon-24-profile-group-name: 'icon-24-profile';
@icon-24-profile-group: 'icon-24-profile' @icon-24-profile @icon-24-profile-2x;
@icon-24-question-group-name: 'icon-24-question';
@icon-24-question-group: 'icon-24-question' @icon-24-question @icon-24-question-2x;
@icon-24-rating-delete-group-name: 'icon-24-rating-delete';
@icon-24-rating-delete-group: 'icon-24-rating-delete' @icon-24-rating-delete @icon-24-rating-delete-2x;
@icon-24-rating-minus-group-name: 'icon-24-rating-minus';
@icon-24-rating-minus-group: 'icon-24-rating-minus' @icon-24-rating-minus @icon-24-rating-minus-2x;
@icon-24-rating-neutral-group-name: 'icon-24-rating-neutral';
@icon-24-rating-neutral-group: 'icon-24-rating-neutral' @icon-24-rating-neutral @icon-24-rating-neutral-2x;
@icon-24-rating-plus-group-name: 'icon-24-rating-plus';
@icon-24-rating-plus-group: 'icon-24-rating-plus' @icon-24-rating-plus @icon-24-rating-plus-2x;
@icon-24-rating-group-name: 'icon-24-rating';
@icon-24-rating-group: 'icon-24-rating' @icon-24-rating @icon-24-rating-2x;
@icon-24-search-goods-active-group-name: 'icon-24-search-goods-active';
@icon-24-search-goods-active-group: 'icon-24-search-goods-active' @icon-24-search-goods-active @icon-24-search-goods-active-2x;
@icon-24-search-goods-group-name: 'icon-24-search-goods';
@icon-24-search-goods-group: 'icon-24-search-goods' @icon-24-search-goods @icon-24-search-goods-2x;
@icon-24-search-white-group-name: 'icon-24-search-white';
@icon-24-search-white-group: 'icon-24-search-white' @icon-24-search-white @icon-24-search-white-2x;
@icon-24-settings-group-name: 'icon-24-settings';
@icon-24-settings-group: 'icon-24-settings' @icon-24-settings @icon-24-settings-2x;
@icon-24-site-group-name: 'icon-24-site';
@icon-24-site-group: 'icon-24-site' @icon-24-site @icon-24-site-2x;
@icon-24-trash-full-group-name: 'icon-24-trash-full';
@icon-24-trash-full-group: 'icon-24-trash-full' @icon-24-trash-full @icon-24-trash-full-2x;
@icon-24-user-group-name: 'icon-24-user';
@icon-24-user-group: 'icon-24-user' @icon-24-user @icon-24-user-2x;
@icon-24-video-group-name: 'icon-24-video';
@icon-24-video-group: 'icon-24-video' @icon-24-video @icon-24-video-2x;
@icon-24-warning-group-name: 'icon-24-warning';
@icon-24-warning-group: 'icon-24-warning' @icon-24-warning @icon-24-warning-2x;
@retina-groups: @icon-18-ads-group @icon-18-android-group @icon-18-arrow-l-group @icon-18-arrow-r-group @icon-18-arrow-to-bottom-group @icon-18-blocks-group @icon-18-clock-group @icon-18-company-group @icon-18-edit-group @icon-18-goods-group @icon-18-image-group @icon-18-ios-group @icon-18-list-group @icon-18-mail-group @icon-18-minus-group @icon-18-note-group @icon-18-phone-group @icon-18-place-group @icon-18-plus-white-group @icon-18-plus-group @icon-18-question-group @icon-18-refresh-group @icon-18-remove-group @icon-18-review-group @icon-18-rotate-left-group @icon-18-rotate-right-group @icon-18-search-black-group @icon-18-shape-group @icon-18-sitemap-group @icon-18-smartphone-group @icon-18-sorting-group @icon-18-stat-group @icon-18-subscribe-group @icon-18-support-group @icon-18-top-seller-group @icon-18-trash-full-group @icon-18-trash-group @icon-18-up-group @icon-18-user-group @icon-18-zoom-group @icon-24-add-active-group @icon-24-add-group @icon-24-ads-group @icon-24-blacknote-group @icon-24-cart-group @icon-24-chats-group @icon-24-check-group @icon-24-close-group @icon-24-companies-active-group @icon-24-companies-group @icon-24-company-group @icon-24-favorite-highlight-group @icon-24-favorite-group @icon-24-geolocation-highlight-group @icon-24-geolocation-group @icon-24-goods-group @icon-24-gpay-group @icon-24-mail-highlight-group @icon-24-mail-group @icon-24-note-group @icon-24-profile-highlight-group @icon-24-profile-group @icon-24-question-group @icon-24-rating-delete-group @icon-24-rating-minus-group @icon-24-rating-neutral-group @icon-24-rating-plus-group @icon-24-rating-group @icon-24-search-goods-active-group @icon-24-search-goods-group @icon-24-search-white-group @icon-24-settings-group @icon-24-site-group @icon-24-trash-full-group @icon-24-user-group @icon-24-video-group @icon-24-warning-group;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  background-image: e(%('url(%a)', e(@sprite-image)));
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `retina-sprite` class sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

@icon-home-group: 'icon-home' @icon-home @icon-home-2x;

.icon-home {
  .retina-sprite(@icon-home-group);
}
*/
.sprite-background-size(@sprite) {
  @sprite-total-width: extract(@sprite, 7);
  @sprite-total-height: extract(@sprite, 8);
  background-size: @sprite-total-width @sprite-total-height;
}

.retina-sprite(@retina-group) {
  @normal-sprite: extract(@retina-group, 2);
  @retina-sprite: extract(@retina-group, 3);
  .sprite(@normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    .sprite-image(@retina-sprite);
    .sprite-background-size(@normal-sprite);
  }
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}

/*
The `.retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in LESS

.retina-sprites(@retina-groups);
*/
.retina-sprites(@retina-groups, @i: 1) when (@i <= length(@retina-groups)) {
  @retina-group: extract(@retina-groups, @i);
  @sprite-name: e(extract(@retina-group, 1));
  .@{sprite-name} {
    .retina-sprite(@retina-group);
  }
  .retina-sprites(@retina-groups, @i + 1);
}
