{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <h1 class="mt-10 mb-30 text-center">Ваше новое объявление</h1>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <form action="">
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Телевизоры</h3>
                            <p class="text-muted">Электроника и бытовая техника</p>
                            <a href="#" class="btn btn-default">Выбрать другую категорию</a>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="heading" class="control-label lead strong mb-10 required">Заголовок объявления</label>
                                <input type="text" id="heading" class="form-control input-lg">
                                <p class="help-block">
                                    В заголовке укажите название товара или услуги. Избегайте сокращений. Используйте в заголовке ключевые слова, отличающие Ваш товар от аналогичных. Оптимальное число слов в заголовке: 3-6.
                                </p>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal form-group">
                                <div class="row">
                                    <div class="control-label strong required col-md-3 col-sm-3 col-xs-12">
                                        Состояние товара
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default">
                                                <input type="radio" name="options" id="option1" autocomplete="off">Новый
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="radio" name="options" id="option2" autocomplete="off">Подержанный
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="radio" name="options" id="option3" autocomplete="off">Неисправный
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal form-group">
                                <div class="row">
                                    <div class="control-label strong required col-md-3 col-sm-3 col-xs-12">Наличие товара</div>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default">
                                                <input type="radio" name="options1" id="option11" autocomplete="off">В наличии
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="radio" name="options1" id="option22" autocomplete="off">Под заказ
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="radio" name="options1" id="option33" autocomplete="off">В пути
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal form-group">
                                <div class="row">
                                    <label for="location" class="control-label strong required col-md-3 col-sm-3 col-xs-12">Город</label>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <select id="location" class="form-control" style="width:100%">
                                            <option>Москва</option>
                                            <option>Автозаводская</option>
                                            <option>Академическая</option>
                                            <option>Алексеевская</option>
                                            <option>Александровский сад</option>
                                            <option>Алтуфьево</option>
                                            <option>Арбатская [глуб.]</option>
                                            <option>Аннино</option>
                                            <option>Арбатская [мелк.]</option>
                                            <option>Аэропорт</option>
                                            <option>Бабушкинская</option>
                                            <option>Багратионовская</option>
                                            <option>Баррикадная</option>
                                            <option>Бауманская</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal form-group has-error">
                                <div class="row">
                                    <label for="metro" class="control-label strong col-md-3 col-sm-3 col-xs-12">Метро</label>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <select id="metro" class="form-control" style="width:100%">
                                            <option value="-1">- выбрать -</option>
                                            <option>Авиамоторная</option>
                                            <option>Автозаводская</option>
                                            <option>Академическая</option>
                                            <option>Алексеевская</option>
                                            <option>Александровский сад</option>
                                            <option>Алтуфьево</option>
                                            <option>Арбатская [глуб.]</option>
                                            <option>Аннино</option>
                                            <option>Арбатская [мелк.]</option>
                                            <option>Аэропорт</option>
                                            <option>Бабушкинская</option>
                                            <option>Багратионовская</option>
                                            <option>Баррикадная</option>
                                            <option>Бауманская</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal form-group">
                                <div class="row">
                                    <label for="price" class="control-label strong col-md-3 col-sm-3 col-xs-12">Цена</label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" id="price" class="form-control">
                                            <div class="input-group-addon">руб.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal form-group">
                                <div class="row">
                                    <div class="control-label strong col-md-3 col-sm-3 col-xs-12">Скидка на товар</div>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <label class="control-label mb-10">В процентах</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <label class="control-label mb-10">В рублях</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label lead strong mb-10">Характеристики товара</label>
                                <p class="help-block">
                                    Характеристика – это описание свойств товарв, его технических и качественных особенностей, и внешнего вида.
                                    <br>
                                    Добавляйте к Вашему товару или услуге важные характеристики. Это позваолит Вашим потенциальным покупателям быстро найти Вас на wiweb!
                                </p>
                                <p class="help-block">
                                    Например, для одежды ключевыми характеристиками будут: размер, цвет, производитель, и другие.
                                    <br>
                                    Для услуг няни: график и местоположение работы, возраст ребенка, и другие.
                                </p>
                                <div class="my-20">
                                    <a href="#" class="btn btn-default">
                                        <i class="icon-18-plus"></i> Добавить характеристику
                                    </a>
                                </div>
                                <div class="row-flex row-gutter-10" style="align-items:center">
                                    <div class="col-4">
                                        <label for="item_title" class="sr-only">Название характеристики</label>
                                        <input type="text" id="item_title" class="form-control" placeholder="Название характеристики">
                                    </div>
                                    <div class="col">
                                        <label for="item_desc" class="sr-only">Описание характеристики</label>
                                        <input type="text" id="item_desc" class="form-control" placeholder="Описание характеристики">
                                    </div>
                                    <div class="col-auto">
                                        <a href="#"><i class="icon-18-trash d-block"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="desc" class="control-label lead strong required mb-10">Описание товара</label>
                                <textarea id="desc" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="panel-body">
                            <label for="delivery" class="control-label lead strong required mb-10">Доставка и оплата</label>
                            <div class="form-group">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off">Самовывоз
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off">По городу
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off">По России
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea id="delivery" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="panel-body">
                            <label class="control-label lead strong required mb-10">Гарантия, условия возврата</label>
                            <textarea id="" rows="4" class="form-control"></textarea>
                        </div>
                        <div class="panel-body">
                            <div class="form-add-img">
                                <label class="btn btn-default btn-fileinput">
                                    <i class="icon-18-image"></i> Выберите изображения для загрузки
                                    <input type="file" name="" id="">
                                </label>
                                <div class="small mt-10">Вы можете менять порядок следования фотографий, просто перетаскивая их.<br>Главной будет первая фотография.</div>
                            </div>
                            <ul class="form-img-list row">

                                {% set images = [
                                    {state: 'loaded', imgsrc: '../../sample/auto4.png', filename: 'auto4.png', progress: 100, },
                                    {state: 'loading', imgsrc: '../../sample/auto4.png', filename: 'my-cool-auto5.png', progress: 72, },
                                    {state: 'loading', imgsrc: '../../sample/auto4.png', filename: 'my-rat-auto5.png', progress: 15, },
                                    {state: 'loading', imgsrc: '../../sample/auto4.png', filename: 'my-bucket-auto5.png', progress: 37, },
                                    {state: 'loading', imgsrc: '../../sample/auto4.png', filename: 'my-fuckin-bucket-with-nuts-auto5.png', progress: 37, },
                                    {state: 'error', errortype: 'stop', message: 'Невозможно загрузить картинку: слишком большой размер', imgsrc: '../../sample/auto4.png', filename: 'my-bucket-auto5.png', progress: 37, },
                                    {state: 'error', errortype: 'refresh', message: 'Ошибка загрузки, попробуйте перезагрузить картинку', imgsrc: '../../sample/auto4.png', filename: 'my-bucket-auto5.png', progress: 37, },
                                ] %}
                                {% for image in images %}
                                    {% if image.state == 'loaded' %}
                                        <li class="col-sm-3 col-xs-6">
                                            <div class="thumbnail">
                                                <img src="../../sample/auto4.png" alt="">
                                                <div class="action-bar">
                                                    <div class="btn-group">
                                                        <button class="btn btn-default btn-sm">
                                                            <i class="icon-18-rotate-left"></i>
                                                        </button>
                                                        <button class="btn btn-default btn-sm">
                                                            <i class="icon-18-rotate-right"></i>
                                                        </button>
                                                        <button class="btn btn-default btn-sm">
                                                            <i class="icon-18-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% elseif image.state == 'loading' %}
                                    <li class="col-sm-3 col-xs-6">
                                        <div class="thumbnail" data-text="72%">
                                            <div class="source-data">
                                                <div class="source-data-diagram">
                                                    <svg width="100%" height="100%" viewBox="0 0 40 40" class="donut">
                                                        <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
                                                        <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="4"></circle>
                                                        <circle class="donut-segment" stroke-dasharray="{{ image.progress }} {{ 100 - image.progress }}" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke="#ce4b99" stroke-dashoffset="0" stroke-width="4"></circle>
                                                    </svg>
                                                    <div class="source-data-diagram-legend">{{ image.progress }}%</div>
                                                </div>
                                                <div class="source-data-filename">{{ image.filename }}</div>
                                            </div>
                                            <div class="action-bar">
                                                <button class="btn btn-default btn-sm">
                                                    <i class="icon-18-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    {% elseif image.state == 'error' %}
                                        <li class="col-sm-3 col-xs-6">
                                            <div class="thumbnail" data-text="72%">
                                                <div class="error-icon">
                                                    {% if image.errortype == 'stop' %}
                                                            <i class="icon-24-rating-minus"></i>
                                                    {% elseif image.errortype == 'refresh' %}
                                                            <i class="icon-24-warning"></i>
                                                    {% endif %}
                                                </div>
                                                <div class="source-data">
                                                    <div class="source-data-message">{{ image.message }}</div>
                                                </div>
                                                <div class="action-bar">
                                                    {% if image.errortype == 'refresh' %}
                                                        <button class="btn btn-default btn-sm">
                                                            <i class="icon-18-refresh"></i>
                                                        </button>
                                                    {% endif %}
                                                    <button class="btn btn-default btn-sm">
                                                        <i class="icon-18-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal form-group">
                                <div class="row">
                                    <label class="control-label strong required col-md-3 col-sm-3 col-xs-12">Телефон</label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text" name="" id="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal form-group">
                                <div class="row">
                                    <label class="control-label strong required col-md-3 col-sm-3 col-xs-12">E-mail</label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text" name="" id="" class="form-control">
                                        <span class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">не показывать мой e-mail
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal form-group">
                                <div class="row">
                                    <label class="control-label strong col-md-3 col-sm-3 col-xs-12">Дополнительно</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <textarea name="" id="" rows="2" class="form-control"></textarea>
                                        <p class="help-block">
                                            Вы можете указать дополнительные телефоны или другие контакты,
                                            а так-же примечания к ним. Каждый контакт начинайте с новой строки.
                                            Телефоны пишите с кодом города, заключенным в скобки.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-top">
                            <h3 class="mb-0 px-20 pt-20">Выберите способ размещения</h3>
                            <div class="row-flex row-gutter-0">
                                <div class="col-md-4 col-12 border-bottom">
                                    <div class="panel-body">
                                        <span class="custom-radio mb-10">
                                            <input type="radio" id="type_1" name="type">
                                            <label for="type_1" class="custom-control-label font-weight-medium">Бесплатное размещение</label>
                                        </span>
                                        <div class="small">
                                            Вы можете разместить <span class="d-inline-block font-weight-medium">2 бесплатных</span>
                                            объявления в месяц. Чтобы добавить много объявлений вы купите один из
                                            <a href="">пакетов на размещение</a>.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12 border-bottom">
                                    <div class="panel-body">
                                        <span class="custom-radio mb-10">
                                            <input type="radio" id="type_2" name="type">
                                            <label for="type_2" class="custom-control-label font-weight-medium">
                                                Платное размещение <span class="d-inline-block">– 10₽</span>
                                            </label>
                                        </span>
                                        <div class="small">
                                            Если вы не хотите тратить объявления из бесплатного пакета или у вас
                                            кончились бесплатные объявления.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12 border-bottom">
                                    <div class="panel-body">
                                        <span class="custom-radio mb-10">
                                            <input type="radio" id="type_3" name="type">
                                            <label for="type_3" class="custom-control-label font-weight-medium">
                                                Сохранить в черновик
                                            </label>
                                        </span>
                                        <div class="small">
                                            Сохраните объявление чтобы опубликовать его позже.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body border-bottom">
                            <div class="custom-checkbox mb-10">
                                <input type="checkbox" id="upService">
                                <label for="upService" class="custom-control-label lead font-weight-medium">Продвинуть объявление – 75 руб.</label>
                            </div>
                            <p>
                                Ваше объявление будет прикреплено вверху списка в течении 14 суток, таже оно будет
                                выделено цветом на весь срок размещение и не останется незамеченным.
                            </p>
                        </div>
                        <div class="products-list">
                            <div class="product-item hot">
                                <div class="product-item-content pr-20">
                                    <a href="#" class="thumbnail-wrap">
                                        <span class="thumbnail"><img src="/sample/img2.png" alt=""></span>
                                    </a>
                                    <h3 class="title">
                                        <span class="label label-info mr-10">Новое</span>
                                        <a href="#1">Куртки горнолыжные</a>
                                    </h3>
                                    <p class="desc">Горнолыжные куртки размеры с 38 по 64, мужские, женские по бросовой цене 2500 рублей, есть дополнительная микрофибра -отталкивает холодный воздух. Очень хорошего качества. Куртки горнолыжные размеры с 38 по 64 по цене 1300 ₽..</p>
                                    <div class="price"><b>2 500 ₽</b></div>
                                    <div class="geolocation">Владивосток</div>
                                    <div class="meta">
                                        <div class="text-icon-date">20.05.15</div>
                                        <div class="text-icon-view">453</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body text-center">
                            <p>Размещая объявление, Вы соглашаетесь с <a href="#" class="text-red">офертой</a>.</p>
                            <button class="btn btn-lg btn-block btn-primary">Оплатить и добавить объявление</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
