{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <section class="mt-10 mb-30">
            <h1 class="mb-20">Выберите раздел для добавления</h1>
            <div>
                <h4>
                    Недвание разделы
                    <a class="ml-5 text-muted" href="/app_dev.php/profile/preferences/clean-last-added-categories/1/?_back=http%3A//wiweb.local/app_dev.php/add/">
                        <small>очистить</small>
                    </a>
                </h4>
                <ul>
                    <li class="d-inline-block">
                        <a href="/app_dev.php/categories/choose/?category=32&amp;_back=/app_dev.php/goods/add/">
                            Одежда и обувь
                        </a>
                    </li>
                    <li class="d-inline-block mx-5 text-muted">/</li>
                    <li class="d-inline-block">
                        <a href="/app_dev.php/categories/choose/?category=33&amp;_back=/app_dev.php/goods/add/">
                            Платья
                        </a>
                    </li>
                </ul>
                <ul>
                    <li class="d-inline-block">
                        <a href="/app_dev.php/categories/choose/?category=29&amp;_back=/app_dev.php/goods/add/">
                            Электроника
                        </a>
                    </li>
                    <li class="d-inline-block mx-5 text-muted">/</li>
                    <li class="d-inline-block">
                        <a href="/app_dev.php/categories/choose/?category=30&amp;_back=/app_dev.php/goods/add/">
                            Сотовые телефоны
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row row-gutter-10">
                {% for i in 0..8 %}
                    <div class="col-lg-3 col-md-4 col-sm-4 mt-10">
                        <a href="/add/select-category" class="btn-category" data-toggle="tooltip" data-position="top" title="Вы можете добавить 2 обяъвления бесплатно, в этот раздел">
                            <i class="icon-cat-uslugi"></i>
                            <div class="btn-category-text">Услуги</div>
                            <div class="badge">2</div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 mt-10">
                        <a href="/add/form" class="btn-category" data-toggle="tooltip" data-position="top" title="Вы можете добавить 14 обяъвлений, в этот раздел">
                            <i class="icon-cat-auto"></i>
                            <div class="btn-category-text">Авто</div>
                            <div class="badge">14</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="mb-40">
            <h2 class="mb-30 text-center">Добавить из приложения для смартфона</h2>
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">Доступно в App Store</div>
                        <div class="col-md-6">Доступно в Play Market</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mb-40">
            <h3 class="h2 mb-30 text-center">Добавить много объявлений</h3>
            <div class="panel">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><i class="media-object icon-add-xls"></i></a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading strong"><a href="#">Прайс-лист Excel</a></h3>
                                    Данные вашего прайс-листа в формате Excel внесут на сайт сотрудники агентства JC. Услуга внесения данных прайс-листа на wiweb – платная.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><i class="media-object icon-add-wiweb"></i></a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading strong"><a href="#">JcCodeW</a></h3>
                                    Программа-помощник в автоматизации учета небольшого магазина, и добавления товара на wiweb.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><i class="media-object icon-add-sync"></i></a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading strong"><a href="#">Синхронизация</a></h3>
                                    Добавляя товар на свой сайт, он синхронно добавляется на wiweb.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mb-40">
            <h3 class="h2 mb-30 text-center">Что еще:</h3>
            <div class="panel">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-body">
                                    <h3 class="media-heading strong"><a href="#">Добавить себя в справочник продавцов</a></h3>
                                    Добавьте себя или компанию, и пользуйтесь дополнительными сервисами wiweb.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-body">
                                    <h3 class="media-heading strong"><a href="#">Создать интернет-витрину</a></h3>
                                    Купите себе интернет-витрину, и продавайте больше!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
