{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <h1 class="mt-10 mb-30 text-center">Ваше новое объявление</h1>
        <form action="">
            <div class="panel">
                <nav class="breadcrumbs divider">
                    <ul>
                        <li><a href="#">Все категории</a></li>
                        <li><a href="#">Одежда и обувь</a></li>
                        <li class="active"><span>Для женщин</span></li>
                    </ul>
                </nav>
                <div class="panel-nav">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="/add/form">Верхняя одежда</a></li>
                                <li><a href="#">Платья и юбки</a></li>
                                <li><a href="#">Брюки и джинсы</a></li>
                                <li><a href="#">Топы и блузы</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="#">Купальники и нижнее белье</a></li>
                                <li><a href="#">Обувь</a></li>
                                <li><a href="#">Головные уборы</a></li>
                            </ul>
                        </div>

                        <div class="clearfix visible-sm-block"></div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="#">Для дома</a></li>
                                <li><a href="#">Для будущих мам</a></li>
                                <li><a href="#">Для спорта</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <ul class="nav-list">
                                <li><a href="#">Всё для свадьбы</a></li>
                                <li><a href="#">Аксессуары</a></li>
                                <li><a href="#">Услуги</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
