{% extends './_layout.twig' %}

{% block content %}
    <div class="page-error">
        <div class="h1 margin-sm">403</div>
        <div class="h2">Доступ запрещен</div>
        <p class="text-muted">В этот раздел сайта Вам, к сожалению, нельзя.</p>
        <a href="" class="text-underline">НА ГЛАВНУЮ</a>
    </div>
{% endblock %}
