{% extends './_layout.twig' %}

{% block content %}
    <div class="page-error page-error-404">
        <div class="h1 margin-sm">404</div>
        <div class="h2">Страница не найдена</div>
        <p class="text-muted">Неправильно набран адрес, или такой страницы больше не существует.</p>
        <a href="" class="text-underline">НА ГЛАВНУЮ</a>
    </div>
{% endblock %}
