{% extends './_layout.twig' %}

{% block content %}
    <div class="page-error page-error-500">
        <div class="h1 margin-sm">500</div>
        <div class="h2">Ошибка сервера</div>
        <p class="text-muted">Что-то пошло не так, но вскоре все пойдет так.</p>
    </div>
{% endblock %}
