<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{{ base_path }}/images/icon-192x192.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/images/icon-192x192.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_path }}/dist/css/base.css">
    {% block stylesheets %}{% endblock %}
    {% block pagetitle %}<title>Главная</title>{% endblock %}

</head>
<body>
{% include './includes/_branding.twig' %}
<div class="global-container">
    <header class="global-header">
        <div class="container">
            <a href="{{ base_path }}/" class="wiweb-logo">
                <img src="{{ base_path }}/images/logotype.svg" width="114" height="20"
                     alt="wiweb.ru – интернет-маркет"/>
            </a>
            <div class="location-home"
                 data-html="true"
                 data-container="body"
                 data-placement="bottom"
                 data-toggle="popover"
                 data-trigger="hover"
                 data-content="<div class='geolocation-popover'><h5>Ваш город <b>Владивосток</b>?</h5><a href='javascript:;' class='btn btn-primary'>Да</a><a href='#geolocation_home' data-toggle='collapse' class='btn btn-default'>Нет, выбрать другой</a></div>">
                <a href="#geolocation_home" class="nav-item" data-toggle="collapse" aria-expanded="false"
                   aria-controls="geolocation_home">
                    <i class="icon-24-geolocation"></i>
                    <span>Москва +100км</span>
                </a>
            </div>
            <nav class="global-navbar{% if request_uri == '/goods/map-new' %} map-mode{% endif %}">
                <a href="{{ base_path }}/goods/list"
                   class="nav-item{% if request_uri == '/' or request_uri == '/goods/list' %} active{% endif %}">
                    <i class="icon-24-search-goods visible-sm visible-xs"></i>
                    Объявления
                </a>
                <a href="{{ base_path }}/companies/list"
                   class="nav-item{% if request_uri == '/companies/list' %} active{% endif %}">
                    <i class="icon-24-companies visible-sm visible-xs"></i>
                    <span class="visible-lg visible-md">Компании-продавцы</span>
                    <span class="visible-sm visible-xs">Продавцы</span>
                </a>
                <a href="{{ base_path }}/add/main"
                   class="nav-item add{% if request_uri == '/add/main' %} active{% endif %}">
                    <i class="icon-24-add"></i>
                    <i class="icon-18-plus"></i>
                    <i class="icon-18-plus-white"></i>
                    <span class="visible-lg">Добавить объявление</span>
                    <span class="hidden-lg">Добавить</span>
                </a>
                <div class="profile-home">
                    <a href="#" class="nav-item nav-item-desktop">
                        <i class="icon-24-chats"></i>
                        <span class="sr-only">Диалоги</span>
                        <span class="badge badge-notify">20</span>
                    </a>
                    <a href="#" class="nav-item nav-item-desktop">
                        <i class="icon-24-favorite"></i>
                        <span class="sr-only">Избраное</span>
                    </a>
                    <a href="#profile_home" class="nav-item" data-toggle="collapse">
                        <i class="icon-24-profile"></i>
                        <span class="text-overflow">Войти</span>
                        <span class="badge badge-notify visible-sm visible-xs">20</span>
                    </a>
                </div>
            </nav>
        </div>
    </header>
    {% include './includes/_geolocation-home.twig' %}
    {% include './includes/_profile-home.twig' %}
    {% block map %}{% endblock %}
    {% block content %}{% endblock %}
</div>

<footer class="global-footer">
    <div class="container">
        <nav>
            <ul class="nav-footer">
                <li><a href="#"><i class="icon-18-question"></i> Справочный центр</a></li>
                <li><a href="#"><i class="icon-18-sitemap"></i> Карта категорий</a></li>
                <li><a href="#"><i class="icon-18-support"></i> Контакты</a></li>
                <li><a href="#"><i class="icon-18-ads"></i> Реклама на сайте</a></li>
                <li><a href="#"><i class="icon-18-smartphone"></i> Мы на мобильных</a></li>
            </ul>
        </nav>
        <p>© wiweb.ru — интернет-маркет. Использование сайта означает согласие с <a href="#">пользовательским
                соглашением</a>.</p>
    </div>
</footer>

<div id="cookieDesc" class="cookie-desc hide">
    <p>Наш сайт может использовать файлы cookie, IP-адрес и другие данные браузера для предоставления вам лучшего опыта
        пользования сайтом.</p>
    <p>С этими данными мы сможем предлагать вам персонализированные предложения, объявления и статистику.</p>
    <p><a href="">Узнайте подробнее</a> какие данные мы получаем. Если вы не хотите, чтобы ваши данные обрабатывались,
        покиньте сайт.</p>
    <a href="javascript:;" onclick="document.getElementById('cookieDesc').remove()">Закрыть</a>
</div>

{% block modals %}{% endblock %}

<script src="{{ base_path }}/dist/js/vendors/jquery.js"></script>
<script src="{{ base_path }}/dist/js/vendors/bootstrap.js"></script>
<script src="{{ base_path }}/dist/js/vendors/owl.carousel.min.js"></script>
<script src="{{ base_path }}/dist/js/vendors/jquery.menu-aim.js"></script>
<script src="{{ base_path }}/dist/js/vendors/selectize.min.js"></script>
<script src="{{ base_path }}/dist/js/vendors/autosize.js"></script>
<script src="{{ base_path }}/dist/js/vendors/jquery.fancybox.js"></script>
<script src="{{ base_path }}/dist/js/example.js"></script>
<script>
  (function () {
    $('#geolocation_home').on('show.bs.collapse', function () {
      $('#profile_home').collapse('hide')
    });

    $('#profile_home').on('show.bs.collapse', function () {
      $('#geolocation_home').collapse('hide')
    });
  })();
</script>
{#    <script src="{{ base_path }}/src/es6/tree-select.js"></script>#}
{#<script src="{{ base_path }}/dist/js/vendors/tree-select.js"></script>#}

{% block javascripts %}{% endblock %}
</body>
</html>