{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <div class="my-40">
            <div class="h1 mb-20">Radio & Checkbox</div>
            <div class="custom-checkbox">
                <input type="checkbox" name="checkbox" id="indeterminate">
                <label for="indeterminate" class="custom-control-label">Checkbox indeterminate</label>
            </div>
            <script>
                document.getElementById('indeterminate').indeterminate = true;
            </script>

            <div class="custom-checkbox">
                <input type="checkbox" name="checkbox" id="checkbox_1">
                <label for="checkbox_1" class="custom-control-label">Checkbox label 1</label>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" name="checkbox" id="checkbox_2">
                <label for="checkbox_2" class="custom-control-label">Checkbox label 2</label>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" name="checkbox" id="checkbox_3" checked disabled>
                <label for="checkbox_3" class="custom-control-label">Checkbox label 3</label>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" name="checkbox" id="checkbox_4" disabled>
                <label for="checkbox_4" class="custom-control-label">Checkbox label 4</label>
            </div>

            <div class="custom-radio">
                <input type="radio" name="radio" id="radio_1">
                <label for="radio_1" class="custom-control-label">Radio label 1</label>
            </div>
            <div class="custom-radio">
                <input type="radio" name="radio" id="radio_2">
                <label for="radio_2" class="custom-control-label">Radio label 2</label>
            </div>
            <div class="custom-radio">
                <input type="radio" name="radio" id="radio_3" checked disabled>
                <label for="radio_3" class="custom-control-label">Radio label 3</label>
            </div>
            <div class="custom-radio">
                <input type="radio" name="radio" id="radio_4" disabled>
                <label for="radio_4" class="custom-control-label">Radio label 4</label>
            </div>
        </div>

        <hr class="my-40">

        <div class="my-40">
            <div class="h1 mb-20">Icons</div>
            {% set icons = [
                'icon-24-geolocation',
                'icon-24-geolocation-highlight',
                'icon-24-favorite',
                'icon-24-favorite-highlight',
                'icon-24-mail',
                'icon-24-mail-highlight',
                'icon-24-profile',
                'icon-24-profile-highlight',
                'icon-24-chats',
                'icon-24-note',
                'icon-24-site',
                'icon-24-goods',
                'icon-24-ads',
                'icon-24-user',
                'icon-24-company',
                'icon-24-settings',
                'icon-24-search-goods',
                'icon-24-companies',
                'icon-24-add',
                'icon-24-warning',
                'icon-24-rating-plus',
                'icon-24-rating-minus',
                'icon-24-rating-neutral',
                'icon-24-rating-delete',
                'icon-24-rating',
            ] %}

            {% set icons_sm = [
                'icon-18-arrow-to-bottom',
                'icon-18-blocks',
                'icon-18-edit',
                'icon-18-image',
                'icon-18-list',
                'icon-18-shape',
                'icon-18-note',
                'icon-18-plus',
                'icon-18-minus',
                'icon-18-remove',
                'icon-18-review',
                'icon-18-rotate-left',
                'icon-18-rotate-right',
                'icon-18-search-black',
                'icon-18-sorting',
                'icon-18-stat',
                'icon-18-clock',
                'icon-18-trash',
                'icon-18-up',
                'icon-18-subscribe',
            ] %}

            <div class="row">
                <div class="col-md-4">
                    {% for icon in icons %}
                        <div class="mb-10">
                            <span class="{{ icon }} mr-10"></span> .{{ icon }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    {% for icon in icons_sm %}
                        <div class="mb-10">
                            <span class="{{ icon }} mr-10"></span> .{{ icon }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% set icons_cat = [
                'icon-cat-biznes',
                'icon-cat-interes',
                'icon-cat-medicina_i_krasota',
                'icon-cat-stroitelstvo_i_remont',
                'icon-cat-prochee',
                'icon-cat-gifts',
                'icon-cat-moto',
                'icon-cat-vodnaya_technika',
                'icon-cat-spec-tehnika',
                'icon-cat-animals',
                'icon-cat-fishing',
                'icon-cat-hobby',
                'icon-cat-sport',
                'icon-cat-rabota',
                'icon-cat-gastronom',
                'icon-cat-dom_i_bit',
                'icon-cat-nedvizhimost',
                'icon-cat-technika',
                'icon-cat-children',
                'icon-cat-ornamentation',
                'icon-cat-clothes',
                'icon-cat-parts',
                'icon-cat-auto',
                'icon-cat-uslugi',
            ] %}
            {% for icon in icons_cat %}
                <div class="mb-10">
                    <span class="{{ icon }} mr-10"></span> .{{ icon }}
                </div>
            {% endfor %}
        </div>

        <hr class="my-40">

        <div class="my-40">
            <div class="h1 mb-20">Buttons</div>

            <div class="my-20">
                <button class="btn btn-default">Button</button>
                <button class="btn btn-default"><i class="icon-24-add"></i> Button with icon 24</button>
                <button class="btn btn-default"><i class="icon-18-subscribe"></i> Button with icon 18</button>
                <button class="btn btn-default btn-icon-only"><i class="icon-24-add"></i></button>
                <button class="btn btn-default btn-icon-only"><i class="icon-18-blocks"></i></button>
            </div>

            <div class="my-20">
                <button class="btn btn-default btn-lg">Button</button>
                <button class="btn btn-default btn-lg"><i class="icon-24-add"></i> Button with icon 24</button>
                <button class="btn btn-default btn-lg"><i class="icon-18-subscribe"></i> Button with icon 18</button>
                <button class="btn btn-default btn-lg btn-icon-only"><i class="icon-24-add"></i></button>
                <button class="btn btn-default btn-lg btn-icon-only"><i class="icon-18-blocks"></i></button>
            </div>

            <div class="my-20">
                <button class="btn btn-default btn-sm">Button</button>
                <button class="btn btn-default btn-sm"><i class="icon-24-add"></i> Button with icon 24</button>
                <button class="btn btn-default btn-sm"><i class="icon-18-subscribe"></i> Button with icon 18</button>
                <button class="btn btn-default btn-sm btn-icon-only"><i class="icon-24-add"></i></button>
                <button class="btn btn-default btn-sm btn-icon-only"><i class="icon-18-blocks"></i></button>
            </div>
        </div>

        <hr class="my-40">

        <div class="my-40">
            <div class="h1 mb-20">Navs</div>

            <div class="my-40">
                <div class="mb-20"><code>.nav.nav-pills>.nav-item.nav-link</code></div>
                <nav class="nav nav-pills mb-20">
                    {% for i in 0..3 %}
                        <a href="" class="nav-item nav-link{% if i == 0 %} active{% endif %}">Item</a>
                    {% endfor %}
                </nav>
            </div>

            <div class="my-40">
                <div class="mb-20"><code>ul.nav.nav-pills>li.nav-item>a.nav-link</code></div>
                <ul class="nav nav-pills">
                    {% for i in 0..3 %}
                        <li class="nav-item{% if i == 0 %} active{% endif %}">
                            <a href="" class="nav-link">Item</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="my-40">
                <div class="mb-20"><code>.nav.nav-pills.nav-fill>.nav-item.nav-link</code></div>
                <nav class="nav nav-pills nav-fill mb-20">
                    {% for i in 0..3 %}
                        <a href="" class="nav-item nav-link{% if i == 0 %} active{% endif %}">Item</a>
                    {% endfor %}
                </nav>
            </div>

            <div class="my-40">
                <div class="mb-20"><code>.nav.nav-tabs>.nav-item.nav-link</code></div>
                <nav class="nav nav-tabs">
                    {% for i in 0..3 %}
                        <a href="" class="nav-item nav-link{% if i == 0 %} active{% endif %}">Item</a>
                    {% endfor %}
                </nav>
            </div>

            <div class="my-40">
                <div class="mb-20"><code>ul.nav.nav-tabs>li.nav-item>a.nav-link</code></div>
                <ul class="nav nav-tabs">
                    {% for i in 0..3 %}
                        <li class="nav-item{% if i == 0 %} active{% endif %}">
                            <a href="" class="nav-link">Item</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="my-40">
                <div class="mb-20"><code>ul.nav.nav-tabs.nav-fill>li.nav-item>a.nav-link</code></div>
                <ul class="nav nav-tabs nav-fill">
                    {% for i in 0..3 %}
                        <li class="nav-item{% if i == 0 %} active{% endif %}">
                            <a href="" class="nav-link">Item</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}