{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <article class="mzp-c-article">

            <h1 class="mzp-c-article-title">История проекта Mozilla</h1>

            <p>
                Проект Mozilla был <a href="https://air.mozilla.org/code-rush/">создан в 1998 году</a> вместе с <a
                        href="http://web.archive.org/web/20021001071727/wp.netscape.com/newsref/pr/newsrelease558.html">открытием
                    исходного кода браузера Netscape</a>.
                Он был призван использовать творческую энергию тысяч программистов в Интернете и зажег беспрецедентный
                уровень инноваций на рынке браузеров.
                В течение <a href="http://www-archive.mozilla.org/mozilla-at-one.html">первого года</a>, новые участники
                сообщества по всему миру уже помогали создавать новую функциональность, совершенствовать имеющиеся
                возможности, а также были привлечены к управлению и планированию самого проекта.
            </p>

            <div class="row my-20">
                <div class="col-sm-3">
                    <div class="jc-select" id="tiresAndDisks">
                        <input class="form-control jc-select-title" placeholder="Выбрать" readonly>
                        <div class="jc-select-list">
                            {% for items in 1..4 %}
                                <div class="jc-select-item">
                                    <input id="radio-{{ loop.index }}" type="radio" class="jc-select-checker"
                                           name="tiresAndDisks"
                                           {% if loop.index == 2 %}checked="checked"{% endif %}/>
                                    <label class="" for="radio-{{ loop.index }}">
                                        <a href="page-{{ loop.index }}.html">Шины - {{ loop.index }}</a>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <p>
                Создавая открытое сообщество, проект Mozilla стал <a href="http://www-archive.mozilla.org/stevecase.html">больше, чем любая компания</a>.
                Каждый, кто присоединялся к сообществу, расширял цель <a
                        href="http://www-archive.mozilla.org/mission.html">первоначальной миссии</a> проекта — вместо
                того,
                чтобы просто работать над следующими версиями браузера Netscape, участники сообщества начали создавать
                <a href="http://www.oreillynet.com/pub/a/mozilla/2002/09/12/mozilla_browsers.html">различные
                    браузеры</a>, <a href="http://www.bugzilla.org">инструменты для разработчиков</a> и работать над
                рядом других <a href="/ru/firefox/">проектов</a>.
                Свой вклад в Mozilla можно было внести различными способами, но каждый участник был вдохновлен созданием
                свободного программного обеспечения, которое позволит людям выбирать способ работы в Интернете.
            </p>

            <p>
                После нескольких лет разработки в 2002 году была выпущена первая стабильная версия — <a
                        href="http://www.mozillazine.org/articles/article2278.html">Mozilla 1.0</a>. Эта версия принесла
                много усовершенствований в браузер, почтовый клиент и другие программы, включенные в комплект, но
                немногие использовали её.
                К 2002 году <a href="http://www.onestat.com/html/aboutus_pressbox4.html">более 90 % пользователей
                    Интернета</a> использовали Internet Explorer.
                В то время немного людей знало об этом, но в том же году участниками сообщества Mozilla была выпущена
                первая версия Phoenix (позже переименованный в Firefox), с целью предоставить <a
                        href="http://www-archive.mozilla.org/projects/firefox/charter.html">наилучшее из возможных
                    средств
                    для работы в Интернете</a> наиболее широкому кругу людей.
            </p>

            <p>
                В 2003 году проект Mozilla создал Mozilla Foundation, <a
                        href="https://blog.mozilla.org/press/2003/07/mozilla-org-announces-launch-of-the-mozilla-foundation-to-lead-open-source-browser-efforts/">независимую
                    некоммерческую организацию</a>, поддерживаемую индивидуальными инвесторами и различными компаниями.
                Новая организация Mozilla Foundation продолжила роль по управлению ежедневными операциями проекта, а
                также официально приняла роль по распространению <a href="/ru/about/manifesto/">открытости, инноваций и
                    новых возможностей</a> в Интернете.
                Это стало возможным благодаря продолжению выпуска программного обеспечения, такого как Firefox и
                Thunderbird, а также охвату новых областей, таких как предоставление <a href="/ru/grants/">грантов</a>
                для поддержки совершенствования доступности в Интернете.
            </p>

        </article>

        <div class="row my-20">
            <div class="col-sm-3">
                <div class="jc-select multy" id="tiresAndDisks2">
                    <input class="form-control jc-select-title" placeholder="Выбрать">
                    <div class="jc-select-list">
                        {% for items in 1..6 %}
                            <div class="jc-select-item">
                                <input id="radio-2-{{ loop.index }}" type="checkbox" class="jc-select-checker"
                                       name="tiresAndDisks2"
                                       {% if loop.index == 2 %}checked="checked"{% endif %}/>
                                <label class="" for="radio-2-{{ loop.index }}">
                                    <a href="page-2-{{ loop.index }}.html">Шины - 2 - {{ loop.index }}</a>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let allJcSelects = [...document.querySelectorAll('.jc-select')];
        allJcSelects.map(node => new JcSelect(node));

        function JcSelect(node) {
            const control = {
                node: node,
                title: node.querySelector('.jc-select-title'),
                list: node.querySelector('.jc-select-list'),
                options: [...node.querySelectorAll('.jc-select-item')],
            }

            const selectState = {
                isOpened: false,
                isMulty: control.node.classList.contains('multy'),
                selectedItem: -1,
                cursorAt: -1,
                itemsTotal: control.options.length,
                itemHeight: 38, //control.title.clientHeight
                listDirection: '',
                blurEventEnabled: true,
                cursorMovingByArrows: false,
                invokedByTouch: false,
            }

            function isDirectionUp () {
                let windowBottom = document.documentElement.clientHeight;
                let inputBottom = control.title.getBoundingClientRect().bottom;
                let listHeight = selectState.itemsTotal * selectState.itemHeight + 1;

                return (inputBottom + listHeight > windowBottom);
            }

            function toggleList (action) {
                switch (action) {
                    case 'open':
                        control.title.classList.add('opened');
                        if (isDirectionUp()) control.title.classList.add('up');
                        selectState.isOpened = true;
                        break;
                    case 'close':
                        control.title.classList.remove('opened');
                        if (isDirectionUp()) control.title.classList.remove('up');
                        selectState.isOpened = false;
                        break;
                }
            }

            function correctScrollOffset(item) {
                let topCrop = control.list.scrollTop - item.offsetTop;
                let itemBottomOffset = item.offsetTop + item.clientHeight;
                let listBottomOffset = control.list.scrollTop + control.list.clientHeight;
                let bottomCrop = itemBottomOffset - listBottomOffset;

                if (topCrop > 0) {
                    control.list.scrollTop -= topCrop;
                } else if (bottomCrop > 0) {
                    control.list.scrollTop += bottomCrop;
                }
            }

            function switchToItemRadio(i) {
                selectState.selectedItem = i;
                let currentItem = control.options[i];
                currentItem.querySelector('input').checked = true;
                control.title.value = currentItem.querySelector('label a').innerText;
            }

            function toggleItemCheck(i) {
                let currentItem = control.options[i];
                currentItem.querySelector('input').checked = !currentItem.querySelector('input').checked;

                let newTitle = control.options.reduce(
                    (title, currentOption) => {
                        if (currentOption.querySelector('input').checked)
                            return title + ((title === '') ? '' : ', ') + currentOption.querySelector('label a').innerText;
                        else
                            return title;
                    } , '');
                control.title.value = newTitle;
            }

            function selectItem(i) {
                if (i> -1)
                    selectState.isMulty ? toggleItemCheck(i) : switchToItemRadio (i);
            }

            function toggleCursor(position, action) {
                if (position > -1) {
                    let item = control.options[selectState.cursorAt];
                    switch (action) {
                        case 'show':
                            item.querySelector('label').classList.add('cursor');
                            break;
                        case 'hide':
                            item.querySelector('label').classList.remove('cursor');
                            break;
                    }
                }
            }

            function cursorTo(i) {
                if (selectState.cursorAt > -1) toggleCursor(selectState.cursorAt, 'hide');

                selectState.cursorAt = i;
                if (!selectState.touch) toggleCursor(selectState.cursorAt, 'show');

                correctScrollOffset(control.options[i]);
            }

            function handleKeys (e) {
                //e.preventDefault();
                if (selectState.isOpened) {
                    if (e.code === 'Escape') toggleList('close');
                    if (e.code === 'Enter') {
                        selectItem(selectState.cursorAt);
                        toggleList('close');
                    }
                    if (e.code === 'Space') {
                        selectItem(selectState.cursorAt);
                        e.preventDefault();
                    }
                    if (e.code === 'ArrowUp' && selectState.cursorAt > 0) {
                        e.preventDefault();
                        selectState.cursorMovingByArrows = true;
                        // если при нажатии клавиш мышь продолжает висеть над
                        // списком, отключаем mouseover, проверяя cursorMovingByArrows
                        cursorTo(selectState.cursorAt - 1);
                        setTimeout(function() {
                            selectState.cursorMovingByArrows = false;
                        }, 0);
                    }
                    if (e.code === 'ArrowDown' && selectState.cursorAt < selectState.itemsTotal - 1) {
                        e.preventDefault();
                        selectState.cursorMovingByArrows = true;
                        cursorTo(selectState.cursorAt + 1);
                        setTimeout(function() {
                            selectState.cursorMovingByArrows = false;
                        }, 0);
                    }
                } else {
                    if (e.code === 'ArrowUp' || e.code === 'ArrowDown' || e.code === 'Enter' || e.code === 'Space') {
                        e.preventDefault();
                        toggleList('open');
                    }
                }
                selectState.touch = false;
                toggleCursor(selectState.cursorAt, 'show');
            }

            // Has scroll
            if (selectState.itemsTotal > 5) {
                control.list.classList.add('has-scroll')
            }

            // Listeners
            window.addEventListener('scroll', isDirectionUp);


            control.node.addEventListener('keydown', handleKeys);

            control.node.addEventListener('input', () => {
                control.title.value = control.options[selectState.selectedItem].querySelector('label a').innerText;
            });

            control.title.addEventListener('click', () => {
                selectState.isOpened ? toggleList('close') : toggleList('open');
            });

            control.title.addEventListener('blur', (e) => {
                let clickTarget = e.relatedTarget;
                if ( !(control.list.contains(clickTarget)) ) toggleList('close');
            });

            control.options.forEach(
                (currentItem, i) => {
                    let label = currentItem.querySelector('label');
                    let anchor = currentItem.querySelector('a');
                    let input = currentItem.querySelector('input');

                    input.setAttribute('tabindex', '-1');
                    anchor.setAttribute('tabindex', '-1');

                    anchor.addEventListener('click', e => e.preventDefault());

                    if (!selectState.isMulty && input.checked) {
                        switchToItemRadio(i);
                    };

                    label.addEventListener('click', (e) => {
                        selectItem(i);
                        if (!selectState.isMulty) toggleList('close');
                        control.title.focus();
                        control.title.setSelectionRange(0, 0);
                    }, true);

                    label.addEventListener('mouseover', (e) => {
                        if (!selectState.cursorMovingByArrows) cursorTo(i);
                    });

                    label.addEventListener('touchstart', (e) => {
                        selectState.touch = true;
                        toggleCursor(selectState.cursorAt, 'hide');
                    });
                }
            );
        }
    </script>
{% endblock %}