{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        {% include './includes/_global-search.twig' %}

        <div class="masthead">
            {% include './includes/_global-categories.twig' %}

            <div class="masthead-banners">
                <div id="mastheadBanners" class="masthead-banners-lg mb-20 owl-carousel">
                    <div class="banner-lg">
                        <a href="">
                            <div class="background" style="background-image: url({{ base_path }}/images/banners/banner-price.png);"></div>
                        </a>
                    </div>
                    <div class="banner-lg">
                        <a href="">
                            <div class="background" style="background-image: url({{ base_path }}/images/banners/realty-1024x576.jpg);"></div>
                            <div class="context" style="background-color: rgba(54,46,53,.8);">
                                <div class="h2 mb-10">
                                    Недвижимость с проверенными
                                    фотографиями в Москве
                                </div>
                                <div class="mb-20">
                                    Более 1000 объектов
                                </div>
                                <div class="btn btn-outline-white">Искать</div>
                            </div>
                        </a>
                    </div>
                    <div class="banner-lg">
                        <a href="">
                            <div class="background" style="background-image: url({{ base_path }}/images/banners/tyres-1024x576.jpg);"></div>
                            <div class="context" style="background-color: rgba(34,45,70,.8);">
                                <div class="h2 mb-10">
                                    Зима близко!
                                    <br>
                                    Время переобуться
                                </div>
                                <div class="mb-20">
                                    Большой выбор зимней резины
                                </div>
                                <div class="btn btn-outline-white">Посмотреть</div>
                            </div>
                        </a>
                    </div>
                    <div class="banner-lg">
                        <a href="">
                            <div class="background" style="background-image: url({{ base_path }}/images/banners/tree-1024x576.jpg);"></div>
                            <div class="context" style="background-color: rgba(31,25,47,.8);">
                                <div class="h2 mb-10">
                                    Покупайте искусственные ёлки
                                </div>
                                <div class="mb-20">
                                    Их много разных на wiweb.ru
                                </div>
                                <div class="btn btn-outline-white">Посмотреть</div>
                            </div>
                        </a>
                    </div>
                    <div class="banner-lg">
                        <a href="">
                            <div class="background" style="background-image: url({{ base_path }}/images/banners/parts-1024x576.jpg);"></div>
                            <div class="context">
                                <div class="h2">
                                    Более 40 000 000
                                    <br>
                                    новых и б/у автозапчастей!
                                </div>
                                <div class="mb-20">
                                    В наличии и под заказ
                                </div>
                                <div class="btn btn-outline-white">Искать</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="banner-md">
                            <div class="background"></div>
                            <div class="context">
                                <div class="h2">Если нужно продать</div>
                                <div class="my-20">
                                    <a href="">Добавьте объявление</a>
                                </div>
                                <div class="my-20">
                                    <a href="">Выгрузите прайс-лист</a>
                                </div>
                                <div class="my-20">
                                    <a href="">Настройте синхронизацию</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="banner-md">
                            <div class="background"></div>
                            <div class="context">
                                <div class="h2">Мобильное приложение</div>
                                <div class="mt-20 mb-10">
                                    Легко искать, легко добавлять
                                </div>
                                <a href="http://itunes.apple.com/ru/app/id381240184?mt=8" target="_blank">
                                    <img class="mt-10" src="{{ base_path }}/images/app-store.svg" width="138" height="46" alt="Скачать в App Store">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=ru.wiweb.android" target="_blank">
                                    <img class="mt-10" src="{{ base_path }}/images/google-play.svg" width="138" height="46" alt="Скачать в Google Play">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="mt-40">
            <div>
                <a href="" class="btn btn-primary pull-right hidden-xs"><i class="icon-18-plus-white"></i> Добавить</a>
                <h3 class="h1 mb-20">Спецпредложения</h3>
            </div>
            {% include './includes/_promo-blocks.twig' %}
        </section>

        <hr class="my-30">

        <section class="my-20">
            {% set realty = [
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Сдам квартиру Кавказский, 40к2 '
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Сдам квартиру Красный Казанец, 3к1'
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Сдам квартиру Героев Панфиловцев, 45к1'
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Продам однушку на Генерала Кузнецова, 12'
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Продам однушку на Саратовская, 22'
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Продам однушку на Череповецкая, 4к2'
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Сдам квартиру на Зелёный, 65'
                }
            ] %}
            <div>
                <a href="" class="btn btn-primary pull-right hidden-xs"><i class="icon-18-plus-white"></i> Добавить недвижимость</a>
                <h3 class="h1 mb-20">Недвижимость в Москве</h3>
            </div>

            <ul class="products-blocks" data-products="preview">
                <div class="row">
                    {% for item in realty %}
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="product-item">
                                <div class="product-item-content">
                                    <a href="#" class="thumbnail-wrap">
                                        <span class="thumbnail">
                                            <img src="{{ item.img }}" alt="">
                                        </span>
                                    </a>
                                    <h4 class="title">
                                        <a href="#2">{{ item.title }}</a>
                                    </h4>
                                    <div class="price"><b>2 500 ₽</b></div>
                                    <div class="geolocation">Владивосток</div>
                                    <div class="meta">
                                        <div class="text-icon-date">20.05.15</div>
                                        <div class="text-icon-view">453</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-md-3 col-sm-8 col-xs-6">
                        <div class="product-item product-item-promo">
                            <div class="product-item-content">
                                <a href="">
                                    <i class="icon-cat-nedvizhimost-lg mb-20"></i>
                                    <h3>
                                        18 000 предложений по недвижимости в Москве
                                    </h3>
                                    <span>Посмотреть</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </section>

        <section class="my-20">
            {% set job = [
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Сдам квартиру Кавказский, 40к2 '
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Сдам квартиру Красный Казанец, 3к1'
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Сдам квартиру Героев Панфиловцев, 45к1'
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Продам однушку на Генерала Кузнецова, 12'
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Продам однушку на Саратовская, 22'
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Продам однушку на Череповецкая, 4к2'
                },
                {
                    img: 'https://placehold.it/640x480',
                    title: 'Сдам квартиру на Зелёный, 65'
                }
            ] %}
            <div>
                <a href="" class="btn btn-primary pull-right hidden-xs"><i class="icon-18-plus-white"></i> Добавить вакансию</a>
                <h3 class="h1 mb-20">Работа в Москве</h3>
            </div>
            <div class="products-blocks" data-products="preview">
                <div class="row">
                    {% for item in job %}
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="product-item">
                                <div class="product-item-content">
                                    <a href="#" class="thumbnail-wrap">
                                        <span class="thumbnail">
                                            <img src="{{ item.img }}" alt="">
                                        </span>
                                    </a>
                                    <h4 class="title">
                                        <a href="#2">{{ item.title }}</a>
                                    </h4>
                                    <div class="price"><b>2 500 ₽</b></div>
                                    <div class="geolocation">Владивосток</div>
                                    <div class="meta">
                                        <div class="text-icon-date">20.05.15</div>
                                        <div class="text-icon-view">453</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-md-3 col-sm-8 col-xs-6">
                        <div class="product-item product-item-promo">
                            <div class="product-item-content">
                                <a href="">
                                    <i class="icon-cat-rabota-lg mb-20"></i>
                                    <h3>
                                        1000 вакансий в Москве
                                    </h3>
                                    <span>Посмотреть</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="my-20">
            {% set companies = [
                {
                    logo: '/sample/com-1.png',
                    name: 'Pegas',
                    desc: 'Продажа контрактных запчастей, отправка в регионы наложенны…'
                },
                {
                    logo: '/sample/com-2.png',
                    name: 'Партнер ДВ',
                    desc: 'Наша компания занимается продажей контрактных автозапч…'
                },
                {
                    logo: '/sample/com-3.png',
                    name: 'Нью Васюки',
                    desc: 'Продажа контрактных запчастей'
                },
                {
                    logo: '/sample/com-4.png',
                    name: 'Студия "Эстетика тела"',
                    desc: 'Коррекция фигуры, массаж, шугаринг, мануальная пластика…'
                },
                {
                    logo: '/sample/com-1.png',
                    name: 'Pegas',
                    desc: 'Продажа контрактных запчастей, отправка в регионы наложенны…'
                },
                {
                    logo: '/sample/com-2.png',
                    name: 'Партнер ДВ',
                    desc: 'Наша компания занимается продажей контрактных автозапч…'
                },
                {
                    logo: '/sample/com-3.png',
                    name: 'Нью Васюки',
                    desc: 'Продажа контрактных запчастей'
                },
                {
                    logo: '/sample/com-4.png',
                    name: 'Студия "Эстетика тела"',
                    desc: 'Коррекция фигуры, массаж, шугаринг, мануальная пластика…'
                }
            ] %}

            <div>
                <a href="" class="btn btn-primary pull-right hidden-xs"><i class="icon-18-plus-white"></i> Добавить компанию</a>
                <h3 class="h1 mb-20">Новые компании в справочнике</h3>
            </div>

            <div class="row">
                {% for item in companies %}
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="seller-preview-block">
                            <a href="{{ base_path }}/companies/view">
                                <img src="{{ base_path }}{{ item.logo }}" alt="{{ item.name }}">
                            </a>
                            <h4><a href="{{ base_path }}/companies/view">{{ item.name }}</a></h4>
                            <p>{{ item.desc }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="my-20">
            <div>
                <a href="" class="btn btn-primary pull-right hidden-xs"><i class="icon-18-plus-white"></i> Добавить объявление</a>
                <h3 class="h1 mb-20">Новые объявления</h3>
            </div>
        </section>
    </div>
{% endblock %}