{% extends './_layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel profile-reg">
                <div class="panel-header">
                    <h1>Регистрация</h1>
                </div>
                <div class="panel-body">
                    <form action="">
                        <div class="form-group">
                            <label for="" class="control-label required">Логин:</label>
                            <input type="text" name="" id="" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label required">Пароль:</label>
                            <input type="password" name="" id="" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label required">Пароль еще раз:</label>
                            <input type="password" name="" id="" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label required">E-mail:</label>
                            <input type="text" name="" id="" class="form-control"/>
                        </div>
                        <div class="form-action">
                            <button class="btn btn-block btn-lg btn-primary">Зарегистрироваться</button>
                        </div>
                        <div class="profile-auth-social">
                            <span>войти через:</span>
                            <a href="#" class="icon-soc-vk"></a>
                            <a href="#" class="icon-soc-google"></a>
                            <a href="#" class="icon-soc-twitter"></a>
                            <a href="#" class="icon-soc-facebook"></a>
                            <a href="#" class="icon-soc-jr"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
