//
// Banners
//

// Customize Banners

.banner-customize {
  display: block;
  margin-bottom: @spacer;
  border: 1px dashed @hr-border;

  &,
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  // Sizes

  &.banner-240x100 {
    width: 240px;
    height: 100px;
  }

  &.banner-240x400 {
    width: 240px;
    height: 400px;
  }

  &.border-red {
    border-color: @color-red;
  }

  &.border-yellow {
    border-color: @color-yellow;
  }

  &.border-green {
    border-color: @color-green;
  }

  // Type Sale

  @icon-promo-sale:         '../images/icon-promo-sale.png';
  @icon-promo-sale-2x:      '../images/icon-promo-sale@2x.png';

  &.sale {
    padding-left: 100px;
    .img-retina(@icon-promo-sale, @icon-promo-sale-2x, 42px, 42px);
    background-repeat: no-repeat;
    background-position: center left 40px;

    .title {
      display: table-cell;
      height: 100px;
      vertical-align: middle;
      font-size: @font-size-large;
      line-height: @line-height-small;
    }

    &:hover .title {
      text-decoration: underline;
    }
  }

  // Type Category

  &.category {
    padding-top: 80px;
    text-align: center;
    line-height: @line-height-small;

    .title {
      display: block;
      font-size: 20px;
      margin: 30px 0 20px;
    }

    .text {
      font-size: @font-size-small;
      color: @text-muted;
    }

    &:hover .title {
      text-decoration: underline;
    }
  }
}

.branding-100x320 {
  position: relative;
  height: 320px;
  margin: -20px 0 20px;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
  }

  .branding-message {
    position: absolute;
    bottom: 20px;
    font-size: 16px;
    color: #fff;
  }

  @media (max-width: @screen-xs-max) {
    height: auto;
    margin: 0;
    padding: 0;
    background: none !important;

    &::before {
      display: none;
    }

    .branding-message {
      display: none;
    }
  }
}

.branding-100x200 {

  &, a {
    display: block;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

// DADU.RU Banners

@dadu-bg: #FEFCE8;

.dadu {
  margin: @spacer 0;

  @media (max-width: @screen-sm-max) {
    display: none;
  }
}

.dadu img,
.dadu-zone img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dadu-header,
.dadu-footer {
  padding: 10px;
  font-size: 12px;
  background-color: @dadu-bg;
}

.dadu-inner-list {
  margin: 0;
}

.dadu-context {
  margin: 1px 0;
  padding: 10px;
  background-color: @dadu-bg;

  a {
    display: block;
    .link-variant(@selector-underline: true, @selector-name: dadu_title, @pre: ~'.');
  }

  .dadu_title {
    line-height: @line-height-base;
    font-weight: 700;
  }

  .dadu_desc {
    display: block;
    font-size: @font-size-small;
    color: @text-color;
  }

  .dadu_caption {
    font-size: @font-size-small;
    color: @color-green;
  }
}

.dadu-body {
  margin: 1px 0;
}

.dadu-banner {
  display: block;
  margin: 1px 0;
}

.banner-about-maps {
  padding-top: 150px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.04em;
  text-align: center;
  background: url('../images/banners/banner-map.png') no-repeat center;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
  }

  &:after {
    left: 50%;
    width: 1px;
    height: 100%;
    background: rgba(0,0,0,.1);
  }

  &:before {
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
  }

  @media (max-width: @screen-md-max) {
    font-size: 25px;
  }
}

@sprite-for-banner:         '../images/sprite-for-banner.png';
@sprite-for-banner-2x:      '../images/sprite-for-banner@2x.png';
@sprite-for-banner-width:   128px;
@sprite-for-banner-height:  64px;

[class^="icon-for-banner-"] {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto 20px;
  .img-retina(@sprite-for-banner, @sprite-for-banner-2x, @sprite-for-banner-width, @sprite-for-banner-height);
}

.icon-for-banner-items {
  background-position: 0 0;
}

.icon-for-banner-seller {
  background-position: -64px 0;
}

.banner-about-maps-narrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  text-align: center;
  font-size: 24px;
  background: url('../images/banners/banner-map.png') no-repeat center;
  background-size: cover;
  border-radius: @border-radius-base;
  .link-variant(@selector-underline: true);
}
