.card-group {
  .card-icon-size (@icon-size) {
    .card-icon {
      width: @icon-size;
      height: @icon-size;

      img {
        width: @icon-size;
        height: @icon-size;
      }
    }

    .card-body {
      margin-left: @icon-size + min(1, @icon-size) * 20px;
    }

    .card-icon-wrapper + .card-body {
      margin-left: 20px;
    }
  }

  .card {
    position: relative;
    border-radius: @border-radius-large;
    border: 1px solid @border-color;
    border-color: @border-color;
    padding: 20px;
    display: flex;
    align-items: stretch;
    min-height: 100%;

    .card-icon {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 0;
      height: 0;

      img {
        display: block;
        width: 0;
        height: 0;
      }
    }

    .card-icon-wrapper {
      display: flex;
      width: 72px;
      height: 44px;
      background-color: #E6F2EC;
      border-radius: 4px;
      align-items: center;
      justify-content: center;

      &.visa {
        background-color: #E5EFF1;
      }

      &.mastercard {
        background-color: #F2EDE6;
      }

      .card-icon {
        position: static;
      }
    }

    .card-body {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: space-between;

      .card-header {
        display: block;
      }

      .card-footer {
        display: block;
      }
    }
  }

  .card-payment {
    .card-icon-size (48px);

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }

    &.active {
      background-color: rgba(89, 171, 0, 0.04);
      border-color: @color-green;
      cursor: auto;

      &:hover {
        cursor: auto;
      }
    }

    .card-collapse * {
      display: none;
    }

    .card-checker {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }

    input[type="radio"] {
      clip: rect(0, 0, 0, 0);
    }
  }

  .card-cardlist {
    .card-icon-size (36px);
    align-items: center;

    .btn {
      border: none;
    }
  }

  .card-myphone {
    .card-icon-size(0);

    .btn {
      border: none;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

  .card-compact {
    padding: 15px 20px;
  }

  a:focus .card-compact,
  a:hover .card-compact {
    color: @text-color;
    background-color: rgba(0, 0, 0, 0.15);
  }

  li.active .card-compact {
    background-color: rgba(89, 171, 0, 0.04);
    border-color: @color-green;
  }

  .payment-detail {
    @media (min-width: 767px) {
      order: 100 !important;
    }
  }
}

@switch-width-base: 36px;
@switch-height-base: 20px;
@switch-spacer: 10px;
@switch-shift-base: @switch-width-base + @switch-spacer;
@switch-pointer-radius-base: 16px;

@switch-width-sm: 28px;
@switch-height-sm: 16px;
@switch-spacer-sm: 8px;
@switch-shift-sm: @switch-width-sm + @switch-spacer-sm;
@switch-pointer-radius-sm: 16px;

.switch {
  display: flex;
  position: relative;
  align-items: center;
  //padding-left: 46px;

  .pseudoblocks {
    display: block;
    position: absolute;
    content: "";
  }

  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked ~ label {
      &:before {
        background-color: @color-green;
      }

      &:after {
        left: -44px;
      }

      .hidden-if-checked {
        display: none !important;
      }

      .shown-if-checked {
        display: inline !important;
      }
    }
  }


  label {
    position: relative;
    margin-left: @switch-shift-base;
    margin-bottom: 0;
    font-weight: 400;


    &:before {
      .pseudoblocks;
      width: @switch-width-base;
      height: @switch-height-base;
      left: -@switch-shift-base;
      z-index: 1;
      top: 2px;
      border-radius: 10px;
      background-color: #b2b2b2;
      box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      transition: background-color .15s ease-in;
    }

    &:after {
      .pseudoblocks;
      width: @switch-pointer-radius-base;
      height: @switch-pointer-radius-base;
      left: -28px;
      top: 4px;
      z-index: 10;
      border-radius: 8px;
      background-color: white;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      transition: all .15s ease-in;
    }

    &.label-prefix {
      margin-left: 0;
      margin-right: @switch-spacer;

      &:before, &:after {
        display: none;
      }
    }
  }

  &.switch-sm {
    //padding-left: 36px;

    input {
      &:checked ~ label:after {
        left: -34px;
      }
    }

    label {
      margin-left: @switch-shift-sm;
      font-size: 14px;
      line-height: 16px;

      &:before {
        width: @switch-width-sm;
        height: @switch-height-sm;
        left: -@switch-shift-sm;
        top: 0;
      }

      &:after {
        width: 12px;
        height: 12px;
        left: -22px;
        top: 2px;
        border-radius: 8px;
      }

      &.label-prefix {
        margin-left: 0;
        margin-right: @switch-spacer-sm - 2px;

        &:before, &:after {
          display: none;
        }
      }
    }
  }

  &.switch-exclude {
    label:before {
      background-color: @color-green;
    }

    input:checked ~ label:before {
      background-color: @color-red;
    }
  }

  &.switch-inverse {
    label:before {
      background-color: @color-green;
    }

    input:checked ~ label:before {
      background-color: @color-shaded-gray;
    }
  }


}


.deadline {
  background-color: #ffe500;
}

input.appearance-text[type=number] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}