.company-add {
  label {
    font-weight: 500;
  }

  .company-logo {
    width: 160px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: @border-radius-base;
    overflow: hidden;
  }

  &-benefit {
    //border-radius: @border-radius-large;
    border-radius: @border-radius-x-large;
    border: 2px solid @color-green;
    padding: 40px 50px;


    .benefit-list {
      font-size: 18px;

      li {
        margin-left: calc(24px + 16px);
        position: relative;

        i {
          position: absolute;
          left: calc(-24px - 16px);
        }
      }
    }
  }

  &-price {
    border-radius: @border-radius-x-large;
    border: 2px dashed @color-orange;
    padding: 20px 30px;
    background-color: rgba(245, 166, 35, 0.05);

    div {
      margin-left: calc(24px + 16px);
      margin-right: calc(24px + 16px);
      position: relative;


      i {
        position: absolute;
        left: calc(-24px - 16px);
      }
    }
  }

  .btn-primary {
    box-shadow: 0 4px 8px -4px #59ab00;
  }
}

.embed-responsive-16by6 {
  padding-bottom: calc(100% * 6 / 16);
}