.paragraph {
  &-main {
    font-size: @font-size-large;
    line-height: 24px;
  }

  &-small {
    font-size: @font-size-base;
    line-height: 18px;
  }

  &-x-small {
    font-size: 14px;
    line-height: 18px;
  }

  &-xx-small {
    font-size: 12px;
    line-height: 16px;
  }
}

.color-main {
  color: @color-gray-lighter;

  &-07 {
    opacity: 0.7;
  }
}

.font-no-wrap {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
