//
// Geolocation
//

.geolocation-search-field {
  margin-bottom: @spacer;
  font-size: @font-size-large;
  height: 40px;
  line-height: 26px;
}

.geolocation-regions-group {
  & + & {
    margin-top: @spacer;
  }
}

.geolocation-region {
  border: 1px solid @hr-border;

  & + & {
    margin-top: -1px;
  }

  &:first-child {
    .border-top-radius(@border-radius-base);
  }

  &:last-child {
    .border-bottom-radius(@border-radius-base);
  }

  .title {
    font-size: @font-size-large;
    padding: 10px 40px 10px 20px;
    user-select: none;
    .collapse-indicator({ right: 20px; });

    small {
      font-size: @font-size-small;
      color: @text-muted;
    }
  }
}

.geolocation-cities {
  padding: 0 20px 15px;

  ul {
    margin-bottom: 0;

    & > li > a {
      display: block;
      padding: @padding-base-vertical 0;
      line-height: @line-height-small;
      text-decoration: none;

      small {
        color: @text-muted;
      }
    }
  }

  .geolocation-region.open & {
    display: block;
  }
}

.geolocation-popover {
  padding: 10px;

  h5 {
    font-size: @font-size-large;
  }

  .btn {
    margin-right: 5px;
  }
}

.geolocation-radar {
  margin-bottom: 20px;
  font-size: @font-size-large;
  .clearfix();

  & > * {
    display: block;
    float: left;
    margin: 5px 10px 5px 0;
    line-height: 20px;
  }

  & > span {
    width: 1px;
    height: 20px;
    margin-left: 10px;
    margin-right: 20px;
    background: @hr-border;
  }

  @media (max-width: @screen-xs-max) {
    & > span {
      width: 100%;
      height: 1px;
      margin: 15px 0;
    }
  }
}

.geolocation-results {

  a {
    display: block;
    padding: 10px;
    font-size: @font-size-large;
    text-decoration: none;
    border-radius: 6px;

    span {
      display: block;
      font-size: @font-size-small;
      color: @text-muted;
    }

    &:focus,
    &:hover {
      background-color: @gray-lighter;
    }
  }
}