//
// Button Hamburger

.btn-hamburger {
  display: inline-block;
  padding: 16px 10px;
  border: 0;
  background: transparent;
  outline: none;

  .icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    background: @text-color;
    border-radius: 1px;
    transition: transform .2s, opacity .1s;

    & + .icon-bar {
      margin-top: 3px;
    }
  }

  &:not(.collapsed) {
    .icon-bar:nth-child(1) {
      transform: translateY(5px) rotate(-45deg);
    }
    .icon-bar:nth-child(2) {
      opacity: 0;
    }
    .icon-bar:nth-child(3) {
      transform: translateY(-5px) rotate(45deg);
    }
  }
}
