//
// Sprites

// Spritesmith init

.sprites(@spritesheet-sprites);
.retina-sprites(@retina-groups);

// set active and hover state for some general icons

.icon-24-geolocation {
  .active &, a:hover & {
    .sprite(@icon-24-geolocation-highlight);
  }
}

.icon-24-profile {
  .active &, a:hover & {
    .sprite(@icon-24-profile-highlight);
  }
}

.icon-24-mail {
  .active &, a:hover & {
    .sprite(@icon-24-mail-highlight);
  }
}

.icon-24-favorite {
  .active &, a:hover & {
    .sprite(@icon-24-favorite-highlight);
  }
}

.icon-24-search-goods {
  .active & {
    .sprite(@icon-24-search-goods-active);
  }
}

.icon-24-companies {
  .active & {
    .sprite(@icon-24-companies-active);
  }
}

.icon-24-add {
  .active & {
    .sprite(@icon-24-add-active);
  }
}


// Icons sprite settings

[class*="icon-24-"], [class*="icon-18-"], [class*="icon-cat-"] {
  display: inline-block;
  vertical-align: middle;
}


// Text with icon
// todo: remove it!

[class*="text-icon-"] {
  display: inline-block;
  min-height: 12px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 16px;
  color: @text-muted;

  a {
    .link-variant(@text-muted, @text-color);
  }
}

.text-icon-date {
  padding-left: 16px;
  background: @icon-b64-date no-repeat center left;

  @media @high-resolution {
    background-image: @icon-b64-date-2x;
    background-size: 12px 10px;
  }
}

.text-icon-view {
  padding-left: 16px;
  background: @icon-b64-view no-repeat center left;

  @media @high-resolution {
    background-image: @icon-b64-view-2x;
    background-size: 12px 10px;
  }
}

.text-icon-ios {
  padding-left: 16px;
  background: @icon-b64-ios no-repeat center left;

  @media @high-resolution {
    background-image: @icon-b64-ios-2x;
    background-size: 10px 10px;
  }
}

.text-icon-android {
  padding-left: 16px;
  background: @icon-b64-android no-repeat center left;

  @media @high-resolution {
    background-image: @icon-b64-android-2x;
    background-size: 9px 10px;
  }
}

.text-icon-outofbox {
  padding-left: 18px;
  background: @icon-b64-outofbox no-repeat center left;

  @media @high-resolution {
    background-image: @icon-b64-outofbox-2x;
    background-size: 12px 16px;
  }
}


// Social
// todo: auto generate it!

[class*="icon-soc-"] {
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: top;
  .img-retina(@sprite-social, @sprite-social-2x, @sprite-social-width, @sprite-social-height);
}

.icon-soc-google {
  background-position: 0 0;
}

.icon-soc-facebook {
  background-position: -36px 0;
}

.icon-soc-yandex {
  background-position: -72px 0;
}

.icon-soc-mail {
  background-position: -108px 0;
}

.icon-soc-twitter {
  background-position: -144px 0;
}

.icon-soc-vk {
  background-position: -180px 0;
}

.icon-soc-jr {
  background-position: -216px 0;
}

.icon-soc-ok {
  background-position: -252px 0;
}


// Sprite add
// todo: auto generate it!

[class*="icon-add-"] {
  display: inline-block;
  width: 50px;
  height: 66px;
  vertical-align: top;
  .img-retina(@sprite-add, @sprite-add-2x, @sprite-add-width, @sprite-add-height);
}

.icon-add-wiweb {
  background-position: 0 0;
}

.icon-add-xls {
  background-position: -59px 0;
}

.icon-add-sync {
  background-position: -118px 0;
}
