.tree-select {
  .tree-select-wrapper {
    background-color: @body-bg;
    border: 1px solid @border-color;
    border-radius: @border-radius-small @border-radius-small 0 @border-radius-small;
    .collapsed& {
      border-radius: @border-radius-small;
    }
    .tree-select-combo {
      padding-left: 6px;
      flex-grow: 1;
      input[type="text"] {
        border: none;
        outline: 0;
        border-radius: 0;
        font-size: @font-size-small;
        width: 80%;
        margin-bottom: 6px;
        margin-top: 8px;
        .collapsed& {
          display: none;
        }
      }
    }
  }

  .tree-select-collapse {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 16px;
    width: 16px;
    cursor: pointer;
    .collapse-indicator({ });
  }

  .chips-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2px;
    margin-left: -2px;
    margin-bottom: 0;
    .collapsed& {
      margin-bottom: 8px;
    }
    &.exclude-selected li{
      background-color: @color-red;
    }
    li {
      display: inline-flex;
      align-items: center;
      background-color: @color-green;
      border-radius: @border-radius-small;
      margin: 6px 2px -2px 2px;
      span {
        font-size: @font-size-small;
        text-decoration: none;
        padding: 2px 0 2px 6px;
      }
      &.more span {
        padding-right: 6px;
      }
      i {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 0.5L0.5 7.5M0.5 0.5L7.5 7.5' stroke='black' stroke-width='1.33333'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        width: 7px;
        height: 7px;
        margin: 0 6px 0 4px;
        cursor: pointer;
      }
    }
  }
  .checkboxes-list {
    border-top:  1px solid @border-color;
    max-height: 274px;
    overflow-y: auto;
    padding-left: 6px;
    .custom-checkbox {
      margin-top: 3px;
      margin-bottom: 3px;
      &.filtered {
        display: none;
      }
    }
    .collapsed& {
      display: none;
    }
  }
}

.jc-select {
  position: relative;

  @color-list-chesked: #E5E5E5;
  @color-list-cursor: @color-gray-lighter;
  @color-list-cursor-on-checked: #D9D9D9;
  @list-item-height: 38px;

  &-title {
    background: #FFFFFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 10px center;
    background-size: 8px 10px;
    padding-right: 24px;
    text-overflow: ellipsis;
    &[readonly] {
      background-color: white;
    }
    &.opened {
      & + .jc-select-list {
        display: block;
        //box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(160, 160, 160, 0.6);
        //box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      }
      &.up + .jc-select-list {
        bottom: 39px;
      }
    }
  }

  .jc-select-list {
    position: absolute;
    width: 100%;
    display: none;
    max-height: calc(@list-item-height * 5);
    overflow: auto;
    background-color: #FFFFFF;
    z-index: 10;
    border-radius: 6px;
    border: 1px solid @border-color;
    &.has-scroll {
      border-radius: 6px 0 0 6px;
    }
  }

  &-item {
    display: block;
    width: 100%;

    input {
      position: absolute;
      opacity: 0;
      clip: rect(0, 0, 0, 0);
      &:checked ~ label {
        //background-color: @color-green;
        background-color: @color-list-chesked;
        &.cursor {
          //background-color: #409000;
          background-color: @color-list-cursor-on-checked;
        }
      }
    }

    label {
      display: block;
      width: 100%;
      margin-bottom: 0;
      //border: 1px solid @border-color;
      //border-bottom-color: transparent;
      border-radius: 0px;
      cursor: pointer;

      a {
        display: block;
        width: 100%;
        height: 38px;
        font-size: 16px;
        text-decoration: none;
        padding: 6px 12px;
        &:hover {
          color: @text-color;
        }
      }

      &.cursor {
        //background-color: @state-success-bg;
        background-color: @color-list-cursor;
      }
    }

    &:last-of-type label {
      border-bottom-color: @border-color;
      //border-radius: 0px 0px @border-radius-small @border-radius-small;
    }
  }
}

.bg-red { background-color: #FF9AA2; }
.bg-orange { background-color: #FFDAC1; }
.bg-yellow { background-color: #E2F0CB; }
.bg-green { background-color: #B5EAD7; }
.bg-blue { background-color: #C7CEEA; }