//
// Tree

.jstree {
  .table-category-select {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: @body-bg;
  }

  .jstree-icon {
    background-image: url(/images/jstree/32px.png);
  }

  .jstree-open .jstree-node {
    background-position: -292px -4px;
    background-repeat: repeat-y;
    background-image: url(/images/jstree/32px.png);
  }

  .jstree-open .jstree-node.jstree-last {
    background-position: -292px -4px;
    background-repeat: repeat-y;
    background-image: none;
  }

  .jstree-anchor {
    white-space: normal;
    height: auto;
    margin-right: 24px;
  }

  .jstree-default .jstree-anchor {
    height: auto;
  }

  .jstree-hovered,
  .jstree-clicked {
    border-radius: @border-radius-small;
  }

  .jstree-hovered {
    background-color: @state-success-bg;
  }

  .jstree-clicked {
    background-color: #daeac9;
  }

  .default {
    color: #222222;
  }

  .connected {
    color: #467820;
  }

  .banned {
    color: #AE5151;
  }
}