/* jsTree default theme */
@theme-name: default;
@hovered-bg-color: #e7f4f9;
@hovered-shadow-color: #cccccc;
@disabled-color: #666666;
@disabled-bg-color: #efefef;
@clicked-bg-color: #beebff;
@clicked-shadow-color: #999999;
@clicked-gradient-color-1: #beebff;
@clicked-gradient-color-2: #a8e4ff;
@search-result-color: #8b0000;
@mobile-wholerow-bg-color: #ebebeb;
@mobile-wholerow-shadow: #666666;
@mobile-wholerow-bordert: rgba(255, 255, 255, 0.7);
@mobile-wholerow-borderb: rgba(64, 64, 64, 0.2);
@responsive: true;
@image-path: "";
@base-height: 40px;

@import "../../node_modules/jstree/src/themes/mixins.less";
@import "../../node_modules/jstree/src/themes/base.less";
@import "../../node_modules/jstree/src/themes/main.less";
//@import "../../node_modules/jstree/src/themes/responsive.less";