//
// Layouts
//

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.global-container {
  position: relative;
  padding-bottom: @footer-height + 20px;

  @media (max-width: @screen-sm-max) {
    padding-bottom: 0;
  }
}

.aside-fluid {
  width: 240px;
  float: right;

  @media (max-width: @screen-sm-max) {
    width: auto;
    float: none;
  }
}

.content-fluid {
  margin-right: 260px;

  @media (max-width: @screen-sm-max) {
    margin-right: 0;
  }
}

.link-phone {
  &, &:focus, &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.row-gutter-0 {
  margin-right: 0;
  margin-left: 0;

  [class^="col"],
  [class*=" col"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.row-gutter-10 {
  margin-right: -5px;
  margin-left: -5px;

  [class^="col"],
  [class*=" col"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}


//
// Header

.wiweb-logo {
  position: relative;
  display: inline-block;
  width: @logotype-lg-w;
  height: @logotype-lg-h;

  img {
    position: absolute;
    width: 100%;
    height: auto;
  }
}

.global-header {
  position: relative;
  z-index: 2;
  min-width: 320px;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1), 0 4px 16px -6px rgba(0, 0, 0, .25);
  transition: transform .1s linear;

  .wiweb-logo {
    top: -1px;
  }

  .nav-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 36px;
    margin: 0 2px;
    padding: 0 10px;
    border-radius: 6px;
    transition: all .1s ease;

    &.add {
      box-shadow: inset 0 0 0 2px @color-green;

      .icon-18-plus,
      .icon-18-plus-white {
        margin-right: 4px;
      }

      .icon-18-plus,
      &.active .icon-18-plus-white {
        display: block;
      }

      .icon-18-plus-white,
      &.active .icon-18-plus {
        display: none;
      }

      .icon-24-add {
        display: none;
      }

      @media (max-width: @screen-sm-max) {
        .icon-24-add {
          display: block;
        }

        .icon-18-plus,
        .icon-18-plus-white {
          display: none !important;
        }
      }
    }

    &:hover,
    &:focus {
      color: @text-color;
      text-decoration: none;
      background: @gray-lighter;
    }

    &.active {
      color: white;
      text-decoration: none;
      background: @color-red;
      box-shadow: none;
    }

    &.nav-item-desktop {
      @media (max-width: @screen-sm-max) {
        display: none;
      }
    }

    .badge {
      position: absolute;
      top: 0;
      right: 0;
      text-decoration: none;

      @media (max-width: @screen-sm-max) {
        right: auto;
        left: 50%;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    margin-bottom: 16px;

    .wiweb-logo {
      margin: 16px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    height: 56px;

    &::before,
    &::after {
      display: none;
    }

    @media (max-width: @screen-sm-max) {
      flex-wrap: wrap;
      width: auto;
      height: auto;
      padding: 0;
    }
  }

  .map-fullscreen & {
    transform: translateY(-56px);
  }
}

.global-navbar {
  flex: 1;
  display: flex;
  align-items: center;

  @media (max-width: @screen-sm-max) {
    &.map-mode {
      display: none;
    }

    flex: 0 0 100%;
    max-width: 100%;
    height: 56px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .1);

    .nav-item,
    .profile-home {
      flex: 1;
      height: 100%;
    }

    .nav-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 4px 0 0;
      font-size: 12px !important;
      border: 0;
      border-radius: 0;
      box-shadow: none !important;

      [class^="icon-24-"] {
        margin: 0 auto !important;
      }

      &.active {
        color: @color-red;
        font-weight: 500;
        background: none;
      }
    }
  }
}

.profile-home {
  display: flex;
  align-items: center;
  margin-left: auto;

  .nav-item {
    font-size: 14px;

    .icon-24-profile {
      margin-right: 6px;
    }

    .text-overflow {
      display: block;
      max-width: 70px;

      .text-overflow();
    }
  }
}

.location-home {
  display: flex;
  width: 165px;
  margin: 0 12px;

  .nav-item {
    font-size: 14px;
    overflow: hidden;

    span {
      .text-overflow();
    }

    .icon-24-geolocation {
      min-width: 24px;
      margin-right: 4px;
      margin-left: -2px;
    }
  }

  @media (min-width: @screen-lg-min) {
    width: 270px;
  }

  @media (max-width: @screen-sm-max) {
    max-width: 200px;
    width: auto;
    margin: 0 8px 0 auto;
  }
}


.global-dropdown {
  position: absolute;
  z-index: @zindex-g-dropdown;
  top: 56px;
  width: 100%;
  border-top: 1px solid @hr-border;
  background-color: #FFFFFF;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1), 0 20px 30px -10px rgba(0, 0, 0, .5);

  .container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &.collapsing {
    position: absolute;
  }

  @media (max-width: @screen-md-min) {
    top: 51px;
  }
}

.global-dropdown-close {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
  cursor: pointer;
  opacity: .65;

  &:hover {
    opacity: 1;
  }
}


//
// Footer

.global-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: @footer-height;
  padding-top: 20px;
  border-top: 1px solid @hr-border;
  background-color: #FFFFFF;

  p {
    margin: 0;
    font-size: @font-size-small;
    color: @text-muted;
  }

  @media (max-width: @screen-sm-max) {
    position: static;
    height: auto;
    margin-top: 20px;
    padding-bottom: 20px;
  }
}


// Footer navigation

.nav-footer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;

  @media (max-width: @screen-xs-max) {
    flex-direction: column;
  }

  & > li {
    margin-right: 20px;
    margin-bottom: 10px;

    & > a {
      display: flex;
      align-items: center;

      [class*="icon-"], img {
        margin-right: 8px;
      }
    }
  }
}


//
// Nav categories

.nav-categories {
  margin-bottom: 0;

  .panel-nav & > li {
    margin: 15px 0;
  }

  & > li {
    position: relative;
    padding-left: 60px;
  }

  .item {
    font-size: @font-size-large;
    font-weight: 500;
  }

  [class*="icon-cat-"] {
    position: absolute;
    top: 0;
    margin-left: -60px;
  }

  .nav-subcategory {
    margin-top: 5px;
    height: 2.8em;
    overflow: hidden;
    font-size: @font-size-small;
    line-height: 1.4em;

    & > a {
      display: block;
      float: left;
      margin: 0 10px 3px 0;
      .link-variant(@text-muted, @text-color);
    }
  }
}

.nav-categories-list {
  position: relative;
  width: 300px;
  margin: 0;
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, .15);
  background-color: #FFF;
  background-clip: padding-box;
  border-radius: @border-radius-base;
  box-shadow: 0 4px 16px -6px rgba(0, 0, 0, .25);

  @media (min-width: @screen-md-min) {
    &.active, .active & {
      border-right-color: transparent;
      .border-right-radius(0);
    }
  }

  & > li {
    margin-left: 5px;

    & > a {
      position: relative;
      display: flex;
      align-items: center;
      padding: 6px 15px 6px 10px;
      line-height: 20px;
      text-decoration: none;
      border-radius: 18px 0 0 18px;
      transition: all .1s ease;

      [class^="icon-cat-24-"] {
        min-width: 24px;
        margin-right: 15px;
      }

      &:hover,
      &:focus {
        color: @text-color;
        text-decoration: none;
        background-color: @color-gray-lighter;
      }
    }

    &.hovered > a {
      &,
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: @color-gray-lighter;
      }
    }

    & > .nav-subcategory {
      display: none;
      position: absolute;
      z-index: 10;
      top: -1px;
      right: 0;
      bottom: -1px;
      left: 100%;
      width: 360px;
      margin: 0;
      padding: 20px;
      overflow: auto;
      border: 1px solid rgba(0, 0, 0, .15);
      background-color: @color-gray-lighter;
      background-clip: padding-box;
      .border-right-radius(6px);
      box-shadow: 0 4px 16px -6px rgba(0, 0, 0, .25);

      .nav-categories > li {
        padding-left: 70px;
        padding-right: 10px;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    & > li > .nav-subcategory {
      display: none !important;
    }
  }
}


//
// Masthead

.masthead {
  //position: relative;
  margin-bottom: 20px;
  //border-radius: 6px;
  .clearfix();

  //&.active {
  //  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 4px 16px -6px rgba(0, 0, 0, .25);
  //  .nav-categories-list {
  //    box-shadow: none;
  //  }
  //}

  .nav-categories-list {
    float: left;
  }

  @media (max-width: @screen-sm-max) {
    //height: auto;
    .nav-categories-list {
      float: none;
      width: auto;
      margin-bottom: @spacer;
    }
  }
}

.masthead-banners {
  margin-left: 320px;

  @media (max-width: @screen-sm-max) {
    margin-left: 0;
  }
}

.masthead-banners-lg {

  @media (max-width: @screen-sm-max) {
    display: none !important;
  }
}


//
// Banners large

.banner-lg {
  position: relative;

  .background {
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: @screen-lg-min) {
      padding-bottom: 56.25%;
    }
  }

  .context {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    padding: 40px 20px;
    color: white;
    background-color: rgba(0, 0, 0, .65);

    .btn {
      min-width: 100px;
    }
  }
}

.banner-md {
  position: relative;
  border-radius: 20px;
  overflow: hidden;

  .background {
    padding-bottom: 100%;
    background-color: @gray-lighter;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: @screen-lg-min) {
      padding-bottom: 75.5%;
    }
  }

  .context {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    font-size: 16px;

    @media (min-width: @screen-lg-min) {
      padding: 40px;
    }
  }
}


//
// Cookie desc

.cookie-desc {
  position: fixed;
  z-index: 9999;
  right: 10px;
  bottom: 10px;
  width: 520px;
  padding: 20px;
  letter-spacing: 0.04em;
  border: 1px solid rgba(0, 0, 0, .25);
  background: rgba(255, 255, 255, .9);
  background-clip: padding-box;
  box-shadow: 0 2px 16px -4px rgba(0, 0, 0, .25);

  @media (max-width: @screen-xs-max) {
    width: auto;
    left: 10px;
  }
}

// SVG icons like .icon-svg-24

@icon-sizes: 18, 24;

.make-icon-sizes (@step: 1) when (@step <= length(@icon-sizes)) {
  @curent-size: extract(@icon-sizes, @step);
  .icon-svg-@{curent-size} {
    width: ~"@{curent-size}px";
    height: ~"@{curent-size}px";
    display: block;
  }
  .make-icon-sizes(@step + 1);
}

.make-icon-sizes();

.fill-current-color {
  fill: currentColor !important;
}