//
// List variants
//

.list-params {

  & > li {
    padding-left: 120px;
    overflow: hidden;

    & + li {
      margin-top: @spacer / 2;
    }

    &.divider {
      height: 10px;
      margin-top: 0;
    }

    .title {
      display: block;
      width: 110px;
      float: left;
      margin-left: -120px;
      color: @text-muted;

      &::after {
        content: ':';
      }
    }

    @media (max-width: @screen-xs-max) {
      padding-left: 0;
      line-height: @line-height-base;

      .title {
        width: 100%;
        float: none;
        margin-left: 0;
        text-align: left;
        font-size: @font-size-small;
      }
    }
  }

  .panel > & {
    margin-bottom: 0;

    & > li {
      padding-left: 120px;

      .title {
        width: 100px;
        margin-left: -120px;
      }
    }

    @media (max-width: @screen-xs-max) {

      & > li {
        padding-left: 0;

        .title {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}
