//
// Messages

.messages-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid @hr-border;

  .panel & {
    margin-top: 20px;

    .tr:last-child .td,
    .tr:last-child {
      border-bottom: none !important;
    }
  }

  a {
    color: @text-color;
    text-decoration: none;
  }

  .tr {
    display: table-row;
    background-color: @color-gray-lighter;

    &.new {
      background-color: #FFFFFF;

      .author,
      .title {
        font-weight: 700;
      }
    }
  }

  .th,
  .td {
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    border-bottom: 1px solid @hr-border;
  }

  .th {
    padding: 5px 20px;
    font-size: @font-size-small;
    font-weight: 700;
    color: @text-muted;
  }

  .td {
    padding: 10px 20px;
  }

  .notify {
    width: 35px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .author {
    width: 140px;
    text-overflow: ellipsis;
  }

  .date {
    width: 140px;
    font-size: @font-size-small;
    color: @text-muted;
  }

  .title {
    text-overflow: ellipsis;
  }

  .title span {
    font-weight: 400;
    color: @text-muted;
  }

  @media (max-width: @screen-xs-max) {
    display: block;

    .tr {
      display: block;
      border-bottom: 1px solid @hr-border;

      &.heading {
        display: none;
      }
    }

    .td {
      display: block;
      width: 100% !important;
      white-space: normal;
      border-bottom: none;
    }
    
    .title {
      margin-bottom: @spacer / 4;
      padding-bottom: 0;
      max-height: 5.2em;
      overflow: hidden;
    }

    .author {
      padding-top: 0;
      padding-bottom: 0;
    }

    .date {
      padding-top: 5px;
    }
  }
}


.message-block {
  margin: @spacer 0;
  padding: 14px;
  background-color: @messages-bg;

  .panel & {
    margin: 0;
  }
}

.message-date {
  width: 110px;
  margin: 0 auto (@spacer / 2);
  padding: 0;
  text-align: center;
  font-size: @font-size-small;
  border: 1px solid #C4DBAE;
  background-color: #DBF4C2;
  border-radius: @border-radius-small;
  cursor: default;
}

.message {
  position: relative;
  max-width: 85%;
  border: 1px solid transparent;
  background-color: #ffffff;
  border-radius: 10px;

  .message-content {
    padding: 10px;
    overflow: hidden;

    & + .message-content {
      border-top: 1px solid rgba(0,0,0,.1);
    }

    .title {
      margin-bottom: @spacer / 4;
      font-weight: 700;
    }

    .text {
      display: inline;
      //word-break: break-word;
      word-wrap: break-word;
    }

    .object {
      margin-top: 5px;

      a {
        text-decoration: none;
      }

      img {
        display: inline-block;
        vertical-align: top;
        margin: 5px 6px 5px 0;
      }
    }

    .time {
      display: inline;
      float: right;
      margin: 4px 0 0 10px;
      font-size: @font-size-small;
      line-height: 1;
      color: @text-muted;
    }
  }
}

.message-right,
.message-left {
  margin-bottom: @spacer / 2;
  .clearfix();

  & + .message-create {
    margin-top: @spacer;
  }
}


// Message right style

.message-right {

  .message {
    float: right;
    border-color: @message-right-border;
    background-color: @message-right-bg;
    border-top-right-radius: 4px;
  }
}


// Message left style

.message-left {

  .message {
    float: left;
    border-color: @message-left-border;
    background-color: @message-left-bg;
    border-top-left-radius: 4px;
  }
}


// Message system style

.message-system {

  .message {
    border-color: @message-system-border;
    background-color: @message-system-bg;
  }
}


// Message new style

.message-new {

  .message {
    border-color: @message-new-border;
    background-color: @message-new-bg;
  }
}


// New message

.message-create-embryo {
  padding: 10px;
  color: @text-muted;
  border: 1px solid @input-border;
  background-color: #ffffff;
  border-radius: @border-radius-small;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.07);
  cursor: text;

  .icon-24-messages {
    float: left;
    margin-top: -3px;
    margin-right: 8px;
  }

  .open & {
    display: none;
  }
}

.message-create-form {
  display: none;

  .open & {
    display: block;
  }

  .form-control {
    margin-bottom: @spacer / 2;
    padding-top: 6px;
    padding-bottom: 6px;
    resize: vertical;
  }

  .thumbnail {
    background-color: #FFF;
  }
}


// Alerts

.message-alert {
  margin: -15px;
  padding: 14px;
  border: 1px solid transparent;

  &:first-child {
    margin-bottom: 15px;
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
  }

  &:last-child {
    margin-top: 15px;
    border-bottom-left-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
  }
}

.message-error {
  background: #FFE7E5 !important;
  border-color: #E5CFCD !important;
}

.message-success {
  background: #DBF4C2 !important;
  border-color: #C4DBAE !important;
}


//

.message-in-progress {
  padding: 10px 10px 20px;
  font-style: italic;
  color: @text-muted;
  animation: message-in-progress 4.5s ease-in-out infinite;

  &::after {
    content: '';
    animation: message-in-progress-after 1.5s ease-in-out infinite;
  }
}

@keyframes message-in-progress {
  0% {
    color: @text-placeholder
  }
  50% {
    color: @text-muted
  }
  100% {
    color: @text-placeholder
  }
}

@keyframes message-in-progress-after {
  0% {
    content: ''
  }

  33% {
    content: '.'
  }

  66% {
    content: '..'
  }

  100% {
    content: '...'
  }
}