//
// Metro
//

@metro-marker-1: #F12B12;
@metro-marker-2: #41B95A;
@metro-marker-3: #0075C2;
@metro-marker-4: #00C0F5;
@metro-marker-5: #894E32;
@metro-marker-6: #F68222;
@metro-marker-7: #8E449D;
@metro-marker-8: #FFCC01;
@metro-marker-9: #A0A2A3;
@metro-marker-10: #B2D537;
@metro-marker-11: #75CCCE;
@metro-marker-12: #AABEE1;

.metro-marker {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 10px;
  border-radius: 5px 0 0 5px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }

  &:before {
    top: -4px;
    left: 0;
    width: 18px;
    height: 18px;
  }

  &:after {
    content: attr(data-metro);
    top: -1px;
    left: 3px;
    width: 12px;
    height: 12px;
    line-height: 13px;
    font-size: 8px;
    text-align: center;
    color: #000;
    font-weight: 700;
    background-color: #fff;
  }
}

.metro-marker-variant(@index) when (@index >= 1) {
  .metro-marker-@{index} {
    &,
    &:before {
      @background-color: "metro-marker-@{index}";
      background-color: @@background-color;
    }
    &:after {
      content: "@{index}";
    }
  }

  .metro-marker-variant((@index - 1));
}

.metro-marker-variant(12);

// HARD

.metro-marker-8a {
  &,
  &:before {
    background-color: @metro-marker-8;
  }
  &:after {
    content: "8A";
  }
}