.preloader-size(@size) {
  display: inline-block;
  width: @size;
  height: @size;
  background: url(@preloader) no-repeat center;
  background-size: @size @size;
}

.preloader-32 {
  .preloader-size(32px);

  .collapse & {
    margin: 10px 0;
  }
}

.preloader-24 {
  .preloader-size(24px);
}

.preloader-16 {
  .preloader-size(16px);
}