//
// Product page

.product-header {
  margin-bottom: 20px;
}


// Photos

.product-thumbnails {
  width: 50%;
  float: right;
  padding: 0 0 20px 20px;

  .thumbnails-sm {
    margin-top: 2px;
    .clearfix();

    .thumbnail {
      float: left;
      cursor: pointer;
      border: 1px solid transparent;

      &.active {
        position: relative;
        z-index: 2;
        border-color: @link-color-hover;
        border-radius: @border-radius-base;
      }
    }
  }

  .thumbnail {
    width: 100%;
    padding-bottom: 75%;
  }

  @media (max-width: @screen-xs-max) {
    width: 100%;
    float: none;
    padding-left: 0;
  }
}


// Intro

.product-intro {
  max-width: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 0 2px fadeout(#69B417, 35%);
  border-radius: 6px;

  hr {
    margin: 15px 0;
  }

  .price {
    font-size: @font-size-h2;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  @media (max-width: @screen-xs-max) {
    max-width: none;
  }
}

.product-seller {}

.seller-name {
  font-size: @font-size-h4;

  a {
    font-weight: 500;
  }
}

.seller-age {
  font-weight: 500;
  color: @text-muted;
}

.product-actions {

  & > *:not(.btn) {
    display: flex;
    align-items: center;
    font-size: 16px;

    & + * {
      margin-top: 10px;
    }

    svg {
      margin-right: 10px;
    }
  }
}


// Price

.product-price {
  max-width: 50%;
  margin-bottom: @spacer;
  overflow: hidden;
  background-color: @color-gray-lighter;
  border-radius: @border-radius-base;

  .price-wrap {
    padding: 10px 0;
    overflow: hidden;
    //line-height: @line-height-computed;
    text-align: center;
  }

  .price {
    font-size: @font-size-h2;
    font-weight: 700;
  }

  .actions {
    display: table;
    table-layout: fixed;
    border-spacing: 2px;
    width: 100%;

    a {
      display: table-cell;
      padding: 10px 0;
      text-align: center;
      background-color: #FFFFFF;

      &,
      &:hover,
      &:focus {
        text-decoration: none;
      }

      &:hover,
      &:focus {
        color: inherit;
      }
    }

    [class*="icon-24-"] {
      margin-right: 6px;
    }
  }

  @media (max-width: @screen-xs-max) {
    max-width: none;
  }
}


// Phones

.list-params {

  .phones-wrap {
    padding-bottom: 10px;

    .title {
      padding-top: 6px;
    }

    .phones {
      display: block;
      padding-top: 6px;
    }
  }
}

.confirm-phone {
  display: block;
  font-size: 20px;
}

.confirm-phone-badge {
  display: inline-block;
  padding-left: 20px;
  vertical-align: middle;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: @color-green;
  cursor: default;
  text-transform: uppercase;
  background: @b64-confirm no-repeat left top 4px;
}

.product-report-msg {
  max-width: 480px;
  margin-top: @spacer;
  padding-top: 20px;
  font-size: @font-size-small;
  border-top: 1px solid @hr-border;

  a {
    display: inline-block;
  }

  a.text-red {
    font-size: 14px;
    text-decoration: none;
  }
}


//
// Oem catalog page

//
// OEM catalog

.oem-catalog-image {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 100%;
  overflow: hidden;
  border: 1px solid @hr-border;
  border-radius: @border-radius-large;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgba(white, .65);
  }

  &:hover {
    box-shadow: 0 0 8px rgba(0,0,0,.07);
  }
}

.oem-catalog-image-title {
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  font-size: @font-size-small;
  text-transform: uppercase;
  text-align: center;
}

.oem-catalog-image-zoom {
  position: absolute;
  display: block;
  margin: 10px;
}

.oem-catalog-image-details {
  position: sticky;
  top: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid @border-color;
  border-radius: 6px;

  &.squared {
    height: 0;
    padding-bottom: 100%;
  }

  img {
    display: block;
  }

  .col-lg-12 & {
    position: relative;
    top: 0;
  }

  .image-object {
    position: absolute;
    border: 2px solid transparent;
    border-radius: 4px;
    background: transparent;
    cursor: default;

    &:hover, &.hover {
      border-color: @color-red;
    }

    &.selected, &.active {
      border-color: @color-red;
    }
  }
}

.oem-catalog-image-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: move;
}

.oem-catalog-image-toolbar {
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  margin: 8px;
  padding: 4px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);

  a, svg {
    display: block;
  }

  a {
    margin: 0 4px;
  }
}

.oem-catalog-table {
  tr > td {
    vertical-align: middle;
  }
}

#code-pointer {
  display: none;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  font-size: 2em;
  transition: all 0.2s ease-out;

  &.hide {
    display: none !important;
  }
}