//
// Products list
//

// Search data

.products-search-data {
  display: inline-block;
  margin-right: 12px;

  @media (max-width: @screen-sm-max) {
    margin-bottom: @spacer / 2;
  }
}


// Sorting

.products-sorting {
  margin-right: 12px;

  &,
  & > div {
    display: inline-block;

    & + div {
      margin-left: 6px;
    }

    & > a {
      .link-variant(@link-color-hover, @link-color);
    }
  }
}


// Subscribe

.products-subscribe {
  display: inline-block;
  margin-right: 12px;

  &, &:hover {
    text-decoration: none;
  }
}


// Product preview type

.products-preview-type {
  float: right;

  a {
    margin-right: 10px;
  }

  a, span {
    cursor: pointer;
    text-decoration: none;
    color: @text-muted;

    [class^="icon-16-"] {
      opacity: .4;
    }

    &.active,
    &:hover {
      color: @text-color;

      [class^="icon-16-"] {
        opacity: 1;
      }
    }
  }
}

.decoration {
  small {
    display: inline-block;
    margin-left: 5px;
    color: @text-placeholder;
    font-weight: 400 !important;
  }

  [class*="icon-cat-24-"] {
    min-width: 24px;
  }
}

//Left column navigation
.nav-list {
  & + .dropdown {
    button {
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 10px;
        background-size: 50%;
        background: center center no-repeat;
        background-image: @b64-arrow-filter;
        width: 18px;
        height: 18px;
      }

      &[aria-expanded="true"]:after {
        transform: rotate(180deg);
      }
    }

    .decoration;
  }
}

//tabs

// Product preview core
.thumbnail-image (@h-size: 56px, @v-size: 56px, @background-color: transparent) {
  width: @h-size;
  height: @v-size;
  border-radius: 3px;
  overflow: hidden;
  background-color: @background-color;
  background-size: cover;
  background-position: 50% 50%;
  img {
    display: block;
    width: @h-size;
    height: @v-size;
    object-fit: cover;

    &[src=""] {
      display: none;
    }
  }
}


//.search-container {
//  input {
//    @media (min-width: @screen-xs-max) {
//      width: 380px;
//    }
//  }
//
//  .btn {
//    background: transparent;
//    color: @btn-default-color;
//    border: 1px solid @btn-default-border;
//    font-weight: @font-weight-medium;
//  }
//}


.custom-table {
  border-top: 1px solid #ddd;

  .table-row {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }

  .thumbnail {
    .thumbnail-image (56px, 56px, @state-success-bg);
  }
}

.product-item {

  &.hot .product-item-content {
    background-color: #FEFDF1;
  }

  .products-blocks &.hot .product-item-content {
    border-color: #D2C232;
    box-shadow: 0 0 0 3px #F7E53B;
    background-color: #FFF;
  }

}

.product-item-content {

  .title {
    margin: 0;
    font-size: 16px;
    word-wrap: break-word;

    a {
      .link-variant(@visited: true);
    }
  }

  .desc {
    font-size: @font-size-small;
    word-wrap: break-word;

    span {
      display: inline-block;
      width: 10px;
      text-align: center;
      line-height: inherit;

      &::after {
        content: '\2022';
        color: #999;
      }
    }
  }

  ul.desc {
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {
      display: inline-block;

      & + li::before {
        content: '\2022';
        display: inline-block;
        width: 10px;
        margin-right: 4px;
        text-align: center;
        line-height: inherit;
        color: #999;
      }
    }
  }

  .price {
    //display: inline-block;
    //
    //b, s {
    //  display: inline-block;
    //}
    //
    //s {
    //  font-size: @font-size-small;
    //}
  }

  .meta {
    margin-top: @spacer / 4;
  }

  .geolocation {
    margin-top: @spacer / 4;
    font-size: @font-size-small;
    line-height: 1.2;
    .text-overflow();
  }

  .to-favorites {
    display: block;
    float: right;
    margin: 10px;

    .icon-24-favorite {
      .active & {
        background-position: -34px 0;
      }
    }

    &.active .icon-24-favorite {
      background-position: -34px -34px;
    }
  }
}


// Blocks

.products-blocks {

  .product-item {
    padding-bottom: 20px;
  }

  .product-item-content {
    position: relative;
    padding: 0;
    border: 1px solid @hr-border;
    border-radius: 6px;

    .carousel-control {
      background: transparent;

      & > span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 24px;
        height: 24px;
        margin: auto;
        border-radius: 50%;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
      }

      &.right > span {
        background: #fff @b64-arrow-right-gray no-repeat right 7px center;
      }

      &.left > span {
        background: #fff @b64-arrow-left-gray no-repeat left 7px center;
      }
    }

    .thumbnail {
      padding-bottom: 75%;
      overflow: hidden;
      border-radius: 5px 5px 0 0;
    }

    .title {
      height: 2.8em;
      margin: 10px;
      overflow: hidden;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4em;
    }

    .desc {
      display: none;
    }

    .geolocation, .meta {
      width: 100%;
      margin-top: 0;
      background-color: @color-gray-lighter;
    }

    .geolocation {
      bottom: 24px;
      padding: 5px 10px;
    }

    .meta {
      padding: 0 10px 5px;
      border-radius: 0 0 @border-radius-base @border-radius-base;
    }

    .price {
      padding: 0 10px 10px;
    }
  }

  .product-item-promo .product-item-content {
    display: flex;

    & > a {
      display: flex;
      flex-direction: column;
      padding: 24px;
      .link-variant(@selector-underline: true);

      h3 {
        color: @text-color;
      }

      *:last-child {
        margin-top: auto;
      }

      @media (max-width: @screen-xs-max) {
        padding: 16px;
      }
    }
  }
}


.promo-blocks {
  margin-bottom: 20px;

  .owl-stage-outer {
    border-radius: 20px;
  }
}

.promo-item {
  text-align: center;

  .thumbnail-wrap {
    display: block;
    margin-bottom: 12px;

    .thumbnail {
      overflow: hidden;
      border-radius: 20px;
      padding-bottom: 75%;
      background: white;
      box-shadow: 0 4px 20px -12px rgba(0, 0, 0, .65);
    }
  }

  .title {
    margin: 0 8px;
    font-size: 14px;
  }
}

//Search results
.product-search-results {
  display: flex;

  .product-search-results--found,
  .product-search-results--sortby {
    margin-right: 20px;
  }

  .product-search-results--found {
    font-size: @font-size-small;
    color: @color-gray;
    display: flex;
    align-items: center;
  }

  .product-search-results--sortby,
  .product-search-results--subscribe {
    color: @color-red;
    font-size: @font-size-small;
    font-weight: @font-weight-medium;
    display: flex;
    //flex: 1 1 auto;
    align-items: center;
    @media (max-width: @screen-sm-max) {
      margin-right: 0;
    }
  }

  .product-search-results--subscribe {
    @media (max-width: @screen-sm-max) {
      display: none;
    }
  }
}

//Categories

.realty-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  grid-gap: 8px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding: 20px 16px;
  @media (max-width: @screen-sm-max) {
    display: none;
  }
}

.realty-category {
  display: flex;
  align-items: center;

  &--quantity {
    color: gray;
  }
}


//Filters
.round-plate {
  border: 1px solid #D9D9D9;
  line-height: @line-height-base;
  font-size: @font-size-base;
  padding: 7px 16px;
  border-radius: 46px;
  margin-right: 8px;
}

.filters-wrapper {
  display: flex;
  position: relative;
  margin-top: calc(20px - 12px);
  margin-bottom: 20px;
}

.filters-list {
  display: flex;
  margin-bottom: 0;

  .filter-list-button {
    display: block;
    cursor: pointer;
    &:extend(.round-plate);

    &:last-of-type {
      margin-right: 0;
    }

    &.filter-list-button--mobile {
      @media (min-width: @screen-md-min) {
        display: none;
      }
    }

    &:not(.filter-list-button--mobile) {
      @media (max-width: @screen-sm-max) {
        display: none;
      }
    }
  }
}

.filter-content-window {
  display: none;
  position: absolute;
  z-index: 100;
  @media (min-width: @screen-md-min) {
    width: 400px;
    margin-top: 40px;
  }

  &.show {
    display: flex;
  }

  background-color: rgba(59, 185, 193, 0.5);

}

.filters-content-list {
  width: 100%;


  .filters-content-list-item {

  }
}


.filter-by-price {


  .price-chart {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    height: 70px;

    background-color: #F4F4F4;

    .price-chart-bar {
      height: 100%;
      background-color: @color-red;
      align-self: end;
    }
  }

  .price-handle {
    background-color: red;
    position: relative;
    height: 2px;
    border-radius: 2px;
    width: 100%;

    .price-handle--slider {
      position: absolute;
      top: -12px;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background-color: white;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
      transform: translatex(-50%);
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='11' y='6' width='2' height='12' rx='1' fill='black' fill-opacity='0.15'/%3E%3Crect x='15' y='7' width='2' height='10' rx='1' fill='black' fill-opacity='0.15'/%3E%3Crect x='7' y='7' width='2' height='10' rx='1' fill='black' fill-opacity='0.15'/%3E%3C/svg%3E%0A");
    }

    .left-range {
      background: rgba(51, 255, 51, 0.2);
    }
  }

  .price-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

.map-switch-wrapper {
  position: relative;
  &:extend(.round-plate);
  margin-right: 0;
  margin-left: auto;
  border: 1px solid #D9D9D9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 200 40'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23EBE7E0' d='M-3 20.527L1.438 0h16.09l-4.994 22.747 4.993 12.76 3.33 4.993H1.437L-3 31.069V20.526z'/%3E%3Cpath fill='%23EBE7E0' d='M44.712 0H20.856l-4.438 22.747 4.438 11.65 4.438 6.103h16.644l6.658-2.774-6.658-24.966L44.712 0z'/%3E%3Cpath fill='%23EBE7E0' d='M44.712 12.76L47.486 0h38.281l-6.103 28.294-28.294 8.322-6.658-23.856zM109.623 0H88.541l-4.993 27.185 16.089-4.438 9.986-2.22V0zM59.137 37.726L51.37 40.5h9.986l-2.219-2.774zM79.664 32.178L63.02 36.616l2.774 3.884h14.98l-1.11-8.322zM83.548 40.5v-9.431l14.98-3.884L99.636 40.5h-16.09zM109.623 24.411l-7.767 1.11 1.11 14.979h6.657V24.411zM113.507 24.411V40.5h17.198l-2.773-17.753-14.425 1.664zM122.938 0h-9.431v20.527l14.425-1.664v-4.438l2.773-11.096L122.938 0zM147.904 0h-11.651l-5.548 14.425 1.11 4.438 7.212-1.664L147.904 0zM137.918 20.527l-6.103 1.11 3.329 18.863h7.767l-4.993-19.973zM167.322 0h-16.644l-9.986 18.863 4.993 21.637h12.76V20.527L167.322 0z'/%3E%3Cpath fill='%23EBE7E0' d='M200 40h-38.836l.61-19.473L170.651 0h12.76l17.199 8.322V5.548L190.068 0h10.542V8.322L200 40z'/%3E%3Cpath fill='%23E5DEB8' d='M8.096 16.644l-9.432-1.11L-3 20.527v7.213l12.76-5.548-1.664-5.548zM28.623 8.877l-9.431-1.665-1.665 7.213 9.432 1.664 1.664-7.212zM118.5 0h-4.993v20.527l4.993-.554V0zM178.695 1.664L175.089 0h6.103l-.555 1.664h-1.942z'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M178.072 8.79L157.783.255l.215-.512 20.525 8.633h.002l11.409 4.69 3.769-7.642.498.246-3.752 7.607 10.266 4.219-.211.513-21.919-9.008-3.27 9.646 25.386 8.83-.183.524-16.93-5.89-4.461 18.01-.542-.122 4.475-18.07-7.924-2.757-2.544 7.503V40h-.554V26.584l1.395-4.115h-11.104v-.555h11.292l.941-2.774h-11.695v-.554h11.883l3.322-9.797zm-79.94 3.915L96.589.034l.55-.068 1.545 12.672 10.352-1.263.067.551-10.351 1.262 1.161 9.525-.55.067-1.162-9.525L86.355 14.7l-.067-.55 11.845-1.445zM44.828 24.109L8.211 40.752l-.23-.505 36.616-16.643.23.505zm72.841 16.4l-.555-16.644.555-.018.554 16.644-.554.018z' clip-rule='evenodd'/%3E%3Cpath fill='%23B6E59E' d='M130.706 13.315L136.808 0h10.541l-8.876 17.199-6.658 1.664-1.109-5.548zM171.76 17.753h-8.876l-1.11 2.774h9.986v-2.774zM53.034 0h-5.548l-2.774 12.206 6.658 23.856 6.658-1.665L51.925 17.2V4.993L53.035 0zM127.932 13.315h-3.884v5.548l3.884-.555v-4.993zM198.39 22.192l2.22-4.993V23.3l-2.22-1.11z'/%3E%3Cpath fill='%23EAD2DA' d='M26.959 28.294l-1.11-7.212h5.548l2.22 3.329v1.664l-6.658 2.22zM180.637 20.527l1.11-10.54 8.876 3.883-3.328 8.877-6.658-2.22z'/%3E%3Cpath fill='%23D6D9E6' fill-rule='evenodd' d='M-3.555-.555h2.896l-1.797 8.986-1.099-.11V-.554zm1.11 1.11v2.164l.433-2.164h-.433zM.99-.555h17.226l-5.105 23.256 4.91 12.548 3.87 5.806H1.087l-4.64-9.863V20.468L.99-.555zm.895 1.11l-4.331 20.032v10.358l4.236 9H19.82l-2.787-4.18-5.077-12.973L16.838.555H1.886zM20.4-.555h25.002l-2.892 13.302 6.748 25.305-7.208 3.003H25.012l-4.648-6.391-4.521-11.868 4.556-23.35zm.914 1.11l-4.32 22.142 4.355 11.434 4.23 5.814h16.25l6.107-2.545-6.567-24.627L44.024.555h-22.71zM47.04-.555h39.415l-6.317 29.289-29.15 8.573-6.846-24.53L47.04-.555zm.895 1.11l-2.65 12.189 6.47 23.181 27.438-8.07L85.08.555H47.934zm40.145-1.11h22.099v21.527l-10.407 2.313-16.928 4.67 5.236-28.51zm.924 1.11l-4.75 25.86 15.25-4.207 9.566-2.126V.555H89.003zm23.949-1.11h10.663l7.74 3.573-2.869 11.475v4.865l-15.534 1.792V-.555zm1.11 1.11v19.35l13.315-1.537v-4.012l2.679-10.716-6.685-3.085h-9.309zm13.735-.017l.135-1.093h6.887l-2.279 2.279-4.743-1.186zm8.075-1.093h12.943l-9.412 18.236-7.994 1.845-1.284-5.137 5.747-14.944zm.763 1.11l-5.349 13.905.935 3.74 6.431-1.484L146.994.555h-10.359zm13.709-1.11h17.822L159 20.642v20.413h-13.756l-5.139-22.269 10.239-19.34zm.668 1.11l-9.733 18.385 4.847 21.005h11.765V20.413L166.478.555h-15.466zm19.274-1.11h13.252l17.626 8.529v33.08h-39.945V20.414l9.067-20.968zm.729 1.11l-8.686 20.087v19.303h37.726V8.67L183.284.555h-12.269zM189.831.5l.238-1.056h11.095V5.87L189.831.5zm2.705.054l7.519 3.561V.555h-7.519zM138.33 19.889l5.292 21.166h-8.944l-3.505-19.865 7.157-1.301zm-5.873 2.195l3.152 17.861h6.591l-4.694-18.779-5.049.918zm-4.06.05l2.957 18.92h-18.402V23.917l15.445-1.782zm-14.335 2.771v15.04h15.995l-2.591-16.586-13.404 1.546zm-3.884-1.134v17.284h-7.727l-1.186-16.01 8.913-1.274zm-7.73 2.225l1.033 13.95h5.588V25.05l-6.621.945zm-3.422.487l1.214 14.572H82.993V30.639l16.033-4.156zm-14.923 5.015v8.447h14.931L98.03 27.887l-13.926 3.61zm-3.972-.018l1.277 9.575H65.509l-3.406-4.768 18.028-4.807zm-16.193 5.466l2.142 3h14.06l-.942-7.07-15.26 4.07zm-4.615.124l3.188 3.985H51.37l-.187-1.078 8.14-2.907zm-4.75 2.875h5.629l-1.25-1.563-4.38 1.563z' clip-rule='evenodd'/%3E%3Cpath fill='%2375CFF0' d='M51.37 36.062l-4.438-17.199 2.774-.555 5.548 16.644-3.884 1.11z'/%3E%3Cpath fill='url(%23paint0_linear)' d='M-3 0h204.164v41.055H-3z'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-4.673' x2='201.164' y1='0' y2='0' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.176' stop-color='%23fff'/%3E%3Cstop offset='.989' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h200v40H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    &:extend(.round-plate);
    height: 100%;
    width: 100%;
    border: 2px solid white;
    pointer-events: none;
  }
}

// Realty
@color-dark-red: #FF0000;
@color-shaded-gray: #B8B8B8;

@border-realty-list: 1px solid #E2E2E2;
@background-reaty-marked: rgba(255, 198, 1, 0.1);

@realty-image-size-sm: 160px;
@realty-image-size-md: 220px;
@realty-image-size-lg: 280px;

.realty-title-sizes() {
  font-size: @font-size-small;
  font-weight: @font-weight-regular;
  @media (min-width: @screen-md-min) {
    font-size: @font-size-base;
    font-weight: @font-weight-medium;
  }
  @media (min-width: @screen-lg-min) {
    font-size: @font-size-large;
    font-weight: @font-weight-medium;
  }
}

.realty-image-sizes() {
  width: 160px;
  height: 120px;
  @media (min-width: @screen-md-min) {
    width: 220px;
    height: 165px;
  }
  @media (min-width: @screen-lg-min) {
    width: 280px;
    height: 210px;
  }
}

.realty-price-sizes {
  font-size: @font-size-h4;
  font-weight: @font-weight-medium;
  @media (min-width: @screen-md-min) {
    font-size: @font-size-h3;
  }
}

.realty-list {
  display: flex;
  flex-direction: column;
  min-width: 100%;

  .realty-list-item {
    padding: 16px;
    display: grid;
    grid-gap: 16px;

    border-bottom: 1px solid #E2E2E2;
    grid-template-columns: min-content auto;
    grid-template-rows: auto 24px auto;
    @media (min-width: @screen-lg-min) {
      grid-gap: 20px;
      grid-template-columns: min-content auto auto;
      grid-template-rows: auto auto;
    }

    .images-wrapper {
      grid-row: ~"1 / 3";
    }

    .realty-list-item__image {
      .realty-image-sizes;
      position: relative;
      background-size: cover;

      &:after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.03);
      }
    }

    .realty-list-item__title {
      .realty-title-sizes;
    }

    .realty-list-item__district,
    .realty-list-item__stage {
      display: inline-block;
      font-size: @font-size-small;
    }

    .realty-list-item__stage {
      color: @color-gray;
    }

    .realty-list-item__district {
      color: @color-dark-red;
    }

    .realty-list-item__location {
      font-size: @font-size-small;
    }

    .realty-list-item__metro,
    .realty-list-item__reachable {
      display: inline-block;
      font-size: @font-size-small;
    }

    .realty-list-item__metro {
      font-weight: @font-weight-medium;
      vertical-align: top;
    }

    .realty-list-item__reachable {
      color: @color-gray;
      vertical-align: top;
    }

    .realty-list-item__price {
      .realty-price-sizes;
    }

    .realty-list-item__permeter {
      font-size: @font-size-small;
      margin-left: 10px;
    }


    .offer-wrapper {
      @media (max-width: @screen-sm-max) {
        .realty-list-item__district,
        .realty-list-item__stage,
        .realty-list-item__location,
        .realty-list-item__metro,
        .realty-list-item__metro-icon,
        .realty-list-item__reachable {
          display: none !important;
        }
      }
    }

    .pricing-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      @media (min-width: @screen-lg-min) {
        flex-direction: column;
        align-items: flex-end;
      }
    }

    .details-wrapper {

      grid-column: ~"1 / 3";
      @media (min-width: @screen-lg-min) {
        grid-column: ~"2 / 4";
      }
    }
  }

  //  min-height: 192px;
  //  display: grid;
  //  grid-template-columns: @realty-image-size-sm 1fr;
  //  grid-template-rows: auto auto;
  //  @media (min-width: @screen-md-min) {
  //    min-height: 250px;
  //    grid-template-columns: @realty-image-size-md 1fr;
  //  }
  //  @media (min-width: @screen-lg-min) {
  //    min-height: 250px;
  //    grid-template-columns: @realty-image-size-lg 1fr 1fr;
  //  }
  //
  //  border-bottom: @border-realty-list;
  //
  //  &:first-child {
  //    border-top: @border-realty-list;
  //  }
  //
  //  &.marked {
  //    background-color: @background-reaty-marked;
  //  }
  //
  //
  //  &__images-wrapper {
  //    height: auto;
  //    grid-column: 1;
  //    grid-row: 1 / 3;
  //
  //    .realty-image-sizes;
  //
  //    &__container {
  //      position: relative;
  //      width: 100%;
  //      padding-top: 75%;
  //

  //
  //      &:after {
  //        position: absolute;
  //        display: block;
  //        content: "";
  //        top: 0;
  //        height: 100%;
  //        width: 100%;
  //        background: rgba(0, 0, 0, 0.03);
  //      }
  //    }
  //  }
  //
  //  &__details-wrapper {
  //    background-color: #00C0F5;
  //  }
  //}
}

// List

.products-list {
  //margin-top: -20px;

  .product-item {
    width: 100%;
    float: none;
    padding: 0;
  }

  .product-item-content {
    min-height: 190px;
    padding: 20px 0 20px 220px;
    border-bottom: 1px solid @hr-border;

    .thumbnail-wrap {
      float: left;
      width: 200px;
      margin-left: -220px;

      .thumbnail {
        width: 200px;
        height: 150px;
      }

      img {
        display: block;
        bottom: auto;
      }
    }

    .title {
      margin-top: 0;
      margin-bottom: 8px;
    }

    @media (max-width: @screen-xs-max) {
      min-height: 110px;
      padding: 10px 0 10px 130px;

      .thumbnail-wrap {
        width: 120px;
        margin-left: -130px;

        .thumbnail {
          width: 120px;
          height: 90px;
        }

        img {
          max-width: 120px;
          max-height: 90px;
        }
      }

      .title {
        font-size: @font-size-base;
      }

      .desc {
        max-height: (@line-height-base * 2em);
        overflow: hidden;
      }

      .title, .desc {
        margin-bottom: (@spacer / 4);
      }

      .geolocation {
        margin-top: (@spacer / 4);
      }
    }
  }

  .owl-item {
    padding: 0 10px;
    border: 1px solid @hr-border;
    border-radius: @border-radius-base;

    .product-item-content {
      border-bottom: 0;
    }
  }

  .owl-stage-outer {
    margin-top: 30px;
  }
}


// Collapse core

.product-item.products-collapse {
  position: relative;
  height: auto;

  a {
    .link-variant(@color-hover: @text-color, @selector-underline: true, @selector-name: title, @pre: ~'.');
  }

  & > .product-item-content {
    display: block;
    padding: 20px;
    background-color: @color-gray-lighter;

    .icon-24-company {
      margin-top: -2px;
      margin-bottom: 10px;
    }

    .title {
      height: auto;
      margin: 0 0 (@spacer / 4);
      font-size: @font-size-large;
      font-weight: 700;
    }

    .desc {
      display: block;
      max-height: none;
      margin-bottom: 0;
      font-size: @font-size-base;
    }
  }

  .products-list & {
    border-bottom: 2px solid @hr-border;
  }

  .products-list & > .product-item-content {
    height: auto;
    min-height: 0;
    padding-left: 55px;

    .icon-24-company {
      float: left;
      margin-left: -35px;
    }
  }
}


// Compact list styles

.products-list-compact {
  margin-top: 0;
  //border-top: 1px solid @hr-border;

  .product-item-content {
    min-height: 130px;
    padding: 20px 0 20px 130px;

    .thumbnail-wrap {
      width: 120px;
      margin-left: -130px;

      .thumbnail {
        width: 120px;
        height: 90px;
      }

      img {
        max-width: 120px;
        max-height: 90px;
      }
    }

    .geolocation {
      margin-top: (@spacer / 4);
    }
  }
}

.page-error {
  width: 100%;
  height: 500px;
  padding-top: 120px;
  text-align: center;

  .h1 {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -4px;
  }

  .h2 {
    margin-top: 10px;
  }

  &.page-error-404 {
    background: url(@pattern) no-repeat center;
  }

  &.page-error-500 {
    background: url(@pattern-500) no-repeat center bottom 40px;
  }

  @media (max-width: @screen-xs-max) {
    padding-top: 20px;

    &.page-error-500 {
      background-position: center bottom 120px;
    }
  }
}


// Products on map
@map-transition-duration: .3s;

.map-component-backdrop() {
  background: #FFFFFF;
  background: rgba(255, 255, 255, .95);
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, .12);
  backdrop-filter: blur(5px);
}

.map-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  @media (max-width: @screen-sm-max) {
    top: calc(52px + 52px);
    bottom: 52px;
  }
}


.mobile-map-controls {
  z-index: 1;
  @media (min-width: @screen-md-min) {
    display: none !important;
  }
}

.map-nav-menu {
  &:extend(.mobile-map-controls);

  background-color: white;
  padding: 0 16px;
  position: absolute;
  width: 100%;
  height: 52px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;

  a {
    flex: 0 0 auto;
  }
}

.add-map-nav-title() {
  .map-nav-title {
    text-align: center;
    font-size: 16px;
    font-weight: @font-weight-medium;
    flex: 1 0 auto;
  }
}

.map-nav-category {
  &:extend(.map-nav-menu);
  .add-map-nav-title();
  top: 52px;
  border-bottom: 1px solid @border-color;
}

.map-nav-offer {
  &:extend(.map-nav-menu);
  .add-map-nav-title();
  top: calc(100vh - 52px);
  border-top: 1px solid @border-color;

  .offers-count {
    padding-right: 24px;
  }
}

.map-nav-close {
  &:extend(.mobile-map-controls);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15), 0 2px 5px -3px rgba(0, 0, 0, .15);
  position: absolute;
  top: 16px;
  left: 16px;
}

.map-drawer {
  position: absolute;
  &:extend(.mobile-map-controls);
  z-index: 3;
  background-color: white;
  width: 100%;
  height: 100%;
  max-height: calc(100% - 60px);
  transition: all @map-transition-duration ease-in-out;
  bottom: 0;
  border-top: 1px solid @border-color;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);

  &-toggle {
    position: absolute;
    top: calc(-24px / 2);
    left: calc(50% - 24px / 2);
    background-color: white;
    border-radius: 12px;
    z-index: 2;
    cursor: pointer;
    transition: transform @map-transition-duration ease-in;
  }

  &:not(.expanded) &-toggle {
    transform: rotate(180deg);
  }

  &.fully-collapsed {
    transform: translateY(calc(100% + 20px));
  }

  &-shadow {
    position: absolute;
    width: 26px;
    height: 26px;
    top: calc(-26px / 2);
    left: calc(50% - 26px / 2);
    border: 1px solid @border-color;
    z-index: 0;
    border-radius: 13px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  }

  .offers-wrap {
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: white;
    position: relative;
    z-index: 1;

    .offers-list {
      scroll-behavior: smooth;

      .offer {
        padding: 10px 16px;

        & + .offer {
          border-top: 1px solid @border-color;
        }

        &-header {
          margin-top: 8px;
          margin-bottom: 8px;

          &-name {
            font-size: @font-size-small;
            font-weight: @font-weight-medium;
            line-height: 16px;
          }

          &-price {
            font-size: @font-size-large;
            font-weight: @font-weight-medium;
            white-space: nowrap;
            text-align: right;
            min-width: 100px;
          }
        }

        &-body {
          display: flex;

          &-images {
            width: calc(100% - 24px);
            padding-right: 16px;
          }

          &-favorites {
            width: 24px;
            display: flex;
            align-items: center
          }
        }

        &-footer {
          font-size: @font-size-small;
          color: @color-gray;

          &-location {
          }

          &-date {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.tiny-slider {
  //background-color: yellow;
  padding: 10px 0px;
  position: relative;

  .tiny-slider-wrapper {
    //background-color: yellowgreen;
    overflow-x: auto;

    .tiny-slider-scrollable-layer {
      display: flex;
      flex-wrap: nowrap;
      flex: 0 0 auto;

      .tiny-slider-image {
        & + .tiny-slider-image {
          margin-left: 4px;
        }

        //display: inline-block;
        width: 64px;
        height: 64px;

        img {
          height: 64px;
          width: 64px;
          object-fit: cover;
          border-radius: @border-radius-small;
        }
      }
    }
  }

  .tiny-slider-left,
  .tiny-slider-right {
    position: absolute;
    width: 24px;
    max-height: 24px;
    top: 50%;
  }

  .tiny-slider-left {
    left: 0;
    transform: translate(-50%, -50%);

    svg {
      transform: rotate(90deg)
    }
  }

  .tiny-slider-right {
    left: calc(100% - 12px);
    transform: translateY(-50%);

    svg {
      transform: rotate(270deg)
    }
  }

  &:not(.scrollable) {
    .tiny-slider-left,
    .tiny-slider-right {
      display: none;
    }
  }
}

.map-popup {
  &:extend(.mobile-map-controls);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .map-popup-fog {
    width: 100%;
    height: 100%;
    background-color: @text-color;
    opacity: .5;
    transition: opacity @map-transition-duration ease-in;

    &.masked {
      opacity: 0;
    }
  }

  .map-popup-balloon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 360px;
    width: calc(100% - 10px - 10px);
    top: 12px;
    height: calc(100% - 14px - 10px);
    background-color: white;
    border-radius: @border-radius-base;
    transition: transform @map-transition-duration ease-out;

    &.masked {
      transform: translate(-50%, calc(-100% - 14px));
    }

    &:before {
      width: 14px;
      height: 10px;
      content: "";
      position: absolute;
      top: -9px;
      left: calc(50% - 5px);
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0L0 10H14L7 0Z' fill='white'/%3E%3C/svg%3E%0A");
      background-size: cover;
    }

    &-close {
      position: absolute;
      right: 7px;
      top: calc(15px - 12px);
      cursor: pointer;
    }

    .balloon-header {
      .compact-tabs {
        border-bottom: 1px solid @border-color;
      }

    }

    .balloon-body {
      overflow-y: auto;
      scrollbar-width: thin;
      height: calc(100% - 30px);

      &.contain-filters {
        height: calc(100% - 52px - 30px);
      }

      &.tabbed {
        display: none;

        &.active {
          display: block;
        }
      }

      @media (max-width: @screen-sm-max) {
        .search-panel {
          display: block;
          position: static;
          border-radius: @border-radius-base @border-radius-base 0 0;
        }

        .search-panel-header,
        .search-option-action {
          display: none;
        }
      }

      .map-nav {
        max-height: 100%;

        & a {
          margin-left: 10px;
          margin-right: 10px;
          padding-left: 10px;
          padding-right: 10px;

          & + a {
            border-top: 1px dotted @border-color;
          }
        }
      }
    }

    .balloon-footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 52px;
      text-align: center;
      background-color: white;
      padding-right: 10px;
      padding-left: 10px;
      border-top: 1px solid @border-color;
      border-radius: 0 0 @border-radius-base @border-radius-base;
    }

    .contain-filters ~ .balloon-footer {
      display: none;
    }

    .contain-filters.active ~ .balloon-footer {
      display: flex;
    }
  }
}

.map-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @color-gray-lighter;
}

.map-selected-items {
  position: absolute;
  top: 56px;
  right: -280px;
  bottom: 0;
  width: 280px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, .12);
  transition: all .15s linear;
  background: white;

  .active & {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .map-fullscreen & {
    top: 0;
  }

  &.loading {
    background: white url(@preloader) no-repeat center;
  }

  .address {
    position: sticky;
    z-index: 2;
    top: 0;
    margin: 0;
    padding: 15px 44px 15px 15px;
    font-size: 15px;
    line-height: 1.4;
    border-bottom: 1px solid @hr-border;
    background: white;

    .icon-24-close {
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      margin: auto;
      cursor: pointer;
    }
  }

  .products-blocks {
    flex-grow: 1;
    overflow: auto;

    & > .product-item {
      padding: 15px;
      border-bottom: 1px solid @hr-border;

      & > .product-item-content {
        border: none;
        border-radius: 0;

        .title {
          height: auto;
          font-size: 15px;
        }

        .geolocation {
          .border-top-radius(@border-radius-large);
        }

        .meta {
          .border-bottom-radius(@border-radius-large);
        }

        .desc {
          display: block;
          padding: 0 10px;
        }
      }
    }
  }
}

.map-components {
  position: absolute;
  top: 66px;
  left: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  max-height: ~'calc(100% - 60px)';
  transition: all .15s linear;

  .map-fullscreen & {
    transform: translateX(-320px);
  }
}

.map-component {
  .map-component-backdrop();
  margin-bottom: 10px;
  border-radius: 10px;
}

.map-search {
  position: relative;
  height: 50px;

  .form-control {
    height: 50px;
    padding: 10px 50px 10px 20px;
    border-color: transparent;
    background: transparent;
    box-shadow: none;
  }

  button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-color: transparent;
    background: @color-red;
    border-radius: 50%;
    outline: none;
  }
}

.map-header {
  padding: 20px;

  .back {
    display: inline-block;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 15px;
    background: @b64-arrow-left-red no-repeat left center;
    .link-variant(@color-red, darken(@color-red, 5%), @underline: false);
  }

  & > h1 {
    margin: 0;
    font-size: 23px;
    font-weight: 700;
  }

  & > .count {
    margin-top: 5px;
    font-size: 13px;
    color: @text-muted;
  }
}

.map-nav {
  max-height: 290px;
  padding-bottom: 10px;
  overflow: auto;

  & > a {
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    transition: all .15s ease;

    &:focus,
    &:hover {
      color: @link-color;
      background-color: @gray-lighter;
    }
  }
}

.map-search-options {
  position: relative;
  padding: 10px 0 0;
  overflow: auto;

  .search-action {
    position: sticky;
    bottom: 0;
    padding: 10px 20px;
    background: #FFFFFF;
    background: rgba(255, 255, 255, .85);
    backdrop-filter: blur(5px);
  }
}

.map-fullscreen-toggle {
  position: absolute;
  top: 73px;
  left: 330px;
  display: block;
  width: 36px;
  height: 36px;
  background: white @b64-map-fullscreen-on no-repeat center;
  border-radius: 50%;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, .12);
  transition: all .15s linear;

  .map-fullscreen & {
    top: 20px;
    left: 20px;
    background: white @b64-map-fullscreen-off no-repeat center;
  }
}

.map-results-data {
  &:extend(.map-component);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 210px;
  margin: 10px 5px;
  padding: 0 15px;
  font-weight: 500;

  &.error {
    color: white;
    background: @color-red;
  }
}

.map-subscribe {
  &:extend(.map-results-data);
  min-width: 0;

  & > * {
    margin-right: 10px;
  }
}

// Chips & Compact tabs

.compact-tabs-switcher {
  position: absolute;
  opacity: 0;

  ~ .compact-tabs {
    display: none;
  }

  ~ .default {
    display: flex;
  }

  ~ .tabbed {
    display: none;
  }

  ~ .panel .caret {
    transform: rotate(180deg);
  }

  &:checked {
    ~ .compact-tabs {
      display: block;
    }

    ~ .default {
      display: none;
    }

    ~ .tabbed {
      &.active {
        display: flex;
      }
    }

    ~ .panel .caret {
      transform: rotate(0);
    }
  }
}

.compact-tabs {
  white-space: nowrap;
  overflow: auto;

  ul {
    display: inline;
    white-space: nowrap;

    li {
      display: inline-block;
      position: relative;
      margin-right: 10px;

      &.active {
        &:after {
          position: absolute;
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          bottom: 0;
          background-color: @color-green;
          border-radius: 2px 2px 0px 0px;
        }
      }

      a {
        font-size: @font-size-small;
        text-decoration: none;
        padding: 4px 6px;
        display: inline-block;

        &:focus, &:active {
          color: @text-color;
        }
      }
    }
  }
}

.compact-tabs-legend {
  display: inline-block;
  font-size: @font-size-small;
  font-weight: @font-weight-bold;
  display: inline-block;
  padding-right: 10px;
}

.chips {


  .panel {
    padding: 10px 15px;
    font-size: @font-size-small;
    justify-content: space-between;

    .chips-list {
      display: inline-block;
      flex-grow: 1;
      margin: 0;

      li {
        display: inline-block;
        padding: 2px 0px;

        a {
          border-radius: @border-radius-small;
          color: @text-color;
          background-color: @color-gray-lighter;
          text-decoration: none;
          padding: 4px 8px;

          &:hover {
            color: #000000;
          }
        }
      }
    }

    label {
      cursor: pointer;
      padding: 0;
      margin: 0;
    }
  }

}


@media (max-width: @screen-sm-max) {
  .map-components,
  .map-selected-items,
  .map-fullscreen-toggle {
    display: none;
  }
}