//
// Profile page

.profile-masthead-header {
  padding: 20px;

  &.divider {
    border-bottom: 1px solid @hr-border;
  }

  .h1 {
    margin: 0;
  }

  .inline-block-link {
    display: inline-block;
    margin-top: @spacer / 2;
    margin-right: 10px;
    padding-left: 32px;

    [class*="icon-24-"] {
      float: left;
      margin-left: -32px;
    }
  }

  .nav-pills {
    margin-top: @spacer / 2;
    margin-bottom: 0;
  }

  @media (max-width: @screen-xs-max) {
    img {
      display: none;
    }
  }
}

.profile-masthead-image {
  overflow: hidden;
  background-color: @color-gray-lighter;
  border-radius: @border-radius-small @border-radius-small 0 0;

  img {
    max-width: 100%;
  }
}

.profile-masthead-map {
  height: 80px;
  overflow: hidden;
  border-top: 1px solid @hr-border;
  background-color: @color-gray-lighter;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 @border-radius-small @border-radius-small;
  cursor: pointer;

  &.open {
    height: 380px;
    cursor: inherit;
  }
}

/*@profile-auth-width: 400px;*/

//.profile-auth {
//  //width: @profile-auth-width;
//  //margin: 0 auto;
//  //overflow: hidden;
//  //
//  //@media (min-width: 320px) and (max-width: 400px) {
//  //  width: @profile-auth-width - 120px;
//  //}
//
//  //.tab-shift {
//  //  display: flex;
//  //  flex: 0 0 auto;
//  //}
//
//  .tab-pane {
//    display: block !important;
//    position: relative;
//    /*flex: 0 0 @profile-auth-width;
//    @media (min-width: 320px) and (max-width: 400px) {
//      flex-basis: @profile-auth-width - 120px;
//    }*/
//    order: 0;
//    opacity: 0;
//  }
//
//  .tab-pane.show {
//    margin-left: inherit;
//    order: -1;
//    opacity: 1;
//  }
//
//  .to-bottom {
//    position: absolute;
//    width: 100%;
//    bottom: 0;
//  }
//
//  @media (min-width: 0px) {
//    .nav-justified > li {
//      display: table-cell;
//      width: 1%;
//    }
//  }
//
//  .nav-pills {
//    h3 {
//      margin-bottom: @spacer;
//    }
//
//    border-bottom: 1px solid;
//    border-bottom-color: rgba(0, 0, 0, 0.1);
//    position: relative;
//
//    > li {
//      .normalise-tab {
//        color: @color-gray-dark;
//        background-color: transparent;
//      }
//
//      & > a {
//        padding-left: 0;
//        padding-right: 0;
//
//        &:hover,
//        &:focus,
//        &:active {
//          .normalise-tab;
//        }
//      }
//
//      &.active {
//        > a {
//          .normalise-tab;
//        }
//
//        &:after {
//          content: "";
//          display: block;
//          position: absolute;
//          background-color: @color-red;
//          width: 100%;
//          height: 4px;
//          border-top-left-radius: 4px;
//          border-top-right-radius: 4px;
//          bottom: 0;
//          z-index: 3;
//        }
//      }
//    }
//  }
//
//  .btn-outline-dark {
//    background-color: transparent;
//    border-color: @border-color;
//    cursor: pointer;
//
//    &:hover {
//      background-color: @color-gray-lighter;
//    }
//  }
//}

.profile-reg {
  width: 340px;
  margin: 0 auto;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.07);

  .form-action {
    margin: @spacer 0;
  }
}

.profile-auth-social {
  position: relative;
  margin-top: @spacer / 2;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;

  span {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 0;
    left: 0;
    display: block;
    width: 100px;
    margin: auto;
    font-size: @font-size-small;
    color: @text-muted;
    font-style: italic;
    background-color: #fff;
  }

  a {
    margin: 0 3px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px dotted @hr-border;
  }
}

.profile-bg {
  background-position: left top 50px;

  @media (max-width: @screen-sm-max) {
    background-position: left top 72px;
  }

  @media (max-width: @screen-xs-max) {
    background: none !important;
  }
}

.profile-bg-helper {
  padding: 20px;
  background: #ffffff;
  border-radius: @border-radius-large;

  @media (max-width: @screen-xs-max) {
    padding: 0 10px;
    border-radius: 0;
  }
}

//
// Reviews

.user-review {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0;
  line-height: 1.5;
  border-top: 1px solid @hr-border;
  border-bottom: 1px solid @hr-border;

  &.removed {
    align-items: center;
    padding: 20px 0;
  }

  & + & {
    margin-top: -1px;
  }
}

.review-comment {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  padding: 0 20px;

  h4,
  p {
    margin-bottom: 0;
    line-height: 1.5;
  }

  p {
    margin-top: 5px;
  }

  .removed & {
    font-size: @font-size-h4;
    font-style: italic;
  }
}

.review-author {
  flex: 0 0 180px;
  max-width: 180px;
  font-size: @font-size-large;
  font-weight: 500;

  @media (max-width: @screen-xs-max) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 10px;
    padding-left: 44px;
  }
}

.review-date {
  flex: 0 0 120px;
  max-width: 120px;
  font-size: @font-size-small;
  line-height: 24px;
  color: @text-muted;

  @media (max-width: @screen-xs-max) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 10px;
    padding-left: 44px;
  }
}

.review-actions {
  flex: 0 0 140px;
  max-width: 140px;

  @media (max-width: @screen-xs-max) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 10px;
    padding-left: 44px;
  }
}

.review-reply {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 16px 0 -16px;
  padding-left: 44px;
  background-color: #f2f2f2;

  .user-review {
    border: 0;
  }
}

.rating-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;

  .nav-item {
    width: 120px;
    margin: 10px 20px 10px 0;

    span {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 500;

      svg {
        margin-right: 10px;
      }
    }

    small {
      display: inline-block;
      margin-top: 5px;
      line-height: 1.2;
      font-size: @font-size-small;
      color: @text-muted;
    }
  }

  .nav-link {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      span {
        text-decoration: underline;
      }
    }
  }
}

.profile-rating-preview {
  display: inline-flex;
  align-items: center;

  a& {
    color: inherit;
    text-decoration: none;
  }

  & > * + * {
    margin-left: 8px;

    &::before {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      margin-top: -2px;
      margin-right: 4px;
      vertical-align: middle;
      background: @text-placeholder;
      border-radius: 50%;
    }
  }
}

.profile-goods-locked {
  background-color: #FFF0F0;
  padding: 20px;
  border-radius: @border-radius-large;

  &-header {
    //font-weight: @font-weight-medium;
  }

  [class*="icon-24-"] {
    position: relative;
    top: -2px;
  }
}

.profile-rating-count {
  display: flex;
  align-items: center;

  img {
    margin-right: 6px;
  }
}

.profile-rating-count,
.profile-rating-total,
.profile-age {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 500;
}

.profile-age {
  color: @text-muted;
  font-weight: 400;
}

.profile-rating-count {
  a:focus &,
  a:hover & {
    text-decoration: underline;
  }
}
