//
// Ribbons
//

.ribbon {
  position: absolute;
  top: 15px;
  left: -5px;
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-small;
  background-color: @color-gray-lighter;
  border-radius: @border-radius-small @border-radius-small @border-radius-small 0;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
  cursor: default;

  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 0;
    border-width: 5px 0 0 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: @color-gray;
  }

  & + & {
    margin-top: 34px;
  }

  &.green {
    color: #FFF;
    background-color: @color-green;
  }

  &.yellow {
    color: #FFF;
    background-color: @color-yellow;
  }
}
