//
// Search

// Global search

.global-search {
  position: relative;
  margin-bottom: 20px;
  padding: 2px;
  background: @color-red;
  border-radius: @border-radius-base;
  box-shadow: 0 4px 16px -8px fade(@color-red, 60);
}

.global-search-row {
  display: flex;
  align-items: center;

  @search-input-height:   44px;
  @search-input-padding:  12px;

  .column {

    &:first-child {
      flex-grow: 1;
    }

    &:last-child {
      width: 60px;
    }

    &-checkbox {
      display: flex;
      align-items: center;
      margin-left: -4px;
      padding-right: @search-input-padding;
      height: @search-input-height;
      background: white;
      white-space: nowrap;
      font-size: @font-size-small;
      .border-right-radius(@border-radius-small);

      @media (max-width: @screen-xs-max) {
        display: none;
      }
    }

    & > input[type="text"] {
      width: 100%;
      height: @search-input-height;
      padding: @search-input-padding;
      font-size: @font-size-base;
      line-height: 20px;
      outline: none;
      border: none;
      background-color: white;
      border-radius: @border-radius-small;

      &.active {
        .border-bottom-radius(0);
      }

      @media (max-width: @screen-xs-max) {
        .border-right-radius(@border-radius-small);
      }
    }

    & > button {
      display: block;
      height: 40px;
      width: 100%;
      cursor: pointer;
      border: none;
      background: transparent;
      outline: none;

      &:hover {
        background-color: rgba(0,0,0,.03);
      }
    }
  }
}


.show-filters {
  overflow: hidden;

  .search-panel {
    display: block;
  }
}


// Search option

@zindex-search-form: 9999;

.search-panel {

  @media (max-width: @screen-sm-max) {
    display: none;
    position: fixed;
    z-index: @zindex-search-form;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 10px 0;
    overflow: auto;
    background: #FFF;
  }
}

.search-panel-header {
  display: none;
  margin-bottom: 20px;
  padding-top: 10px;
  font-weight: @font-weight-medium;
  text-align: center;

  @media (max-width: @screen-sm-max) {
    display: block;
  }
}

.search-panel-close {
  position: absolute;
  left: 18px;
  margin-top: -2px;
}


.search-options-group {

  @media (min-width: @screen-md-min) {
    margin-bottom: @spacer;
  }
}

.search-option {
  margin-bottom: 5px;
  background-color: @search-option-bg;
  border-radius: @border-radius-base;

  .help-container {
    position: relative;
    padding-right: 40px !important;

    .help-badge {
      position: absolute;
      top: 0;
      right: 14px;
      bottom: 0;
      margin: auto;
      user-select: none;
      opacity: .25;

      &:hover {
        opacity: .5;
      }
    }
  }

  .checkbox.help-container {
    padding-right: 20px;

    .help-badge {
      right: -5px;
    }
  }
}


// Group opener
// TODO: what is it???
.search-options-group-opener {
  margin: 2px 0;
  padding: 4px 20px;
  font-size: @font-size-small;
  text-align: center;
  cursor: pointer;
  background-color: @color-gray-lighter;
}


// Option header

.search-option-header {
  position: relative;
  display: block;
  margin: 0;
  padding: 12px;
  font-size: @font-size-small;
  font-weight: @font-weight-medium;
  overflow: hidden;
  cursor: default;
  user-select: none;

  &[data-toggle="collapse"] {
    padding-left: 40px;
    .collapse-indicator({ left: 16px; });
  }

  &.more {
    display: none;
    cursor: pointer;
    background: @b64-more-vertical no-repeat top 16px left 18px;

    &::before {
      display: none;
    }

    &.collapsed {
      display: block;
    }
  }

  .active &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 4px;
    height: 24px;
    background-color: @color-green;
    .border-right-radius(3px);
  }
}

.color-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);

  &.white {
    background-color: white;
  }

  &.gray {
    background-color: darkgray;
  }

  &.black {
    background-color: black;
  }

  &.red {
    background-color: red;
  }

  &.orange {
    background-color: orange;
  }

  &.yellow {
    background-color: yellow;
  }

  &.pink {
    background-color: pink;
  }

  &.blue {
    background-color: blue;
  }

  &.darkblue {
    background-color: darkblue;
  }

  &.purple {
    background-color: purple;
  }

  &.green {
    background-color: green;
  }

  &.brown {
    background-color: brown;
  }
}


// Option body

.search-option-body {
  padding: 12px;

  .search-option-header + &,
  .collapse &,
  .collapsing & {
    padding-top: 0;
  }

  .range & {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: -14px;
      right: 0;
      bottom: 0;
      left: 0;
      width: 10px;
      height: 2px;
      margin: auto;
      background-color: @text-muted;
    }
  }

  &.overflowing {
    height: 285px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .radio,
  .checkbox {
    margin-top: 0;
  }

  .radio + .radio,
  .checkbox + .checkbox {
    margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
  }

  .color-indicator {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
  }
}


// Option action

.search-option-action {
  z-index: 9;
  bottom: 0;
  padding: 10px 0;
  background: #FFF;
  box-shadow: 0 -2px 4px 2px #fff;

  &.show {
    position: sticky;
  }

  @media (max-width: @screen-sm-max) {
    position: sticky;
  }
}
