//
// Sellers
//

.sellers-list {
  margin-top: -20px;
  margin-bottom: @spacer;
}

.seller-block {
  min-height: 110px;
  padding: 20px 0;
  border-bottom: 1px solid @hr-border;

  .thumbnail-wrap {
    float: right;
    width: 170px;
    height: 70px;
    padding: 4px;
    border: 1px solid @hr-border;
    border-radius: @border-radius-small;

    .thumbnail {
      width: 100%;
      height: 100%;
    }
  }

  .title {
    margin: 0 0 (@spacer / 2);
    font-weight: 700;

    a {
      .link-variant(@link-color-hover, @link-color, @visited: true);
    }
  }

  .desc {
    margin: 0;
  }

  .params {
    margin-top: 10px;
    font-size: @font-size-small;

    span {
      display: flex;

      [class*="icon-"] {
        margin-top: 3px;
        margin-right: 6px;
      }

      a {
        display: inline-block;
        margin-right: 6px;

        &,
        &:hover,
        &:focus {
          color: @link-color;
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    .thumbnail-wrap {
      display: none;
    }
  }
}


// Sellers from main page

.seller-preview-block {
  margin-bottom: 20px;
  padding: 4px;
  text-align: center;
  border: 1px solid @hr-border;
  border-radius: 6px;

  img {
    display: inline-block;
    margin: (@spacer / 2) 0;
  }

  h4 {
    .text-overflow();
  }

  p {
    font-size: @font-size-small;
    height: (@line-height-base * 2em);
    overflow: hidden;
    color: @text-muted;
  }
}
