/*! tabs-pills.less - табы с красным подчеркиванием */

@nav-hover-color:         @text-color;
@nav-hover-bg:            @color-gray-lighter;

@nav-tabs-border:         @hr-border;
@nav-tabs-color-active:   @text-color;
@nav-tabs-bg-active:      @color-red;

@nav-pills-color-active:  #fff;
@nav-pills-bg-active:     @color-red;


.nav-pills, .nav-tabs {
  display: flex;
  overflow: auto;

  & > li, .nav-item {
    position: relative;
  }

  & > li > a, .nav-link {
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
    transition: background .15s ease;

    &:hover, &:focus {
      color: @nav-hover-color;
      background: @nav-hover-bg;
    }

    .quantity {
      margin-left: 5px;
      color: @text-placeholder;
    }
  }
}


.nav-pills {

  & > li > a, .nav-link {
    border-radius: @border-radius-base;
  }

  & > li.active > a,
  .nav-link.active,
  .nav-item.active .nav-link {
    color: @nav-pills-color-active;
    background: @nav-pills-bg-active;
  }
}


.nav-tabs {
  border-bottom: 1px solid @nav-tabs-border;

  & > li.active > a,
  .nav-link.active,
  .nav-item.active .nav-link {
    color: @nav-tabs-color-active;
    font-weight: @font-weight-medium;

    &:hover, &:focus {
      background: transparent;
    }

    .quantity {
      font-weight: normal;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: @nav-tabs-bg-active;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
}


.nav-fill {
  & > li,
  & > .nav-item {
    flex: 1 1 100%;
  }
}


.tab-content {
  & > .tab-pane {
    display: none;
  }
  & > .active {
    display: block;
  }
}
