//
// Thumbnails

.thumbnail-wrap {
  display: block;
}

.thumbnail {
  display: block;
  position: relative;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}

.thumbnail-1x1 {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.thumbnail-4x3 {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.thumbnail-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background: rgba(0,0,0,0.05);
}

.thumbnail-badges {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;

  .label {
    color: @text-color;
    font-weight: @font-weight-medium;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
  }
}