//
// Tree

.tree {
  font-size: @font-size-small;
  letter-spacing: 0.02em;

  ul, .tree-block, .tree-row, table {
    display: none;
  }

  ul {
    padding-left: 24px;
  }

  .active {
    & > ul,
    & > .tree-block {
      display: block;
    }

    & > .tree-row {
      display: flex;
    }

    & > table {
      display: table;
    }
  }

  .tree-row {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .tree-block {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .tree-item {
    position: relative;
    display: block;
    margin-bottom: 2px;
    padding: 12px 16px 12px 48px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
    user-select: none;
    background-color: #f2f2f2;
    border-radius: 4px;
    transition: background .15s ease;

    &:hover,
    &.selected {
      background-color: @hr-border;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 14px;
      display: block;
      width: 20px;
      height: 20px;
      margin: auto 0;
    }
  }

  a.tree-item-link {
    //@include link-color($body-color, $underline: true);
  }

  .tree-item-parent {
    cursor: pointer; // ios click does not work without this
  }

  .tree-item-parent::before {
    background: @b64-tree-icon-plus no-repeat center;
  }

  .active > .tree-item-parent::before {
    background: @b64-tree-icon-minus no-repeat center;
  }

  .tree-item-link::before {
    background: @b64-tree-icon-link no-repeat center;
  }

  .tree-item.loading::before {
    //@extend %spinner;
    background: transparent;
  }
}

.tree.tree-highlight {
  .active > .tree-item-parent {
    background-color: #FFEB7C;
  }
}