@sides: top, right, bottom, left;

.border-generator(@side) {
  .border-@{side} {
    border-@{side}: 1px solid @hr-border;
  }

  .border-@{side}-0 {
    border-@{side}: 0;
  }
}

each(@sides, {
  .border-generator(@value);
})

.border-x {
  border-right: 1px solid @hr-border;
  border-left: 1px solid @hr-border;
}

.border-y {
  border-top: 1px solid @hr-border;
  border-bottom: 1px solid @hr-border;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 800;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}