{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs mb-20">
            <ul>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Item 1</span>
                    </a>
                </li>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Item 2</span>
                    </a>
                </li>
                <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <meta itemprop="url" content="#url">
                    <span itemprop="title">Current</span>
                </li>
            </ul>
        </div>

        <h1>Land Rover Defender 2007-</h1>

        <ul class="nav nav-tabs my-20">
            <li class="active"><a href="">Поиск по группам запчастей</a></li>
            <li><a href="">Поиск по картинкам</a></li>
        </ul>

        <ul class="tree tree-highlight">
            <li class="">
                <span class="tree-item tree-item-parent" role="button">Детали для ТО </span>
                <ul>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Фильтр масляный</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Фильтр воздушный</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Фильтр топливный</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Ремень ГРМ</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Термостат</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Пробка сливного отверстия</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Щетки стеклоочистителя</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Насос системы охлаждения</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Колодки тормозные</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Свечи накаливания</a>
                    </li>

                </ul>
            </li>
            <li>
                <span class="tree-item tree-item-parent" role="button">Двигатель </span>
                <ul>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Прокладки <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Прокладка головки цилиндра</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Прокладка клапанной крышки</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Прокладка стерженя</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Прокладка впускного коллектора</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Прокладка выпускного коллектора</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Прокладка масляного поддона</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Прокладка турбонагнетателя</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Герметизация охлаждающей жидкости</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Герметизация в ситеме циркуляции  масла</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Система подачи воздуха </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Корпус воздушного фильтра</a>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Система нагнетания воздуха </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Компрессор</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Прокладка компрессора</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Охладитель наддувочного воздуха (интеркулер)</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Трубка нагнетаемого воздуха</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Механизм газораспределения </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Коромысло, балансир</a>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Ремень ГРМ, натяжители ремня <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Комплект ремня ГРМ</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Цепь привода ГРМ <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Цепь привода распредвала</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Натяжитель цепи</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Клапан, регулировка <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Клапана впусные, выпускные</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Приведение в действие клапанов</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Блок-картер </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Вентиляция</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Электроника двигателя</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Кривошипношатунный механизм </span>
                        <ul>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Шатун <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Вкладыш нижней головки шатуна</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Система смазки </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Фильтр масляный</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Корпус и прокладка масляного фильтра</a>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Радиатор масляный <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Радиатор масляный</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Поддон масляный <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Пробка сливного отверстия</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Датчик давления масла</a>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Насос масляный, комплектующие <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Насос масляный</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Цепь привода</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Крепление двигателя <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Подвеска двигателя</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Система очистки ОГ </span>
                        <ul>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Рециркуляция отработанных газов </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Клапан системы рециркуляции ОГ (EGR)</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Прокладки</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Датчик кислорода</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Кожух двигателя</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Ременный привод </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Шкив</a>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Ремень поликлиновой, ролики <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Ролик натяжителя</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Натяжная планка</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Ремень ГРМ <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Комплект ремня ГРМ</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Ролик натяжителя</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Натяжная планка</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Приготовление смеси </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Стопорный механизм</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Форсунка, распылитель, насос-форсунка</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Насос высокого давления</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Топливопровод</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Датчик массового расхода воздуха</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Датчик кислорода</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Блок управления</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Клапаны,устройство клапана</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Головка цилиндра <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Прокладка головки цилиндра</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Крышка клапанная</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Прокладка впускного, выпускного коллектора</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Направляющая клапана</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Болт головки блока цилиндра</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Насос вакуумный</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Система зажигания, накаливания <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Генератор импульсов</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Блок управления, реле</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Свечи накаливания</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <span class="tree-item tree-item-parent" role="button">Топливная система </span>
                <ul>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Фильтр топливный</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Датчик уровня топлива</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Система карбюратора </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Блок управления</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Насос топливный, комплектующие <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Насос топливный</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <span class="tree-item tree-item-parent" role="button">Система охлаждения </span>
                <ul>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Термостат, прокладка термостата <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Термостат</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Радиатор масляный, водяной </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Радиатор масляный</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Радиатор системы охлаждения</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Радиатор печки</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Расширительный бачок</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Выключатель, датчик</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Вентилятор&nbsp;охлаждения&nbsp;радиатора</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Насос системы охлаждения, прокладка <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Насос системы охлаждения</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Прокладка</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li class="active">
                <span class="tree-item tree-item-parent" role="button">Система выпуска </span>
                <ul>
                    <li class="active">
                        <span class="tree-item tree-item-parent" role="button">Нейтрализация ОГ </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Датчик кислорода</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Датчик кислорода</a>
                            </li>
                            <li class="active">
                                <span class="tree-item tree-item-parent" role="button">Рециркуляция ОГ (EGR) <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Клапан системы рециркуляции ОГ (EGR)</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Прокладки</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Глушитель в сборе</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Датчик кислорода</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Датчик кислорода</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Турбокомпрессор</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Детали монтажа </span>
                        <ul>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Монтажные элементы </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Кронштейн</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Винты, гайки, шайбы</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Впрыск карбамида </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Блок управления</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <span class="tree-item tree-item-parent" role="button">Трансмиссия  </span>
                <ul>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Система сцепления </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Комплект сцепления</a>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Подшипник выжимной </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Центральный выключатель</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Система управления сцеплением </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Главный цилиндр</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Механическая коробка переключения передач </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Крепление КПП </a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Корпус </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Автоматическая коробка передач <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Крепление КПП</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Корпус</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Привод колеса </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Приводной вал</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">ШРУС</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Пыльник</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Главная передача </span>
                        <ul>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Продольный вал </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Дисковой шарнир</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Карданный вал</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Подшипник подвесной</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Дифференциал</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Сцепление Haldex <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Раздаточная коробка</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Масло гидравлическое</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <span class="tree-item tree-item-parent" role="button">Ходовая часть </span>
                <ul>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Пружина подвески,Рессора,Торсион</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Регулировка дорожного просвета, подвески, гидравлическая</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Опора амортизатора подвески</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Амортизатор подвески </a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Пневматическая подвеска</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Масло гидравлическое</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Рычаги и тяги подвески </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Рычаг (поперечный, диагональный, продольный)</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Крепление рычага подвески</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Стабилизатор, крепление </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Стабилизатор</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Стойка стабилизатора, втулки стабилизатора</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Соединительная тяга</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Детали крепежа</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Тяги подвески, стойки</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Ступица колеса, составляющие </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Ступица колеса</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Подшипник ступичный</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Сальник вала</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Подвеска, корпус колесного подшипника</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Шарнирные элементы <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Опора шаровая</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Крепление амортизатора подвески</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Кулак поворотный, составляющие </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Поворотный кулак</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Шкворень поворотного кулака</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Балка моста, подвеска оси </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Подвеска</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Растяжка поперечного рычага</a>
                    </li>

                </ul>
            </li>
            <li>
                <span class="tree-item tree-item-parent" role="button">Рулевое управление </span>
                <ul>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Пыльник рулевой рейки</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Шарниры</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Демпфер рулевой рейки</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Рейка рулевая, насос ГУР</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Рулевая колонка</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Датчик угла поворота</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Передаточные элементы рулевого управления</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Масло гидравлическое</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Тяга рулевая, наконечник рулевой тяги <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Тяга рулевая</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Отдельные элементы рулевой тяги</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <span class="tree-item tree-item-parent" role="button">Тормозная система </span>
                <ul>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Дисковый тормоз </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Диск тормозной</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Колодки тормозные</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Детали тормозной системы</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Комплект тормозов</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Барабанный тормозной механизм </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Колодки тормозные</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Стояночный тормоз</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Тросы, тяги и рычаги тормозной системы</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Стояночный тормоз</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Шланги тормозные</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Тормозной усилитель</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Главный тормозной цилиндр</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">регулятор увеличения силы пружины</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Регулировка динамики движения</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Насос вакуумный</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Гидроаккумулятор</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Выключатель фонаря сигнала торможения</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Экономичный тормоз <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Диск тормозной (экономичный)</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Суппорт тормозной <a href="">(весь узел)</a></span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Детали тормозной системы</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Суппорт тормозной, крепление</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <span class="tree-item tree-item-parent" role="button">Электрооборудование </span>
                <ul>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Система стартера </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Стартер</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Генератор, составляющие </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Генератор</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Регулятор</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Аккумулятор</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Головной свет, составляющие </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Фары передние</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Регулировка угла наклона фар</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Ксенон</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания основной фары</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Основная фара комплектующие</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Дополнительное освещение </span>
                        <ul>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фара противотуманная </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Противотуманная фара лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фара дальнего света </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания фара дальнего света</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Фара с автоматической системой стабилизации</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Система освещения </span>
                        <ul>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь задний </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания заднего фонаря</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь стоп-сигнала </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Дополнительный стоп-сигнал</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь указателя поворота </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Фонарь указателя поворота</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь освещения номерного знака <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь противотуманный задний </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь заднего хода <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Проблесковый маячок <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Габаритные огни </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Стояночный огонь</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Габаритный огонь</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Боковое освещение</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Внутреннее освещение </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Освещение салона</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Освещение багажного отделения</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Освещение регулировки вентиляции</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа для чтения</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Фонарь, установленный в двери</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Ходовые огни</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Выключатель, реле , блок управления освещения </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Выключатель</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Блок управления</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Датчики</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Контрольные приборы </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Датчики</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Приборы управления</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Система очистки окон </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Щетки стеклоочистителя</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Двигатель стеклоочистителя</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Насос омывателя</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Дополнительные удобства </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Подъемное устройство для окон</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Система регулировки скорости</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Датчики</a>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Реле, выключатели, электроприводы </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Стеклоподъемник</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Система регулировки скорости</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Заднее окно</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <span class="tree-item tree-item-parent" role="button">Отопление / кондиционирование </span>
                <ul>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Отопление </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Теплообменник</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Электродвигатель вентилятора</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Кондиционер </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Компрессор</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Конденсатор</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Трубопровод системы кондиционирования</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <span class="tree-item tree-item-parent" role="button">Детали салона </span>
                <ul>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Подъемное устройство для окон</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Ручки</a>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Органы управления автомобилем</a>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Замок </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Внутренний замок</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Цилиндр замка</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Ручки</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <span class="tree-item tree-item-parent" role="button">Детали кузова </span>
                <ul>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Автомобиль, передняя часть </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Бампер</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Крыло, навесные части</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Колесная ниша</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Капот</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Кожух двигателя</a>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Головной свет </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Головной свет</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания основной фары</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Основная фара комплектующие</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фара противотуманная </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Противотуманная фара лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фара дальнего света </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания фара дальнего света</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь указателя поворота </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Фонарь указателя поворота</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Габаритные огни </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Стояночный огонь</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Габаритный огонь</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Боковое освещение</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Детали крепления </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Крепление</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Газовые пружины</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Решетка радиатора</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Кабина пассажира </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Каркас крыши, стойка крыши</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Основание кузова</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Дверные, боковые стекла</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Зеркала</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Дополнительный стоп-сигнал</a>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Детали крепления </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Газовые пружины</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Автомобиль, задняя часть </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Основание кузова</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Заднее окно</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Колесная ниша</a>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Габаритные огни </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Габаритный огонь</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь стоп-сигнала </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Дополнительный стоп-сигнал</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь указателя поворота </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Фонарь указателя поворота</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь освещения номерного знака <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь противотуманный задний </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь заднего хода <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Габаритные огни </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Стояночный огонь</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Габаритный огонь</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Боковое освещение</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Детали крепления </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Газовые пружины</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Кузовные детали </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Крыло, навесные части</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Каркас крыши, стойка крыши</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Основание кузова</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Решетки и накладки передней части автомобиля</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Балка продольная, поперечная</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Колесная ниша</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Детали кузова </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Капот</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Облицовка, защитные накладки, эмблемы </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Облицовка, защитные накладки</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Остекление, зеркала </span>
                        <ul>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Остекление </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Стекла (периметр кузова)</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Прокладки</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Зеркала</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Головной свет </span>
                        <ul>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Головной свет</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания основной фары</a>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Основная фара комплектующие</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Дополнительное освещение </span>
                        <ul>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фара противотуманная </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Противотуманная фара лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фара дальнего света </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания фара дальнего света</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="tree-item tree-item-parent" role="button">Освещение </span>
                        <ul>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Габаритные огни </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Габаритный огонь</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь стоп-сигнала </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Дополнительный стоп-сигнал</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь указателя поворота </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Фонарь указателя поворота</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь освещения номерного знака <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь противотуманный задний </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Фонарь заднего хода <a href="">(весь узел)</a></span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tree-item tree-item-parent" role="button">Габаритные огни </span>
                                <ul>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Стояночный огонь</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Габаритный огонь</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Боковое освещение</a>
                                    </li>
                                    <li>
                                        <a href="/laximo/step4" class="tree-item tree-item-link">Лампа накаливания</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="/laximo/step4" class="tree-item tree-item-link">Фонарь, установленный в двери</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/laximo/step4" class="tree-item tree-item-link">Крепление</a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>
{% endblock %}
