{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs mb-20">
            <ul>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Item 1</span>
                    </a>
                </li>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Item 2</span>
                    </a>
                </li>
                <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <meta itemprop="url" content="#url">
                    <span itemprop="title">Current</span>
                </li>
            </ul>
        </div>

        <h1>Каталог запчастей Land Rover</h1>

        <form action="">
            <div class="row row-flex row-gutter-10 my-30">
                <div class="col col-md-4">
                    <label for="vin_frame_field" class="sr-only">VIN или Номер кузова</label>
                    <input id="vin_frame_field" type="text" name="term" class="form-control" placeholder="VIN или Номер кузова" value="">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary">Найти</button>
                </div>
            </div>
        </form>

        <div>
            <h3>Поиск по параметрам</h3>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <a href="" class="pull-right text-danger">очистить</a>
                        <label for="category-params-select-Модель" class="control-label">Модель</label>
                        <select id="category-params-select-Модель" class="form-control mt-2" disabled="disabled">
                            <option>Defender 2007-</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <a href="" class="pull-right text-danger">очистить</a>
                        <label for="category-params-select-Двигатель" class="control-label">Двигатель</label>
                        <select id="category-params-select-Двигатель" class="form-control mt-2" disabled="disabled">
                            <option>2.4L Duratorq-TDCi HPCR(140PS)-Puma [ENSX0]</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="category-params-select-Трансмиссия" class="control-label">Трансмиссия</label>
                        <select id="category-params-select-Трансмиссия" class="form-control mt-2 catalog-params selectize selectized" tabindex="-1" style="display: none;"><option value="" selected="selected"></option></select><div class="selectize-control form-control mt-2 catalog-params selectize single"><div class="selectize-input items not-full has-options"><input type="text" autocomplete="off" tabindex="" placeholder="–" style="width: 14.5px;"></div><div class="selectize-dropdown single form-control mt-2 catalog-params selectize" style="display: none;"><div class="selectize-dropdown-content"></div></div></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="category-params-select-Руль" class="control-label">Руль</label>
                        <select id="category-params-select-Руль" class="form-control mt-2 catalog-params selectize selectized" tabindex="-1" style="display: none;"><option value="" selected="selected"></option></select><div class="selectize-control form-control mt-2 catalog-params selectize single"><div class="selectize-input items not-full has-options"><input type="text" autocomplete="off" tabindex="" placeholder="–" style="width: 14.5px;"></div><div class="selectize-dropdown single form-control mt-2 catalog-params selectize" style="display: none;"><div class="selectize-dropdown-content"></div></div></div>
                    </div>
                </div>
            </div>

            <div class="custom-table mt-20">
                <div class="table-row">
                    <div class="row row-flex align-items-center">
                        <div class="col-auto">
                            <a href="/laximo/step3" class="btn btn-sm btn-default">Выбрать</a>
                        </div>
                        <div class="col">LAND ROVER Defender 2007-</div>
                        <div class="col">–</div>
                        <div class="col">–</div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="row row-flex align-items-center">
                        <div class="col-auto">
                            <a href="/laximo/step3" class="btn btn-sm btn-default">Выбрать</a>
                        </div>
                        <div class="col">LAND ROVER Defender 2007-</div>
                        <div class="col">–</div>
                        <div class="col">–</div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="row row-flex align-items-center">
                        <div class="col-auto">
                            <a href="/laximo/step3" class="btn btn-sm btn-default">Выбрать</a>
                        </div>
                        <div class="col">LAND ROVER Defender 2007-</div>
                        <div class="col">–</div>
                        <div class="col">–</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
