{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs mb-20">
            <ul>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Item 1</span>
                    </a>
                </li>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Item 2</span>
                    </a>
                </li>
                <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <meta itemprop="url" content="#url">
                    <span itemprop="title">Current</span>
                </li>
            </ul>
        </div>

        <h1>Каталоги автозапчастей</h1>

        <form action="">
            <div class="row row-flex row-gutter-10 my-30">
                <div class="col col-md-4">
                    <label for="vin_frame_field" class="sr-only">VIN или Номер кузова</label>
                    <input id="vin_frame_field" type="text" name="term" class="form-control" placeholder="VIN или Номер кузова" value="">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary">Найти</button>
                </div>
            </div>
        </form>

        <div class="row">
            <ul class="col-md-3 col-sm-6 col-xs-12 mb-0">
                <li class="lead mb-15"><a href="/laximo/step2">ABARTH</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Alfa Romeo</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Audi</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">BMW</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">BMW Motorrad</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Buick</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Cadillac</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Chevrolet</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Chrysler</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Citroen</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Dacia</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Daewoo</a></li>
            </ul>
            <ul class="col-md-3 col-sm-6 col-xs-12 mb-0">
                <li class="lead mb-15"><a href="/laximo/step2">Dodge</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Fiat</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Fiat Professional</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Ford</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">GMC</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Holden</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Honda</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Hummer</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Hyundai</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Infiniti</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Isuzu</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Jaguar</a></li>
            </ul>
            <ul class="col-md-3 col-sm-6 col-xs-12 mb-0">
                <li class="lead mb-15"><a href="/laximo/step2">Jeep</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Kia</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Lancia</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Land Rover</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Lexus</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Mazda</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Mercedes-Benz</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Mini</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Mitsubishi</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Nissan</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Oldsmobile</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Opel</a></li>
            </ul>
            <ul class="col-md-3 col-sm-6 col-xs-12 mb-0">
                <li class="lead mb-15"><a href="/laximo/step2">Peugeot</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Pontiac</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Porsche</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Ram</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Ravon</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Renault</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Rolls-Royce</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Saab</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Saturn</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Seat</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Skoda</a></li>
                <li class="lead mb-15"><a href="/laximo/step2">Smart</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
