{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs mb-20">
            <ul>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Item 1</span>
                    </a>
                </li>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Item 2</span>
                    </a>
                </li>
                <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <meta itemprop="url" content="#url">
                    <span itemprop="title">Current</span>
                </li>
            </ul>
        </div>

        <h1>Топливный фильтр</h1>

        <div class="row mt-20">
            <div id="image-layout-left-column" class="col-lg-6">
                <div class="oem-catalog-image-details squared">
                    <div id="unit-image-holder" class="oem-catalog-image-holder">
                        <span role="button" class="image-object image-object-9" data-code="9" style="left: 379.257px; top: 389.66px; width: 11.2836px; height: 15.797px;" data-width="15" data-height="21" data-left="466" data-top="518"></span><span role="button" class="image-object image-object-8" data-code="8" style="left: 419.125px; top: 181.29px; width: 10.5313px; height: 14.2925px;" data-width="14" data-height="19" data-left="519" data-top="241"></span><span role="button" class="image-object image-object-8" data-code="8" style="left: 354.433px; top: 303.152px; width: 11.2836px; height: 15.797px;" data-width="15" data-height="21" data-left="433" data-top="403"></span><span role="button" class="image-object image-object-7" data-code="7" style="left: 349.919px; top: 168.501px; width: 9.02687px; height: 12.7881px;" data-width="12" data-height="17" data-left="427" data-top="224"></span><span role="button" class="image-object image-object-6" data-code="6" style="left: 298.767px; top: 28.5851px; width: 11.2836px; height: 12.7881px;" data-width="15" data-height="17" data-left="359" data-top="38"></span><span role="button" class="image-object image-object-6" data-code="6" style="left: 212.26px; top: 116.597px; width: 12.0358px; height: 12.7881px;" data-width="16" data-height="17" data-left="244" data-top="155"></span><span role="button" class="image-object image-object-5" data-code="5" style="left: 260.403px; top: 8.27463px; width: 10.5313px; height: 12.7881px;" data-width="14" data-height="17" data-left="308" data-top="11"></span><span role="button" class="image-object image-object-5" data-code="5" style="left: 187.436px; top: 97.791px; width: 12.7881px; height: 15.0448px;" data-width="17" data-height="20" data-left="211" data-top="130"></span><span role="button" class="image-object image-object-4" data-code="4" style="left: 431.913px; top: 374.615px; width: 12.0358px; height: 12.0358px;" data-width="16" data-height="16" data-left="536" data-top="498"></span><span role="button" class="image-object image-object-3" data-code="3" style="left: 179.913px; top: 10.5313px; width: 9.02687px; height: 12.0358px;" data-width="12" data-height="16" data-left="201" data-top="14"></span><span role="button" class="image-object image-object-2" data-code="2" style="left: 251.376px; top: 279.833px; width: 11.2836px; height: 12.7881px;" data-width="15" data-height="17" data-left="296" data-top="372"></span><span role="button" class="image-object image-object-1" data-code="1" style="left: 302.528px; top: 93.2776px; width: 10.5313px; height: 12.0358px;" data-width="14" data-height="16" data-left="364" data-top="124"></span>
                        <div style="width: 501.427px; height: 504px;">
                            <img id="unit-image" src="https://img.avtosoft.net/LRE201412/source/1235/LJ0073A.gif?s=568&amp;k=3a9177f5912946e86fc54da7f228ce59" style="visibility: visible; margin-left: 28.7134px; margin-top: 0px;" alt="Catalog unit image" width="444" height="504">
                        </div>
                    </div>
                </div>
            </div>
            <div id="image-layout-right-column" class="col-lg-6">
                <ul class="tree tree-highlight">
                    <li class="tree-item-li" data-code="1">
                        <span id="object-1" class="tree-item tree-item-parent"><b>1:</b> Фильтр в сборе</span>
                        <table class="oem-catalog-table table table-sm">
                            <tbody>
                            <tr>
                                <th>OEM</th>
                                <th>Название</th>
                                <th class="text-center">Кол-во</th>
                                <th style="width:1%"></th>
                            </tr>
                            <tr>
                                <td><b>WJN500190</b></td>
                                <td>
                                    <p>Фильтр в сборе</p>
                                    <small>
                                    </small>
                                </td>
                                <td class="text-center">1</td>
                                <td style="width:1%"><a href="/autoparts-search/?number=WJN500190" class="btn btn-sm btn-default" style="width:70px" target="_blank">Найти</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="tree-item-li active" data-code="2">
                        <span id="object-2" class="tree-item tree-item-parent"><b>2:</b> Элемент топливного фильтра</span>
                        <table class="oem-catalog-table table table-sm">
                            <tbody>
                            <tr>
                                <th>OEM</th>
                                <th>Название</th>
                                <th class="text-center">Кол-во</th>
                                <th style="width:1%"></th>
                            </tr>
                            <tr>
                                <td><b>WJI500040</b></td>
                                <td>
                                    <p>Элемент топливного фильтра</p>
                                    <small>
                                    </small>
                                </td>
                                <td class="text-center">1</td>
                                <td style="width:1%"><a href="/autoparts-search/?number=WJI500040" class="btn btn-sm btn-default" style="width:70px" target="_blank">Найти</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="tree-item-li" data-code="3">
                        <span id="object-3" class="tree-item tree-item-parent"><b>3:</b> Экран топливного фильтра, Передний</span>
                        <table class="oem-catalog-table table table-sm">
                            <tbody>
                            <tr>
                                <th>OEM</th>
                                <th>Название</th>
                                <th class="text-center">Кол-во</th>
                                <th style="width:1%"></th>
                            </tr>
                            <tr>
                                <td><b>JEU500060</b></td>
                                <td>
                                    <p>Экран топливного фильтра, Передний</p>
                                    <small>
                                    </small>
                                </td>
                                <td class="text-center">1</td>
                                <td style="width:1%"><a href="/autoparts-search/?number=JEU500060" class="btn btn-sm btn-default" style="width:70px" target="_blank">Найти</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="tree-item-li" data-code="4">
                        <span id="object-4" class="tree-item tree-item-parent"><b>4:</b> Экран топливного фильтра, Задний</span>
                        <table class="oem-catalog-table table table-sm">
                            <tbody>
                            <tr>
                                <th>OEM</th>
                                <th>Название</th>
                                <th class="text-center">Кол-во</th>
                                <th style="width:1%"></th>
                            </tr>
                            <tr>
                                <td><b>WJU500280</b></td>
                                <td>
                                    <p>Экран топливного фильтра, Задний</p>
                                    <small>
                                    </small>
                                </td>
                                <td class="text-center">1</td>
                                <td style="width:1%"><a href="/autoparts-search/?number=WJU500280" class="btn btn-sm btn-default" style="width:70px" target="_blank">Найти</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="tree-item-li" data-code="5">
                        <span id="object-5" class="tree-item tree-item-parent"><b>5:</b> Болт, Фланцевая головка</span>
                        <table class="oem-catalog-table table table-sm">
                            <tbody>
                            <tr>
                                <th>OEM</th>
                                <th>Название</th>
                                <th class="text-center">Кол-во</th>
                                <th style="width:1%"></th>
                            </tr>
                            <tr>
                                <td><b>FB108206</b></td>
                                <td>
                                    <p>Болт, Фланцевая головка</p>
                                    <small>
                                    </small>
                                </td>
                                <td class="text-center">1</td>
                                <td style="width:1%"><a href="/autoparts-search/?number=FB108206" class="btn btn-sm btn-default" style="width:70px" target="_blank">Найти</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="tree-item-li" data-code="6">
                        <span id="object-6" class="tree-item tree-item-parent"><b>6:</b> Шайба, M8</span>
                        <table class="oem-catalog-table table table-sm">
                            <tbody>
                            <tr>
                                <th>OEM</th>
                                <th>Название</th>
                                <th class="text-center">Кол-во</th>
                                <th style="width:1%"></th>
                            </tr>
                            <tr>
                                <td><b>WC108056</b></td>
                                <td>
                                    <p>Шайба, M8</p>
                                    <small>
                                    </small>
                                </td>
                                <td class="text-center">1</td>
                                <td style="width:1%"><a href="/autoparts-search/?number=WC108056" class="btn btn-sm btn-default" style="width:70px" target="_blank">Найти</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="tree-item-li" data-code="7">
                        <span id="object-7" class="tree-item tree-item-parent"><b>7:</b> Винт, Фланцевая головка, M8 X 20MM</span>
                        <table class="oem-catalog-table table table-sm">
                            <tbody>
                            <tr>
                                <th>OEM</th>
                                <th>Название</th>
                                <th class="text-center">Кол-во</th>
                                <th style="width:1%"></th>
                            </tr>
                            <tr>
                                <td><b>FS108206</b></td>
                                <td>
                                    <p>Винт, Фланцевая головка, M8 X 20MM</p>
                                    <small>
                                    </small>
                                </td>
                                <td class="text-center">1</td>
                                <td style="width:1%"><a href="/autoparts-search/?number=FS108206" class="btn btn-sm btn-default" style="width:70px" target="_blank">Найти</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="tree-item-li" data-code="8">
                        <span id="object-8" class="tree-item tree-item-parent"><b>8:</b> Винт, Фланцевая головка, M8 X 20MM</span>
                        <table class="oem-catalog-table table table-sm">
                            <tbody>
                            <tr>
                                <th>OEM</th>
                                <th>Название</th>
                                <th class="text-center">Кол-во</th>
                                <th style="width:1%"></th>
                            </tr>
                            <tr>
                                <td><b>FS108206</b></td>
                                <td>
                                    <p>Винт, Фланцевая головка, M8 X 20MM</p>
                                    <small>
                                    </small>
                                </td>
                                <td class="text-center">1</td>
                                <td style="width:1%"><a href="/autoparts-search/?number=FS108206" class="btn btn-sm btn-default" style="width:70px" target="_blank">Найти</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="tree-item-li" data-code="9">
                        <span id="object-9" class="tree-item tree-item-parent"><b>9:</b> Nutsert-blind, M8, Hexagonal</span>
                        <table class="oem-catalog-table table table-sm">
                            <tbody>
                            <tr>
                                <th>OEM</th>
                                <th>Название</th>
                                <th class="text-center">Кол-во</th>
                                <th style="width:1%"></th>
                            </tr>
                            <tr>
                                <td><b>ANR6563</b></td>
                                <td>
                                    <p>Nutsert-blind, M8, Hexagonal</p>
                                    <small>
                                    </small>
                                </td>
                                <td class="text-center">1</td>
                                <td style="width:1%"><a href="/autoparts-search/?number=ANR6563" class="btn btn-sm btn-default" style="width:70px" target="_blank">Найти</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>

        <span id="code-pointer" style="display: none;">←</span>
    </div>
{% endblock %}
