{% extends './_layout.twig' %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs mb-20">
            <ul>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Item 1</span>
                    </a>
                </li>
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="#" itemprop="url">
                        <span itemprop="title">Item 2</span>
                    </a>
                </li>
                <li class="active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <meta itemprop="url" content="#url">
                    <span itemprop="title">Current</span>
                </li>
            </ul>
        </div>

        <h1>Land Rover Defender 2007-</h1>

        <ul class="nav nav-tabs my-20">
            <li class="active"><a href="">Поиск по группам запчастей</a></li>
            <li><a href="">Поиск по картинкам</a></li>
        </ul>

        <h3>Фильтр топливный</h3>

        <section class="mb-4">
            <h4>I02. Fuel-Air Cleaner-Evaporative Loss</h4>
            <div class="tree-row row row-gutter-10">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a href="" class="oem-catalog-image-zoom" data-fancybox="images" title="Топливный фильтр">
                        <i class="icon-18-zoom"></i>
                    </a>
                    <a href="/laximo/step5" class="oem-catalog-image">
                        <img src="https://img.avtosoft.net/LRE201412/250/1235/LJ0073A.gif?s=568&amp;k=3a9177f5912946e86fc54da7f228ce59" alt="Топливный фильтр">
                        <span class="oem-catalog-image-title">I02020: <b>Топливный фильтр</b></span>
                    </a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
